* 
 * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic-Bold.woff2') format('woff2'),
       url('../fonts/NanumGothic-Bold.woff') format('woff'),
       url('../fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
       url('../fonts/NanumGothic-Regular.woff') format('woff'),
       url('../fonts//NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../fonts/NanumGothic-ExtraBold.woff') format('woff'),
       url('../fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

html {
	margin:0;
	padding:0;
}

body {
	font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
}

.articlewrap {
	display:block;
	margin:0px auto; 
	/* padding:25px; */
	width:100%; 
	background-color:#FAFAFA;
}

.article_windowtitle {
	padding:10px; 
	font-size:9pt; 
	color:#fff; 
	width:100%; 
	background-color:#CCC;
}

.previewwrap {
	width:100%; 
	max-width:780px; 
	margin:0px auto;
}

.article_previewwrap {
	padding-top:20px;
	background-color: #FFF;
}

.article_previewwrap img{
	float: left;
	width:100%;
	margin-bottom: 15px;
}

.embed_movie {
	margin-bottom: 40px;
}

mediacaption {
	float:left;
	width:100%;
	line-height:18pt;
	font-size:9pt;
	padding-left:10px;
	border-left:4px solid #ccc;
	margin-bottom:20px;
	color:#646464;
}

/* Custom Tags */
subtitle {
	float:left;
	width:100%;
	line-height:14pt;
	text-align : center;
	padding: 5px 0 5px 0;
}

maintitle {
	float:left;
	width:100%;
	font-size: 20pt;
	font-weight: 600;
	line-height:24pt;
	text-align : center;
	padding: 5px 0 30px 0;
}

preface {
	float:left;
	width:100%;
	color: #34558a;
	text-align: justify;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	line-height:16pt;
	margin-bottom: 40px;
}

sectionmain {
	float:left;
	width:100%;
	font-size: 14pt;
	line-height: 16pt;
	font-weight: bold;
	margin-bottom:10px;
}

sectionsub {
	float:left;
	width:100%;
	font-size: 11pt;
	line-height: 16pt;
	margin-bottom:12px;
	font-weight: bold;
	padding:10px 0 15px 1px;
	border-top:2px solid #000;
	border-bottom:1px solid #AAA;
}

bodyscript {
	float:left;
	text-align: justify;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	margin-bottom:35px;
	line-height: 16pt;
}

byline {
	float:left;
	width:100%;
	color: #c78146;
	text-align: justify;
	font-size: 10pt;
	line-height:14pt;

	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	margin-bottom: 25px;
}

.basic_information {
	padding:4px 0px;
}


tips {
	display:block;
	float:left;
	width:100%;
	border:1px solid #333;
	background-color: #ffeebb;
	border-radius: 12px;
	margin-bottom: 20px;
	padding:18px 20px;
	line-height:18pt;
	text-align: justify;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

.tip_title {
	float:left;
	width:100%;
	padding:2px 0 4px 48px;
	font-size: 12pt;
	color: #80127a;
	background-image: url('../imgs/ange/article/icon_02_tipBullets.png');
	background-repeat: no-repeat;
	background-position: left 5px; 
}


plantitle {
	float:left;
	font-size: 0.92em;
	border-bottom:1px solid black;
	width: 100%;
	line-height:18pt;
	color: #d94b61;
	padding: 0 0 10px 20px;
	background-image: url('../imgs/ange/article/icon_01_plantitleBullets.png');
	background-repeat: no-repeat;
	background-position: left 6px; 
	margin-bottom: 30px;
}

/* Custom Tags */