@import "ange_bootstrap.css";

.cke_editable, .cke_editable_themed, .cke_contents_ltr, .cke_show_borders { }

/*		Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess	*/
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NanumGothic-Bold.eot');
    src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic-Bold.woff2') format('woff2'),
    url('../fonts/NanumGothic-Bold.woff') format('woff'),
    url('../fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NanumGothic-Regular.eot');
    src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
    url('../fonts/NanumGothic-Regular.woff') format('woff'),
    url('../fonts//NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/NanumGothic-ExtraBold.eot');
    src: url('../fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('../fonts/NanumGothic-ExtraBold.woff') format('woff'),
    url('../fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

html {
    margin:0;
    padding:0;
}

body {
    font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
}

.articlewrap {
    display:block;
    margin:0px auto;
    /* padding:25px; */
    width:100%;
    background-color:#FAFAFA;
    background-image: url('../imgs/ange/article/bg_01_previews.jpg');
}

.article_windowtitle {
    padding:10px;
    font-size:9pt;
    color:#fff;
    width:100%;
    background-color:#242424;
}

.previewwrap {
    width:100%;
    max-width:780px;
    margin:0px auto;
    min-height:450px;
}

.article_previewwrap {
    padding-top:20px;
    background-color: #FFF;
}

.article_previewwrap img{
    float: left;
    width:100%;
    margin: 10px 0;
}

.embed_movie {
    margin-bottom: 40px;
}

/* --- Custom Tags */

mediacaption {
    float:left;
    width:100%;
    /* line-height:18pt; */
    font-size:9pt;
    padding-left:10px;
    border-left: 4px solid #D7BA5D;
    margin: 0 0 20px 2px;
    color:#646464;
}

subtitle {
    float:left;
    width:100%;
    line-height:14pt;
    text-align : center;
    padding: 5px 0 5px 0;
}

maintitle {
    float:left;
    width:100%;
    font-size: 20pt;
    font-weight: 600;
    line-height:24pt;
    text-align : center;
    padding: 5px 0 40px 0;
    color:#000;
}

preface {
    float:left;
    width:100%;
    color: #51A3DF;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
    /* white-space: pre; */
    white-space: pre-wrap;
    line-height: 14pt;
    margin-bottom: 39px;
}

sectionmain {
    float:left;
    width:100%;
    font-size: 17pt;
    line-height: 28pt;
    font-weight: bold;
    margin-bottom:10px;
}

sectionsub {
    float:left;
    width:100%;
    font-size: 14pt;
    line-height: 17pt;
    margin-bottom: 19px;
    font-weight: bold;
    padding: 10px 0 10px 2px;
    border-top:2px solid #000;
    border-bottom:1px solid #AAA;
}

bodyscript {
    float:left;
    width:100%;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    margin-bottom: 50px;
    line-height: 17pt;
    /* padding: 0 10px 0 10px; */
}

byline {
    float:left;
    width:100%;
    color: #717171;
    text-align: justify;
    font-size: 9pt;
    line-height:14pt;

    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    margin: 10px 0 25px 0;
}

.basic_information {
    padding:4px 0px;
}


tips {
    display:block;
    float:left;
    width:100%;
    /* border: 1px solid #E2E2E2; */
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px 35px 30px 35px;
    line-height: 15pt;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
}

.tip_title {
    float:left;
    width:100%;
    padding: 0 0 10px 70px;
    font-size: 14pt;
    color: #5791E0;
    line-height: 24pt;
    background-image: url('../imgs/ange/article/icon_02_tipBullets.png');
    background-repeat: no-repeat;
    background-position: left top;
    /* font-weight: bold; */
}


plantitle {
    float:left;
    font-size: 13pt;
    border-bottom: 1px solid black;
    width: 100%;
    line-height:18pt;
    color: #f76363;
    padding: 0 0 10px 25px;
    background-image: url('../imgs/ange/article/icon_01_plantitleBullets.png');
    background-repeat: no-repeat;
    background-position: left 6px;
    margin-bottom: 40px;
}

.imagebox {
    float:left;
    width:100%;
    min-height:80px;
}
/* Custom Tags */