@import "ange_bootstrap.css";
@import "article.css";

mediacaption, subtitle, maintitle, preface, sectionmain, sectionsub, bodyscript, byline, tips, plantitle {
    outline:1px dotted #DEDEDE;
}

previewwrap, article_previewwrap {
    outline:1px dotted #DEDEDE;

}

.basic_information {

}

.tip_title, .imagebox {
    outline:1px dotted #DEDEDE;
}
