/*
 * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic-Bold.woff2') format('woff2'),
       url('../fonts/NanumGothic-Bold.woff') format('woff'),
       url('../fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
       url('../fonts/NanumGothic-Regular.woff') format('woff'),
       url('../fonts/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../fonts/NanumGothic-ExtraBold.woff') format('woff'),
       url('../fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
	/* padding-bottom: 20px; */

    padding-bottom: 0;
    background:URL(../imgs/if_img_01_background.jpg);
}

.body_wrap {
    background:URL(../imgs/lnb_bg_01_gray.jpg);
    background-repeat: repeat-y;
    background-position: 25px;
    margin:0 auto;
    padding: 0;
}
.left_wrap{
    position:absolute;
    height: 100%;
    width:160px;
    top:85px;
    left:25px;
    z-index:1;
}
.custom-btn-more {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #AAA;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.custom-btn-more:empty {
    display: none;
}
.btn .custom-btn-more {
    position: relative;
    top: -1px;
}
.btn-xs .custom-btn-more {
    top: 0;
    padding: 1px 5px;
}
.custom-btn-more:hover,
.custom-btn-more:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.list-group-item > .custom-btn-more {
    float: right;
}
.list-group-item > .custom-btn-more + .custom-btn-more {
    margin-right: 5px;
}


.task-col-series, .task-col-title, .task-col-manager, .task-col-date, .task-col-step {
    display:block;
}

/*
/* 태스크 목록 미디어쿼리별 항목 표시여부 *--/
@media (max-width: 767px) {
    .task-col-series, .task-col-title {
        display:block;
    }
    .task-col-manager, .task-col-date, .task-col-step {
        display:none;
    }
}

@media (min-width: 768px) {
    .task-col-series, .task-col-title, .task-col-date {
        display:block;
    }
    .task-col-manager, .task-col-step {
        display:none;
    }
}

@media (min-width: 992px) {
    .task-col-series, .task-col-title, .task-col-step, .task-col-date  {
        display:block;
    }
    .task-col-manager {
        display:none;
    }
}

@media (min-width: 1200px) {
    .task-col-series, .task-col-title, .task-col-manager, .task-col-date, .task-col-step {
        display:block;
    }
}
*/
.task-header {
    font-size : 4em;
    font-weight: bold;
}

.container {
    width: 980px;
    max-width: none !important;
    padding:0px;
    margin:0px;

    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}


.contentpannel-heading {
    padding: 0;
}

.panel-master {
    border-color: #ccc;
}

.panel-master > .contentpannel-heading {
    color: #DEDEDE;
    /*background-color: #428bca;*/
    background-color: #ccc;
    border-top: 1px solid #BBB;
    padding:21px 0 18px 15px;
}

.panel-master > .contentpannel-heading + .panel-collapse .contentpannel-body {
    /* border-top-color: #428bca;*/
    border-top-color: #aaa;
}
.panel-master > .panel-footer + .panel-collapse .contentpannel-body {
    border-top-color: #fff;
}


span.smalltag {
    position:absolute;
    top:2px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.68em;
}


.locatorbar {
    padding: 10px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #AAA;
    border:1px solid #999;
    border-radius: 0px;
    border-bottom:1px solid #666;
}

.copyright {
    font-family: Arial, sans-serif;
}

a.famlylink{
    clear : both;
    font-family: Arial, sans-serif;
    font-size: 0.94em;
}

a.famlylink:hover, a.famlylink:focus{
    color: #000044;
    text-decoration: none;
}

a.famlylink:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.foot-content{
    width:100%;
    margin:0;
    padding:30px 40px 32px 40px;
    line-height:11pt;
    font-size: 0.64em;
    margin-bottom: 15px;
}

.form_basic {
    float:left;
    margin:0 !important;
    margin-bottom: 15px !important;
}

.form_basic_wrap{
    float:left;
    margin:0px auto;
    width:100%;
}

.form_basic_100 {
    float:left;
    width:100%;
    margin-bottom:20px;
    font-size:0.87em;
}

.form_basic_group {
    float:left;
    margin:8px auto !important;
    width:100%;
}

.form_basic_label{
    position:relative;
    float:left;
    color:#333;
    margin:0;
    line-height:36px;
}

.form_basic_input{
    position:absolute;
    margin-left: 110px;
}

.form_label{
    float:left;
    font-size:0.64em;
    color:#888;
    margin:0;
}

.form_valueText{
    float:left;
    line-height:18pt;
    margin-left:15px;
}

.balls_group{
    float:left;
    width:100%;
}

.bnt_ball_group{
    display:inline-block;
    float:left;
    margin-left:5px;
}

.cate_ball_normal{
    float: left;
    margin-left: 0px;
    margin:10px 0;
    border:none;
    background-color:#ed8624;
    color:#fff;
    font-size:0.76em;
    padding:2px;
}

.tag_ball_normal {
    float:left;
    margin-left: 0px;
    margin:10px 4px;
    border:none;
    background-color:#2486ED;
    color:#fff;
    font-size:0.76em;
    padding:2px;
}

.template_thumb {
    float:left;
    padding:4px;
    color:#646464;
    font-size: 0.68em;
    /*border:1px solid #EDEDED;*/
    width:91px;
    margin:5px;
    height:82px;
    cursor:pointer;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.template_thumb:hover {
    outline:2px solid #6dcff6;
}
.editor_cell {
    float:left;
    width:100%;
}




.task-col-series {
    height:100%; text-align:center; color:#CCC;  float:left;
}

.task-col-title {
    color:#fff; height:100%; display:inline; word-break: break-all; word-wrap: break-word; padding:8px 0;font-size:1.4em;
}

.task-col-manager {
    color:#CCC; height:100%; text-align:left;
}
.task-col-date {
    height:100%; text-align:center;
}
.task-col-step {
    height:100%;  word-break: break-all; word-wrap: break-word; padding:8px 0; text-align:center;
}


.step0, .step1, .step2, .step3, .step4, .step5, .step6, .step7, .step8, .step9, .step10 {
    float:left;
}

.step0 { color: gray; background-color:black; } /*완료*/
.step1 { color: yellow; background-color:#333; } /*태스크등록*/
.step2 { color: yellowgreen; background-color:#333; } /*원고작성*/
.step3 { color: blue; background-color:#888; } /*원고승인대기*/
.step4 { color: darkred; background-color: yellow; } /*원고반려*/
.step5 { color: skyblue; background-color: #333; } /*원고승인완료*/
.step6 { color: darkviolet; background-color:#888; } /*편집작성*/
.step7 { color: blue; background-color:#888; } /*편집승인대기*/
.step8 { color: darkred; background-color: yellow; } /*편집반려*/
.step9 { color: mediumvioletred; background-color:#333; } /* (제외함!!) 편집승인완료*/
.step10 { color: white; background-color: black; } /*출판대기*/

.task_progress_wrap{
    float:left;
    width:100%;
    margin:0;
    margin-bottom:15px;
    border-bottom:1px solid #DEDEDE;
    padding: 0 0 12px 0;
    text-align:center;
}
.task_progress {
    background-color: #CCC;
}

.task_progress_arrow {
    color:#aaa;
    font-size: 0.68em;
    margin:0;
    padding:0;
}

.edit_dropzone {
    width:100%;
    height:100px;
    background-color: #eee;
    border: 1px dashed #ddd;
    background-image:url('/imgs/cms_dragndrop.png');
    background-repeat: no-repeat;
    background-position: center 8px;
    /*text-indent: -999px;*/
}

.addfile_sm {
    float:left;
    width:100%;
    height:100px;
    background-image: url('/imgs/cms_addfile_btn.gif');
    background-repeat: no-repeat;
    background-position: center top;
    border: 1px solid #68b768;
    border-radius: 5px;
}

.addfile_sm:hover, a.addfile_sm:focus {
    border-color:#4cae4c;
    background-position: center -100px;
}








