<div ng-controller="storycontent-list">
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%;">

                <div class="row" style="border:1px solid red;">
                    <div class="pin" ng-repeat="item in list" ng-switch="item.TYPE" style="border:1px solid green">
                        <div ng-switch-when="ADVERT">
                            <div class="story_thumbnails" style="background-image: url('{{item.FILE}}');" ng-click="click_showContentDetail(item)">
                                <img src="/imgs/ange/_blank_4by3.gif" />
                            </div>

                            <!-- img src="{{item.FILE}}" /-->
                            <p>
                                <span class="table_red story_bubbletitle">AD 임신부, 여름 음식 안전...</span>
                                임신을 하면 많은 변화를 경험하게 된다. 월경을 하지 않고, 유방 통증, 잦은 배뇨, 입덧 등의 신체 변화를 비롯해 롤러코스터를 탄 듯 종잡을 수 없는 감정 기복을 겪는 등 심리적 변화도 경험한다. 이 중에서도 심리적 변화는 자신은 물론, 주변 사람들에게까지 영향을 미치기 때문에 신체 변화보다 심각한 상황을 초래하기도
                            </p>

                            <a ng-class="item.LIKE_FL == 'Y' ? 'icon_like_on' : 'icon_like'" title="공감한 스토리는 자동으로 스크랩됩니다." ng-click="click_addLike($index, item)">좋아요?</a>
                            <a class="miniboard_tab_more" tytle="더보기" style="margin-right:0;">더보기</a>
                        </div>

                        <div ng-switch-when="CONTENT">
                            <div class="story_thumbnails" style="background-image: url('{{item.FILE}}');" ng-click="click_showContentDetail(item)">
                                <img src="/imgs/ange/_blank_4by3.gif" />
                            </div>

                            <!-- img src="{{item.FILE}}" /-->
                            <p>
                                <span class="table_blue story_bubbletitle">임신부, 여름 음식 안전...</span>
                                임신을 하면 많은 변화를 경험하게 된다. 월경을 하지 않고, 유방 통증, 잦은 배뇨, 입덧 등의 신체 변화를 비롯해 롤러코스터를 탄 듯 종잡을 수 없는 감정 기복을 겪는 등 심리적 변화도 경험한다. 이 중에서도 심리적 변화는 자신은 물론, 주변 사람들에게까지 영향을 미치기 때문에 신체 변화보다 심각한 상황을 초래하기도
                            </p>
                            <a ng-class="item.LIKE_FL == 'Y' ? 'icon_like_on' : 'icon_like'" title="공감한 스토리는 자동으로 스크랩됩니다." ng-click="click_addLike($index, item)">좋아요?</a>
                            <a class="miniboard_tab_more" tytle="더보기" style="margin-right:0;">더보기</a>
                        </div>
                    </div>
                </div>

            <div ng-show="busy"><span> - 리스트가 로딩 중입니다.- </span></div>

       </div>



        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <!-- /Storylist Layout Set -->
</div>