<div ng-controller="product-list">

    <div class="container-fluid no-margin" style="width:100%;">
        <div class="row">

            <div class="col-xs-9">


                <button class="btn btn-success fileinput-button" data-ng-click="click_selectTab(0)">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>마일리지몰 상품</span>
                </button>
                <button class="btn btn-success fileinput-button" data-ng-click="click_selectTab(1)">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>경매소 상품</span>
                </button>
                <button class="btn btn-success fileinput-button" data-ng-click="click_selectTab(2)">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>커머스 상품</span>
                </button>


            </div>

            <div  class="col-xs-3">
                <button class="btn btn-info fileinput-button" data-ng-click="click_createProduct()" style="float:right;">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>상품등록</span>
                </button>
            </div>
        </div>
    </div>


    <div class="container-fluid no-margin" style="width:100%; margin-top:20px;">
        <div class="row" style="width:100%; float: left; margin:0px auto; padding:18px; border:1px solid #ddd; ">
            <div class="col-xs-12 no-margin" style="float:left;">
                <div class="comp_basic h-cell-dynamic no-margin">

                    <!-- 마일리지몰 썸네일 타입 -->
                    <div class="col-xs-3 people_photo_contentcol" style="display: block;" ng-repeat='item in list'>
                        <div ng-click="click_showViewPeoplePhoto(item.NO)" class="people_photo_content" style="font-size:0.86em; text-align: center;">
                            <div class="people_photo_imgbox">
                                <img src="/imgs/ange/_blank.gif" style="background-image: url('{{item.MAIN_FILE}}'); background-position: center center; background-size: cover;" width="100%" />
                            </div>
                            <div style="height:36px; overflow:hidden; text-overflow:ellipsis;">{{item.PRODUCT_NM}}</div>
                            <div class="people_photo_info"><span class="table_blue">{{item.PRICE}}</span> P ({{item.SUM_IN_CNT - item.SUM_OUT_CNT}})</div>

                            <div style="width:100%; margin-top:15px;">
                                <button class="btn btn-default btn-xs fileinput-button" data-ng-click="click_showEditProduct(item)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <span>수정</span>
                                </button>
                                <button class="btn btn-default btn-xs fileinput-button" data-ng-click="click_showStockProduct($index, item)">
                                    <i class="glyphicon glyphicon-dashboard"></i>
                                    <span>재고</span>
                                </button>
                            </div>
                        </div>  <!-- /.people_photo_content -->
                    </div>  <!-- /.people_photo_contentcol -->
                    <!-- 1줄	 -->

                    <div ng-show="list == ''">
                        <p>조회 데이터가 없습니다.</p>
                    </div>
                </div><!-- /.comp_basic -->
            </div><!-- /.v-cell-4 -->
        </div><!-- /.row -->
        <nav class="text-center">
            <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

        </nav>
    </div><!-- /.peoplephoto_list_wrap -->

</div>

<script type="text/ng-template" id="product_stock_modal.html">
    <div class="modal-header">
        <h3 class="modal-title">재고 관리</h3>
    </div>
    <div class="modal-body">
        <div ng-model="product">
            <label class= "col-md-2">총 재고수</label>
            <div class="col-md-2">
                <span>{{product.SUM_IN_CNT - product.SUM_OUT_CNT}}</span>
            </div>
            <label class= "col-md-2">총 입고수</label>
            <div class="col-md-2">
                <span>{{product.SUM_IN_CNT}}</span>
            </div>
            <label class= "col-md-2">총 출고수</label>
            <div class="col-md-2">
                <span>{{product.SUM_OUT_CNT}}</span>
            </div>
        </div>

        <div class= "form-group">
            <table class="table table-striped table-condensed" >
                <thead>
                <tr>
                    <th>입출 구분</th>
                    <th>수량</th>
                    <th>등록일</th>
                    <th>유형</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list">
                    <td>{{ item.IN_OUT_GB  }}</td>
                    <td>{{ item.IN_OUT_CNT }}</td>
                    <td>{{ item.REG_DT }}</td>
                    <td>{{ item.IN_OUT_ST }}</td>
                    <td>
                        <a ng-click="click_editStock(item)" ng-show="item.IN_OUT_ST == '0'">수정</a>
                        <a ng-click="click_deleteStock(item)" ng-show="item.IN_OUT_ST == '0'">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--<div ng-model="item" lass="row" class="form-horizontal">-->
            <!--<div class= "form-group">-->
                <!--<label class= "col-md-2">입출 구분</label>-->
                <!--<div class="col-md-9">-->
                    <!--<select ng-model="item.IN_OUT_GB" ng-init="item.IN_OUT_GB='IN'" class= "form-control">-->
                        <!--<option value="IN" ng-selected="true">입고</option>-->
                        <!--<option value="OUT">출고</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class= "form-group">-->
                <!--<label class= "col-md-2">상품수</label>-->
                <!--<div class="col-md-9">-->
                    <!--<input type="text" class="form-control" ng-model="item.IN_OUT_CNT" class= "form-control" placeholder="상품 수량"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="click_editStock(product)">추가</button>
        <button class="btn btn-primary" ng-click="click_ok()">확인</button>
    </div>
</script>

<script type="text/ng-template" id="stock_edit_modal.html">
    <div class="modal-header">
        <h3 class="modal-title">입출고 관리</h3>
    </div>
    <div class="modal-body">
        <!--<div ng-model="product">-->
            <!--<label class= "col-md-2">총 재고수</label>-->
            <!--<div class="col-md-2">-->
                <!--<span>{{product.SUM_IN_CNT - product.SUM_OUT_CNT}}</span>-->
            <!--</div>-->
            <!--<label class= "col-md-2">총 입고수</label>-->
            <!--<div class="col-md-2">-->
                <!--<span>{{product.SUM_IN_CNT}}</span>-->
            <!--</div>-->
            <!--<label class= "col-md-2">총 출고수</label>-->
            <!--<div class="col-md-2">-->
                <!--<span>{{product.SUM_OUT_CNT}}</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class= "form-group">-->
            <!--<table class="table table-striped table-condensed" >-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>입출 구분</th>-->
                    <!--<th>수량</th>-->
                    <!--<th>등록일</th>-->
                    <!--<th>유형</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="item in list">-->
                    <!--<td>{{ item.IN_OUT_GB  }}</td>-->
                    <!--<td>{{ item.IN_OUT_CNT }}</td>-->
                    <!--<td>{{ item.REG_DT }}</td>-->
                    <!--<td>{{ item.IN_OUT_ST }}</td>-->
                    <!--<td>-->
                        <!--<a ng-click="click_editStock(item)" ng-show="item.IN_OUT_ST == '0'">수정</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->

        <div ng-model="item" lass="row" class="form-horizontal">
            <div class= "form-group">
                <label class= "col-md-2">입출 구분</label>
                <div class="col-md-9">
                    <select ng-model="item.IN_OUT_GB" class= "form-control" ng-disabled="isUpdate">
                        <option value="IN">입고</option>
                        <option value="OUT">출고</option>
                    </select>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">상품수</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="item.IN_OUT_CNT" class= "form-control" placeholder="상품 수량"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="click_ok()">저장</button>
        <button class="btn btn-warning" ng-click="click_cancel()">취소</button>
    </div>
</script>
