<div ng-controller="myangealbum-view-popup">
    <div class="modal-header" style="background-color:#FAFAFA;">
        <span style="font-size:0.86em; margin-left:5px; color:#888;">ange Album</span>
        <h2 class="modal-title" style="color:#b26b41; font-weight:bold;">사진 보기</h2>
    </div>
    <div class="modal-body">
        <div class="body_wrap">
            <div class="panel panel-master contentpannel" style="border:none; display:block;">
                <div class="contentpannel-body" >
                    <div class="people_view_wrap">

                        <div class="container-fluid">

                            <div class="album_image">
                                <img ng-src="{{item.ALBUM_FILE}}" alt="{{item.SUBJECT}}">
                            </div>

                            <div class="row">
                                <!--<div class="col-xs-1 board_basicinfo_subject">-->
                                    <!--제목-->
                                <!--</div>&lt;!&ndash; /.col-xs-2&ndash;&gt;-->
                                <div class="col-xs-12 album_detail_subject">
                                    {{ item.SUBJECT }}
                                </div><!-- /.col-xs-12-->
                            </div>

                            <div class="row">
                                <!--<div class="col-xs-1 board_basicinfo_subject">-->
                                <!--내용-->
                                <!--</div>-->
                                <div class="col-xs-12 album_detail_memo">
                                    <span> {{ item.SUMMARY }} </span>
                                </div>
                            </div><!-- /.people_editor -->

                            <div class="row peopleboard_view_basicinfo">
                                <!--<div class="col-xs-1 board_basicinfo_subject">-->
                                    <!--촬영일-->
                                <!--</div>&lt;!&ndash; /.col-xs-2&ndash;&gt;-->
                                <div class="col-xs-12 album_detail_date">
                                    <sapn> {{item.SHOOTING_YMD}} 의 추억을 담아...</sapn>
                                </div><!-- /.col-xs-12-->
                            </div>

                        </div><!-- /.container -->

                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-4">
                                </div>

                                <div class="col-xs-8" style="text-align: right;">
                                    <button class="btn btn-default btn-sm" ng-click="click_close()">닫기</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.row -->
                </div><!-- /.container -->

            </div>

        </div>
    </div>

</div>