<div ng-controller="myangecalendar" class="ng_wrap {{channel.CHANNEL_ID}}">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>

                            <div class="sub_contents_body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 no-margin">

                                            <div class="calendar_wrap no-margin">

                                                <div class="calendar_monthwrap">
                                                    <center>
                                                    <button href="javascript:void(0);" ng-click="moveCalendar(search.year,search.month,-1);" class="calendar_monthbtn">이전달</button>
                                                    <div id="view_month" class="calendar_monthtxt">
                                                        {{search.year}}. {{search.month}}
                                                    </div>
                                                    <button href="javascript:void(0);" ng-click="moveCalendar(search.year,search.month,1);" class="calendar_monthbtn">다음달</button>
                                                    </center>
                                                </div>

                                                <ul class="cell_dayname">
                                                    <li class="ange_red">일</li>
                                                    <li class="ange_black">월</li>
                                                    <li class="ange_black">화</li>
                                                    <li class="ange_black">수</li>
                                                    <li class="ange_black">목</li>
                                                    <li class="ange_black">금</li>
                                                    <li class="ange_black">토</li>
                                                </ul>
                                                <!-- item.type = normal / hidden / event -->
                                                <ul class="cell_day">
                                                    <li class="{{item.type}}" title="{{item.event}}" ng-repeat="item in data.calendar">
                                                        <img src="/imgs/ange/_blank.gif" border="0" style="width:100%;" >
                                                        <span class="cell_day_num {{item.type}}">{{item.day}}</span>
                                                    </li>
                                                </ul>

                                                <div style="clear: both;"></div>

                                                <ul class="cell_list" style="border-top: 1px solid #eee; border-bottom: 2px solid #eee; margin-top: 10px;">
                                                    <li class="{{item.event_type}}" ng-repeat="item in data.list" title="{{item.event}}">
                                                        <span ng-show="item.day != ''" style="background-color: #eee; padding: 10px; font-size: 14pt; font-weight: 600;">{{item.day}}일</span> {{item.event}}
                                                    </li>
                                                </ul>
                                            </div>

                                        </div><!-- /.col-xs-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container-fluid -->
                            </div>  <!-- /.sub_contents_body -->

                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>