<div ng-controller="myangecalendar" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>

                            </br>
							
							<style>
							ul.cell_dayname { clear: both; width: 100%; height: 50px;}
							ul.cell_dayname>li { float: left; padding: 10px 10px; width: 14%; height: 40px; background-color: #eee; list-style-type: none; text-align: center; border: 1px solid #fff; } 
							ul.cell_day>li { float: left; padding: 10px 10px; width: 14%; height: 80px; background-color: #f0f0f0; list-style-type: none; text-align: center; border: 1px solid #fff; }
							ul.cell_day>li.blind { background-color: #f0f0f0; color: #ccc; }
							ul.cell_day>li.normal { background-color: #eee; color: #000; }
							</style>
							
							<div style="width: 800px;">
								<ul class="cell_dayname">
									<li>SUN</li>
									<li>MOM</li>
									<li>TUE</li>
									<li>WED</li>
									<li>THU</li>
									<li>FRI</li>
									<li>SAT</li>
								</ul>
								<!-- item.type = normal / hidden / event -->
								<ul class="cell_day" ng-repeat="item in data">
									<li class="{{item.type}}">{{item.day}}</li>
								</ul>
							
							
							</div>

                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>