<div ng-controller="myangehome" class="ng_wrap">
    <!--<img src="/imgs/ange/white_opacity75.png" class="temp_blind">-->
    <!-- Main Page Layout Set -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid common_container">
            <div class="row">
                  <div class="col-xs-12 v-cell-3">
                        <div class="comp_basic h-cell-dynamic">
                            <!-- mini_album -->
                            <div class="comp_album">
                                <div class="comp_album_titlebar">
                                    <span class="comp_album_titlebar_title">마이앨범</span>
                                    <span class="comp_album_titlebar_desc">추억을 기록하세요. 추억을 뽐내보세요^^</span>

                                    <a href="#" class="miniboard_tab_more">더보기</a>
                                </div>

                                <div class="comp_album_content">

                                    <a class="comp_slide_btn_w30 prev" title="이전">이전</a>
                                    <a class="comp_slide_btn_w30 next" title="다음">다음</a>

                                    <div class="comp_album_content_wrap">
                                        <div class="comp_album_content_scroll">

                                            <!-- 앨범 1set -->
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_01.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">태안여행_02</span>
                                            </a>
                                            </div>
                                            <!--/ 앨범 1set -->

                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_02.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">태안여행_01</span>
                                            </a>
                                            </div>
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_03.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">둥이랑 산책</span>
                                            </a>
                                            </div>
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_04.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">생일축하해~사랑...</span>
                                            </a>
                                            </div>
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_05.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">주사맞고 울었엉</span>
                                            </a>
                                            </div>
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_01.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">태안여행_01</span>
                                            </a>
                                            </div>
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_01.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">태안여행_02</span>
                                            </a>
                                            </div>
                                            <div class="comp_album_contents">
                                            <img src="/imgs/ange/temp/comp_album_01.jpg" class="comp_album_content_img" />
                                            <a class="comp_album_content_txt">
                                                2014.10.05 <br>
                                                <span class="comp_album_content_txt_title">둥이랑 산책</span>
                                            </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- /mini_album -->
                        </div>
                  </div>
            </div>


            <div class="row">

                <div class="col-xs-8 v-cell-1">
                    <div class="comp_basic comp_splite_left h-cell-1-half">
                        <!-- /mini_calendar -->
                        <div class="comp_calendar" >
                            <div class="comp_calendar_wrap" style="float:left; width:100%; height:100%; border:1px solid #DEDEDE; background-color:#fff;">

                                <div class="comp_calendar_viewer" style="float:left; font-family: arial, sna-serif; width: 55%; height:100%; border-right: 1px solid #DEDEDE; ">
                                    <div class="comp_calendar_viewer_top" style="position:relative; width:100%; padding:18px; font-size:0.86em; text-align:center; background-color:#2F3C45; color:#EEE;">
                                        2015. 02.
                                        <a href="#" class="rollbtn_white_w5px prev" title="이전 달"></a>
                                        <a href="#" class="rollbtn_white_w5px next" title="다음 달"></a>
                                    </div>
                                    <div class="comp_calendar_viewer_content" style="padding:10px; height:200px;">
                                        <div style="width:100%; height:100%; margin:0px auto; border:1px solid #EFEFEF; font-size:0.72em; font-weight: 400; color:#888; padding:5px;">Calendar Widget</div>
                                    </div>
                                </div>

                                <div class="comp_schedule_viewer" style="float: right; width:45%; height:100%;">
                                    <div class="comp_schedule_viewer_titlebar">
                                        <span class="comp_schedule_viewer_titlebar_title">마이캘린더</span>
                                        <a href="#" class="miniboard_tab_more">더보기</a>
                                    </div>

                                    <div class="comp_schedule_viewer_content"  style="margin-top:6px; float:left; width:100%; padding:10px; height:200px; overflow: auto; overflow-x:none;">
                                        <div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">
                                            <span class="comp_schedule_viewer_date">2015-02-21</span>
                                            <p><a class="comp_schedule_viewer_text">유모차 체험단 후기 작성 마감일</a></p>
                                        </div>

                                        <div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">
                                            <span class="comp_schedule_viewer_date">2015-03-02</span>
                                            <p><a class="comp_schedule_viewer_text schedule_event">둘째 둥이 생일 <strong>D-7</strong></a></p>
                                        </div>
                                        <div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">
                                            <span class="comp_schedule_viewer_date">2015-03-08</span>
                                            <p><a class="comp_schedule_viewer_text">이벤트 신청 사용기 남기기</a></p>
                                        </div>
                                        <div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">
                                            <span class="comp_schedule_viewer_date">2015-03-12</span>
                                            <p><a class="comp_schedule_viewer_text schedule_information">막내 붕붕이 <strong>B형간염</strong> 예방접종</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /mini_calendar -->
                    </div>
                </div>

                <div class="col-xs-4 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-1-half">
                        <!-- /mini_account -->
                        <div class="comp_account">
                            <div class="comp_account_top">
                                <img class="comp_account_top_img" src="/imgs/ange/temp/comp_rank_champion.jpg"/>
                                <div class="comp_account_top_txt">
                                    서현맘쥬엄마
                                    <p class="comp_account_top_id">(sunnywin80)</p>
                                </div>
                                <a href="#" class="glyphicon glyphicon-cog comp_account_top_config" title="정보수정"></a>
                            </div>

                            <div class="comp_account_contentwrap">

                                    <div class="comp_account_content_txt group">
                                        <span class="comp_account_content_kor">앙쥬그룹관리<span class="comp_account_content_eng">Group</span></span>
                                        <span class="comp_account_content_result"><a class="label label-danger account_goto">+99</a></span>
                                    </div>

                                    <div class="comp_account_content_txt mileage">
                                        <span class="comp_account_content_kor">마일리지 <span class="comp_account_content_eng">Point</span></span>
                                        <div class="comp_account_content_result">
                                            <span class="comp_account_point">5,000P</span>
                                        </div>
                                        <a href="#" class="comp_account_gotomall">마일리지몰 구경가기</a>
                                    </div>

                                    <div class="comp_account_content_txt message">
                                        <span class="comp_account_content_kor">메시지<span class="comp_account_content_eng">Message</span></span>
                                        <span class="comp_account_content_result"><a class="label label-default account_goto">12</a></span>
                                    </div>


                            </div>

                        </div>
                        <!-- /mini_account -->
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-8 v-cell-3">
                <div class="comp_basic comp_splite_left h-cell-1">
                    <!-- /mini_purchase -->
                        <div class="comp_purchase">
                            <div class="miniboard_titlebar">
                                <span class="miniboard_title">주문/구매내역</span>

                                <a class="miniboard_tab_more">더보기</a>

                                <div class="miniboard_tab">마일리지몰</div>
                                <div class="miniboard_tab_on">경매소</span></div>
                                <div class="miniboard_tab">공동구매</div>
                            </div>


                            <div class="comp_purchase_contentwrap">
                                <div class="comp_purchase_content">
                                    <img class="comp_purchase_content_img" src="/imgs/ange/temp/comp_album_02.jpg" />
                                    <div class="comp_purchase_content_date">[배송중] 2014-10-01</div>
                                    <div class="comp_purchase_content_name">이지덤플러스밴드</div>
                                    <div class="comp_purchase_content_price">5,000 P</div>
                                </div>


                                <a class="comp_purchase_content">
                                    <img class="comp_purchase_content_img" src="/imgs/ange/temp/comp_album_02.jpg" />
                                    <div class="comp_purchase_content_date">[배송중] 2014-10-01</div>
                                    <div class="comp_purchase_content_name">이지덤플러스밴드</div>
                                    <div class="comp_purchase_content_price">5,000 P</div>
                                </a>
                                <div class="comp_purchase_content">
                                    <img class="comp_purchase_content_img" src="/imgs/ange/temp/comp_album_02.jpg" />
                                    <div class="comp_purchase_content_date">[배송중] 2014-10-01</div>
                                    <div class="comp_purchase_content_name">이지덤플러스밴드</div>
                                    <div class="comp_purchase_content_price">5,000 P</div>
                                </div>

                            </div>

                        </div>
                    <!-- /mini_purchase -->
                </div>
              </div>

              <div class="col-xs-4 v-cell-1">
                <div class="comp_basic comp_splite_right h-cell-1">
                    <!-- /mini_activity -->
                    <div class="comp_activity">
                        <div class="peopleboard_top">
                            <div class="mini_community_titlebar" style=""border:1px solid red;">
                                <span class="mini_community_title">내활동</span>
                                <a class="miniboard_tab_more">더보기</a>
                            </div>
                        </div>

                        <div class="miniboard_community_contents">

                            <div class="mini_community_contents">
                                <!--<img src="" class="mini_board_contents_img" />-->
                                <div class="mini_board_contents_txt" style="overflow:auto; text-align:left;">
                                    <span class="mini_community_txt_title"><span class="mini_community_txt_head">[질문]&nbsp;</span>일러지때문에 문...<kbd class="kbd_new">N</kbd></span>
                                </div>
                            </div>

                            <div class="mini_community_contents">
                                <!--  <img src="" class="mini_board_contents_img" />-->
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_community_txt_head">└ [답변]&nbsp;</span>식습관 문제...<kbd class="kbd_new">N</kbd></span>
                                </div>
                            </div>

                            <div class="mini_community_contents">
                                <!--  <img src="" class="mini_board_contents_img" />-->
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_community_txt_head">[앙쥬맘수다방]&nbsp;</span>로또 당첨자...</span>
                                </div>
                            </div>

                            <div class="mini_community_contents">
                                <!--  <img src="" class="mini_board_contents_img" />-->
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_community_txt_head">[리뷰]&nbsp;</span>물티슈 정말 좋아요.</span>
                                </div>
                            </div>

                            <div class="mini_community_contents">
                                <!--  <img src="" class="mini_board_contents_img" />-->
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_community_txt_head">[리뷰]&nbsp;</span>기저귀 정말 좋아요</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /mini_activity -->
                </div>
              </div>

            </div>
        </div>

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>
    <!-- /Main Page Layout Set -->
</div>