<div ng-controller="home-main">
    <!--<slider images="images" type="BANNER" url="undefined" api="ad/banner" title="상단배너" css="null"/>-->
    <!--<ange-main></ange-main>-->
    롤링 배너
    <ange-portlet-slide-image ng-model="option_r6_c1" sid="main" dots="true" autoplay="true" center-mode="true" slides-to-show="1" fade="true"></ange-portlet-slide-image>

    </br></br></br>

    <!--이벤트 배너-->
    <!--<ange-portlet-link ng-model="option_r7_c1"></ange-portlet-link>-->

    <!--</br></br></br>-->

    <!--커뮤니티 리스트-->
    <!--<ange-portlet-list ng-model="option_r7_c2"></ange-portlet-list>-->

    <!--</br></br></br>-->

    <!--설문 링크-->
    <!--<ange-portlet-link-poll ng-model="option_r1_c1"></ange-portlet-link-poll>-->

    <!--</br></br></br>-->

    <!--탭 리스트-->
    <!--<ange-portlet-list ng-model="option_r1_c2"></ange-portlet-list>-->

    <!--</br></br></br></br></br></br>-->

    <!--이미지 링크-->
    <!--<ange-portlet-link ng-model="option_r1_c3"></ange-portlet-link>-->

    <!--</br></br></br></br></br></br>-->

    <!--앙쥬 베이비 모델-->
    <!--<ange-portlet-slide-image ng-model="option_r2_c1" dots="true" autoplay="true" center-mode="true" slides-to-show="5" fade="false"></ange-portlet-slide-image>-->

    <!--탭 리스트-->
    <!--<ange-portlet-list ng-model="option_r3_c2"></ange-portlet-list>-->

    <!--<div style="width: 700px">-->
        <!--<slick dots="true" autoplay="true" infinite="true" center-mode="true" center-padding="10px" speed="500" slides-to-show="5" touch-move="true" slides-to-scroll="1" class="slider multiple-items">-->
        <!--&lt;!&ndash;<slick dots="true" autoplay="true" speed="10" center-padding="70px" slides-to-show="3" ng-class="slick-slider slick-list one-time">&ndash;&gt;-->
            <!--<div ng-repeat="item in items">-->
                <!--<img ng-src="{{item.src}}">-->
            <!--</div>-->
        <!--</slick>-->
    <!--</div>-->

    <!--<slick dots="true" autoplay="true" infinite="true" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="4">-->
        <!--<div ng-repeat="item in items">-->
            <!--<img ng-src="{{item.src}}" style="width:135;height:100px;">-->
        <!--</div>-->
    <!--</slick>-->

    <!--<slick dots="true" infinite="false" center-mode="true" speed=300 slides-to-show=3 touch-move="false" slides-to-scroll=1 class="slider one-time">-->
        <!--<div><h3>1</h3></div>-->
        <!--<div><h3>2</h3></div>-->
        <!--<div><h3>3</h3></div>-->
        <!--<div><h3>4</h3></div>-->
        <!--<div><h3>5</h3></div>-->
        <!--<div><h3>6</h3></div>-->
    <!--</slick>-->
</div>