<div ng-controller="user-list">
    <div style="width: 400px; height:250px; float:left;">
        <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                <table style="width:80%">
                    <thead>
                    <tr>
                        <th width="50%">제목</th>
                        <th width="30%">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="bbs in tab.content">
                        <td>{{bbs.subject}}</td>
                        <td>{{bbs.regNm}}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>

    <div style="width: 400px; height:250px; margin-left:20px; float:left;">
        <tabset>
            <tab ng-repeat="tab in tabs1" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                <table style="width:80%">
                    <thead>
                    <tr>
                        <th width="50%">제목</th>
                        <th width="30%">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="bbs in tab.content">
                        <td>{{bbs.subject}}</td>
                        <td>{{bbs.regNm}}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>

    <div>
        <slider images="images"/>
    </div>

    <!--<div>
        <slider images="images1"/>
    </div>-->
    <div style="width:550px; height:250px;">
        <carousel interval="myInterval">
            <div ng-repeat="$index > 5 for slideCollection in groupedSlides" class="row">
                <slide ng-repeat="slideCollection in groupedSlides" active="slide.active">
                        <img ng-src="{{slideCollection.slide1.src}}" style="width:135;height:100px;">
                </slide>
            </div>
        </carousel>
    </div>
</div>