<div ng-controller="companyaffiliates" class="ng_mainwrap">
    <!--<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>-->
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid common_container">

            <div class="row">
                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">제휴업체문의</h3>
                            </div>

                            <div class="container-fluid no-margin">
                                <div class="row no-margin">
                                    <div class="col-xs-12 no-margin" style="position: relative;">

                                        <div class="company_affiliates">
                                            <div style="color:#8457e0; font-size: 1em; font-weight: 600;">업체 제휴 & 광고문의</div>
                                            <div style="padding:22px 0 30px 0; color:#464646; font-size:2.86em;">
                                                <span style="font-weight: 700; color:#333">앙쥬</span><small>와 </small>
                                                <span style="font-weight: 700;">함께하세요<i>!</i></span>
                                            </div>
                                            <div style="width:75%; line-height:24px; word-break: keep-all;">
                                                여러분과의 즐거운 제휴를 기다립니다.<br />
                                                주말 또는 공휴일 문의시 답변이 지연될 수 있으니 양해바랍니다.<br />
                                                충분히 검토하여 연락드리도록 하겠습니다.
                                            </div>

                                            <div class="text-center" style="padding:18px 0px; margin-top:40px;"><img src="/imgs/ange/company_qustionprocess.png" /></div>

                                        </div>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div class="sub_contents_body">

                                <div class="sub_pagetitle_hr">
                                    제휴&광고문의신청
                                    <div style="float:right; color:#666; font-weight:400; font-size:0.64em;">
                                        <span class="table_blue">*</span>
                                        필수 작성 항목입니다.
                                    </div>
                                </div>

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>구분</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-inline" style="margin:0 5px">
                                                <select ng-model="item.AFFILIATE_GB" class="form-control">
                                                    <option value="MAGAZINE">월간 앙쥬(잡지) 광고 문의</option>
                                                    <option value="ONLINE">온라인 광고 및 제휴 문의</option>
                                                    <option value="EVENT">체험단 및 이벤트/공동구매 문의</option>
                                                    <option value="STORE">스토어 판매 관련 문의</option>
                                                </select>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>기업명</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="company_nm" ng-model="item.COMPANY_NM" type="text" class="form-control" style="margin:0px;" placeholder="회사명">
                                        </div>
                                    </span>

                                    <span class="col-xs-1 basicinfo title"></span>

                                    <span class="col-xs-2 basicinfo title">
                                        <strong>담당자명</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-3 basicinfo desc">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="charge_nm" type="text"  ng-model="item.CHARGE_NM" class="form-control" style="margin:0px;" placeholder="이름">
                                        </div>
                                    </span>
                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>홈페이지</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-5 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="url" name="url" type="text" ng-model="item.URL" class="form-control" style="margin:0px;" placeholder="http://ange.co.kr">
                                        </div>
                                    </span>

                                    <span class="col-xs-4 basicinfo desc">
                                    </span>
                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>이메일</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <input id="email" ng-model="item.EMAIL_ID" class="form-control" style="width:132px;">
                                            <span style="margin:0 4px;"> @ </span>
                                            <input ng-model="item.EMAIL_TYPE" class="form-control" style="width:180px; background-color: #fff;" ng-disabled="disabledEmail">

                                            <select ng-model="item.EMAIL_SELECT" class="form-control" style="width:110px; display:black;">
                                                <option value="">직접 입력</option>
                                                <option value="naver.com">네이버</option>
                                                <option value="hanmail.net">다음</option>
                                                <option value="gmail.com">구글</option>
                                            </select>
                                        </div>
                                    </span>

                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>유선전화</strong>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <select ng-model="item.PHONE_1_1" class="form-control" style="width:110px;">
                                                <option value="" selected>지역번호</option>
                                                <option value="02">02</option>
                                                <option value="031">031</option>
                                                <option value="032">032</option>
                                                <option value="041">041</option>
                                                <option value="042">042</option>
                                                <option value="043">043</option>
                                                <option value="051">051</option>
                                                <option value="052">052</option>
                                                <option value="053">053</option>
                                                <option value="054">054</option>
                                                <option value="055">055</option>
                                                <option value="061">061</option>
                                                <option value="062">062</option>
                                                <option value="063">063</option>
                                                <option value="064">064</option>
                                            </select>
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="item.PHONE_1_2" class="form-control" style="width:110px;">
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="item.PHONE_1_3" class="form-control" style="width:110px;">
                                        </div>
                                    </span>
                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>휴대폰</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <input id="phone_2" ng-model="item.PHONE_2_1" class="form-control" style="width:110px;">
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="item.PHONE_2_2" class="form-control" style="width:110px;">
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="item.PHONE_2_3" class="form-control" style="width:110px;">
                                        </div>
                                    </span>
                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->

                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>내용</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-10 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <p>
                                                    <textarea id="note" ng-model="item.NOTE" class="form-control input-sm" rows="10" style="width:100%; min-width:100%; max-width:100%;"></textarea>
                                                </p>
                                            </div>
                                        </span>
                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->

                                <form id="thumb" name="thumb" method="POST" enctype="multipart/form-data" data-file-upload="options">
                                <div class="row form_rows">
                                    <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>제휴제안서</strong>
                                        <!--<span class="table_blue">*</span>-->
                                    </span>

                                    <span class="col-xs-5 basicinfo input">
                                        <div ng-model="file" class="form-group" style="margin:0 5px">
                                            <input ng-model="file.name" type="text" class="form-control" style="margin:0px;" placeholder="파일찾기를 클릭하세요">
                                        </div>
                                    </span>

                                    <div class="col-xs-2 basicinfo files">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>탐색기</span>
                                            <input type="file" name="files[]" ng-disabled="disabled">
                                        </span>
                                    </div>
                                    <!--<span class="col-xs-4 basicinfo desc">-->
                                        <!--<button class="btn btn-sm btn-info">파일찾기</button>-->
                                    <!--</span>-->
                                    </div>  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->
                                </form>

                                <div class="samplepack_guidebox" style="float:left; width:100%; padding-top:0px; border-bottom: 1px solid #333;">

                                    <div style="clear:both; margin:20px 18px; font-size:1.18em; font-weight: 600;">
                                        &lt;개인정보 취급방침 동의&gt;

                                        <button class="btn btn-xs btn-default">개인정보취급방침</button>
                                    </div>

                                    <ul class="samplepack_howto" style="margin-top:20px;">
                                        <li>수집 항목 : (필수)회사명, 이름, 이메일, 휴대폰번호(선택)홈페이지주소,전화번호</li>
                                        <li>수집 목적 : 제휴 및 광고 업체 회신</li>
                                        <li>보유 기간 : 업무 종료일까지</li>
                                    </ul>

                                    <div class="join_agree_check" style="float:left; margin-left:28px;">
                                        <div class="checkbox">
                                            <input ng-model="item.COMPANY_AGREE_YN" type="checkbox" value="" ng-checked>
                                            개인정보 취급방침에 동의합니다.
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- /.sub_contents_body -->

                            <div class="join_step_btn">
                                <button class="join_stepbtn cancel" ng-click="click_cancel()"><span class="glyphicon glyphicon-remove-circle"></span> 취소</button>
                                <button class="join_stepbtn next" ng-click="click_comp()">문의 <span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>

                        </div>  <!-- /.sub_contents_wrap -->

                    </div>  <!-- /.comp_basic -->
                </div>  <!-- /.col-xs-12 -->

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <!-- /Main Page Layout Set -->
</div>
