<div ng-controller="companyintro" class="ng_mainwrap">
    <!--<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>-->
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid common_container">

            <div class="row">
                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div id="top" class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">
                                    회사소개
                                </h3>
                            </div>

                            <!-- 메뉴탭 -->
                            <div class="container-fluid no-margin">
                                <div class="row no-margin">
                                    <div class="col-xs-12 no-margin" style="text-align:center;">

                                        <div class="company_tabs" ng-click="click_selectTab('1');" ng-class="selectIdx == '1' ? 'selected' : ''">
                                            회사소개
                                        </div>
                                        <div class="company_tabs center">&nbsp;</div>
                                        <div class="company_tabs" ng-click="click_selectTab('2');"  ng-class="selectIdx == '2' ? 'selected' : ''">
                                            찾아오시는 길
                                        </div>
                                        <div class="company_tabs center">&nbsp;</div>
                                        <div class="company_tabs" ng-click="click_selectTab('3');"  ng-class="selectIdx == '3' ? 'selected' : ''">
                                            앙쥬 협력업체
                                        </div>
                                        <div class="company_tabs center">&nbsp;</div>
                                        <div class="company_tabs" ng-click="click_selectTab('4');"  ng-class="selectIdx == '4' ? 'selected' : ''">
                                            개인정보 취급방침
                                        </div>

                                    </div><!-- /.col-xs-12-->

                                </div><!-- /.row -->
                            </div><!-- /.container -->
                            <!-- /메뉴탭 -->

                            <!-- 01. 회사소개 -->
                            <div style="display: block;" ng-show="selectIdx == '1'">
                                <div class="container-fluid no-margin">
                                    <div class="row no-margin">
                                        <div class="col-xs-12 no-margin" style="position: relative;">

                                            <div class="company_intro_wrap">
                                                <div class="company_introballoon">
                                                    <span class="company_introballoon_no">01</span>
                                                    <div class="company_introballoon_title">다양한 컨텐츠를<br /> 제공합니다.</div>
                                                </div>

                                                <div class="company_introtxt">
                                                    '앙쥬'사이트에는 오프라인 잡지 '앙쥬'가 14년 넘게 축적해온 다양한 기사들이 수록되어 있어, 월간 '앙쥬'에서 느낄 수 있는 신선하고 고급스러운 분위기가 그대로 이어집니다. 월간 '앙쥬'와 더불어 '앙쥬' 사이트는 인터넷 매체를 통하여 어느 곳에서든 손쉽게 접할 수 있어 보다 많은 사람과 만나고 있습니다. '앙쥬'사이트의 컨텐츠는 인터넷 멀티미디어 컨텐츠로 보다 신선하고 역동적입니다.
                                                </div>
                                            </div>  <!-- /.01 -->

                                            <div class="company_intro_wrap">
                                                <div class="company_introballoon">
                                                    <span class="company_introballoon_no">02</span>
                                                    <div class="company_introballoon_title">육아 커뮤니티를<br /> 형성합니다.</div>
                                                </div>

                                                <div class="company_introtxt">
                                                    '앙쥬'사이트에는 네티즌들이 자유롭게 공감대를 형성하고 정보를 공유할 수 있는 커뮤니티 공간이 마련되어 있습니다. 시간의 제약을 받지 않고 평소 하고 싶은 취미 활동이나 정보교류를 할 수 있습니다. 또한 독자들의 궁금증을 해결하는 전초기지 역할을 하기 위해 상담 코너가 개설되어 있어 실시간으로 궁금증을 풀어 드립니다. 아기를 키우면서 가지게 되는 모든 의문점들을 함께 풀어가세요.
                                                </div>
                                            </div>  <!-- /.02 -->

                                            <div class="company_intro_wrap">
                                                <div class="company_introballoon">
                                                    <span class="company_introballoon_no">03</span>
                                                    <div class="company_introballoon_title">
                                                        매월 5만여부의<br />
                                                        <strong>육아전문잡지 &lt;앙쥬&gt;</strong><br />
                                                        를 제작합니다.
                                                    </div>
                                                </div>

                                                <div class="company_introtxt">
                                                    1998년 10월에 창간된 오프라인 잡지 '앙쥬'는 임신부와 생후 36개월 이하의 자녀를 둔 젊은 엄마들에게 임신과 출산 그리고 육아 및 클리닉과 관련한 고급 정보를 무료(일부 유료 판매)로 제공하고 있습니다. '앙쥬'가 다루고 있는 기사들은 24개월 미만의 아기들을 위한 발달 정보 및 육아 정보, 아기 질병과 돌보기, 임신 및 출산 정보, 전문 칼럼리스트의 육아칼럼과 엄마들의 육아체험 등 다양합니다. 물론 저희가 매달 전하는 최신 정보는 소아과 및 산부인과 전문의, 육아관련 전문가에 의해 충분히 검토되고 검증된 것입니다.<br />
                                                    또한 '앙쥬'는 고급 육아 전문 잡지를 추구하고 있습니다. 편집 디자인이 깔끔하여 읽기 쉬울 뿐 아니라 한번 보고 버리는 잡지가 아니라 오랫동안 보관할 만한 잡지를 만듭니다.<br />
                                                    '앙쥬'는 독자층도 광범위한데 현재 서울 및 전국 광역시의 모든 대학병원, 종합병원과 200여 곳의 소아과 및 산부인과에 배본 및 비치되어 있으며, 롯데·신세계·현대백화점 등 서울 및 전국 광역시의 백화점에서 무료 배본되고 있습니다.
                                                </div>
                                            </div>  <!-- /.03 -->

                                            <div class="company_intro_wrap">
                                                <div class="company_introballoon">
                                                    <span class="company_introballoon_no">04</span>
                                                    <div class="company_introballoon_title">
                                                        쉽고 좋은 아기<br />
                                                        이름짓기<br />
                                                        <strong>&lt;앙쥬네이밍&gt;</strong>
                                                    </div>
                                                </div>

                                                <div class="company_introtxt">
                                                    앙쥬는 온라인 실시간 작명소 '앙쥬네이밍'을 운영 중입니다. 앙쥬네이밍의 작명 서비스는 '컴퓨터 프로그램' 을 이용한 국내 최고의 시스템을 자랑하고 있습니다. 컴퓨터로 이름을 짓는다고 이상하게 생각하진 마세요.<br />
                                                    앙쥬는 이미 교보문고 작명서 부문 1위를 달리고 있는 베스트 셀러 &lt;베이비 네이밍&gt;을 출간함으로써 최고의 작명 컨텐츠를 갖추고 있습니다. 게다가 컴퓨터만이 엄청난 양의 글자조합을 가장 빠르고 정확하게 계산해낼 수 있고, 사주명리를 오차 없이 정확하게 분석해 주며, 분석된 사주오행에 따라 가장 이상적이고 적합한 이름을 지어줍니다. 생년월일시만 입력하면 성명학의 원리와 법칙을 바탕으로 한, 가장 이상적인 이름이 제시되지요.<br />
                                                    또한, 스페셜 작명을 통하여 작명가 선생님이 직접 지어주시도하니 이제 작명소를 따로 가실 필요없겠죠?
                                                </div>
                                            </div>  <!-- /.04 -->

                                        </div><!-- /.col-xs-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /01. 회사소개 -->

                            <!-- 02. 찾아오시는길 -->
                            <div style="display: block;" ng-show="selectIdx == '2'">

                                <div style="margin-top:60px; width:100%;border:1px solid #ddd;">
                                    <!--<map center="-34.397, 150.644" zoom="8"></map>-->
                                    <map center="37.5478341, 126.9311811" zoom="17" style="width:100%;">
                                        <info-window visible="true" position="37.5477341, 126.9310811">
                                            <span style="font-size: 0.86em; padding-bottom:6px; line-height: 14px;">
                                                <img src="/imgs/ange/ui_logo_01.png" style="width:40px;" /><br>
                                            </span>
                                        </info-window>
                                    </map>
                                </div>

                                <div class="container-fluid no-margin">
                                    <div class="row no-margin">
                                        <div class="col-xs-12 no-margin" style="position: relative;">

                                            <div class="company_intro_wrap">
                                                <div class="company_mapballoon">
                                                    <span class="glyphicon glyphicon-map-marker"></span>
                                                </div>

                                                <div class="company_maptxt">
                                                    <span style="float:left; font-weight:600; color:#111; line-height:60px; padding:5px 25px;">address</span>
                                                    <div style="padding:10px;">지번주소  /  서울시 마포구 창전동 253번지 앙쥬빌딩</div>
                                                    <div>도로주소  /  서울시 마포구 독막로 155 앙쥬빌딩</div>
                                                </div>
                                            </div>  <!-- /.01 -->

                                            <div class="company_intro_wrap">
                                                <div class="company_mapballoon">
                                                    <span class="glyphicon glyphicon-earphone"></span>
                                                </div>

                                                <div class="company_maptxt">
                                                    <div style="font-weight:600; color:#111; line-height:60px; padding:5px 25px;">tel/ &nbsp;02-333-4650 &nbsp;&nbsp;|&nbsp;&nbsp; fax/ &nbsp;02-333-4633</div>

                                                    <div style="color:#666; margin-left:25px">
                                                    내선번호 1번  /  광고마케팅팀<br />
                                                    내선번호 2번  /  와인 디자인개발팀<br />
                                                    내선번호 3번  /  컨텐츠개발팀<br />
                                                    내선번호 4번  /  온라인사업팀<br />
                                                    내선번호 0번  /  기타 문의<br />
                                                    </div>
                                                </div>
                                            </div>  <!-- /.02 -->

                                        </div><!-- /.col-xs-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /02. 찾아오시는길 -->

                            <!-- 03. 협력업체 -->
                            <div style="display: block;" ng-show="selectIdx == '3'">
                                <div class="container-fluid no-margin">
                                    <div class="row no-margin">
                                        <div class="col-xs-12 no-margin" style="position: relative;">

                                            <div class="company_sectiontitle_wrap">
                                                <strong style="font-size:1.08em;">가전/생활전자</strong>
                                                <a title="맨위로" ng-click="click_focus('top')"><small>top </small><span class="glyphicon glyphicon-chevron-up topbtn"></span></a>
                                            </div>  <!-- /.company_sectiontitle_wrap -->

                                            <div class="company_partners_wrap" ng-repeat="item in partner1">

                                                <div ng-click="partnerLink(item);" class="company_partners_box">
                                                    <img ng-src="{{item.img}}">
                                                    <span>{{item.COMPANY_NM}}</span>
                                                </div>
<!--
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_001.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_002.png">
                                                    <span>경동나비엔</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_003.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_004.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_005.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_006.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_007.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_008.png">
                                                    <span>LG전자</span>
                                                </div>
-->

                                            </div>  <!-- /.company_partners_wrap -->




                                            <div class="company_sectiontitle_wrap">
                                                <strong style="font-size:1.08em;">교육</strong>
                                                <a title="맨위로" ng-click="click_focus('top')"><small>top </small><span class="glyphicon glyphicon-chevron-up topbtn"></span></a>
                                            </div>  <!-- /.company_sectiontitle_wrap -->

                                            <div class="company_partners_wrap" ng-repeat="item in partner2">

                                                <div ng-click="partnerLink(item);" class="company_partners_box">
                                                    <img ng-src="{{item.img}}">
                                                    <span>{{item.COMPANY_NM}}</span>
                                                </div>
 <!--
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_025.png">
                                                    <span>LG전자</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_026.png">
                                                    <span>경동나비엔</span>
                                                </div>
                                                <div ng-click="partnerLink('#');" class="company_partners_box">
                                                    <img src="/imgs/ange/partners/surpportcompany_027.png">
                                                    <span>LG전자</span>
                                                </div>
-->
                                            </div>  <!-- /.company_partners_wrap -->

                                        </div><!-- /.col-xs-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /03. 협력업체 -->


                            <!-- 04. 개인정보 취급방침 -->
                            <div style="display: block;" ng-show="selectIdx == '4'">
                                <div class="container-fluid no-margin">
                                    <div class="row no-margin">
                                        <div class="col-xs-12 no-margin" style="position: relative;">

                                            <div class="join_agree_wrap" style="margin-top:60px; margin-bottom:120px;">
                                                <div class="join_agree_box" style="height:568px;">
                                                    <pre class="ange_terms">
'(주)무크하우스'은 (이하 '회사'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.

회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.


회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.

ο 본 방침은  :  2008 년 10 월 15 일 부터 시행됩니다.

■ 수집하는 개인정보 항목

회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.


ο 수집항목 : 이름 , 생년월일 , 성별 , 로그인ID , 비밀번호 , 자택 전화번호 , 자택 주소 , 휴대전화번호 , 이메일 , 결혼여부 , 기념일 ,결제기록 , 자녀수 및 생년월일
ο 개인정보 수집방법 : 홈페이지(회원가입) , 서면양식

■ 개인정보의 수집 및 이용목적

회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다..

 ο 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
콘텐츠 제공 , 구매 및 요금 결제 , 물품배송 또는 청구지 등 발송 , 요금추심
 ο 회원 관리
회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 연령확인 , 불만처리 등 민원처리 , 고지사항 전달
 ο 마케팅 및 광고에 활용
이벤트 등 광고성 정보 전달 , 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계

■ 개인정보의 보유 및 이용기간

원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.


 보존 항목 : 이름 , 생년월일 , 성별 , 로그인ID , 자택 주소 , 휴대전화번호 , 이메일
 보존 근거 : 이벤트 혜택을 위한 탈퇴후 재가입
 보존 기간 : 30일


그리고 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.


대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)


■ 개인정보의 파기절차 및 방법

회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.


ο 파기절차

회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.

별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.



ο 파기방법

   - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.


■ 개인정보 제공

회사는 회원에게 이벤트 및 서비스 제공을 위해 제3자에게 정보 제공이 필요한 경우 해당 페이지에서 개별적으로 별도의 정보 제공 동의를 받고 있습니다.


■ 수집한 개인정보의 위탁

회사는 고객님의 동의없이 고객님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.

■ 이용자 및 법정대리인의 권리와 그 행사방법

이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.
이용자 혹은 만 14세 미만 아동의 개인정보 조회, 수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭 하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.
혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.
귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.

무크하우스는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “무크하우스가 수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.

■ 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항

쿠키 등 인터넷 서비스 이용 시 자동 생성되는 개인정보를 수집하는 장치를 운영하지 않습니다.


■ 개인정보에 관한 민원서비스

회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.



고객서비스담당 부서 : 온라인 사업팀
개인정보관리책임자 성명 : 이경주
전화번호 : 02-333-4650
이메일 : angeweb@ange.co.kr


귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.


기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.

1.개인분쟁조정위원회 (www.1336.or.kr/1336)

2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)

3.대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)

4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)

                                                    </pre>
                                                </div>  <!-- /.join_agree_box -->

                                            </div><!-- /.join_agree_wrap -->


                                        </div><!-- /.col-xs-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- /04. 개인정보 취급방침 -->

                            <div class="row">
                                <div class="col-xs-4 v-cell-3">
                                    <div class="comp_basic comp_splite_left h-cell-dynamic">

                                        <!-- mini_infodeskpds -->
                                        <div class="comp_infodeskpds">

                                            <div class="mini_infodeskpds_title">
                                                <div class="mini_infodeskpds_name">자료실</div>
                                                <a href="http://get.adobe.com/kr/reader/" target="_blank">Adobe PDF Viewer</a>
                                                <div>프로그램 설치가 필요합니다.</div>
                                            </div>

                                            <div class="mini_infodeskpds_link" style="opacity:0.4; cursor:default;">
                                                <p><span style="color: #fb6362;">앙쥬</span>매체소개서</p>
                                                <a style="cursor:default;">파일 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                            </div>

                                        </div>
                                        <!-- /mini_infodeskpds -->

                                    </div>
                                </div>

                                <div class="col-xs-4 v-cell-3">
                                    <div class="comp_basic comp_splite_middle h-cell-dynamic">

                                        <!-- mini_infodeskpds -->
                                        <div class="comp_infodeskpds">

                                            <div class="mini_infodeskpds_link" style="cursor:default;">
                                                <p><span style="color: #fb6362;">앙쥬</span>미디어키트</p>
                                                <a href="/imgs/ange/temp/20150226_angeMediakit.pdf" target="_blank">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                            </div>

                                            <div class="mini_infodeskpds_link" style="opacity:0.4; cursor:default;">
                                                <p><span style="color: #fb6362;">앙쥬그룹</span>사용자설명서</p>
                                                <a style="cursor:default;">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                            </div>

                                        </div>
                                        <!-- /mini_infodeskpds -->

                                    </div>
                                </div>

                                <div class="col-xs-4 v-cell-3">
                                    <div class="comp_basic comp_splite_right h-cell-dynamic">

                                        <!-- mini_infodeskpds -->
                                        <div class="comp_infodeskpds">

                                            <div class="mini_infodeskpds_link" style="opacity:0.4; cursor:default;">
                                                <p><span style="color: #fb6362;">육아백과</span>미디어키트</p>
                                                <a style="cursor:default;">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                            </div>

                                            <div class="mini_infodeskpds_link" style="opacity:0.4; cursor:default;">
                                                <p><span style="color: #fb6362;">앙쥬온라인</span>상품소개서</p>
                                                <a style="cursor:default;">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                            </div>

                                        </div>
                                        <!-- /mini_infodeskpds -->

                                    </div>
                                </div>
                            </div> <!-- row end -->


                        </div><!-- /.sub_contents_wrap -->

                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>



    <!-- /Main Page Layout Set -->
</div>