<!--
    Author : Sung-hwan Kim
    Email  : hacker9100@marveltree.com
    Date   : 2014-09-23
    Description : app의 최상위 파일로서 최초 로딩되는 index 파일..
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hans Angular Skeleton</title>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css">

    <!-- IE6,7,8에서도 HTML5 element를 인식시켜주기 위한 코드 -->
    <!--[if lt IE 9]>
    <script src="./lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div id="master-wrap">
    <ul class="nav nav-tabs">
        <li ng-class="{active:content}" ng-click="content = true; management = false; menu3 = false; menu4 = false"><a ui-sref="content">콘텐츠</a></li>
        <li ng-class="{active:management}" ng-click="content = false; management = true; menu3 = false; menu4 = false"><a ui-sref="management">관리자</a></li>
        <li ng-class="{active:menu3}" ng-click="content = false; management = false; menu3 = true; menu4 = false"><a ui-sref="menu3">메뉴3</a></li>
        <li ng-class="{active:menu4}" ng-click="content = false; management = false; menu3 = false; menu4 = true"><a ui-sref="menu4">메뉴4</a></li>
    </ul>

    <!-- View가 표시될 영역 -->
    <div ui-view></div>
</div>
    <!--
        requireJS를 사용하기 위한 부분으로,
        requireJS는 data-main에 설정한 main.js 파일을 최초로 로드한다.
     -->
    <script src="lib/require/require.js" data-main="js/main.js"></script>
</body>

</html>