<div ng-controller="searchlist" class="ng_mainwrap">
<!-- mainbar -->
<div class="mainbar sub-slide">
<div class="container-fluid common_container">

<div class="row">

<div class="col-xs-12 v-cell-3">
<div class="comp_basic h-cell-dynamic">

<div class="sub_contents_wrap">

    <div class="sub_contents_title">
        <span class="sub_contents_bullet"></span>
        <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
    </div>

</div><!-- /.sub_contents_wrap -->



<div style="clear: both; padding-bottom: 70px; padding-left: 250px; ">
    <form class="search_formgroup ng-pristine ng-valid" style="">
        <div class="form-group search_form">
            <input type="text" class="form-control search_input" ng-model="search.SEARCH_KEYWORD" placeholder="검색">
        </div>
        <a class="gnb_search ch_search" ng-click="showSearchResult()" title="검색">Search</a>
    </form>
</div>


<div class="sub_contents_body">

    <h4 style="font-weight:bold;">스토리</h4>

        <!-- story_list -->
        <table id="story_board_table" class="table table-hover">

            <thead>
            <tr class="board_thead" height="48">
                <td align="center"><span class="board_th">제목</span></td>
                <td width="120" align="center"><span class="board_th">작성자</span></td>
                <td width="80" align="center"><span class="board_th">작성일</span></td>
                <td width="60" align="center"><span class="board_th">조회</span></td>
            </tr>
            </thead>

            <tbody class="on" ng-repeat="item in storyList">

            <tr ng-click="click_showViewStory(item.COMM_NO, item.NO)" style="cursor:pointer;">
                <td>
                    <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                    <a href="/story/content/list/{{ item.NO}}" target="_blank">
                        <span> {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                        <span ng-show="item.REG_DT == todayDate" class="table_icon_new">N</span>
                        <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                        <span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>
                    </a>

                </td>
                <td  class="table_author">{{item.EDITOR_NM}}</td>
                <td class="table_date">{{item.REG_DT}}</td>
                <td class="table_hit">{{item.HIT_CNT}}</td></tr>
            </tr>

            </tbody>

            <tbody class="on" data-ng-show="storyList == '' || storyList == null">

            <tr>
                <td colspan="4" style="text-align: center">조회 데이터가 없습니다.</td>
            </tr>

            </tbody>
        </table><!-- /.List-->
        <nav class="text-center normaltype">
            <pagination boundary-links="true" total-items="STORY_TOTAL_COUNT" items-per-page="9" ng-model="STORY_PAGE_NO" class="pagination-sm"  ng-change="pageChanged_story()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </nav>
        <!-- /story_list -->

        <br/>

        <h4 style="font-weight:bold;">일반게시판</h3>

            <!-- peoplepoll_list -->
            <table id="people_board_table" class="table table-hover" style="">

                <thead>
                <tr class="board_thead" height="48">
                    <td align="center"><span class="board_th">제목</span></td>
                    <td width="120" align="center"><span class="board_th">작성자</span></td>
                    <td width="80" align="center"><span class="board_th">작성일</span></td>
                    <td width="60" align="center"><span class="board_th">조회</span></td>
                </tr>
                </thead>

                <tbody class="on" ng-repeat="item in boardList">

                <tr ng-click="click_showViewPeopleBoard(item.COMM_NO, item.NO)" style="cursor:pointer;">
                    <td>
                        <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                        <a href="/people/{{item.MENU_ID}}/view/{{item.NO}}" target="_blank">
                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">{{item.SHORT_NM != ''? '['+item.SHORT_NM+']' : ''}}&nbsp;{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                            <span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>
                            <span ng-show="item.REG_DT == todayDate" class="table_icon_new">N</span>
                            <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                            <span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>
                        </a>
                    </td>
                    <td  class="table_author">{{item.NICK_NM}}</td>
                    <td class="table_date">{{item.REG_DT}}</td>
                    <td class="table_hit">{{item.HIT_CNT}}</td></tr>
                </tr>

                </tbody>

                <tbody class="on" data-ng-show="boardList == '' || boardList == null">

                <tr>
                    <td colspan="4" style="text-align: center">조회 데이터가 없습니다.</td>
                </tr>

                </tbody>
            </table><!-- /.List-->
            <nav class="text-center normaltype">
                <pagination boundary-links="true" total-items="BOARD_TOTAL_COUNT" items-per-page="9" ng-model="BOARD_PAGE_NO" class="pagination-sm"  ng-change="pageChanged_board()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </nav>

            <!-- /peoplepoll_list -->

            <br/>

            <h4 style="font-weight:bold;">사진게시판</h4>

            <div class="container-fluid peoplephoto_list_wrap">
                <div class="row">
                    <div class="col-xs-12 v-cell-4">
                        <div class="comp_basic h-cell-dynamic">

                            <div ng-repeat='item in photoList'>
                                <!--<div ng-repeat='item in list' ng-class="item.RNUM % 3 == 1 ? 'row people_photo_contentlist' : ''">-->
                                <div class="col-xs-4 people_photo_contentcol" > <!-- ng-show="selectPhoto = item.PHOTO_TYPE" -->
                                    <div ng-click="click_showViewPeoplePhoto(item.COMM_NO, item.NO)" class="people_photo_content">
                                        <div class="people_photo_imgbox">
                                            <!--<img class="people_photo_img" ng-src="{{item.MAIN_FILE}}"/>-->
                                            <img ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'" src="/imgs/ange/_blank.gif" class="people_photo_img" style="background-image:url('{{item.FILE}}')" />
                                            <img ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'" src="/imgs/ange/_blank.gif" class="people_photo_img" style="background-image:url('/imgs/ange/_blank.gif')" />
                                            <img ng-show="item.BOARD_ST == 'D'" src="/imgs/ange/_blank.gif" class="people_photo_img" style="background-image:url('/imgs/ange/_blank.gif')" /> <!-- 삭제처리했을때 블라인드 이미지 추가해야함-->
                                            <div class="people_photo_cate">
                                                <span>{{item.CATEGORY_NM}}</span>
                                                <div style="position:absolute; display:inline; bottom:8px; right:0;">
                                                    <span class="feed_count countlike table_white">{{item.LIKE_CNT}}</span><!-- 공감수 -->
                                                    <span class="feed_count countreply table_white">{{item.REPLY_COUNT}}</span>	<!-- 댓글수 -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="people_photo_txt" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">
                                            <a href="/people/{{item.MENU_ID}}/view/{{item.NO}}" target="_blank">
                                                {{ item.SUBJECT | limitTo: 20 }}{{item.SUBJECT > 20 ? '...' : ''}}
                                            </a>
                                        </div>
                                        <div class="people_photo_info"><span class="table_blue">{{item.NICK_NM}}</span> | {{item.REG_DT}}</div>
                                    </div><!-- /.people_photo_content -->
                                </div><!-- /.people_photo_contentcol -->
                            </div><!-- /.people_photo_contentlist -->		<!-- 1줄	 -->

                            <div ng-show="photoList == ''" style="text-align: center;">
                                <p>조회 데이터가 없습니다.</p>
                            </div>

                        </div><!-- /.comp_basic -->
                    </div><!-- /.v-cell-4 -->
                </div><!-- /.row -->
            </div><!-- /.peoplephoto_list_wrap -->
            <nav class="text-center normaltype">
                <pagination boundary-links="true" total-items="PHOTO_TOTAL_COUNT" items-per-page="9" ng-model="PHOTO_PAGE_NO" class="pagination-sm"  ng-change="pageChanged_photo()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </nav>
            <br/>

            <h4 style="font-weight:bold;">상담게시판 <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h4>
            <!-- peoplepoll_list -->
            <table id="clinic_board_table" class="table table-hover">

                <thead>
                <tr class="board_thead" height="48">
                    <td><span class="board_th">제목</span></td>
                    <td width="92" align="center"><span class="board_th">작성자</span></td>
                    <td width="80"><span class="board_th">작성일</span></td>
                    <td width="60" align="center"><span class="board_th">답변</span></td>
                </tr>
                </thead>

                <tbody class="on" ng-repeat="item in clinicList">

                <tr ng-click="click_showViewPeopleClinic(item.COMM_NO, item.NO)" style="cursor:pointer;">
                    <td>
                        <a href="/people/{{item.MENU_ID}}/view/{{item.NO}}" target="_blank">
                            <!--span ng-class="item.PASSWORD != '' ? 'glyphicon glyphicon-lock table_icon_lock' : ''"></span-->
                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">{{item.PASSWORD}}{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                            <!--<span class="reply_num">[2]</span>-->
                            <span ng-show="item.REG_DT == todayDate" class="table_icon_new">N</span>
                            <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                            <span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>
                        </a>
                    </td>
                    <td  class="table_author">{{item.NICK_NM}}</td>
                    <td class="table_date">{{item.REG_DT}}</td>
                    <td class="table_hit">{{item.BOARD_REPLY_FL}}</td></tr>
                </tr>

                </tbody>

                <tbody class="on" data-ng-show="clinicList == '' || clinicList == null">

                <tr>
                    <td colspan="4" style="text-align: center">조회 데이터가 없습니다.</td>
                </tr>

                </tbody>
            </table><!-- /.List-->
            <nav class="text-center normaltype">
                <pagination boundary-links="true" total-items="CLINIC_TOTAL_COUNT" items-per-page="9" ng-model="CLINIC_PAGE_NO" class="pagination-sm"  ng-change="pageChanged_clinic()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </nav>

</div>
</div>
</div>

</div> <!-- rows -->


</div><!-- container-fluid -->

</div>

<!-- /Main Page Layout Set -->
</div>

<script type="text/ng-template" id="myangeboard_view.html">
    <div class="modal-header" style="background-color:#FAFAFA;">
        <h2 class="modal-title" style="color:#b26b41; font-weight:bold;">일반게시판</h2>
    </div>
    <div class="modal-body">
        <div class="body_wrap" style="padding:20px;">
            <div class="panel panel-master contentpannel" style="border:none; display:block;">
                <div class="contentpannel-body" >
                    <div class="people_view_wrap">

                        <div class="container-fluid">
                            <div class="row peopleboard_view_basicinfo">
                                <div class="col-xs-2  board_basicinfo_label">
                                    <!--보낸사람-->
                                    제목
                                </div><!-- /.col-xs-2-->
                                <div class="col-xs-4 board_basicinfo_subject">
                                    <!--{{item.FROM_NM}}-->
                                    {{item.SUBJECT}}
                                    <!--{{item.FROM_NM}}-->
                                </div><!-- /.col-xs-4-->
                                <div class="col-xs-2  board_basicinfo_label">
                                    작성자
                                </div><!-- /.col-xs-2-->
                                <div class="col-xs-4 board_basicinfo_subject">
                                    {{item.NICK_NM}}
                                </div>
                                <div class="col-xs-2  board_basicinfo_label">
                                    작성일
                                </div>
                                <div class="col-xs-4 board_basicinfo_subject">
                                    {{item.REG_DT}}
                                </div>
                            </div><!-- /.row -->

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row peopleboard_view_basicinfo">
                                        <div class="col-xs-2 board_basicinfo_label">
                                            내용
                                        </div><!-- /.col-xs-2-->

                                        <div class="col-xs-10 board_basicinfo_subject" style="padding:10px;">
                                            <!-- Editor CSS 적용 -->
                                            <!-- <div style="color:#333; line-height:22px; padding:10px;">{{item.BODY}}</div> -->
                                            <!--<textarea id="editor1" ng-model="item.BODY" class="form-control input-sm" readonly rows="15" cols="30" style="width:100%; min-width:100%; max-width:100%;"></textarea>-->
                                            <!--<textarea id="editor1" class="form-control input-md"  ng-model="item.BODY" rows="10" cols="30" style="width:100%; min-width:100%; max-width:100%;resize: none;" disabled placeholder="대화상대에게 바로 메시지를 보낼 수 있어요."></textarea>-->
                                            <!--<p style="width:100%; word-break:keep-all; word-wrap:break-word; white-space: pre; line-height: 22px;">{{item.BODY}}</p>-->
                                            <div ng-bind-html="item.BODY" style="margin:0px auto; padding:25px 10px;"></div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.col-12-->
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-4">
                                </div>

                                <div class="col-xs-8" style="text-align: right;">
                                    <button class="btn btn-default btn-sm" ng-click="click_ok()">닫기</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" ng-click="click_ok()">확인</button>-->
    <!--</div>-->
</script>

<script type="text/ng-template" id="myangephoto_view.html">
    <div class="modal-header" style="background-color:#FAFAFA;">
        <h2 class="modal-title" style="color:#b26b41; font-weight:bold;">사진게시판</h2>
    </div>
    <div class="modal-body">
        <div class="body_wrap" style="padding:20px;">
            <div class="panel panel-master contentpannel" style="border:none; display:block;">
                <div class="contentpannel-body" >
                    <div class="people_view_wrap">

                        <div class="container-fluid">
                            <div class="row peopleboard_view_basicinfo">
                                <div class="col-xs-2  board_basicinfo_label">
                                    <!--보낸사람-->
                                    제목
                                </div><!-- /.col-xs-2-->
                                <div class="col-xs-4 board_basicinfo_subject">
                                    <!--{{item.FROM_NM}}-->
                                    {{item.SUBJECT}}
                                    <!--{{item.FROM_NM}}-->
                                </div><!-- /.col-xs-4-->
                                <div class="col-xs-2  board_basicinfo_label">
                                    작성자
                                </div><!-- /.col-xs-2-->
                                <div class="col-xs-4 board_basicinfo_subject">
                                    {{item.NICK_NM}}
                                </div>
                                <div class="col-xs-2  board_basicinfo_label">
                                    작성일
                                </div>
                                <div class="col-xs-4 board_basicinfo_subject">
                                    {{item.REG_DT}}
                                </div>
                            </div><!-- /.row -->

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row peopleboard_view_basicinfo">
                                        <div class="col-xs-2 board_basicinfo_label">
                                            내용
                                        </div><!-- /.col-xs-2-->

                                        <div class="template_recipe" ng-show="photo_comm_no == '12'">
                                            <!--<div class="infobox_row">-->
                                            <!--<div class="template_col_title">카테고리</div>-->
                                            <!--<div class="template_col_body">-->
                                            <!--<span>{{item.CATEGORY_NM}}</span>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <div class="infobox_row">
                                                <div class="template_col_title short">재료</div>
                                                <div class="template_col_body">
                                                    <strong style="position:absolute; left:0px;">주재료 : </strong>
                                                    <span class="recipe_material">{{item.ETC1}}</span>
                                                </div>
                                                <div class="template_col_body">
                                                    <strong style="position:absolute; left:0px;">부재료 : </strong>
                                                    <span class="recipe_material">{{item.ETC2}}</span>
                                                </div>
                                                <div class="template_col_body">
                                                    <strong style="position:absolute; left:0px;">양&nbsp;&nbsp;&nbsp;념 : </strong>
                                                    <span class="recipe_material">{{item.ETC3}}</span>
                                                </div>
                                            </div>
                                            <div class="infobox_row">
                                                <div class="template_col_title">조리시간</div>
                                                <div class="template_col_body">
                                                    <span>{{item.ETC4}}</span>
                                                </div>
                                            </div>
                                            <div class="infobox_row">
                                                <div class="template_col_title">분량</div>
                                                <div class="template_col_body">
                                                    <span>{{item.ETC5}}</span>
                                                </div>
                                            </div>
                                            <p>&nbsp;</p>
                                            <div class="infobox_row">
                                                <div class="template_col_title">조리과정</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-10 board_basicinfo_subject" style="padding:10px;">
                                            <!-- Editor CSS 적용 -->
                                            <!-- <div style="color:#333; line-height:22px; padding:10px;">{{item.BODY}}</div> -->
                                            <!--<textarea id="editor1" ng-model="item.BODY" class="form-control input-sm" readonly rows="15" cols="30" style="width:100%; min-width:100%; max-width:100%;"></textarea>-->
                                            <!--<textarea id="editor1" class="form-control input-md"  ng-model="item.BODY" rows="10" cols="30" style="width:100%; min-width:100%; max-width:100%;resize: none;" disabled placeholder="대화상대에게 바로 메시지를 보낼 수 있어요."></textarea>-->
                                            <!--<p style="width:100%; word-break:keep-all; word-wrap:break-word; white-space: pre; line-height: 22px;">{{item.BODY}}</p>-->
                                            <div ng-bind-html="item.BODY" style="margin:0px auto; padding:25px 10px;"></div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.col-12-->
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-4">
                                </div>

                                <div class="col-xs-8" style="text-align: right;">
                                    <button class="btn btn-default btn-sm" ng-click="click_ok()">닫기</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" ng-click="click_ok()">확인</button>-->
    <!--</div>-->
</script>

<script type="text/ng-template" id="myangeclinic_view.html">
    <div class="modal-header" style="background-color:#FAFAFA;">
        <h2 class="modal-title" style="color:#b26b41; font-weight:bold;">상담게시판</h2>
    </div>
    <div class="modal-body">
        <div class="body_wrap" style="padding:20px;">
            <div class="panel panel-master contentpannel" style="border:none; display:block;">
                <div class="contentpannel-body" >
                    <div class="people_view_wrap">

                        <div class="container-fluid">
                            <div class="row peopleboard_view_basicinfo">
                                <div class="col-xs-2  board_basicinfo_label">
                                    <!--보낸사람-->
                                    제목
                                </div><!-- /.col-xs-2-->
                                <div class="col-xs-4 board_basicinfo_subject">
                                    <!--{{item.FROM_NM}}-->
                                    {{item.SUBJECT}}
                                    <!--{{item.FROM_NM}}-->
                                </div><!-- /.col-xs-4-->
                                <div class="col-xs-2  board_basicinfo_label">
                                    작성자
                                </div><!-- /.col-xs-2-->
                                <div class="col-xs-4 board_basicinfo_subject">
                                    {{item.NICK_NM}}
                                </div>
                                <div class="col-xs-2  board_basicinfo_label">
                                    작성일
                                </div>
                                <div class="col-xs-4 board_basicinfo_subject">
                                    {{item.REG_DT}}
                                </div>
                            </div><!-- /.row -->

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row peopleboard_view_basicinfo">
                                        <div class="col-xs-2 board_basicinfo_label">
                                            내용
                                        </div><!-- /.col-xs-2-->

                                        <div class="col-xs-10 board_basicinfo_subject" style="padding:10px;">
                                            <!-- Editor CSS 적용 -->
                                            <!-- <div style="color:#333; line-height:22px; padding:10px;">{{item.BODY}}</div> -->
                                            <!--<textarea id="editor1" ng-model="item.BODY" class="form-control input-sm" readonly rows="15" cols="30" style="width:100%; min-width:100%; max-width:100%;"></textarea>-->
                                            <!--<textarea id="editor1" class="form-control input-md"  ng-model="item.BODY" rows="10" cols="30" style="width:100%; min-width:100%; max-width:100%;resize: none;" disabled placeholder="대화상대에게 바로 메시지를 보낼 수 있어요."></textarea>-->
                                            <!--<p style="width:100%; word-break:keep-all; word-wrap:break-word; white-space: pre; line-height: 22px;">{{item.BODY}}</p>-->
                                            <div ng-bind-html="item.BODY" style="margin:0px auto; padding:25px 10px;"></div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.col-12-->
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-4">
                                </div>

                                <div class="col-xs-8" style="text-align: right;">
                                    <button class="btn btn-default btn-sm" ng-click="click_ok()">닫기</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" ng-click="click_ok()">확인</button>-->
    <!--</div>-->
</script>