<div ng-controller="board-edit">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a></h3>
                            </div>
                        </div><!-- /.sub_contents_wrap -->

                        <div ng-model="item" class="sub_contents_body">

                            <!-- peopleboard_edit -->
                            <div class="people_edit_wrap">

                                <div class="container-fluid peopleboard_edit_topwrap">

                                    <div class="row" style="margin:0px auto; margin-bottom:10px;">

                                        <label class="col-xs-1 control-label" style="padding:0; text-align:center; padding:3px 0;">제목</label>

                                        <div class="col-xs-3" style="padding:0;">
                                            <div class="input-group">

                                                <input type="text" class="form-control input-sm" aria-label="..." value="게시판 선택" disabled style="background-color:#fff;">

                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="true"><span class="caret"></span></button>

                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">앙쥬맘 수다방</a></li>
                                                        <li><a href="#">예비맘 출산맘</a></li>
                                                        <li><a href="#">육아방</a></li>
                                                        <li><a href="#">돌잔치 톡톡톡</a></li>
                                                        <li><a href="#">책수다</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">앙쥬모델 선발대회</a></li>
                                                        <li><a href="#">레시피 아케이드</a></li>
                                                        <li><a href="#">피플 맛집</a></li>
                                                    </ul>
                                                </div><!-- /btn-group -->

                                            </div><!-- /input-group -->
                                        </div><!-- /.col-xs-4 -->

                                        <div class="col-xs-8" style="padding-left:5px;">
                                            <input ng-model="item.SUBJECT" type="text" class="input-sm form-control" placeholder="제목을 입력하세요">
                                        </div><!-- /.col-xs-7 -->
                                    </div><!-- /.row -->

                                    <!-- 비밀번호 : 상담게시판에서만 보입니다. -->
                                    <!--<div class="row" style="margin:0px auto; margin-bottom:10px;">-->

                                        <!--<label class="col-xs-1 control-label" style="padding:0; text-align:center; padding:3px 0;">암호</label>-->

                                        <!--<div class="col-xs-3" style="padding:0;">-->
                                            <!--<input ng-model="item.PASSWORD" type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="비밀번호 4자리">&lt;!&ndash; /btn-group &ndash;&gt;-->
                                        <!--</div>&lt;!&ndash; /.col-xs-4 &ndash;&gt;-->

                                        <!--<div class="col-xs-8" style="padding-left:5px; padding-top:6px;">-->
                                            <!--<small class="table_gray">비밀번호를 입력하지 않으면 공개글로 설정됩니다.</small>-->
                                        <!--</div>&lt;!&ndash; /.col-xs-7 &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                                    <!-- /비밀번호 : 상담게시판에서만 보입니다. -->

                                    <!-- file drag-in Box -->
                                    <div class="row" style="margin:0px auto; margin-bottom:10px; height:90px;">

                                        <label class="col-xs-1 control-label" style="padding:0; text-align:center; padding:3px 0;">
                                            파일
                                        </label>

                                        <div class="col-xs-9 dragzone_wrap">
                                            <div class="dragzone" style="font-size:0.86em; padding: 5px 10px; height:100%; border:1px solid #ddd; border-radius:4px; line-height:18px; overflow:auto; overflow-x:none;">

                                                <div class="files_row">
                                                    <input type="checkbox" style="vertical-align: top;" aria-label="...">
                                                    <span class="fileicon"><span class="glyphicon glyphicon-picture table_icon_pic"></span></span>
                                                    <span class="filename">첨부파일_1.jpg</span>
                                                    <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;">38.56KB</div>
                                                </div>

                                                <div class="files_row">
                                                    <input type="checkbox" style="vertical-align: top;" aria-label="...">
                                                    <span class="fileicon"><span class="glyphicon glyphicon-picture table_icon_pic"></span></span>
                                                    <span class="filename">첨부파일_111111111.jpg</span>
                                                    <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;">1038.56KB</div>
                                                </div>

                                                <div class="files_row">
                                                    <input type="checkbox" style="vertical-align: top;" aria-label="...">
                                                    <span class="fileicon"><span class="glyphicon glyphicon-picture table_icon_pic"></span></span>
                                                    <span class="filename">첨부파일_1.jpg</span>
                                                    <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;">38.56KB</div>
                                                </div>

                                                <div class="files_row">
                                                    <input type="checkbox" style="vertical-align: top;" aria-label="...">
                                                    <span class="fileicon"><span class="glyphicon glyphicon-picture table_icon_pic"></span></span>
                                                    <span class="filename">첨부파일_1.jpg</span>
                                                    <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;">38.56KB</div>
                                                </div>

                                                <div class="files_row">
                                                    <input type="checkbox" style="vertical-align: top;" aria-label="...">
                                                    <span class="fileicon"><span class="glyphicon glyphicon-picture table_icon_pic"></span></span>
                                                    <span class="filename">첨부파일_1.jpg</span>
                                                    <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;">38.56KB</div>
                                                </div>

                                            </div>
                                        </div><!-- /.col-xs-4 -->

                                        <div class="col-xs-2" style="padding:0 0 0 4px;">
                                            <button class="dagbox_btn selectall"><span class="glyphicon glyphicon-ok"></span> 전체선택</button>
                                            <button class="dagbox_btn add"><span class="glyphicon glyphicon-circle-arrow-right"></span> 본문추가</button>
                                            <button class="dagbox_btn delete"><span class="glyphicon glyphicon-remove"></span> 선택삭제</button>
                                        </div><!-- /.col-xs-2 -->

                                    </div><!-- /.row -->
                                    <!-- /file drag-in Box -->

                                </div> <!-- /.peopleboard_edit_topwrap -->

                                <!-- Ediotr Box -->
                                <div class="row people_editor_wrap">
                                    <div class="col-xs-12 people_editor">
                                        <!--에디터 넣을자리 <br/>-->
                                        <!--- (글꼴, 글색, 글크기(12,14,16,18pt)/  <br/>-->
                                        <!--- 본문 정렬   <br/>-->
                                        <!--- 굵게,기울기,취소,밑줄  <br/>-->
                                        <!--- HTML-->
                                        <div style="border:1px solid #DEDEDE; width:100%; float:left;">
                                            <div>
                                                <textarea id="editor1" ng-model="item.BODY" ckeditor="editorOptions" disabled="{{scope.isDisabled}}"></textarea>
                                            </div>
                                        </div>
                                    </div><!-- /.people_editor -->
                                </div><!-- /.row -->
                                <!-- /Ediotr  Box -->

                                <!-- Option-->
                                <div class="row">
                                    <div class="col-xs-12">

                                        <div class="peopleboard_options">
                                            <input type="checkbox" style="vertical-align: top;" id="checkall" name="checkall"/> <!--checked-->
                                            <span class="filename">전체 공개</span>
                                        </div>

                                        <div class="peopleboard_options">
                                            <input type="checkbox" name="check" id="check_reply" ng-model="item.REPLY_FL" style="vertical-align: top;"/>
                                            <span class="filename">댓글 허용</span>
                                        </div>

                                        <div class="peopleboard_options">
                                            <input type="checkbox" name="check" id="check_scrap" ng-model="item.SCRAP_FL" style="vertical-align: top;"/>
                                            <span class="filename">스크랩 허용</span>
                                        </div>


                                        <!--
                                        <div class="peopleboard_management" style="float:right;display:block;" >  관리기능 - 관리자 및 방장에게만 보임
                                            <div class="peopleboard_options">
                                                <input ng-model="item.NOTICE_FL" type="checkbox" style="vertical-align: top;" />
                                                <span class="filename">공지글</span>
                                            </div>

                                            <div class="peopleboard_options">
                                                <input type="checkbox" style="vertical-align: top;" />
                                                <span class="filename table_gray">블라인드 처리</span>
                                            </div>
                                        </div>
                                        -->

                                    </div><!-- /.people_editor -->
                                </div><!-- /.row -->
                                <!-- /Option -->

                                <div class="container-fluid people_view_btnwrap">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a class="btn people_btn list" title="목록으로" style="display:block;" ng-click="click_showPeopleBoardList();">리스트</a>
                                        </div>

                                        <div class="col-xs-8">
                                            <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                            <a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>
                                            <a class="btn people_btn submit" title="등록하기" style="display:block;" ng-click="click_savePeopleBoard();">등록</a>
                                            <a class="btn people_btn cancel" title="작성취소" style="display:block;" ng-click="click_showPeopleBoardList();">취소</a>
                                            <a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.people_view_btnwrap -->

                            </div>
                            <!-- /peopleboard_edit -->
                        </div><!-- /.sub_contents_body -->

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- rows -->

        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                <hr style="margin:0 15px 0 15px;" />

                <center>
                    <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
        <div class="row">
            <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
                우측바
            </div>
        </div>
    </div>
</div>
    <!-- /Main Page Layout Set -->

<!-- /Main Page Layout Set -->

<!-- Contents Include -->
<!--<div  ng-controller="board-edit">-->

    <!--&lt;!&ndash; mainbar &ndash;&gt;-->
    <!--<div class="mainbar sub-slide0">-->
        <!--<div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">-->

    <!--<div ng-model="item" class="row form_basic_wrap">-->
        <!--<form role="form" name="edit_form" class="form-horizontal form_basic_100">-->
<!--&lt;!&ndash;            <div class= "form-group form_basic_group">-->
                <!--<label class= "form_basic_label">공지사항 여부</label>-->
                <!--<div class="form_basic_input">-->
                    <!--<input ng-model="item.NOTICE_FL" type="checkbox" ng-checked="item.NOTICE_FL" ng-disabled="role != 'CMS_ADMIN' && role != 'MANAGER'">-->
                <!--</div>-->
            <!--</div>&ndash;&gt;-->
            <!--<input ng-model="item.NOTICE_FL" type="hidden" value="false">-->

            <!--<div class= "form-group form_basic_group">-->
                <!--<label class= "form_basic_label">제목</label>-->
                <!--<div class="col-xs-6 form_basic_input">-->
                    <!--<input ng-model="item.SUBJECT" type= "text" class= "form-control" placeholder= "제목"/>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group form_basic_group" style="margin:0px auto;">-->
                <!--<H5 style="line-height:18px; margin:0;">-->
                    <!--<span class="glyphicon glyphicon-pencil" style="color:#2486ED;"></span> <span class="label label-default">편집기</span>를 이용하여 작성합니다.-->
                <!--</H5>-->
            <!--</div>-->
            <!--<div style="border:1px solid #DEDEDE; width:100%; float:left;">-->
                <!--<div>-->
                    <!--<textarea id="editor1" ng-model="item.BODY" ckeditor="editorOptions" disabled="{{scope.isDisabled}}"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <!--&lt;!&ndash;<img id="dropzone" src="http://localhost/serverscript/upload/../../upload/files/medium/Koala%20%285%29.jpg" />&ndash;&gt;-->
        <!--&lt;!&ndash;<div class= "form-group" id="dropzone" style="width:100%; height:100px; background-color: #f5f5f5; border: 1px solid #ddd transparent; text-align: center; font-weight: bold;">&ndash;&gt;-->
        <!--&lt;!&ndash;이미지를 여기에 드래그 앤 드롭하여 등록할 수 있습니다.<br />&ndash;&gt;-->
        <!--&lt;!&ndash;(gif, jpg, png만 등록 가능)&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class= "form-group form_basic_group" style="float:left;">-->
            <!--<div class= "form-group form_basic_group" style="float:left;">-->
                <!--<H5 style="line-height:8px; margin:0;">-->
                    <!--<span class="glyphicon glyphicon-floppy-disk" style="color:#2486ED;"></span> 파일첨부-->
                <!--</H5>-->
                <!--<div ng-include=" '/partials/ange/com/file-list.html' " style="margin-top:20px; width:100%; float:left;"></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; 하단 버튼 &ndash;&gt;-->
        <!--<div class="col-xs-12 row" style="float:left; margin:0px auto; margin-bottom:60px; ">-->
            <!--<div class= "col-xs-6 form-group form_basic" style="text-align:left;">-->
                <!--<button class="btn btn-success btn-xs fileinput-button" ng-click="click_showPeopleBoardList();" >-->
                    <!--<i class="glyphicon glyphicon-list"></i>-->
                    <!--<span>목록</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class= "col-xs-6 form-group form_basic" style="text-align:right;">-->
                <!--<button type="button" class="btn btn-primary btn-xs start" ng-click="click_savePeopleBoard();" ng-disabled="edit_form.$invalid">-->
                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                    <!--<span>저장</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
        <!--</div>-->
<!--</div>-->
<!-- ////Contents Include -->