<div ng-controller="board-view">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a></h3>
                            </div>
                        </div><!-- /.sub_contents_wrap -->

                        <div ng-model="item" class="sub_contents_body">

                            <!-- peopleboard_view -->
                            <div class="people_view_wrap">

                                <div class="container-fluid peopleboard_view_topwrap">


                                    <div class="row peopleboard_view_basicinfo">
                                        <div class="col-xs-2 board_basicinfo_label">
                                            제목
                                        </div><!-- /.col-xs-2-->
                                        <div class="col-xs-10  board_basicinfo_subject">
                                            <span class="glyphicon glyphicon-lock table_icon_lock"></span>
                                            {{item.SUBJECT}}
                                            <span class="table_icon_new">N</span>
                                            <span class="glyphicon glyphicon-picture table_icon_pic"></span>
                                            <span class="glyphicon glyphicon-paperclip table_icon_clip"></span>
                                        </div><!-- /.col-xs-10-->
                                    </div><!-- /.row -->


                                    <div class="row peopleboard_view_basicinfo">
                                        <div class="col-xs-2  board_basicinfo_label">
                                            작성자
                                        </div><!-- /.col-xs-2-->
                                        <div class="col-xs-4 board_basicinfo_subject">
                                            {{item.NICK_NM}}
                                        </div><!-- /.col-xs-4-->
                                        <div class="col-xs-1  board_basicinfo_label">
                                            작성일
                                        </div><!-- /.col-xs-2-->
                                        <div class="col-xs-5 board_basicinfo_subject date">
                                            {{item.REG_DT}}
                                        </div><!-- /.col-xs-4-->
                                    </div><!-- /.row -->


                                    <div style="float:left; padding:3px; font-size:0.80em;">
                                        <div style="display:inline; bottom:8px; right:0;">
                                            <span class="feed_count countlike_color table_gray">{{item.LIKE_CNT}}</span>		<!-- 공감수 -->
                                            <span class="feed_count countreply_color table_gray">{{item.REPLY_COUNT}}</span>	<!-- 댓글수 -->
                                        </div>

                                        <!--<div class="people_share" style="float:right; line-height:20px; vertical-align:top;">-->
                                            <button class="people_sharebtn redbtn" title="이 글에 공감하면 클릭" ng-click="click_likeCntAdd(item);"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>공 감</button>
                                            <button ng-show="item.SCRAP_FL == 'Y'" class="people_sharebtn redbtn" ng-click="click_scrapAdd(item);" title="이 글을 모아두려면 클릭"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>스크랩</button>
                                            <button class="people_sharebtn blackbtn" title="이 글을 인쇄하려면 클릭"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>프린트</button>
                                        <!--</div>-->
                                    </div>

                                </div><!-- /.container -->


                                <div class="container-fluid peopleboard_view_contentwrap">
                                    <div class="row">
                                        <div class="col-xs-12 peopleboard_view_contentbody">

                                            <!-- Editor CSS 적용 -->
                                            <div ng-bind-html="item.BODY" style="margin:0px auto; padding:50px;"></div>

                                            <!--<p>산부인과와 산후조리원에 관한 앙쥬폴 떳네요.</p>-->
                                            <!--<p>얼른하고왔어요</p>-->
                                            <!--<p>참여인수가 3명이니..</p>-->
                                            <!--<p>이제 올라온지 얼마 안되서 그런가봐여</p>-->
                                            <!--<p>얼른하시고 마일리지 적립받으세요.ㅎㅎ</p>-->
                                            <!--<p>아아..좀만 더더 노력하면 앞자리 숫자 바뀔듯한데</p>-->
                                            <!--<p>힘드네요....</p>-->
                                            <!--<p>&nbsp;</p>-->
                                            <!--<p>아아 앙플이 전같지 않고</p>-->
                                            <!--<p>또 말일 다가오니 다들 주춤모드 같고</p>-->
                                            <!--<p>확실히 글도 많지 않고</p>-->
                                            <!--<p>그리고 앙플기간인데도 불구하고 랭킹이 떨어졌다는 것도 참....</p>-->

                                            <!-- Editor CSS 적용 -->

                                        </div><!-- /.col-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->


                                <div class="container-fluid people_view_btnwrap">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a class="btn people_btn list" title="목록으로" style="display:block;" ng-click="click_showPeopleBoardList();">리스트</a>
                                        </div>

                                        <div class="col-xs-8">
                                            <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                            <a class="btn people_btn confirm" title="확인" style="display:block;" ng-click="click_showPeopleBoardList();">확인</a>
                                            <a class="btn people_btn submit" title="등록하기" style="display:none;">등록</a>
                                            <a class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                            <a class="btn people_btn modify" title="수정하기" style="display:block;" ng-click="click_showPeopleBoardEdit(item);">수정</a>
                                            <a class="btn people_btn cancel" title="작성취소" style="display:block;" ng-click="click_showPeopleBoardDelete(item);">삭제</a>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.container -->

                                <div class="container-fluid peopleboard_view_otherswrap">

                                    <div class="row peopleboard_view_others">
                                        <div class="col-xs-2 board_basicinfo_label">
                                            <span class="glyphicon glyphicon-chevron-up"></span> 이전글
                                        </div><!-- /.col-xs-2-->
                                        <div data-ng-show="preBoardView != ''" class="col-xs-10  board_basicinfo_subject">
                                            <a data-ng-click="click_showViewPeopleBoard(preBoardView.NO)">{{preBoardView.SUBJECT}}</a>
                                        </div><!-- /.col-xs-10-->
                                        <div data-ng-show="preBoardView == false" class="col-xs-10  board_basicinfo_subject">
                                            이전 글이 없습니다
                                        </div><!-- /.col-xs-10-->
                                    </div><!-- /.row -->

                                    <div class="row peopleboard_view_others">
                                        <div class="col-xs-2  board_basicinfo_label">
                                            <span class="glyphicon glyphicon-chevron-down"></span> 다음글
                                        </div><!-- /.col-xs-2-->
                                        <div data-ng-show="nextBoardView != ''" class="col-xs-10 board_basicinfo_subject">
                                            <a data-ng-click="click_showViewPeopleBoard(nextBoardView.NO)">{{nextBoardView.SUBJECT}}</a>
                                        </div><!-- /.col-xs-10-->
                                        <div data-ng-show="nextBoardView == false || nextBoardView == '' || nextBoardView == null" class="col-xs-10 board_basicinfo_subject">
                                            다음 글이 없습니다
                                        </div><!-- /.col-xs-10-->
                                    </div><!-- /.row -->

                                </div><!-- /.container -->

                                <div ng-show="item.REPLY_FL == 'Y'">
                                    <div class="container-fluid peopleboard_view_commentwrap">
                                        <div class="row peopleboard_view_commenttop">
                                            <div class="col-xs-12 peopleboard_view_commenttitle">
                                                <span class="people_small_title" style="font-size:1.32em; font-weight: bold; ">의견쓰기</span>
                                                <small style="color:#868686;">타인비방, 모욕, 개인정보 노출, 상업광고, 홍보글 등은 공지없이 바로 삭제</small>
                                            </div><!-- /.col-xs-12-->
                                        </div><!-- /.row -->

                                        <div class="row peopleboard_view_commentbox">
                                            <div class="col-xs-10 peopleboard_view_text">
                                                <textarea ng-model="item.COMMENT" class="form-control" rows="4"></textarea>
                                            </div><!-- /.col-xs-10-->
                                            <div class="col-xs-2 peopleboard_view_btns">

                                                <span>(500자 이내)</span>
                                                <a class="reply_submit" ng-click="click_savePeopleBoardComment();">댓글등록</a>

                                            </div><!-- /.col-xs-2-->
                                        </div><!-- /.row -->
                                    </div><!-- /.container -->


                                    <div class="container-fluid people_view_replywrap" >
                                        <div class="row">

                                            <div class="col-xs-12 people_view_replytop">
                                                <a class="reply_sort idx" title="등록순으로 정렬"></a>
                                                <a class="reply_sort date selected" title="최신글 순으로 정렬"></a> <!-- 선택되어 있을 경우 class에 selected 추가 -->
                                            </div><!-- /.col-xs-12-->



                                            <div class="col-xs-12 people_view_replys" ng-repeat="item in replyList">
                                                <dl class="dl-horizontal" >
                                                    <dt>{{item.NICK_NM}}</dt>
                                                    <dd><div class="people_view_replys_date">{{item.REG_DT}}</div></dd>
                                                    <dd style="margin:0px;">
                                                        {{item.COMMENT}}
                                                        <p style="font-size:0.86em; margin:4px 0 0 0; ">
                                                            <a ng-click="showDetails = ! showDetails"><span style="color: #df5348">({{item.RE_COUNT}})</span> 댓글</a>
                                                            &nbsp; | &nbsp;<a href="#">신고</a>
                                                            &nbsp; | &nbsp;<a href="#" class="table_red">블라인드</a> <!-- 관리자 또는 방장에게만 보여집니다. -->
                                                        </p>
                                                    </dd>
                                                </dl>

                                                <div class="reply_child"  ng-class="{ 'hidden': ! showDetails }"> <!--ng-class="{ 'hidden': ! showDetails }"-->
                                                    <dl ng-repeat="reItem in item.REPLY_COMMENT">
                                                        <dt>
                                                            <span>└&nbsp;</span>{{reItem.NICK_NM}}
                                                            <small>
                                                                <div class="smalldate">
                                                                    {{reItem.REG_DT}}
                                                                    <a href="#">신고</a>
                                                                    <a href="#" class="table_red">블라인드</a> <!-- 관리자 또는 방장에게만 보여집니다. -->
                                                                </div>
                                                            </small>
                                                        </dt>
                                                        <dd>{{reItem.COMMENT}}</dd>
                                                    </dl>
    <!--                                                <dl>
                                                        <dt>
                                                            <span>└&nbsp;</span>가은엄마
                                                            <small>
                                                                <div class="smalldate">
                                                                    2014-10-10 15:05
                                                                    <a href="#">신고</a>
                                                                    <a href="#" class="table_red">블라인드</a> &lt;!&ndash; 관리자 또는 방장에게만 보여집니다. &ndash;&gt;
                                                                </div>
                                                            </small>
                                                        </dt>
                                                        <dd>아자아자 님하도 퐈이팅입니다.</dd>
                                                    </dl>-->
    <!--
                                                    <dl>
                                                        <dt>
                                                            <span>└&nbsp;</span>가은엄마
                                                            <small>
                                                                <div class="smalldate">
                                                                    2014-10-10 15:05
                                                                    <a href="#">신고</a>
                                                                    <a href="#" class="table_red">블라인드</a> &lt;!&ndash; 관리자 또는 방장에게만 보여집니다. &ndash;&gt;
                                                                </div>
                                                            </small>
                                                        </dt>
                                                        <dd><span class="reply_warning">신고가 접수되어 블라인드 처리되었습니다. <a href="#">[내용보기]</a></span></dd>
                                                    </dl>
    -->
                                                    <center>
                                                        <form class="form-inline reply_child_group" ng-model="reply">
                                                            <div class="form-group">
                                                                <p class="form-control-static table_blue">답글</p>
                                                            </div>
                                                            <div class="form-group reply_form">
                                                                <input type="hidden" name="parent_no" ng-model="reply.PARENT_NO" id="parent_no" value="{{item.NO}}"/>
                                                                <input type="hidden" ng-model="reply.LEVEL" id="level" value="{{item.LEVEL}}"/>
                                                                <input type="hidden" ng-model="reply.REPLY_NO" id="reply_no"   value="{{item.REPLY_NO}}"/>
                                                                <input type="text" ng-model="reply.COMMENT" class="form-control" style="width:100%;">
                                                            </div>
                                                            <button type="button" class="btn btn-default" ng-click="click_savePeopleBoardReComment(item);">등록</button>
                                                        </form>
                                                    </center>
                                                </div><!-- /.reply_child -->
                                            </div><!-- /.people_view_replys-->

                                            <div class="col-xs-12 people_view_replys" data-ng-show="replyList == ''">
                                                <dl class="dl-horizontal" >
                                                    <dt></dt>
                                                    <dd><div class="people_view_replys_date"></div></dd>
                                                    <dd style="margin:0px;">
                                                        댓글이 없습니다.
                                                    </dd>
                                                </dl>
                                            </div>

                                        </div><!-- /.row -->
                                    </div><!-- /.container -->
                                </div>
                            </div>
                            <!-- /peopleboard_view -->

                        </div>
                        <!-- /peopleboard_edit -->
                    </div><!-- /.sub_contents_body -->

                    <div class="sub_contents_ads" style="display:none;">
                        <div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- rows -->

    </div><!-- container-fluid -->

    <!-- 1200px 이하일 경우 표시되는 footer -->
    <div class="copyright_foot">
        <br /><br />
        <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

            <hr style="margin:0 15px 0 15px;" />

            <center>
                <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
            </center>
        </nav>
    </div>
    <!-- /1200px 이하일 경우 표시되는 footer -->

</div>

<div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
    <div class="row">
        <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
            우측바
        </div>
    </div>
</div>
<!-- /Main Page Layout Set -->


