<div ng-controller="peoplediscusstitle-list" class="ng_wrap">
<!-- mainbar -->
<div class="mainbar sub-slide0">
<div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


<div class="row">

    <div class="col-xs-12 v-cell-3">
        <div class="comp_basic h-cell-dynamic">

            <div class="sub_contents_wrap">

                <div class="sub_contents_title">
                    <span class="sub_contents_bullet"></span>
                    <h3 style="font-weight:bold;">{{community}} <a class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a></h3> <!-- href="#"  -->
                </div>

                <div class="container-fluid sub_contents_search">
                    <div class="row">
                        <div class="col-xs-12" style="padding:0">

                            <div class="btn-group" style="float:left;">
                                <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control input-sm" placeholder="검색선택"></select>
                            </div><!-- /btn-group -->

                            <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0"  class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                    <button class="btn btn-default"  type="button" ><span class="glyphicon glyphicon-search"></span></button>
                                </span>

                            </div>

                        </div><!-- /.col-xs-12-->
                    </div><!-- /.row -->
                </div><!-- /.container -->

            </div><!-- /.sub_contents_wrap -->


            <div class="sub_contents_body">

                <table id="comp_board_table" class="table table-hover">

                    <thead>
                    <tr class="board_thead normaltype" height="48">
                        <td width="9%" align="center"><span class="board_th">번호</span></td>
                        <td width="60" align="center"><span class="board_th">상태</span></td>
                        <td align="center"><span class="board_th">제목</span></td>
                        <td width="200" align="center"><span class="board_th">기간</span></td>
                    </tr>
                    </thead>

                    <tbody class="on" ng-repeat="item in list">

                    <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                        <td class="table_no normaltype">
                            <span>{{item.BOARD_NO}}</span>
                        </td>
                        <td class="normaltype">
                            <!--<span ng-show="item.ETC1 <= todayDate && todayDate <= item.ETC2" class="table_red">진행중</span> &lt;!&ndash; 'table_gray' &ndash;&gt;-->
                            <!--<span ng-show="item.ETC2 < todayDate" class="table_gray">완료</span> &lt;!&ndash; 'table_gray' &ndash;&gt;-->
                            <!--<span ng-show="todayDate < item.ETC1 && todayDate < item.ETC2" class="table_gray">준비</span> &lt;!&ndash; 'table_gray'  && item.ada_date_close > todayDate &ndash;&gt;-->
                            <img ng-show="item.ETC1 <= todayDate && todayDate <= item.ETC2" src="/imgs/ange/goBtn_.jpg">
                            <img ng-show="item.ETC2 < todayDate" src="/imgs/ange/endBtn_.jpg">
                            <img ng-show="todayDate < item.ETC1 && todayDate < item.ETC2"  src="/imgs/ange/waitBtn_.jpg">
                        </td>
                        <td class="normaltype">
                            <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                            <span>{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                            <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                        </td>
                        <td class="table_date normaltype">{{item.ETC1}} ~ {{item.ETC2}}</td>
                    </tr>

                    <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                        <!---- 모바일 TD ------>
                        <td class="table_no mobiletype" style="width: 10% !important;">
                            <span >{{item.BOARD_NO}}</span>
                        </td>

                        <td class="mobiletype" colspan="1" style="width: 90% !important;">
                            <div>
                                <div style="width:100%; white-space: inherit; overflow: hidden; text-overflow: ellipsis; font-size:1.12em;" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">
                                    {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                                    <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                                    <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                                    <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>-->
                                </div>
                            </div>

                            <div style="display:inline-block;">
                                <img ng-show="item.ETC1 <= todayDate && todayDate <= item.ETC2" src="/imgs/ange/goBtn_.jpg">
                                <img ng-show="item.ETC2 < todayDate" src="/imgs/ange/endBtn_.jpg">
                                <img ng-show="todayDate < item.ETC1 && todayDate < item.ETC2"  src="/imgs/ange/waitBtn_.jpg">
                            </div>

                            <div ng-if="menu.COMM_NO != 8 || role == 'ANGE_ADMIN'" class="table_blue" ng-bind-html="item.NICK_NM" style="font-size:0.78em; color:#868686; margin-top:10px;"></div>
                            <div class="table_date" style="font-size:0.78em; color:#868686;">{{item.ETC1}} ~ {{item.ETC2}}</div>
                        </td>

                    </tr>

                    </tbody>

                    <tbody class="on" data-ng-show="list == '' || list == null">

                    <tr>
                        <td colspan="4" style="text-align: center">조회 데이터가 없습니다.</td>
                    </tr>

                    </tbody>
                </table><!-- /.List-->

                <div class="container-fluid people_view_btnwrap">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="people_btn list" title="목록으로" style="display:none;">리스트</a>
                            <a class="people_btn register" title="등록하기" ng-show="role == 'ANGE_ADMIN'" ng-click="click_showCreatePeopleBoard();">등록</a>
                            <a class="people_btn comment" title="의견쓰기" style="display:none;">의견쓰기</a>
                        </div>

                        <div class="col-xs-6">
                            <a class="people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                            <a class="people_btn submit" title="완료" style="display:none;">완료</a>
                            <a class="people_btn confirm" title="확인" style="display:none;">확인</a>
                            <a class="people_btn cancel" title="작성취소" style="display:none;">취소</a>
                            <a class="people_btn modify" title="수정" style="display:none;">수정</a>
                            <a class="people_btn delete" title="삭제" style="display:none;">삭제</a>
                        </div>
                    </div><!-- /.row -->

                    <!--<div class="row">-->
                        <!--<div class="col-xs-4">-->
                            <!--<a class="btn people_btn list" title="목록으로" style="display:none;">리스트</a>-->
                            <!--<a class="btn people_btn submit" title="등록하기" ng-show="role == 'ANGE_ADMIN'" ng-click="click_showCreatePeopleBoard();">등록</a>-->
                        <!--</div>-->

                        <!--<div class="col-xs-8">-->
                            <!--<a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		&lt;!&ndash;  모든 항목을 선택하고 작성이 완료되면 disable 제거 &ndash;&gt;-->
                            <!--<a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>-->
                            <!--<a class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>-->
                            <!--<a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                </div><!-- /.container -->

                <nav class="text-center normaltype">
                    <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm"  ng-change="pageChanged()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </nav><!-- /.Paging-->
                <!-- /peoplepoll_list -->

                <nav class="text-center mobiletype" style="position:relative;">
                    <pager total-items="TOTAL_COUNT" ng-change="pageChanged()" items-per-page="25" ng-model="PAGE_NO"></pager>
                    <div style="font-family:Arial, sans-serif; font-size: 0.92em; position:absolute; top:6px; left:50%; margin-left:-18px; color:#888;">
                        <span class="table_blue">{{PAGE_NO}}</span> / {{TOTAL_PAGES}}
                    </div>
                </nav>

            </div><!-- /.sub_contents_body -->

            <!-- 등록 -->


            <!--<div ng-show="uid != '' && uid != null" ng-click="test()">세션이 있을때만 보입니다.</div>
            <div ng-show="uid == '' || uid == null" ng-click="test()">세션이 없을때 보입니다.</div>   -->

            <div class="sub_contents_ads" style="display:none;">
                <div>
                </div>
            </div>

        </div>
    </div>

</div> <!-- rows -->


</div><!-- container-fluid -->

</div>

<div class="subar sub-slide1">
    <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

    <!-- 1200px 이하일 경우 표시되는 footer -->
    <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
    <!-- /1200px 이하일 경우 표시되는 footer -->
</div>

<!-- /Main Page Layout Set -->
</div>