<div ng-controller="peoplediscuss-list" class="ng_wrap">
<!-- mainbar -->
<div class="mainbar sub-slide0">
    <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


        <div class="row">

            <div class="col-xs-12 v-cell-3">
                <div class="comp_basic h-cell-dynamic">

                    <div class="sub_contents_wrap">

                        <div class="sub_contents_title">
                            <span class="sub_contents_bullet"></span>
                            <h3 style="font-weight:bold;">{{community}} <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a></h3>
                        </div>
                    </div><!-- /.sub_contents_wrap -->

                    <div ng-model="item" class="sub_contents_body">

                        <!-- peopleboard_view -->
                        <div class="people_view_wrap">

                            <!--<div class="container-fluid peopleboard_view_topwrap">-->

                            <div class="container-fluid peopleboard_discuss_topwrap">
                                <div style="width:100%; text-align:right;">
                                <img class="peopleboard_discuss_title" src="/imgs/ange/online_img2.png" />
                                </div>

                                <div class="peopleboard_discuss_subject" style="font-size: 1.28em; font-weight: 600; line-height: 24px;">
                                    <span ng-show="item.ETC1 <= todayDate && todayDate <= item.ETC2" class="table_red">[진행중]</span> <!-- 'table_gray' -->
                                    <span ng-show="item.ETC2 < todayDate" class="table_gray">[완료]</span> <!-- 'table_gray' -->
                                    <span ng-show="todayDate < item.ETC1 && todayDate < item.ETC2" class="table_gray">[준비]</span>

                                    {{item.SUBJECT}}<!--<span ng-show="item.BOARD_ST != 'D'">{{item.SUBJECT}}</span>-->
                                </div>

                                <!--<div class="row peopleboard_view_basicinfo">-->
                                    <!--<div class="col-xs-2 board_basicinfo_label">-->
                                        <!--제목-->
                                    <!--</div>&lt;!&ndash; /.col-xs-2&ndash;&gt;-->
                                    <!--<div class="col-xs-10  board_basicinfo_subject">-->
                                        <!--<span ng-show="item.ETC1 <= todayDate && todayDate <= item.ETC2" class="table_red">[진행중]</span> &lt;!&ndash; 'table_gray' &ndash;&gt;-->
                                        <!--<span ng-show="item.ETC2 < todayDate" class="table_gray">[완료]</span> &lt;!&ndash; 'table_gray' &ndash;&gt;-->
                                        <!--<span ng-show="todayDate < item.ETC1 && todayDate < item.ETC2" class="table_gray">[준비]</span>-->
                                        <!--&nbsp;&nbsp;-->
                                        <!--{{item.SUBJECT}}&lt;!&ndash;<span ng-show="item.BOARD_ST != 'D'">{{item.SUBJECT}}</span>&ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; /.col-xs-10&ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

                                <div class="container-fluid peopleboard_view_contentwrap">
                                    <div class="row">
                                        <div ng-bind-html="item.BODY" style="font-size:1.08em; line-height:22px; color:#565656; margin-top:12px; padding:5px;"></div>
                                        <!-- /.col-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->

                            </div><!-- /.container -->


                            <!--<div class="container-fluid peopleboard_view_contentwrap">-->
                                <!--<div class="row">-->
                                    <!--<div ng-bind-html="item.BODY" style="margin:0px auto; padding:25px 10px;"></div>-->
                                    <!--&lt;!&ndash; /.col-12&ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->


                            <!--<div class="container-fluid peopleboard_view_otherswrap">-->

                                <!--<div class="row peopleboard_view_others">-->
                                    <!--<div class="col-xs-2 board_basicinfo_label">-->
                                        <!--<span class="glyphicon glyphicon-chevron-up"></span> 이전글-->
                                    <!--</div>&lt;!&ndash; /.col-xs-2&ndash;&gt;-->
                                    <!--<div data-ng-show="preBoardView != ''" class="col-xs-10  board_basicinfo_subject">-->
                                        <!--<a data-ng-click="click_showViewPeopleBoard2(preBoardView.NO)">{{preBoardView.SUBJECT}}</a>-->
                                    <!--</div>&lt;!&ndash; /.col-xs-10&ndash;&gt;-->
                                    <!--<div data-ng-show="preBoardView == false" class="col-xs-10  board_basicinfo_subject">-->
                                        <!--이전 글이 없습니다-->
                                    <!--</div>&lt;!&ndash; /.col-xs-10&ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

                                <!--<div class="row peopleboard_view_others">-->
                                    <!--<div class="col-xs-2  board_basicinfo_label">-->
                                        <!--<span class="glyphicon glyphicon-chevron-down"></span> 다음글-->
                                    <!--</div>&lt;!&ndash; /.col-xs-2&ndash;&gt;-->
                                    <!--<div data-ng-show="nextBoardView != ''" class="col-xs-10 board_basicinfo_subject">-->
                                        <!--<a data-ng-click="click_showViewPeopleBoard2(nextBoardView.NO)">{{nextBoardView.SUBJECT}}</a>-->
                                    <!--</div>&lt;!&ndash; /.col-xs-10&ndash;&gt;-->
                                    <!--<div data-ng-show="nextBoardView == false || nextBoardView == '' || nextBoardView == null" class="col-xs-10 board_basicinfo_subject">-->
                                        <!--다음 글이 없습니다-->
                                    <!--</div>&lt;!&ndash; /.col-xs-10&ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

                            <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->


                        </div>
                        <!-- /peopleboard_view -->

                        <br/><br/><br/>
                        <div class="sub_contents_wrap">
                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

                                        <div class="btn-group" style="float:left;">
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control input-sm" placeholder="검색선택"></select>
                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0"  class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                                <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                                    <button class="btn btn-default"  type="button" ><span class="glyphicon glyphicon-search"></span></button>
                                                </span>

                                        </div>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div>

                        <table id="comp_board_table" class="table table-hover">

                            <thead>
                            <tr class="board_thead" height="48">
                                <td width="9%" align="center"><span class="board_th">번호</span></td>
                                <td align="center"><span class="board_th">제목</span></td>
                                <td ng-if="menu.COMM_NO != 8" width="120" align="center"><span class="board_th">작성자</span></td>
                                <td width="80" align="center"><span class="board_th">작성일</span></td>
                                <td width="60" align="center"><span class="board_th">조회</span></td>
                            </tr>
                            </thead>

                            <tbody class="on" ng-repeat="item in list">

                            <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                <td class="table_no">
                                    {{item.BOARD_NO}}
                                </td>
                                <td>
                                    <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                                    <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">
                                        {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                                    </span>
                                    <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 된 글입니다</span>
                                    <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>

                                    <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                                    <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                    <!--<span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                    <!--<span class="reply_num feed_count countlike_color table_gray" style="line-height:12px; height:14px;">{{item.LIKE_CNT}}</span>-->
                                </td>
                                <td ng-if="menu.COMM_NO != 8" class="table_author"><div ng-bind-html="item.NICK_NM"></div></td> <!-- {{}} -->
                                <td class="table_date">{{item.REG_DT}}</td>
                                <td class="table_hit">{{item.HIT_CNT}}</td></tr>
                            </tr>

                            </tbody>

                            <tbody class="on" data-ng-show="list == '' || list == null">

                            <tr>
                                <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                            </tr>

                            </tbody>
                        </table>

                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-4">
                                    <a class="btn people_btn list" title="목록으로" style="display:block;" ng-click="click_showPeopleBoardList();">리스트</a>
                                    <a class="btn people_btn submit" title="등록하기" ng-click="click_showCreatePeopleBoard();" style="display:block;">등록</a>
                                </div>
                                <!--<div class="col-xs-4" ng-show="uid == item.REG_UID && uid != '' && uid != null && item.BOARD_ST != 'D'">-->
                                    <!--&lt;!&ndash;<a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		&lt;!&ndash;  모든 항목을 선택하고 작성이 완료되면 disable 제거 &ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a class="btn people_btn confirm" title="확인" style="display:block;" ng-click="click_showPeopleBoardList();">확인</a>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a class="btn people_btn cancel" title="작성취소" style="display:none;" ng-click="click_showPeopleBoardList();">취소</a>&ndash;&gt;-->
                                    <!--<a class="btn people_btn modify" title="수정하기" style="display:block; float: left;" ng-click="click_showPeopleBoardEdit(item);">수정</a>-->
                                    <!--&lt;!&ndash;<a class="btn people_btn cancel" title="작성취소" style="display:block;" >삭제</a>&ndash;&gt;-->
                                    <!--<a ng-click="click_showPeopleBoardDelete(item);" style="display:block;">삭제</a>-->
                                <!--</div>-->
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                    </div>
                    <!-- /peopleboard_edit -->
                </div><!-- /.sub_contents_body -->

                <div class="sub_contents_ads" style="display:none;">
                    <div>
                    </div>
                </div>

            </div>
        </div>

    </div> <!-- rows -->

</div><!-- container-fluid -->


<div class="subar sub-slide1">
    <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

    <!-- 1200px 이하일 경우 표시되는 footer -->
    <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
    <!-- /1200px 이하일 경우 표시되는 footer -->
</div>
<!-- /Main Page Layout Set -->
</div>

