<div data-ng-controller="peoplepoll-edit">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">앙쥬 POLL</h3>
                            </div>

                        </div><!-- /.sub_contents_wrap -->

                        <form>
                        <div class="sub_contents_body">

                            <!-- peoplepoll_view -->
                            <div class="people_view_wrap" ng-model="answer">


                                <div class="container-fluid peoplepoll_view_top" style="height:45px;">
                                    <div class="row">

                                        <div class="col-xs-9 peoplepoll_view_comment">

                                            <span style="line-height: 24px; ">설문 참여하고 마일리지 받자!! 많은 참여 바랍니다.</span> <br />
                                            <span class="table_red">설문기간 : {{item.START_YMD}} ~ {{item.END_YMD}}</span>

                                        </div><!-- /.col-xs-9-->

                                        <div class="col-xs-3 peoplepoll_view_btn" style="padding:0;">

                                            <div style="float:right; width:120px; height:45px; margin:0px; padding:0px; text-align:right;">
                                                <button type="button" class="btn btn-xs btn-info" style="margin:18px 5px 0 0;" ng-click="showPollView = ! showPollView"><span class="glyphicon glyphicon glyphicon-check"></span> 설문결과</button>
                                                <!--<button type="button" class="btn btn-xs btn-info" style="margin:18px 5px 0 0;" ng-click="showPoll = ! showPoll"><span class="glyphicon glyphicon glyphicon-check"></span> 설문조사</button>-->
                                            </div>

                                        </div><!-- /.col-xs-3-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->


                                <div class="container-fluid peoplepoll_view_contentwrap">

                                    <div class="row">

                                        <div class="col-xs-12 peoplepoll_view_contenttop">

                                            <div style="position:absolute; top:-1px; left:-1px;"><img src="/imgs/ange/peoplepoll_bg_now.jpg" /></div>
                                            <!-- div style="position:absolute; top:-1px; left:-1px;"><img src="/imgs/ange/peoplepoll_bg_end.jpg" /></div -->		<!-- peoplepoll_bg_now: 진행 중, peoplepoll_bg_end: 완료된 설문 -->

                                            <div style="position:absolute; top:-4px; right:-3px;"><img src="/imgs/ange/peoplepoll_bg_righttop.jpg" /></div>

                                            <div class="peoplepoll_view_title">
                                                    <span class="peoplepoll_view_title_qt">
                                                        <span class="icon_qt_left"></span>
                                                        <span style="font-weight:bold">{{item.SUBJECT}}</span>
                                                        <span class="icon_qt_right"></span>
                                                    </span>
                                            </div>
                                        </div><!-- /.col-01-->

                                        <div class="col-xs-12 peoplepoll_view_contentbody" ng-class="{ 'hidden':  !showPollView }">
                                            <div class="peoplepoll_view_content"  > <!--ng-if="queue.length=2"--> <!--data-ng-repeat="query in queue" ng-show="true"-->
                                                    <!--<div class="radio-inline" ng-repeat="select in query.SELECT" >-->
                                                    <!--<input ng-model="select.SELECT" type= "radio" ng-value="select.SELECT_SORT" /> {{select.NOTE}}-->
                                                    <!--</div>-->

                                                <dl data-ng-repeat="query in queue" ng-init="firstIndex=$index" ng-show="firstIndex == page || firstIndex+1 == page "><!--ng-show="$index < page || $index+2 ==page"-->
                                                    <!--{{firstIndex}}-->
                                                    <dt>{{query.QUERY}}</dt>
                                                    <dd ng-if="query.QUERY_GB == 'S'">
                                                        <div class="radio-inline">
                                                            <label>
                                                                <input ng-model="query.SELECT_SHORT_ANSWER" type="input" style="width: 250px;"/>
                                                                &nbsp;&nbsp;&nbsp;
                                                                <!--<span ng-show="" class="table_blue">{{select.POLL_CNT > 0 ? select.POLL_CNT : ''}}</span>-->
                                                            </label>
                                                        </div>
                                                    </dd>
                                                    <dd ng-if="query.QUERY_GB == 'M'" data-ng-repeat="select in query.SELECT">
                                                        <div class="radio-inline">
                                                            <label>
                                                                <input ng-model="query.SELECT_ANSWER" type="radio" name="q2_{{select.QUERY_NO}}" id="select_sort" ng-value="select"/>{{select.NOTE}}
                                                                &nbsp;&nbsp;&nbsp;
                                                                <input ng-if="select.NOTE == '기타'" ng-model="query.SELECT_SHORT_ANSWER" type="input"/>
                                                                <!--<span ng-show="" class="table_blue">{{select.POLL_CNT > 0 ? select.POLL_CNT : ''}}</span>-->
                                                            </label>
                                                        </div>
                                                    </dd>

                                                </dl>


                                                <!--<div>-->
                                                    <!--<canvas tc-chartjs-pie chart-options="options" chart-data="data" auto-legend></canvas>-->
                                                <!--</div>-->
                                            </div>

                                            <div class="peoplepoll_view_paging">
                                                <button type="button" class="btn btn-default btn-xs" ng-disabled="nextclick" style="position:absolute; bottom:4px; left:35%;" ng-click="pre_click();"><span class="glyphicon glyphicon-step-backward"></span></button>  <!--ng-click="pre_click();"-->
                                                <!--<center><span class="table_red">{{page}}</span>/3</center>-->
                                                <center><span class="table_red">{{currentPage+1}}</span>/{{lastPage}}</center>
                                                <button type="button" class="btn btn-default btn-xs" ng-disabled="preclick"  style="position:absolute; bottom:4px; right:35%;" ng-click="next_click();"><span class="glyphicon glyphicon-step-forward"></span></button> <!--ng-disabled="!last"-->
                                            </div>
                                        </div><!-- /.col-02-->


                                        <div class="col-xs-12 peoplepoll_view_contentbody" ng-class="{ 'hidden': ! showPollView }">

                                            <div class="peoplepoll_view_content"> <!--ng-if="queue.length=2"--> <!--data-ng-repeat="query in queue" ng-show="true"-->
                                                <!--<div class="radio-inline" ng-repeat="select in query.SELECT" >-->
                                                <!--<input ng-model="select.SELECT" type= "radio" ng-value="select.SELECT_SORT" /> {{select.NOTE}}-->
                                                <!--</div>-->

                                                <dl data-ng-repeat="query in queue" ng-init="firstIndex=$index" ng-show="firstIndex == page || firstIndex+1 == page"><!--  ng-show="firstIndex == page || firstIndex+1 == page" -->
                                                    <!--{{firstIndex}}-->
                                                    <dt>{{query.QUERY}}</dt>
                                                    <dt>
                                                        <div ng-if="query.QUERY_GB == 'M'"style="width: 140px; height: 140px;">
                                                            <canvas id="pie{{$index}}" class="chart chart-pie chart-xs" data="data1" labels="labels1" style="width: 100px; height: 100px;"></canvas>
                                                        </div>
                                                    </dt>
                                                    <dd data-ng-repeat="select in query.SELECT">
                                                        <div class="radio-inline">
                                                            <label>
                                                                <!--<input ng-model="query.SELECT_ANSWER" type="text" name="q2_{{select.QUERY_NO}}" id="select_sort_view" ng-value="select"/>-->{{select.QUERY_SORT}}.&nbsp;&nbsp;{{select.NOTE}}
                                                                &nbsp;&nbsp;&nbsp;
                                                                <span class="table_blue">{{select.POLL_CNT > 0 ? select.POLL_CNT : ''}}</span>

                                                            </label>
                                                        </div>
                                                    </dd>
                                                </dl>


                                                <!--<div ng-if="query.QUERY_GB == 'M'"  data-ng-repeat="query in queue" style="width: 140px; height: 140px;">-->
                                                    <!--<canvas id="pie1" class="chart chart-pie chart-xs" data="data1" labels="labels1" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<div data-ng-repeat="query in queue"  style="width: 100px; height: 100px;">-->
                                                    <!--<canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<div style="width: 100px; height: 100px;">-->
                                                    <!--<canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<div style="width: 100px; height: 100px;">-->
                                                    <!--<canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<div style="width: 100px; height: 100px;">-->
                                                    <!--<canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<div style="width: 100px; height: 100px;">-->
                                                    <!--<canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<div style="width: 100px; height: 100px;">-->
                                                    <!--<canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" style="width: 100px; height: 100px;"></canvas>-->
                                                <!--</div>-->


                                            </div>



                                            <div class="peoplepoll_view_paging">
                                                <button type="button" class="btn btn-default btn-xs"   ng-disabled="nextclick" style="position:absolute; bottom:4px; left:35%;" ng-click="pre_click();"><span class="glyphicon glyphicon-step-backward"></span></button>  <!--ng-click="pre_click();"-->
                                                <!--<center><span class="table_red">{{page}}</span>/3</center>-->
                                                <center><span class="table_red">{{currentPage+1}}</span>/{{lastPage}}</center>
                                                <button type="button"  class="btn btn-default btn-xs"  ng-disabled="preclick" style="position:absolute; bottom:4px; right:35%;" ng-click="next_click();"><span class="glyphicon glyphicon-step-forward"></span></button> <!--ng-disabled="!last"-->
                                            </div>


                                        </div><!-- /.col-02-->

                                        <div class="col-xs-12 peoplepoll_view_bottom">
                                            <div class="poll_count">현재설문자 <span>{{item.POLL_ANSWER_CNT}}</span> 명</div>
                                        </div><!-- /.col-03-->

                                    </div><!-- /.row -->
                                </div><!-- /.container -->


                                <div class="container-fluid peoplepoll_view_btnwrap">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a ng-click="click_showAngePollList();" class="btn people_btn list" title="목록으로" style="display:block;">리스트</a>
                                        </div>

                                        <div class="col-xs-8">
                                            <a class="btn people_btn vote" title="투표하기" style="display:block;" ng-class="{ 'hidden':  showPollView }" ng-click="click_saveAngePoll(item.NO, item.POLL_ST);">투표</a>
                                                <!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                            <a href="#" class="btn people_btn submit" title="등록하기" style="display:none;">등록</a>
                                            <a href="#" class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                            <a href="#" class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.container -->

                            </div>
                            <!-- /peoplepoll_view -->

                        </div><!-- /.sub_contents_body -->
                        </form>
                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                <hr style="margin:0 15px 0 15px;" />

                <center>
                    <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>
    </div>

    <!-- /Main Page Layout Set -->
</div>

<script>
    var pieData = [
        {
            value: 300,
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: "Red"
        },
        {
            value: 50,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Green"
        },
        {
            value: 100,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Yellow"
        },
        {
            value: 40,
            color: "#949FB1",
            highlight: "#A8B3C5",
            label: "Grey"
        },
        {
            value: 120,
            color: "#4D5360",
            highlight: "#616774",
            label: "Dark Grey"
        }
    ];
    window.onload = function(){
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx).Pie(pieData);
    };
</script>