<div ng-controller="peopleboard-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a></h3>
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

<!--                                        <div class="btn-group" style="float:left;">
                                            <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>

                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">제목+내용</a></li>
                                                <li><a href="#">작성자</a></li>
                                            </ul>-->
                                        <div class="btn-group" style="float:left;">
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>
                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0"  class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                            <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                                <button class="btn btn-default"  type="button" ><span class="glyphicon glyphicon-search"></span></button>
                                            </span>

                                        </div>

                                        <!--<div  ng-if="SEARCH_YN == 'Y'" class="input-group input-group-sm" style="width:100px; margin-left: 250px; float:left;">-->
                                            <!--전체검색-->
                                            <!--<span class="input-group-btn" ng-click="click_searchAllPeopleBoard();">-->
                                                <!--<button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>-->
                                            <!--</span>-->
                                        <!--</div>-->

                                        <!-- div style="float:right; width:120px; margin:0px; padding:0px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" />
                                                </span>
                                                <input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />
                                            </div>
                                        </div -->

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <!-- peoplepoll_list -->
                            <!--<table id="comp_board_table" ng-table="tableParams" class="table table-hover">-->

                                <!--<tr header-class="board_thead" ng-repeat="item in $data" ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">-->
                                    <!--<td width="9%" header-class="board_thead board_th text-center" class="table_no" data-title="'번호'">-->
                                        <!--<span ng-class="item.NOTICE_FL == 'Y' ? 'table_blue' : ''">{{item.NOTICE_FL == 'Y' ? '공지' : item.RNUM}}</span>-->
                                    <!--</td>-->
                                    <!--<td header-class="board_thead board_th text-left" data-title="'제목'">-->
                                        <!--{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}-->
                                        <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? [item.REPLY_COUNT] : ''}}</span>-->
                                        <!--<span ng-show="item.REG_DT == todayDate" class="table_icon_new">N</span>-->
                                        <!--&lt;!&ndash;<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>&ndash;&gt;-->
                                        <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                    <!--</td>-->
                                    <!--<td width="92" header-class="board_thead text-center board_th" class="table_author" data-title="'작성자'">-->
                                        <!--{{item.NICK_NM}}-->
                                    <!--</td>-->
                                    <!--<td width="80" header-class="board_thead text-center board_th" class="table_date" data-title="'작성일'">-->
                                        <!--{{item.REG_DT}}-->
                                    <!--</td>-->
                                    <!--<td width="60" header-class="board_thead text-center board_th" class="table_hit" data-title="'조회'">-->
                                        <!--{{item.HIT_CNT}}-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr ng-show="$data == ''">-->
                                    <!--<td colspan="5" style="text-align: center; font-size:0.86em; line-height:38px;">조회 데이터가 없습니다.</td>-->
                                <!--</tr>-->
                            <!--</table>-->

                            <table id="comp_board_table" class="table table-hover">

                                <thead>
                                <tr class="board_thead" height="48">
                                    <td width="9%" align="center"><span class="board_th">번호</span></td>
                                    <td align="center"><span class="board_th">제목</span></td>
                                    <td ng-if="menu.COMM_NO != 8" width="120" align="center"><span class="board_th">작성자</span></td>
                                    <td width="80" align="center"><span class="board_th">작성일</span></td>
                                    <td width="60" align="center"><span class="board_th">조회</span></td>
                                </tr>
                                </thead>

                                <tbody class="on" ng-repeat="item in list">

                                    <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                        <td class="table_no">
                                            <span ng-class="item.NOTICE_FL == 'Y' ? 'table_blue' : ''">{{item.NOTICE_FL == 'Y' ? '공지' : item.BOARD_NO}}</span>
                                        </td>
                                        <td>
                                            <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL = 'N'">{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                                            <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL = 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                                            <span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>

                                            <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                                            <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                            <span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>
                                            <span class="reply_num feed_count countlike_color table_gray" style="line-height:12px; height:14px;">{{item.LIKE_CNT}}</span>
                                        </td>
                                        <td ng-if="menu.COMM_NO != 8" class="table_author"><div ng-bind-html="item.NICK_NM"></div></td> <!-- {{}} -->
                                        <td class="table_date">{{item.REG_DT}}</td>
                                        <td class="table_hit">{{item.HIT_CNT}}</td></tr>
                                    </tr>

                                </tbody>

                                <tbody class="on" data-ng-show="list == '' || list == null">

                                    <tr>
                                        <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                                    </tr>

                                </tbody>
                            </table><!-- /.List-->

                            <div class="container-fluid people_view_btnwrap">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="btn people_btn list" title="목록으로" style="display:none;">리스트</a>
                                        <a class="btn people_btn submit" title="등록하기" ng-click="click_showCreatePeopleBoard();">등록</a>
                                    </div>

                                    <div class="col-xs-8">
                                        <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                        <a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>
                                        <a class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                        <a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <nav class="text-center">
                                <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm"  ng-change="pageChanged()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

                                <!--<ul class="pagination pagination-sm table_paging">-->
                                    <!--<li class="disabled">-->
                                        <!--<a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>-->
                                    <!--</li>-->
                                    <!--<li class="disabled">-->
                                        <!--<a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>-->
                                    <!--</li>-->
                                    <!--<li class="active"><a href="#">1</a></li>-->
                                    <!--<li><a href="#">2</a></li>-->
                                    <!--<li><a href="#">3</a></li>-->
                                    <!--<li><a href="#">4</a></li>-->
                                    <!--<li><a href="#">5</a></li>-->
                                    <!--<li>-->
                                        <!--<a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            </nav><!-- /.Paging-->
                            <!-- /peoplepoll_list -->

                        </div><!-- /.sub_contents_body -->

                        <!-- 등록 -->


                        <!--<div ng-show="uid != '' && uid != null" ng-click="test()">세션이 있을때만 보입니다.</div>
                        <div ng-show="uid == '' || uid == null" ng-click="test()">세션이 없을때 보입니다.</div>   -->

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>