<div ng-controller="peoplepoll-list" class="ng_wrap {{channel.CHANNEL_ID}}">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">앙쥬 POLL</h3>
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

                                        <!--<div class="btn-group" style="float:left;">-->
<!--&lt;!&ndash;                                            <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>-->

                                            <!--<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
                                            <!--<span class="caret"></span>-->
                                            <!--<span class="sr-only">Toggle Dropdown</span>-->
                                            <!--</button>-->

                                            <!--<ul class="dropdown-menu" role="menu" ng-repeat="condition in conditions">-->
                                                <!--<li><a href="#">{{condition.name}}</a></li>-->
                                            <!--</ul>&ndash;&gt;-->
                                            <!--<select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>-->


                                        <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" class="form-control" ng-keyup="($event.which === 13) ? click_searchPoll() : 0" placeholder="검색할 단어를 두자 이상 입력">

                                            <span class="input-group-btn" ng-click="click_searchPoll();">
                                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" ></span></button>
                                            </span>
                                        </div>

                                        <!--<div  ng-if="SEARCH_YN == 'Y'" class="input-group input-group-sm" style="width:100px; margin-left: 250px; float:left;">-->
                                            <!--전체검색-->
                                            <!--<span class="input-group-btn" ng-click="click_searchAllPeopleBoard();">-->
                                            <!--<button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>-->
                                            <!--</span>-->
                                        <!--</div>-->
                                        <!-- 진행중 체크박스 주석-->
                                        <!--<div style="float:right; width:120px; margin:0px; padding:0px;">-->
                                            <!--<div class="input-group input-group-sm">-->
                                                <!--<span class="input-group-addon">-->
                                                    <!--<input type="checkbox" id="poll_st" />-->
                                                <!--</span>-->
                                                <!--<input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <!-- peoplepoll_list -->
                            <table id="comp_board_table" class="table table-hover">

                                <thead>
                                <tr class="board_thead normaltype" height="48">
                                    <td width="9%" align="center"><span class="board_th">번호</span></td>
                                    <td width="60"><span class="board_th">상태</span></td>
                                    <td><span class="board_th">제목</span></td>
                                    <td width="92"><span class="board_th">기간</span></td>
                                </tr>
                                </thead>

                                <tbody class="on" data-ng-repeat="item in list">

                                <!--<tr class="primary"><td class="table_no"><span class="table_blue">공지</span></td><td></td><td valign="middle">산부인과/산후조리원 선택 기준은?</td><td class="table_date">2014-10-17~<br />2014-10-27</td></tr>-->

                                    <!--<tr ng-class="item.END_YMD <= todayDate ? '' : 'ended'" ng-click="click_showViewAngePoll(item.NO)">-->
                                    <tr  ng-class="item.ada_state == 1 ? '' : 'ended'" ng-click="click_showViewAngePoll(item)"> <!-- ng-class="item.ada_state == 1 ? '' : 'ended'" -->
                                        <td class="table_no normaltype">{{item.RNUM}}</td>
                                        <td class="table_date normaltype">
                                            <!--<span ng-if="item.ada_state == 0 && item.ada_date_open > todayDate" class="table_gray">준비</span> &lt;!&ndash; 'table_gray'  && item.ada_date_close > todayDate item.ada_state == 0 &&  &ndash;&gt;-->
                                            <!--<span ng-if="item.ada_state == 1 && item.ada_date_open <= todayDate && todayDate <= item.ada_date_close" class="table_red">진행중</span> &lt;!&ndash; 'table_gray' &ndash;&gt;-->
                                            <!--<span ng-if="item.ada_date_close < todayDate" class="table_gray">완료</span> &lt;!&ndash; 'table_gray'  item.ada_state == 0 &&  item.ada_date_open < todayDate ||  &ndash;&gt;-->

                                            <img ng-if="item.ada_state == 0 && item.ada_date_open > todayDate"  src="/imgs/ange/waitBtn_.jpg">
                                            <img ng-if="item.ada_state == 1 && item.ada_date_open <= todayDate && todayDate <= item.ada_date_close" src="/imgs/ange/goBtn_.jpg">
                                            <img ng-if="item.ada_date_close < todayDate" src="/imgs/ange/endBtn_.jpg">



                                        </td>
                                        <!--<td><span ng-class="item.END_YMD <= todayDate ? 'table_red' : 'table_gray'">{{item.END_YMD <= todayDate ? '진행중' : '완료'}}</span></td>-->
                                        <td class="normaltype" valign="middle">{{item.ada_title}}</td>
                                        <td class="table_date normaltype">{{item.ada_date_open}}~<br />{{item.ada_date_close}}</td>
                                    </tr>


                                    <tr ng-class="item.ada_state == 1 ? '' : 'ended'" ng-click="click_showViewAngePoll(item)"> <!-- ng-class="item.ada_state == 1 ? '' : 'ended'" -->
                                        <!---- 모바일 TD ------>
                                        <td class="table_no mobiletype" style="width: 10% !important;">
                                            <span >{{item.RNUM}}</span>
                                        </td>

                                        <td class="mobiletype" colspan="1" style="width: 90% !important;">
                                            <div style="display:inline-block;">
                                                <img ng-if="item.ada_state == 0 && item.ada_date_open > todayDate"  src="/imgs/ange/waitBtn_.jpg">
                                                <img ng-if="item.ada_state == 1 && item.ada_date_open <= todayDate && todayDate <= item.ada_date_close" src="/imgs/ange/goBtn_.jpg">
                                                <img ng-if="item.ada_date_close < todayDate" src="/imgs/ange/endBtn_.jpg">
                                            </div>

                                            <div>
                                                <div style="width:100%; white-space: inherit; overflow: hidden; text-overflow: ellipsis; font-size:1.12em;">
                                                    {{item.ada_title}}
                                                </div>
                                            </div>

                                            <div class="table_date" style="font-size:0.78em; color:#868686;">{{item.ada_date_open}} ~ {{item.ada_date_close}}</div>
                                        </td>

                                    </tr>

                                </tbody>
                                <tbody class="on" data-ng-show="list == '' || list == null">

                                <!--<tr class="primary"><td class="table_no"><span class="table_blue">공지</span></td><td></td><td valign="middle">산부인과/산후조리원 선택 기준은?</td><td class="table_date">2014-10-17~<br />2014-10-27</td></tr>-->

                                <tr>
                                    <td style="text-align: center" valign="middle" colspan="4">설문조사 조회 데이터가 없습니다.</td>
                                </tr>

                                </tbody>
                            </table><!-- /.List-->

                            <nav class="text-center">
                                <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                <!--<ul class="pagination pagination-sm table_paging">
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                </ul>-->
                            </nav><!-- /.Paging-->

                            <nav class="text-center mobiletype" style="position:relative;">
                                <pager total-items="TOTAL_COUNT" ng-change="pageChanged()" items-per-page="25" ng-model="PAGE_NO"></pager>
                                <div style="font-family:Arial, sans-serif; font-size: 0.92em; position:absolute; top:6px; left:50%; margin-left:-18px; color:#888;">
                                    <span class="table_blue">{{PAGE_NO}}</span> / {{TOTAL_PAGES}}
                                </div>
                            </nav>
                            <!-- /peoplepoll_list -->


                        </div><!-- /.sub_contents_body -->

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>