<div ng-controller="peoplepoll-list">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">앙쥬 POLL</h3>
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

                                        <div class="btn-group" style="float:left;">
<!--                                            <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>

                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu" ng-repeat="condition in conditions">
                                                <li><a href="#">{{condition.name}}</a></li>
                                            </ul>-->
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>


                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" ng-click="click_searchPoll();"></span></button>
                                            </span>
                                        </div>

                                        <div style="float:right; width:120px; margin:0px; padding:0px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" id="poll_st" />
                                                </span>
                                                <input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />
                                            </div>
                                        </div>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <!-- peoplepoll_list -->
                            <table id="comp_board_table" class="table table-hover">

                                <thead>
                                <tr class="board_thead" height="48">
                                    <td width="9%" align="center"><span class="board_th">번호</span></td>
                                    <td width="60"><span class="board_th">상태</span></td>
                                    <td><span class="board_th">제목</span></td>
                                    <td width="92"><span class="board_th">기간</span></td>
                                </tr>
                                </thead>

                                <tbody class="on" data-ng-repeat="item in list">

                                <!--<tr class="primary"><td class="table_no"><span class="table_blue">공지</span></td><td></td><td valign="middle">산부인과/산후조리원 선택 기준은?</td><td class="table_date">2014-10-17~<br />2014-10-27</td></tr>-->

                                    <!--<tr ng-class="item.END_YMD <= todayDate ? '' : 'ended'" ng-click="click_showViewAngePoll(item.NO)">-->
                                    <tr ng-class="item.POLL_ST == 0 ? '' : 'ended'" ng-click="click_showViewAngePoll(item.NO)">
                                        <td class="table_no">{{item.RNUM}}</td>
                                        <td><span ng-class="item.POLL_ST == 0 ? 'table_red' : 'table_gray'">{{item.POLL_ST == 0 ? '진행중' : '완료'}}</span></td>
                                        <!--<td><span ng-class="item.END_YMD <= todayDate ? 'table_red' : 'table_gray'">{{item.END_YMD <= todayDate ? '진행중' : '완료'}}</span></td>-->
                                        <td valign="middle">{{item.SUBJECT}}</td>
                                        <td class="table_date">{{item.START_YMD}}~<br />{{item.END_YMD}}</td>
                                    </tr>

                                </tbody>
                                <tbody class="on" data-ng-show="list == '' || list == null">

                                <!--<tr class="primary"><td class="table_no"><span class="table_blue">공지</span></td><td></td><td valign="middle">산부인과/산후조리원 선택 기준은?</td><td class="table_date">2014-10-17~<br />2014-10-27</td></tr>-->

                                <tr>
                                    <td style="text-align: center" valign="middle" colspan="4">설문조사 조회 데이터가 없습니다.</td>
                                </tr>

                                </tbody>
                            </table><!-- /.List-->

                            <nav class="text-center">
                                <ul class="pagination pagination-sm table_paging">
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                </ul>
                            </nav><!-- /.Paging-->
                            <!-- /peoplepoll_list -->


                        </div><!-- /.sub_contents_body -->

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
        <div class="row">
            <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
                우측바
            </div>
        </div>
    </div>

    <!-- /Main Page Layout Set -->
</div>