<div ng-controller="peoplehome" class="ng_wrap {{channel.CHANNEL_ID}}">
    <!--<img src="/imgs/ange/white_opacity75.png" class="temp_blind">-->
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid common_container">
            <div class="row">
                <div class="col-xs-12 col-md-6 v-cell-3">
                    <div class="comp_basic comp_splite_left h-cell-1-half">
                        <!-- mini_peopleboard -->
                        <ange-portlet-channel-list ng-model="option_r1_c2"></ange-portlet-channel-list>
                        <!-- /mini_peopleboard -->
                    </div>
                </div>

                <div class="col-xs-6 col-md-3 v-cell-3">
                    <div class="comp_basic comp_splite_middle h-cell-1-half col_mobile_left">
                        <!-- mini_peoplepoll -->
                        <ange-portlet-link-poll ng-model="option_r1_c1"></ange-portlet-link-poll>
                        <!-- /mini_peoplepoll -->
                    </div>
                </div>

                <div class="col-xs-6 col-md-3 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-1-half col_mobile_right">
                        <!-- mini_peoplelinetalk -->
                        <ange-portlet-link-menu ng-model="option_r3_c3"></ange-portlet-link-menu>
                        <!-- mini_peoplelinetalk -->
                    </div>
                </div>
            </div><!-- //no.1_row -->

            <div class="row">
                <div class="col-xs-12 col-md-6 v-cell-3">
                    <div class="comp_basic comp_splite_left h-cell-1-half">
                        <!-- mini_peoplebabymodel -->
                        <ange-portlet-slide-baby ng-model="option_r2_c1"></ange-portlet-slide-baby>
                        <!-- /mini_peoplebabymodel -->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-1-half">
                        <!-- mini_peopleclinic -->
                        <div class="mini_peopleclinic">
                            <div class="red"></div>
                            <div class="green"></div>
                            <div class="blue"></div>
                            <div class="purple"></div>

                            <div class="mini_peopleclinic_quick">
                                <div class="mini_peopleclinic_title">전문가<strong>상담실</strong></div>
                                <div class="mini_peopleclinic_contents">
                                    <div class="mini_peopleclinic_contents_icon">

                                        <!--<div class="clinic_q1" ng-click="click_showClinicList('childdevelop')"><a href="#/people/childdevelop/list"></a><span class="t">아동발달</span></div>-->
                                        <div class="clinic_icon c1" ng-click="click_showClinicList('chlidoriental')"><img src="/imgs/ange/_blank.gif" style="width:100%;"/><span class="t">한방소아과</span></div>
                                        <div class="clinic_icon c2" ng-click="click_showClinicList('obstetrics')"><img src="/imgs/ange/_blank.gif" style="width:100%;"/><span class="t">산부인과</span></div>
                                        <div class="clinic_icon c3" ng-click="click_showClinicList('momshealth')"><img src="/imgs/ange/_blank.gif" style="width:100%;"/><span class="t">Q&A</span></div>
                                        <div class="clinic_icon c4" ng-click="click_showClinicList('financial')"><img src="/imgs/ange/_blank.gif" style="width:100%;"/><span class="t">재테크</span></div>

                                    </div>
                                </div>
                            </div>
                            <div class="mini_peopleclinic_box">
                                <!--<div class="mini_peopleclinic_box_bg"></div>-->
                                <!--<div class="mini_peopleclinic_box_arrow"></div>-->
                                <div class="mini_peopleclinic_quick_ex">
                                    <span style="display:block">도서와 인터넷을 찾아도 궁금증이 해소되지 않을때가 많습니다. 해소되지 못했거나 물어보기 민망했던 질문등 어떤 궁금증도 환영합니다.</span>
                                    <!--<span class="">도서와 인터넷을 찾아도 궁금증이 해소되지 않을때가 많습니다. 해소되지 못했거나 물어보기 민망했던 질문등 어떤 궁금증도 환영합니다.</span>-->
                                    <!--<span class="">도서와 인터넷을 찾아도 궁금증이 해소되지 않을때가 많습니다. 해소되지 못했거나 물어보기 민망했던 질문등 어떤 궁금증도 환영합니다.</span>-->
                                    <!--<span class="">도서와 인터넷을 찾아도 궁금증이 해소되지 않을때가 많습니다. 해소되지 못했거나 물어보기 민망했던 질문등 어떤 궁금증도 환영합니다.</span>-->
                                    <!--<span class="">도서와 인터넷을 찾아도 궁금증이 해소되지 않을때가 많습니다. 해소되지 못했거나 물어보기 민망했던 질문등 어떤 궁금증도 환영합니다.</span>-->
                                </div>
                            </div>
                        </div>	<!-- mini_peopleclinic_quick -->
                        <!-- /mini_peopleclinic -->
                    </div>
                </div>
            </div><!-- //no.2_row -->


            <div class="row">
                <div class="col-xs-12 col-md-6 v-cell-3">
                    <div class="comp_basic comp_splite_middle h-cell-1-half">
                        <!-- mini_peoplephoto -->
                        <ange-portlet-channel-list ng-model="option_r3_c2"></ange-portlet-channel-list>
                        <!-- /mini_peoplephoto -->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 v-cell-3">
                    <div class="comp_cols comp_splite_right h-cell-quad3">
                        <!-- mini_peoplebooktalk -->
                        <ange-portlet-link-menu ng-model="option_r1_c3"></ange-portlet-link-menu>
                        <!-- /mini_peoplebooktalk -->
                    </div>

                    <div class="comp_cols comp_splite_right h-cell-quad3">
                        <!-- mini_angegrouplink -->
                        <ange-portlet-link-menu ng-model="option_r3_c1"></ange-portlet-link-menu>
                        <!-- /mini_angegrouplink -->
                    </div>
                </div>
            </div><!-- //no3._row -->

        </div>

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>