<div ng-controller="peoplelinetalk-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">

        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">
            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">한줄 톡</h3>
                            </div>
                            <center>
                            <div style="display:inline-block; margin-bottom:15px;">

                                <select id="year" ng-model="search.YEAR" ng-options="v for v in year" ng-change="change_year(search.YEAR);" class="form-control input-sm" style="float:left; width:90px; margin-right:5px;">
                                    <option value="" selected>년</option>
                                </select>
                                <select id="month" ng-model="search.MONTH" ng-options="v for v in month" ng-change="change_month(search.MONTH);" class="form-control input-sm" style="width:70px;">
                                    <option value="" selected>월</option>
                                </select>

                            </div>
                            </center>

                            <div style="width:100%; text-align:center; margin:0px auto;">
                                <div ng-repeat="day in day" style="display:inline; cursor:pointer; font-family: arial, sans-serif; font-size:0.76em; margin:0px auto;">
                                    <span ng-show="$last == false" style="clear:both; margin-right:4px;"><a ng-click="search_day(day);">{{day}}</a></span>
                                    <span ng-show="$last == true" style="clear: both;"><a ng-click="search_day(day);">{{day}}</a></span>
                                </div>
                            </div>

                            <div style="line-height:40px; color:#333; font-size:0.92em; text-align: center; margin-top:15px ;">
                                {{talkitem.SUBJECT != '' ? talkitem.SUBJECT : '주제가 없습니다'}}
                            </div>

                            <img ng-show="talkitem.MAIN_FILE != ''" src="{{talkitem.MAIN_FILE}}" style="border:1px solid #ddd; width: 100%;"/>
                            <!--</div>-->
                        </div><!-- /.sub_contents_wrap -->

                        <div ng-model="item" class="sub_contents_body" style="width:100%;">

                            <div class="container-fluid peopleboard_view_commentwrap" style="width:100%; padding:0px;">
                                <div class="row peopleboard_view_commenttop" style="margin:0px;">
                                    <div class="col-xs-12 peopleboard_view_commenttitle">
                                        <span class="people_small_title" style="font-size:1.32em; font-weight: bold; ">톡&톡</span> <!-- 출석체크 -->
                                        <small style="color:#868686;">타인비방, 모욕, 개인정보 노출, 상업광고, 홍보글 등은 공지없이 바로 삭제</small>
                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->

                                <div class="row peopleboard_view_commentbox" style="width:100%; margin:0px auto;">
                                    <div class="col-xs-10 peopleboard_view_text">
                                        <textarea ng-model="item.COMMENT" class="form-control" rows="4" style="resize: none;"></textarea>
                                    </div><!-- /.col-xs-10-->
                                    <div class="col-xs-2 peopleboard_view_btns">

                                        <span>(100자 이내)</span>
                                        <a class="reply_submit" ng-click="click_savePeopleBoardComment();">댓글등록</a>

                                    </div><!-- /.col-xs-2-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->


                            <div class="container-fluid people_view_replywrap" >
                                <div class="row">

                                    <div class="col-xs-12 people_view_replytop">
                                        <span style="text-align: left;">{{search.TOTAL_COUNT}} 건</span>
                                    </div>

                                    <!--<div class="col-xs-12 people_view_replytop">-->
                                        <!--<a class="reply_sort idx" id="reply_sort_idx" title="등록순으로 정렬"></a>-->
                                        <!--<a class="reply_sort date"  id="reply_sort_date" title="최신글 순으로 정렬"></a> &lt;!&ndash; 선택되어 있을 경우 class에 selected 추가 &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; /.col-xs-12&ndash;&gt;-->

                                    <div class="col-xs-12 people_view_replys" ng-repeat="item in replyList">
                                        <dl class="dl-horizontal" >
                                            <dt>{{item.NICK_NM}}</dt>
                                            <dd><div class="people_view_replys_date">{{item.REG_DT}}</div></dd>
                                            <dd style="margin:0px;">
                                                {{item.COMMENT}}
                                            </dd>
                                            <dd style="margin:0px;">
                                                <a ng-show="uid == item.REG_UID" ng-click="showCommentDetails = ! showCommentDetails">수정</a>
                                                <a ng-show="uid == item.REG_UID" ng-click="click_deleteReply(item.NO);">삭제</a>
                                                <a ng-click="click_blind(item.NO);" ng-show="item.BLIND_FL == 'N' && role == 'ANGE_ADMIN'" class="table_red">블라인드</a>
                                                <a ng-click="click_blind_clear(item.NO);" ng-show="item.BLIND_FL == 'Y' && role == 'ANGE_ADMIN'" class="table_red">블라인드해제</a>
                                            </dd>

                                            <p style="font-size:0.86em; margin:4px 0 0 0; "  ng-class="{ 'hidden': ! showCommentDetails }">
                                                &nbsp;&nbsp;&nbsp;<input type="text" ng-model="item.UPDATE_COMMENT" style="width:60%;"/>&nbsp;<a ng-click="click_updateReply(item.NO, item.UPDATE_COMMENT);">수정</a>
                                            </p>
                                        </dl>
                                    </div><!-- /.people_view_replys-->

                                    <div class="col-xs-12 people_view_replys" data-ng-show="replyList == ''">
                                        <dl class="dl-horizontal" >
                                            <dt></dt>
                                            <dd><div class="people_view_replys_date"></div></dd>
                                            <dd style="margin:0px;">
                                                댓글이 없습니다.
                                            </dd>
                                        </dl>
                                    </div>

                                    <nav class="text-center">
                                        <pagination boundary-links="true" total-items="search.TOTAL_COUNT" ng-model="search.PAGE_NO" class="pagination-sm" ng-change="pageChanged()" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </nav><!-- /.Paging-->

                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_body -->

                    </div>  <!-- /.comp_basic -->
                </div>  <!-- /.col-xs-12 -->

            </div> <!-- rows -->
        </div>  <!-- container-fluid -->

    </div>  <!-- /.mainbar -->

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>
<!-- /Main Page Layout Set -->

</div>