<div ng-controller="peoplephoto-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!-- <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a> --></h3>
                            </div>

                            <div class="container-fluid sub_contents_customizewrap">
                                <div class="row">
                                    <div class="col-xs-12 sub_contents_customize">

                                        <center>
                                            <!--<img ng-if="tmpMenu == 'angemodel'" class="people_customize_bg" src="/imgs/temp/photolist_topimg_babymodel_03.png" />-->
                                            <!--<img ng-if="tmpMenu == 'recipearcade'" class="people_customize_bg" src="/imgs/temp/photolist_topimg_recipe_03.png" />-->
                                            <!--<img ng-if="tmpMenu == 'peopletaste'" class="people_customize_bg" src="/imgs/temp/photolist_topimg_restaurant_03.png" />-->
                                            <img class="people_customize_bg" ng-src="{{main_img}}" />
                                        </center>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

<!--                                        <div class="btn-group" style="float:left;">
                                            <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>

                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">제목+내용</a></li>
                                                <li><a href="#">작성자</a></li>
                                            </ul>-->
                                        <div class="btn-group" style="float:left;">
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>
                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0" class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                            <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                            <button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>

                                        </div>

                                        <!-- div style="float:right; width:120px; margin:0px; padding:0px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" />
                                                </span>
                                                <input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />
                                            </div>
                                        </div -->

                                    </div><!-- /.col-xs-12-->

                                    <div class="col-xs-12 people_searchresult" style="display:block;">	<!-- 검색 시에만 표시됩니다. -->
                                        {{PHOTO_TOTAL_COUNT}}개의 게시물 중 <span class="table_red">{{SEARCH_TOTAL_COUNT == null ? 0 : SEARCH_TOTAL_COUNT}}</span> 개가 검색되었습니다.
                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">
                            <!-- peoplephoto_list -->
                            <div class="peoplep_list_tab">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" ng-repeat="tab in category_list" ng-class="selectIdx == $index ? 'active' : ''">
                                        <a ng-click="click_selectTab($index, tab.NO)">{{tab.CATEGORY_NM}}</a>
                                    </li>
                                </ul>

                                <!--<ul class="nav nav-tabs">-->
                                    <!--<li role="presentation" class="active"><a>전체</a></li>-->
                                    <!--<li role="presentation"><a>이유식</a></li>-->
                                    <!--<li role="presentation"><a>반찬</a></li>-->
                                    <!--<li role="presentation"><a>한끼식사</a></li>-->
                                    <!--<li role="presentation"><a>간식</a></li>-->
                                    <!--<li role="presentation"><a>나들이</a></li>-->
                                    <!--<li role="presentation"><a>스페셜</a></li>-->
                                <!--</ul>-->
                            </div><!-- /.peoplep_list_tab -->

                            <div class="container-fluid peoplephoto_list_wrap">
                                <div class="row">
                                    <div class="col-xs-12 v-cell-4">
                                        <div class="comp_basic h-cell-dynamic">

                                            <div ng-repeat='item in list'>
                                            <!--<div ng-repeat='item in list' ng-class="item.RNUM % 3 == 1 ? 'row people_photo_contentlist' : ''">-->
                                                <div class="col-xs-4 people_photo_contentcol" > <!-- ng-show="selectPhoto = item.CATEGORY_NO" -->
                                                    <div ng-click="click_showViewPeoplePhoto(item.NO)" class="people_photo_content">
                                                        <div class="people_photo_imgbox">
                                                            <img ng-show="item.BOARD_ST != 'D'" src="/imgs/ange/_blank.gif" class="people_photo_img" style="background-image:url('{{item.FILE}}')" />
                                                            <img ng-show="item.BOARD_ST == 'D'" src="/imgs/ange/_blank.gif" class="people_photo_img" style="background-image:url('')" /> <!-- 삭제처리했을때 블라인드 이미지 추가해야함-->
                                                            <!--<img src="{{item.MAIN_FILE}}" class="people_photo_img" style="width: 240px; height: 240px;"/>-->
                                                            <div class="people_photo_cate">
                                                                <span>{{item.CATEGORY_NM}}</span>
                                                                <div style="position:absolute; display:inline; bottom:8px; right:0;">
                                                                    <span class="feed_count countlike table_white">{{item.LIKE_CNT}}</span><!-- 공감수 -->
                                                                    <span class="feed_count countreply table_white">{{item.REPLY_COUNT}}</span>	<!-- 댓글수 -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="people_photo_txt" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">{{ item.SUBJECT | limitTo: 20 }}{{item.SUBJECT > 20 ? '...' : ''}}</div>
                                                        <div class="people_photo_txt" ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</div>
                                                        <div class="people_photo_txt" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</div>
                                                        <div class="people_photo_info"><span class="table_blue">{{item.NICK_NM}}</span> | {{item.REG_DT}}</div>
                                                    </div><!-- /.people_photo_content -->
                                                </div><!-- /.people_photo_contentcol -->
                                            </div><!-- /.people_photo_contentlist -->		<!-- 1줄	 -->

                                            <div ng-show="list == ''">
                                                <p>조회 데이터가 없습니다.</p>
                                            </div>

                                        </div><!-- /.comp_basic -->
                                    </div><!-- /.v-cell-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.peoplephoto_list_wrap -->

                            <div class="container-fluid people_view_btnwrap">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="btn people_btn list" title="목록으로" style="display:none;">리스트</a>
                                        <a class="btn people_btn submit" title="등록하기" style="display:block;" ng-click="click_showCreatePeopleBoard();">등록</a>
                                    </div>

                                    <div class="col-xs-8">
                                        <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                        <a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>
                                        <a class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                        <a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <nav class="text-center">
                                <pagination boundary-links="true" total-items="SEARCH_TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm" ng-change="pageChanged()" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
<!--                                <ul class="pagination pagination-sm table_paging">
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                </ul>-->
                            </nav><!-- /.Paging-->
                            <!-- /peoplephoto_list -->

                        </div><!-- /.sub_contents_body -->

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>

