<div ng-controller="peoplephoto-view" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a></h3>
                            </div>
                        </div><!-- /.sub_contents_wrap -->

                        <div ng-model="item" class="sub_contents_body">

                            <!-- peopleboard_view -->
                            <div class="people_view_wrap">

                            <div class="container-fluid peoplephoto_view_topwrap">

                                <div class="row peoplephoto_view_basicinfo" style="position:relative;">
                                    <!--<div class="col-xs-6 board_basicinfo_photofeature">-->
                                        <!--&lt;!&ndash;<img class="feature_pic" ng-src="{{item.MAIN_FILE}}" style="width:100%;" />&ndash;&gt;-->
                                        <!--<img src="/imgs/ange/_blank.gif" class="people_photo_img" style="background-image:url({{item.MAIN_FILE}})" />-->
                                    <!--</div>&lt;!&ndash; /.col-xs-2&ndash;&gt;-->
                                    <div class="col-xs-6  board_basicinfo_photosubject">
                                        <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">[{{item.CATEGORY_NM}}] {{item.SUBJECT}}</span>
                                        <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리가 된 글입니다</span>
                                        <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글입니다</span>
                                        <!--<span class="table_icon_new">N</span>-->

                                        <div class="people_photo_info">
                                            <span class="table_blue">{{item.NICK_NM}}</span> | {{item.REG_DT}}
                                        </div>

                                        <div style="float:left; padding:3px; font-size:0.74em;">
                                            <div style="display:inline; bottom:8px; right:0;">
                                                <span class="feed_count countlike_color table_gray">{{item.LIKE_CNT}}</span>		<!-- 공감수 -->
                                                <span class="feed_count countreply_color table_gray">{{item.REPLY_COUNT}}</span>	<!-- 댓글수 -->
                                            </div>
                                        </div>
                                    </div><!-- /.col-xs-10-->

                                    <div class="people_photo_sharewrap">
                                        <div class="people_share" style="float:right; line-height:20px; vertical-align:top;">
                                            <button class="people_sharebtn redbtn" ng-show="LIKE_FL == 'N'" title="이 글에 공감하면 클릭" ng-click="click_likeCntAdd(item, LIKE_FL);"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>공 감</button>
                                            <button class="people_sharebtn redbtn" ng-show="LIKE_FL == 'Y'" title="이 글에 공감하면 클릭" ng-click="click_likeCntAdd(item, LIKE_FL);"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>공감취소</button>
                                            <button ng-show="item.SCRAP_FL == 'Y'" class="people_sharebtn redbtn" ng-click="click_scrapAdd(item);" title="이 글을 모아두려면 클릭"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>스크랩</button>
                                            <button class="people_sharebtn blackbtn" title="이 글을 인쇄하려면 클릭"><span class="glyphicon glyphicon-heart sharebtn_icon"></span>프린트</button>
                                            <button class="people_sharebtn blackbtn" title="이 글을 인쇄하려면 클릭" ng-click="click_boardReport(item)"><span class="glyphicon glyphicon-print sharebtn_icon"></span>신고</button>
                                        </div>
                                    </div>


                                </div><!-- /.peoplephoto_view_basicinfo -->
                            </div><!-- /.container -->


                            <div class="container-fluid peopleboard_view_contentwrap">
                                <div class="row">
                                    <div ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'" class="col-xs-12 peopleboard_view_contentbody">

                                        <!-- Editor CSS 적용 -->
                                        <!-- template -->
                                        <div class="template_recipe" ng-show="community_show == 'recipearcade'">
                                            <!--<div class="infobox_row">-->
                                                <!--<div class="template_col_title">카테고리</div>-->
                                                <!--<div class="template_col_body">-->
                                                    <!--<span>{{item.CATEGORY_NM}}</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <div class="infobox_row">
                                                <div class="template_col_title short">재료</div>
                                                <div class="template_col_body">
                                                    <strong style="position:absolute; left:0px;">주재료 : </strong>
                                                    <span class="recipe_material">{{item.ETC1}}</span>
                                                </div>
                                                <div class="template_col_body">
                                                    <strong style="position:absolute; left:0px;">부재료 : </strong>
                                                    <span class="recipe_material">{{item.ETC2}}</span>
                                                </div>
                                                <div class="template_col_body">
                                                    <strong style="position:absolute; left:0px;">양&nbsp;&nbsp;&nbsp;념 : </strong>
                                                    <span class="recipe_material">{{item.ETC3}}</span>
                                                </div>
                                            </div>
                                            <div class="infobox_row">
                                                <div class="template_col_title">조리시간</div>
                                                <div class="template_col_body">
                                                    <span>{{item.ETC4}}</span>
                                                </div>
                                            </div>
                                            <div class="infobox_row">
                                                <div class="template_col_title">분량</div>
                                                <div class="template_col_body">
                                                    <span>{{item.ETC5}}</span>
                                                </div>
                                            </div>
                                            <p>&nbsp;</p>
                                            <div class="infobox_row">
                                                <div class="template_col_title">조리과정</div>
                                            </div>
                                        </div><!-- /.template_recipe -->
                                        <!-- /template -->

                                        <center>

                                            <!-- Editor CSS 적용 -->
                                            <div ng-bind-html="item.BODY" style="margin:0px auto; padding:50px;"></div>

                                        </center>

                                        <!-- Editor CSS 적용 -->

                                    </div><!-- /.col-12-->
                                    <div ng-show="item.BOARD_ST == 'D'" class="col-xs-12 peopleboard_view_contentbody">

                                        <center>

                                            <!-- Editor CSS 적용 -->
                                            <div style="margin:0px auto; padding:50px;">작성자가 삭제한 글입니다.</div>

                                        </center>

                                        <!-- Editor CSS 적용 -->

                                    </div>
                                    <div ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'" class="col-xs-12 peopleboard_view_contentbody">

                                        <center>

                                            <!-- Editor CSS 적용 -->
                                            <div style="margin:0px auto; padding:50px;">관리자에 의해 블라인드 된 글입니다.</div>

                                        </center>

                                        <!-- Editor CSS 적용 -->

                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->


                            <div class="container-fluid people_view_btnwrap">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="btn people_btn list" title="목록으로" style="display:block;" ng-click="click_showPeoplePhotoList();">리스트</a>
                                        <a class="btn people_btn submit" title="등록하기" ng-click="click_showCreatePeopleBoard();" style="display:block;">등록</a>
                                    </div>

                                    <div class="col-xs-8" ng-show="uid == item.REG_UID && uid != '' && uid != null && item.BOARD_ST != 'D'">
                                        <a class="btn people_btn modify" title="수정하기" style="display:block;" ng-click="click_showPeoplePhotoEdit(item);">수정</a>
                                        <a ng-show="uid == item.REG_UID && uid != '' && uid != null" ng-click="click_showPeoplePhotoDelete(item);">삭제</a>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div ng-show="item.REPLY_FL == 'Y'">
                                <div class="people_view_replys">
                                    <module-reply></module-reply>
                                </div>
                            </div>

                            <div class="container-fluid peopleboard_view_otherswrap">

                                <div class="row peopleboard_view_others">
                                    <div class="col-xs-2 board_basicinfo_label">
                                        <span class="glyphicon glyphicon-chevron-up"></span> 이전글
                                    </div><!-- /.col-xs-2-->
                                    <div data-ng-show="preBoardView != ''" class="col-xs-10  board_basicinfo_subject">
                                        <a data-ng-click="click_showViewPeopleBoard(preBoardView.NO)">{{preBoardView.SUBJECT}}&nbsp;({{preBoardView.NICK_NM}})</a>
                                        <a ng-show="item.BOARD_ST == 'D'" data-ng-click="click_showViewPeopleBoard(preBoardView.NO)">작성자가 삭제한 글입니다</a>
                                        <a ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'" data-ng-click="click_showViewPeopleBoard(preBoardView.NO)">관리자에 의해 블라인드 처리가 된 글입니다.</a>
                                    </div><!-- /.col-xs-10-->
                                    <div data-ng-show="preBoardView == false || preBoardView == '' || preBoardView == null" class="col-xs-10  board_basicinfo_subject">
                                        이전 글이 없습니다
                                    </div><!-- /.col-xs-10-->
                                </div><!-- /.row -->

                                <div class="row peopleboard_view_others">
                                    <div class="col-xs-2  board_basicinfo_label">
                                        <span class="glyphicon glyphicon-chevron-down"></span> 다음글
                                    </div><!-- /.col-xs-2-->
                                    <div data-ng-show="nextBoardView != ''" class="col-xs-10 board_basicinfo_subject">
                                        <a data-ng-click="click_showViewPeopleBoard(nextBoardView.NO)">{{nextBoardView.SUBJECT}}&nbsp;({{nextBoardView.NICK_NM}})</a>
                                        <a ng-show="item.BOARD_ST == 'D'" data-ng-click="click_showViewPeopleBoard(nextBoardView.NO)">작성자가 삭제한 글입니다</a>
                                        <a ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'" data-ng-click="click_showViewPeopleBoard(nextBoardView.NO)">관리자에 의해 블라인드 처리가 된 글입니다.</a>
                                    </div><!-- /.col-xs-10-->
                                    <div data-ng-show="nextBoardView == false || nextBoardView == '' || nextBoardView == null" class="col-xs-10 board_basicinfo_subject">
                                        다음 글이 없습니다
                                    </div><!-- /.col-xs-10-->
                                </div><!-- /.row -->

                            </div><!-- /.container -->

                    </div>
                    <!-- /peopleboard_view -->

                        </div>
                        <!-- /peopleboard_edit -->
                    </div><!-- /.sub_contents_body -->

                    <div class="sub_contents_ads" style="display:none;">
                        <div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- rows -->

    </div><!-- container-fluid -->

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>
    <!-- /mainbar -->

</div>

<script type="text/ng-template" id="peopleboard_report.html">
    <div class="modal-header">
        <h3 class="modal-title">게시글 신고</h3>
        <br/>
    </div>

    <div class="modal-body">
        <div class="body_wrap">
            <!--<div class="panel panel-master contentpannel" style="border:#000000; display:block;">-->

            <table id="comp_board_table" class="table table-hover">
                <tr class="product_note">
                    <td style="vertical-align: middle">신고사유</td>
                    <td colspan="3">
                        <textarea id="editor1" ng-model="item.NOTE" id="comment" name="comment" class="form-control input-md" rows="4" data-ng-disabled="nouserid" style="resize: none;"></textarea>
                    </td>
                </tr>
            </table>

            <!--</div>-->
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="click_saveReport();">신고</button>
        <!--<button class="btn btn-primary" ng-click="click_select_reg(list);">선택상품구매</button>-->
        <button class="btn btn-primary" ng-click="click_cancel();">닫기</button>
    </div>
</script>
