<div ng-controller="peoplelinetalk-list">
<!-- mainbar -->
<div class="mainbar sub-slide0">
<div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


<div class="row">

<div class="col-xs-12 v-cell-3">
<div class="comp_basic h-cell-dynamic">

<div class="sub_contents_wrap">

    <div class="sub_contents_title">
        <span class="sub_contents_bullet"></span>
        <h3 style="font-weight:bold;">한줄 톡</h3>
    </div>
</div><!-- /.sub_contents_wrap -->

<div ng-model="item" class="sub_contents_body">

    <div class="container-fluid peopleboard_view_commentwrap">
        <div class="row peopleboard_view_commenttop">
            <div class="col-xs-12 peopleboard_view_commenttitle">
                <span class="people_small_title" style="font-size:1.32em; font-weight: bold; ">출석체크</span>
                <small style="color:#868686;">타인비방, 모욕, 개인정보 노출, 상업광고, 홍보글 등은 공지없이 바로 삭제</small>
            </div><!-- /.col-xs-12-->
        </div><!-- /.row -->

        <div class="row peopleboard_view_commentbox">
            <div class="col-xs-10 peopleboard_view_text">
                <textarea ng-model="item.COMMENT" class="form-control" rows="4"></textarea>
            </div><!-- /.col-xs-10-->
            <div class="col-xs-2 peopleboard_view_btns">

                <span>(100자 이내)</span>
                <a class="reply_submit" ng-click="click_savePeopleBoardComment();">댓글등록</a>

            </div><!-- /.col-xs-2-->
        </div><!-- /.row -->
    </div><!-- /.container -->


    <div class="container-fluid people_view_replywrap" >
        <div class="row">

            <div class="col-xs-12 people_view_replytop">
                <a class="reply_sort idx" id="reply_sort_idx" title="등록순으로 정렬"></a>
                <a class="reply_sort date"  id="reply_sort_date" title="최신글 순으로 정렬"></a> <!-- 선택되어 있을 경우 class에 selected 추가 -->
            </div><!-- /.col-xs-12-->



            <div class="col-xs-12 people_view_replys" ng-repeat="item in replyList">
                <dl class="dl-horizontal" >
                    <dt>{{item.NICK_NM}}</dt>
                    <dd><div class="people_view_replys_date">{{item.REG_DT}}</div></dd>
                    <dd style="margin:0px;">
                        {{item.COMMENT}}
                    </dd>
                    <dd style="margin:0px;">
                        <a ng-show="uid == item.REG_UID" ng-click="showCommentDetails = ! showCommentDetails">수정</a>
                        <a ng-show="uid == item.REG_UID" ng-click="click_deleteReply(item.NO);">삭제</a>
                        <a ng-click="click_blind(item.NO);" ng-show="item.BLIND_FL == 'N'" class="table_red">블라인드</a>
                        <a ng-click="click_blind_clear(item.NO);" ng-show="item.BLIND_FL == 'Y'" class="table_red">블라인드해제</a>
                    </dd>

                    <p style="font-size:0.86em; margin:4px 0 0 0; "  ng-class="{ 'hidden': ! showCommentDetails }">
                        &nbsp;&nbsp;&nbsp;<input type="text" ng-model="item.UPDATE_COMMENT" style="width:60%;"/>&nbsp;<a ng-click="click_updateReply(item.NO, item.UPDATE_COMMENT);">수정</a>
                    </p>
                </dl>
            </div><!-- /.people_view_replys-->

            <div class="col-xs-12 people_view_replys" data-ng-show="replyList == ''">
                <dl class="dl-horizontal" >
                    <dt></dt>
                    <dd><div class="people_view_replys_date"></div></dd>
                    <dd style="margin:0px;">
                        댓글이 없습니다.
                    </dd>
                </dl>
            </div>

            <nav class="text-center">
                <pagination boundary-links="true" total-items="search.TOTAL_COUNT" ng-model="search.PAGE_NO" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </nav><!-- /.Paging-->

        </div><!-- /.row -->
    </div><!-- /.container -->

</div>
<!-- /peopleboard_view -->

</div>
<!-- /peopleboard_edit -->
</div><!-- /.sub_contents_body -->

<div class="sub_contents_ads" style="display:none;">
    <div>
    </div>
</div>

</div>
</div>

</div> <!-- rows -->

</div><!-- container-fluid -->

<!-- 1200px 이하일 경우 표시되는 footer -->
<div class="copyright_foot">
    <br /><br />
    <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

        <hr style="margin:0 15px 0 15px;" />

        <center>
            <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
        </center>
    </nav>
</div>
<!-- /1200px 이하일 경우 표시되는 footer -->

</div>

<div class="subar sub-slide1">
    <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>
</div>
<!-- /Main Page Layout Set -->


