<div ng-show="isLoading" style="position: absolute; top: 20%;left: 48%; z-index: 1000;" class="ai-circled ai-indicator ai-grey-spin"></div>

<div class="mini_story">

    <div class="miniboard_titlebar">
        <span class="miniboard_title">{{ portletTitle }}</span>

        <a class="miniboard_tab_more" ng-click="click_showList();">더보기</a>

        <div ng-if="option.tab" ng-repeat="tab in option.tab" ng-class="tabIdx == $index ? 'miniboard_tab_on' : 'miniboard_tab'" ng-click="click_tabIndex($index)">{{tab.name}}</div>
    </div>

    <div class="mini_story_rollcate" style="margin-bottom:5px;">
        <a class="mini_story_rollcate_left">Pre Category</a>

        <div class="mini_story_rollcate_catenames">
            <ul class="mini_story_rollcate_ul">
                <li ng-repeat="category in category_b" ng-class="categoryIdx == category.NO ? 'foucs' : ''">
                    <a ng-if="categoryIdx != category.NO" class="rollcate_link" ng-click="click_selectCategory(category)">{{category.CATEGORY_NM}}</a>
                    <span ng-if="categoryIdx == category.NO">{{category.CATEGORY_NM}}</span>
                </li>
                <!--<li ng-class="categoryIdx == 1 ? 'foucs' : ''"><a ng-if="categoryIdx != 1" class="rollcate_link" ng-click="click_selectCategory(1, 'Food')">Food</a><span ng-if="categoryIdx == 1">Food</span></li>-->
                <!--<li ng-class="index == 2 : 'foucs'"><a ng-if="index != 2" class="rollcate_link" ng-click="click_selectCategory(2, 'DIY')">DIY</a><span ng-if="index == 2"></span></li>-->
                <!--<li ng-class="index == 3 : 'foucs'"><a ng-if="index != 3" class="rollcate_link" ng-click="click_selectCategory(3, 'Travel')">Travel</a><span ng-if="index == 3"></span></li>-->
                <!--<li ng-class="index == 4 : 'foucs'"><a ng-if="index != 4" class="rollcate_link" ng-click="click_selectCategory(4, 'Place')">Place</a><span ng-if="index == 4"></span></li>-->
                <!--<li ng-class="index == 5 : 'foucs'"><a ng-if="index != 5" class="rollcate_link" ng-click="click_selectCategory(5, 'Investments')">Investments</a><span ng-if="index == 5"></span></li>-->
                <!--<li ng-class="index == 6 : 'foucs'"><a ng-if="index != 6" class="rollcate_link" ng-click="click_selectCategory(6, 'Health')">Health</a><span ng-if="index == 6"></span></li>-->
                <!--<li ng-class="index == 7 : 'foucs'"><a ng-if="index != 7" class="rollcate_link" ng-click="click_selectCategory(7, 'Food')">Food</a><span ng-if="index == 7"></span></li>-->
                <!--<li ng-class="index == 8 : 'foucs'"><a ng-if="index != 8" class="rollcate_link" ng-click="click_selectCategory(8, 'DIY')">DIY</a><span ng-if="index == 8"></span></li>-->
                <!--<li ng-class="index == 9 : 'foucs'"><a ng-if="index != 9" class="rollcate_link" ng-click="click_selectCategory(9, 'Travel')">Travel</a><span ng-if="index == 9"></span></li>-->
                <!--<li ng-class="index == 10 : 'foucs'"><a ng-if="index != 10" class="rollcate_link" ng-click="click_selectCategory(10, 'Place')">Place</a><span ng-if="index == 10"></span></li>-->
                <!--<li ng-class="index == 11 : 'foucs'"><a ng-if="index != 11" class="rollcate_link" ng-click="click_selectCategory(11, 'Investments')">Investments</a><span ng-if="index == 11"></span></li>-->
            </ul>

        </div>
        <a class="mini_story_rollcate_right">Next Category</a>
    </div>

    <div class="mini_board_contents" ng-repeat="item in list" ng-click="click_showView(item.NO);">
        <img ng-src="{{item.MAIN_FILE}}" class="mini_board_contents_img" />
        <div class="mini_board_contents_txt">

            <span class="mini_story_txt_head">{{item.PROJECT_NM}}</span>
            <span class="mini_story_txt_title">| {{item.SUBJECT}}</span>


            <ul class="mini_board_feeds">
                <li class="mini_reply" style="float: right;">{{item.REPLY_COUNT}}</li>
                <li class="mini_like" style="float: right;">{{item.LIKE_CNT}}</li>
            </ul>
        </div>
    </div>

    <div class="mini_story_contentbox">
        <div class="row" style="margin:0 auto; position:relative;">
            <div class="col-xs-2" style="padding:4px;">
                <span class="mini_story_contentbox_kortitle">건강<br /><strong>먹거리</strong></span>
                <div class="mini_story_contentbox_engtitle">Health<br />&nbsp;&nbsp;& Food</div>
                <a class="miniboard_tab_slideprev" style="margin-top:-12px;" title="이전">이전슬라이드</a>
                <a class="miniboard_tab_slidenext" style="margin-top:-12px;" title="다음">다음슬라이드</a>
            </div>

            <div class="col-xs-10 mini_story_contentboxlist_roll">
                <div class="mini_story_contentboxlist_wrap">
                <!--<div class="mini_peoplebabymodel_slider_pic">-->

                    <slick id="{{option.id}}" dots="false" autoplay="true" center-mode="false" slides-to-show="4" slides-to-scroll="4" autoplay-speed="3000" fade="false" pause-on-hover="false"></slick>

                    <!--<div class="mini_story_contentboxlist">-->
                        <!--<div class="mini_story_contentbox_img">-->
                            <!--<span class="mini_story_contentbox_cate">초기(4-6)</span>-->
                            <!--<img src="imgs/ange/temp/story_food_01.jpg" />-->
                        <!--</div>-->
                        <!--<span class="mini_story_contentbox_title">단호박 미음</span>-->
                    <!--</div>-->
                    <!--<div class="mini_story_contentboxlist">-->
                        <!--<div class="mini_story_contentbox_img">-->
                            <!--<span class="mini_story_contentbox_cate">중기(7-8)</span>-->
                            <!--<img src="imgs/ange/temp/story_food_02.jpg" />-->
                        <!--</div>-->
                        <!--<span class="mini_story_contentbox_title">비트닭고기밥</span>-->
                    <!--</div>-->
                    <!--<div class="mini_story_contentboxlist">-->
                        <!--<div class="mini_story_contentbox_img">-->
                            <!--<span class="mini_story_contentbox_cate">후기(9-11)</span>-->
                            <!--<img src="imgs/ange/temp/story_food_03.jpg" />-->
                        <!--</div>-->
                        <!--<span class="mini_story_contentbox_title">쇠고기애호박</span>-->
                    <!--</div>-->
                    <!--<div class="mini_story_contentboxlist">-->
                        <!--<div class="mini_story_contentbox_img">-->
                            <!--<span class="mini_story_contentbox_cate">완료기(12-15)</span>-->
                            <!--<img src="imgs/ange/temp/story_food_04.jpg" />-->
                        <!--</div>-->
                        <!--<span class="mini_story_contentbox_title">오색나물비빔밥</span>-->
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>

</div>

