<div ng-show="isLoading" style="position: absolute; top: 20%;left: 48%; z-index: 1000;" class="ai-circled ai-indicator ai-grey-spin"></div>

<div class="mini_story">

    <div class="miniboard_titlebar">
        <span class="miniboard_title">{{::portletTitle}}</span>

        <a class="miniboard_tab_more" ng-click="click_showList();">더보기</a>

        <div ng-if="option.tab" ng-repeat="tab in :: option.tab" ng-class="tabIdx == $index ? 'miniboard_tab_on' : 'miniboard_tab'" ng-click="click_tabIndex($index)">{{::tab.name}}</div>
    </div>

    <div class="mini_story_rollcate" style="margin-bottom:5px;">
        <a class="mini_story_rollcate_left" ng-click="click_preCategory()">Pre Category</a>

        <div class="mini_story_rollcate_catenames">
            <ul class="mini_story_rollcate_ul">
                <slick id="category" current-index="0" dots="false" autoplay="false" center-mode="true" slides-to-show="6" slides-to-scroll="1">
                    <div ng-repeat="category in category_b">
                        <li ng-class="cateIdx == $index ? 'foucs' : ''">
                            <a ng-if="cateIdx != $index" class="rollcate_link" ng-click="click_selectCategory(category)">{{::category.CATEGORY_NM }}</a>
                            <span ng-if="cateIdx == $index">{{::category.CATEGORY_NM }}</span>
                        </li>
                    </div>
                </slick>

                <!--<li ng-repeat="category in category_b" ng-class="categoryIdx == category.NO ? 'foucs' : ''">-->
                    <!--<a ng-if="categoryIdx != category.NO && (cateIdx <= $index) && (cateIdx + 5 > $index)" class="rollcate_link" ng-click="click_selectCategory(category)">{{::category.CATEGORY_NM }}</a>-->
                    <!--<span ng-if="categoryIdx == category.NO && (cateIdx <= $index) && (cateIdx + 5 > $index)">{{::category.CATEGORY_NM }}</span>-->
                <!--</li>-->

            </ul>
        </div>
        <a class="mini_story_rollcate_right" ng-click="click_nextCategory()">Next Category</a>
    </div>

    <div class="mini_board_contents" ng-repeat="item in list" ng-click="click_showView(item.NO);">
        <img ng-src="{{item.MAIN_FILE}}" class="mini_board_contents_img" />
        <div class="mini_board_contents_txt">

            <span class="mini_story_txt_head">{{::item.PROJECT_NM}}</span>
            <span class="mini_story_txt_title">| {{::item.SUBJECT}}</span>


            <ul class="mini_board_feeds">
                <li class="mini_reply" style="float: right;">{{item.REPLY_COUNT}}</li>
                <li class="mini_like" style="float: right;">{{item.LIKE_CNT}}</li>
            </ul>
        </div>
    </div>

    <div class="mini_story_contentbox">
        <div class="row" style="margin:0 auto; position:relative;">
            <div class="col-xs-2" style="padding:4px;">
                <span class="mini_story_contentbox_kortitle">임신부<br /><strong>솔루션</strong></span>
                <div class="mini_story_contentbox_engtitle">Health<br />&nbsp;&nbsp;& Food</div>
                <a class="miniboard_tab_slideprev" style="margin-top:-12px;" title="이전">이전슬라이드</a>
                <a class="miniboard_tab_slidenext" style="margin-top:-12px;" title="다음">다음슬라이드</a>
            </div>

            <div class="col-xs-10 mini_story_contentboxlist_roll">
                <div class="mini_story_contentboxlist_wrap">
                <!--<div class="mini_peoplebabymodel_slider_pic">-->
                    <slick id="{{::option.id}}" dots="false" autoplay="true" center-mode="false" slides-to-show="4" slides-to-scroll="4" autoplay-speed="3000" fade="false" pause-on-hover="false"></slick>
                </div>

            </div>
        </div>
    </div>

</div>

