<div class="comp_calendar">
    <div class="comp_calendar_wrap no-margin" style="float:left; width:100%; height:100%; border:1px solid #DEDEDE; background-color:#fff;">

        <div class="comp_calendar_viewer" style="float:left; font-family: arial, sna-serif; width: 55%; height:100%; border-right: 1px solid #DEDEDE; ">
            <div class="comp_calendar_viewer_top" style="position:relative; width:100%; padding:18px; font-size:0.86em; text-align:center; background-color:#2F3C45; color:#EEE;">
                {{search.year}}. {{search.month}}
                <a ng-click="moveCalendar(search.year,search.month,-1);" class="rollbtn_white_w5px prev" title="이전 달"></a>
                <a ng-click="moveCalendar(search.year,search.month,1);" class="rollbtn_white_w5px next" title="다음 달"></a>
            </div>

            <!--<style>-->
                <!--ul.cell_day { clear: both; width: 100%; }-->
                <!--ul.cell_day>li { float: left; padding: 10px 5px; width: 14%; height: 30px; background-color: #f0f0f0; list-style-type: none; text-align: center; border: 1px solid #fff; }-->
                <!--ul.cell_day>li.blind { background-color: #f0f0f0; color: #ccc; }-->
                <!--ul.cell_day>li.normal { background-color: #eee; color: #000; }-->
                <!--ul.cell_day>li.event { background-color: #39f; color: #000; }-->

                <!--ul.cell_list { width: 100%; background-color: #eee; line-height: 1.4em;}-->
                <!--ul.cell_list>li { padding: 5px 0px; margin-top: 1px; background-color: #fff; list-style-type: none; text-align: left; border: 1px solid #fff; font-size: 0.75em;}-->
            <!--</style>-->

            <div class="comp_calendar_viewer_content" style="padding:8px 5px; width:100%;">
                <!-- item.type = normal / hidden / event -->
                <ul class="cell_day mini" style="border-top:1px solid #ddd; width:100%; margin:0px auto;">
                    <li class="{{item.type}}" title="{{item.event}}" ng-repeat="item in data.calendar">
                        <img src="/imgs/ange/_blank.gif" border="0" style="width:100%;" >
                        <span class="cell_day_num_comp {{item.type}}">{{item.day}}</span>
                    </li>
                    <!--<li class="{{item.type}}" title="{{item.event}}" ng-repeat="item in data.calendar">{{item.day}}<br/></li>-->
                </ul>
            </div>
        </div>

        <div class="comp_schedule_viewer" style="float: right; width:45%; height:100%;">
            <div class="comp_schedule_viewer_titlebar">
                <span class="comp_schedule_viewer_titlebar_title">마이캘린더</span>
                <a href="/myange/calendar" class="miniboard_tab_more">더보기</a>
            </div>

            <div class="comp_schedule_viewer_content"  style="margin-top:6px; float:left; width:100%; padding:10px; height:200px; overflow: auto; overflow-x:visible;">
                <div ng-repeat="item in data.list" class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">
                    <span class="comp_schedule_viewer_date">{{search.year}}-{{search.month}}-{{item.day}}</span>
                    <ul ng-bind-html="item.event" style="padding: 10px; font-weight: 600;"></ul>
                </div>

                <!--<div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">-->
                    <!--<span class="comp_schedule_viewer_date">2015-02-21</span>-->
                    <!--<p><a class="comp_schedule_viewer_text">유모차 체험단 후기 작성 마감일</a></p>-->
                <!--</div>-->

                <!--<div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">-->
                    <!--<span class="comp_schedule_viewer_date">2015-03-02</span>-->
                    <!--<p><a class="comp_schedule_viewer_text schedule_event">둘째 둥이 생일 <strong>D-7</strong></a></p>-->
                <!--</div>-->
                <!--<div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">-->
                    <!--<span class="comp_schedule_viewer_date">2015-03-08</span>-->
                    <!--<p><a class="comp_schedule_viewer_text">이벤트 신청 사용기 남기기</a></p>-->
                <!--</div>-->
                <!--<div class="comp_schedule_viewer_contentlist" style="font-size:0.86em; line-height: 14px; margin: 5px 0px;">-->
                    <!--<span class="comp_schedule_viewer_date">2015-03-12</span>-->
                    <!--<p><a class="comp_schedule_viewer_text schedule_information">막내 붕붕이 <strong>B형간염</strong> 예방접종</a></p>-->
                <!--</div>-->
            </div>
        </div>

    </div>
</div>