<div class="peoplepoll" ng-model="item" ng-click="click_showPoll(item.ada_idx)">
    <div ng-if="item.ada_state == 1 && item.ada_date_open <= todayDate && todayDate <= item.ada_date_close" class="poll_left"></div>
    <div class="poll_right"></div>
    <!-- 최근 poll 제목 -->
    <div class="poll_txt">
        <strong>{{item.ada_title}}</strong>
    </div>
    <!-- 최근 poll 제목 -->
    <div class="poll_txtSub">
        <div class="poll_s01">{{item.ada_date_open | date:'yyyy-MM-dd'}} ~ {{item.ada_date_close | date:'yyyy-MM-dd'}}</div>
        <div class="poll_s02">지금 바로 투표하세요!</div>
        <div class="peoplepoll_gotopoll"><a ng-click="click_showPoll(item.ada_idx)">투표하기</a></div>
    </div>
</div>