<!--<div ng-if="linkGb == 'talk'" class="mini_peoplelinetalk" ng-click="click_moveMenu()">-->
    <!--<div class="mini_peoplelinetalk_contents">-->
        <!--<div class="mini_peoplelinetalk_contents_bg"> <img src="" /> </div>-->
    <!--</div >-->
    <!--<div class="mini_peoplelinetalk_bg_r"></div>-->
    <!--<div class="mini_peoplelinetalk_txt">-->
        <!--<p class="mini_peoplelinetalk_txt1"><strong>앙쥬회원님</strong></p>-->
        <!--<p class="mini_peoplelinetalk_txt2">한줄톡<br>남겨주세요</p>-->
        <!--<p class="mini_peoplelinetalk_txt3">출석만해도<br>포인트가 쌓인다?!</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div ng-if="linkGb == 'book'" class="mini_peoplebooktalk" ng-click="click_moveMenu()">-->
    <!--<div class="mini_peoplebooktalk_bg"></div>-->
    <!--<div class="mini_peoplebooktalk_title1"></div>-->
    <!--<div class="mini_peoplebooktalk_title2"></div>-->
<!--</div>-->

<!--<div ng-if="linkGb == 'group'" class="mini_angegrouplink" ng-click="click_moveMenu()">-->
    <!--<div class="mini_angegrouplink_go">-->
        <!--앙쥬그룹 홈으로 가기-->
    <!--</div>-->
<!--</div>-->

<!--<div ng-if="linkGb == 'online'" class="mini_angeonlinelink" ng-click="click_moveMenu()">-->

<!--</div>-->
<!--discusstitle-->

<div ng-if="linkGb == 'talk'" class="mini_peoplelinetalk" ng-click="click_moveMenu()">
    <!--<div class="mini_peoplelinetalk_contents">-->
        <!--<div class="mini_peoplelinetalk_contents_bg"> <img src="" /> </div>-->
    <!--</div >-->
    <!--<div class="mini_peoplelinetalk_bg_r"></div>-->
    <!--<div class="mini_peoplelinetalk_txt">-->
        <!--<p class="mini_peoplelinetalk_txt1"><strong>앙쥬회원님</strong></p>-->
        <!--<p class="mini_peoplelinetalk_txt2">한줄톡<br>남겨주세요</p>-->
        <!--<p class="mini_peoplelinetalk_txt3">출석만해도<br>포인트가 쌓인다?!</p>-->
    <!--</div>-->

    <div class="mini_peoplelinetalk_img"><img src="/imgs/ange/banner_daily_text.png" style="width:100%; border-top-right-radius: 12px;"/></div>
</div>

<div ng-if="linkGb == 'book'" class="mini_peoplebooktalk" ng-click="click_moveMenu()">
    <div class="mini_peoplebooktalk_bg"></div>
    <div class="mini_peoplebooktalk_title1"></div>
    <div class="mini_peoplebooktalk_title2"></div>
</div>

<div ng-if="linkGb == 'group'" class="mini_angegrouplink" ng-click="click_moveMenu()">
    <div class="mini_angegrouplink_go">
        앙쥬그룹 홈으로 가기
    </div>
</div>

<div ng-if="linkGb == 'online'" class="mini_angeonlinelink" ng-click="click_moveMenu()">
    <div class="mini_angeonlinelink_title"><img src="/imgs/ange/banner_online_title.png" /></div>
    <div class="mini_angeonlinelink_img"><img src="/imgs/ange/banner_online_img.png" /></div>
    <div class="mini_angeonlinelink_arw"><img src="/imgs/ange/banner_prize_arrow.png" /></div>
</div>

<div ng-if="linkGb == 'dolparty'" class="mini_angedolpartylink" ng-click="click_moveMenu()">
    <div class="mini_angedolpartylink_img"><img src="/imgs/ange/banner_birthday_img.png" style="width:100%;" /></div>
    <div class="mini_angedolpartylink_title"><img src="/imgs/ange/banner_birthday_text.png" style="width:100%;" /></div>
    <div class="mini_angedolpartylink_arw"><img src="/imgs/ange/banner_prize_arrow.png" /></div>

</div>