<div class="wrap">
    <div ng-include=" '/partials/ange/com/ui-ads.html' "></div>

    <div class="panel_content">

        <div ng-include=" '/partials/ange/com/ui-gnb.html' "></div>

        <div ng-class="ui_wraptype">

            <!--<div ng-if="menu[1] != 'main'" ng-include=" '/partials/ange/com/ui-lnb.html' "></div>-->

            <ui-lnb></ui-lnb>

            <ange-layout></ange-layout>

        </div>

    </div>

    <div ng-include=" '/partials/ange/com/ui-utility.html' "></div>

    <div ng-show="uid != '' && uid != null" ng-click="test()">세션이 있을때만 보입니다.</div>
    <div ng-show="uid == '' || uid == null" ng-click="test()">세션이 없을때 보입니다.</div>

    <!--<div ng-show="role != '' && role!=null">{{role}}</div>-->
</div>
