
<div class="lnb_handle">
    <div class="lnb_handle_wrap">

        <span class="label label-danger">콘텐츠 모아보기</span>

        <div class="btn-group" style="margin-left:5px;">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:120px;">
                <span ng-if="category[0] == null"> 육아단계별 </span>
                <span ng-if="category[0] != null"> {{category[0].CATEGORY_NM}} </span>

                <span class="caret" style="float:right; margin:8px 4px 0 0"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="click_selectCategory(0, null)">전체</a></li>
                <li ng-repeat="category in category_a">
                    <a ng-click="click_selectCategory(0, category)">{{category.CATEGORY_NM}}</a>
                </li>
            </ul>

            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  style="width:120px;">
                <span ng-if="category[1] == null"> 주제별 </span>
                <span ng-if="category[1] != null"> {{category[1].CATEGORY_NM}} </span>

                <span class="caret" style="float:right; margin:8px 4px 0 0"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="click_selectCategory(1, null)">전체</a></li>
                <li ng-repeat="category in category_b">
                    <a ng-click="click_selectCategory(1, category)">{{category.CATEGORY_NM}}</a>
                </li>
            </ul>

            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
        </div>


        <div class="lnb_handle_wrap_right" style="float:right; height:22px; width:260px; padding:0; margin:0;">

            <img src="/imgs/ange/lnb_icon_click.png" style="float:left; margin:2px 4px 0 0;" />

            <div style="float:left; font-size:0.86em; height:100%; padding-left:4px;">
                <div class="checkbox" style="padding-top:0px; margin:0px;">
                    <!-- input type="checkbox" value="" style="margin-top:3px;" disabled -->
                    <input type="checkbox" value="" style="margin-top:3px;">
                    내게 필요한 정보 모아보기
                </div>
            </div>

            <a class="lnb_handle_close glyphicon glyphicon-chevron-up"></a>
            <!-- a class="lnb_handle_close glyphicon glyphicon-chevron-down"></a -->
        </div>

    </div>
</div>
