<div class="container-fluid people_view_replywrap" >
    <div class="row">

        <!--<div class="col-xs-12 people_view_replytop">-->
            <!--<a class="reply_sort idx" title="등록순으로 정렬" id="reply_sort_idx"></a>-->
            <!--<a class="reply_sort date selected" id="reply_sort_date" title="최신글 순으로 정렬"></a> &lt;!&ndash; 선택되어 있을 경우 class에 selected 추가 &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.col-xs-12&ndash;&gt;-->

        <div class="col-xs-12 people_view_replys" ng-repeat="replyItem in replyList">
            <dl class="dl-horizontal" >
                <dt>{{replyItem.NICK_NM}}</dt>
                <dd><div class="people_view_replys_date">{{replyItem.REG_DT}}</div></dd>
                <dd style="margin:0px;">
                    {{replyItem.BLIND_FL == 'N' ? replyItem.COMMENT : '관리자에 의해 블라인드 된 의견입니다'}}<!--{{replyItem.COMMENT}}-->
                    <p style="font-size:0.86em; margin:4px 0 0 0; ">
                        <a ng-click="showDetails = ! showDetails">댓글<span style="color: #df5348">({{replyItem.RE_COUNT}})</span></a>
                        &nbsp; | &nbsp;<a href="#">신고</a>
                        <span ng-show="uid == item.REG_UID || replyItem.BLIND_FL == 'N' ">&nbsp; | &nbsp;<a ng-click="showCommentDetails = ! showCommentDetails">수정</a></span>
                        <span ng-show="uid == item.REG_UID || replyItem.BLIND_FL == 'N'">&nbsp; | &nbsp;<a ng-click="click_deleteReply(replyItem);">삭제</a></span>
                        &nbsp; | &nbsp;<a ng-click="click_blind(replyItem.NO);" ng-show="replyItem.BLIND_FL == 'N'" class="table_red">블라인드</a>
                                        <a ng-click="click_blind_clear(replyItem.NO);" ng-show="replyItem.BLIND_FL == 'Y'" class="table_red">블라인드해제</a>

                        <p style="font-size:0.86em; margin:4px 0 0 0; "  ng-class="{ 'hidden': ! showCommentDetails }">
                            &nbsp;&nbsp;&nbsp;<input type="text" ng-model="replyItem.UPDATE_COMMENT" style="width:60%;"/>&nbsp;<a ng-click="click_updateReply(replyItem.NO, replyItem.UPDATE_COMMENT);">수정</a>
                        </p>
                        <!-- 관리자 또는 방장에게만 보여집니다. -->
                    </p>
                </dd>
            </dl>

            <div class="reply_child"  ng-class="{ 'hidden': ! showDetails }"> <!--ng-class="{ 'hidden': ! showDetails }"-->
                <dl ng-repeat="reItem in replyItem.REPLY_COMMENT">
                    <dt>
                        <span>└&nbsp;</span>{{reItem.NICK_NM}}
                        <small>
                            <div class="smalldate">
                                {{reItem.REG_DT}}
                                <a href="#">신고</a>
                                <a ng-show="replyItem.BLIND_FL == 'N' || uid == item.REG_UID" ng-click="showReCommentDetails = ! showReCommentDetails">수정</a>
                                <a ng-show="replyItem.BLIND_FL == 'N' || uid == item.REG_UID" ng-click="click_deleteReply(reItem);">삭제</a>
                                <a ng-click="click_blind(reItem.NO);" ng-show="reItem.BLIND_FL == 'N' && uid != ''" class="table_red">블라인드</a>
                                <a ng-click="click_blind_clear(reItem.NO);" ng-show="reItem.BLIND_FL == 'Y' && uid != ''" class="table_red">블라인드해제</a>
                            </div>
                        </small>
                        <p style="font-size:0.86em; margin:4px 0 0 0; "  ng-class="{ 'hidden': ! showReCommentDetails }">
                            <br/>
                            &nbsp;&nbsp;&nbsp;<input type="text" ng-model="reItem.UPDATE_COMMENT" style="width:60%;"/>&nbsp;<a ng-click="click_updateReply(reItem.NO, reItem.UPDATE_COMMENT);">수정</a>
                        </p><!--ng-show="uid == reItem.REG_UID && replyItem.BLIND_FL == 'N'">-->
                    </dt>
                    <dd>{{reItem.BLIND_FL == 'N' ? reItem.COMMENT : '관리자에 의해 블라인드된 댓글입니다'}}</dd>
                </dl>

                <center>
                    <form class="form-inline reply_child_group" ng-model="reply">
                        <div class="form-group">
                            <p class="form-control-static table_blue">답글</p>
                        </div>
                        <div class="form-group reply_form">
                            <input type="hidden" name="parent_no" ng-model="reply.PARENT_NO" id="parent_no" value="{{replyItem.NO}}"/>
                            <input type="hidden" ng-model="reply.LEVEL" id="level" value="{{replyItem.LEVEL}}"/>
                            <input type="hidden" ng-model="reply.REPLY_NO" id="reply_no"   value="{{replyItem.REPLY_NO}}"/>
                            <input type="text" ng-model="reply.COMMENT" class="form-control" style="width:100%;">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="click_saveReComment(replyItem);">등록</button>
                    </form>
                </center>
            </div><!-- /.reply_child -->
        </div><!-- /.people_view_replys-->

        <div class="col-xs-12 people_view_replys" data-ng-show="replyList == ''">
            <dl class="dl-horizontal" >
                <dt></dt>
                <dd><div class="people_view_replys_date"></div></dd>
                <dd style="margin:0px;">
                    댓글이 없습니다.
                </dd>
            </dl>
        </div>

    </div><!-- /.row -->
</div><!-- /.container -->

<div class="container-fluid peopleboard_view_commentwrap">
    <div class="row peopleboard_view_commenttop">
        <div class="col-xs-12 peopleboard_view_commenttitle">
            <span class="people_small_title" style="font-size:1.32em; font-weight: bold; ">의견쓰기</span>
            <small style="color:#868686;">타인비방, 모욕, 개인정보 노출, 상업광고, 홍보글 등은 공지없이 바로 삭제</small>
        </div><!-- /.col-xs-12-->
    </div><!-- /.row -->
    <div class="row peopleboard_view_commentbox">
        <div class="col-xs-10 peopleboard_view_text">
            <textarea ng-model="replyItem.COMMENT" id="comment" name="comment" class="form-control" rows="4" style="resize: none;" ng-keyup="fnByteCal();"></textarea>
        </div><!-- /.col-xs-10-->
        <div ng-show="commentForm.comment.$error.maxlength">의견등록 10자</div>
        <div class="col-xs-2 peopleboard_view_btns">

            <span>(500자 이내)</span>
            <a class="reply_submit" ng-click="click_saveComment();">댓글등록</a>

        </div><!-- /.col-xs-2-->
    </div><!-- /.row -->
</div><!-- /.container -->