<div class="mini_peoplebabymodel">
    <div class="mini_peoplebabymodel_logo" ></div>
    <div class="mini_peoplebabymodel_banner" ></div>
    <p>+ 앙쥬마일리지 (1일1회) <span class="point">15P 적립</span></p>
    <div class="mini_peoplebabymodel_top"></div>
    <div class="mini_peoplebabymodel_top_bg"></div>
    <div class="mini_peoplebabymodel_slider">
        <div class="mini_peoplebabymodel_slider_pic">

            <slick id="{{option.id}}" dots="false" autoplay="true" center-mode="false" slides-to-show="3" slides-to-scroll="1" autoplay-speed="3000" fade="false" pause-on-hover="false"></slick>

            <!--<dl>-->
                <!--<dd><a href="#"><img src="imgs/ange/mini_peoplebabymodel_01.png" width="99" height="119" alt="" /></a></dd>-->
                <!--<dd><a href="#"><img src="imgs/ange/mini_peoplebabymodel_02.png" width="99" height="119" alt="" /></a></dd>-->
                <!--<dd><a href="#"><img src="imgs/ange/mini_peoplebabymodel_03.png" width="99" height="119" alt="" /></a></dd>-->
                <!--<dd><a href="#"><img src="imgs/ange/mini_peoplebabymodel_04.png" width="99" height="119" alt="" /></a></dd>-->
            <!--</dl>-->
        </div>
        <span class="prev_btn" ng-click="click_slickPrev()">이전 버튼</span><span class="next_btn" ng-click="click_slickNext()">다음 버튼</span>
    </div>
</div>
