
<!-- ADs Panel -->
<div ng-controller="ui-ads">

    <a style="cursor:pointer;" title="앙쥬"><img src="imgs/ange/ui_logo_01.png" style="float:left;" ng-click="click_mainLogo()"/></a>
    <img src="imgs/ange/ui_slogan_01.png" style="float:left; margin:10px 2px;" />

    <div class="mini_ad_roll_group">

        <div class="mini_ad_roll mini_ad_roll_1">
            <ange-portlet-slide-ads ng-model="option_r1"></ange-portlet-slide-ads>
        </div>

        <div class="mini_ad_roll mini_ad_roll_2">
            <ange-portlet-slide-ads ng-model="option_r2"></ange-portlet-slide-ads>
        </div>

        <div class="mini_ad_roll mini_ad_roll_3">
            <ange-portlet-slide-ads ng-model="option_r3"></ange-portlet-slide-ads>
        </div>

        <div class="mini_ad_roll mini_ad_roll_4">
            <ange-portlet-slide-ads ng-model="option_r4"></ange-portlet-slide-ads>
        </div>

    </div>

    <div class="copyright_left">

        <div style="border-right:1px solid #eee; font-size:1.08em; font-weight:600;">
            <div class="ange_darkgray">무크하우스</div>
        </div>

        <!--<img src="imgs/ange/footer_ci_01.png" style="float:left; padding-top:3px;" />-->
        <!--<a class="footer_ask" title="문의하기" ng-click="click_affiliates()">문의</a>-->

        <div style="float:left; font-size:0.86em; line-height:18px; margin-top:2px;">
            <span class="ange_gray">서울시 마포구 독막로 155</span>
            <span style="line-height:20px;">
                <strong class="ange_blue">대표번호</strong>
                <span class="ange_gray" style="font-size:1.18em; font-weight:600;">02.333.4650</span>
            </span>
            <div style="margin:12px auto;">
                <button class="footer_btn" ng-click="click_intro()">회사소개</button>
                <button class="footer_btn" ng-click="click_affiliates()">광고문의</button>
            </div>

            <!--<span>대표자: 홍길동</span><br />-->
            <!--<div class="table_gray" style="padding-left:14px; "><strong>개인정보관리책임자</strong></div>-->
            <!--<div class="table_gray" style="padding-left:12px; " ng-click="test()">온라인사업팀 이경주</div>-->
            <!--<div style="margin-top:6px;">&#169; ange. All Rights Reserved.</div>-->
        </div>

        <!--<img src="imgs/ange/footer_address_01.png" style="float:left;" />-->
        <div style="margin:0px auto; margin-left:-18px;">
            <a href="mailto:angeweb@ange.co.kr" class="footer_mailto" title="메일">메일 </a>
            <a href="https://www.facebook.com/angemoms" class="footer_fbto" title="앙쥬 페이스북" target="_blank">페이스북 </a>
            <a href="http://blog.naver.com/angemoms" class="footer_blogto" title="앙쥬 블로그" target="_blank">블로그</a>
            <a href="https://story.kakao.com/ch/angemom" class="footer_kakaoto" title="카카오페이지" target="_blank">카카오페이지</a>
        </div>
        <img src="imgs/ange/footer_copyright_01.png" style="float:left; opacity: .6;" />

        <div class="ange_gray" style="float:left; font-size:0.76em; width:100%; margin-top:4px; text-align: left;">
            <div style="margin:4px 0;">상호/ <strong>주식회사 무크하우스</strong><br/></div>
            <div style="margin:4px 0;">사업자번호/ <strong>105-81-95738</strong><br/></div>
            <div style="margin:4px 0;">개인정보관리책임자/ <br/><strong>온라인사업팀 이경주</strong> <br/></div>
            <div style="margin:4px 0;">대표자/ <strong>임용태</strong> <br/></div>
            <div style="margin:4px 0;">통신판매 신고번호/ <br/><strong>마포통신 제 1824</strong> <br/></div>
            <!--주소/ <strong>서울시 마포구 독막로 155 앙쥬B/D</strong> <br/>-->
        </div>
    </div>

</div>
<!-- /ADs Panel -->
