
<!-- ADs Panel -->
<div class="panel_ad" ng-controller="ui-ads">

	<a style="cursor:pointer;" title="앙쥬"><img src="imgs/ange/ui_logo_01.png" style="float:left;" ng-click="click_mainLogo()"/></a>
	<img src="imgs/ange/ui_slogan_01.png" style="float:left; margin:10px 2px;" />

	<div class="mini_ad_roll_group">
		<div class="mini_ad_roll mini_ad_roll_1"></div>
		<div class="mini_ad_roll mini_ad_roll_2"></div>
		<div class="mini_ad_roll mini_ad_roll_3"></div>
		<div class="mini_ad_roll mini_ad_roll_4"></div>
	</div>

	<div class="copyright_left">
		<img src="imgs/ange/footer_ci_01.png" style="float:left; padding-top:3px;" />
		<a class="footer_ask" title="문의하기">문의</a>

		<img src="imgs/ange/footer_address_01.png" style="float:left;" />

		<a class="footer_mailto" title="메일">메일 </a>
		<a class="footer_fbto" title="앙쥬 페이스북">페이스북 </a>
		<a class="footer_blogto" title="앙쥬 블로그">블로그</a>
		<img src="imgs/ange/footer_copyright_01.png" style="float:left;" />
	</div>

</div>
<!-- /ADs Panel -->
