
	<!-- GNB -->
	<div class="gnb" ng-controller="ui-gnb">
		<div class="gnb_menu">
			<a href="/story/content/list" class="gnb_chnnel chnnel1">ANGE Story</a>
			<a href="/people/home" class="gnb_chnnel chnnel2">ANGE People</a>
			<a href="/moms/home" class="gnb_chnnel chnnel3">ANGE Mom's</a>
			<!--<a href="#/myange/home" id="myange_home" class="gnb_chnnel chnnel4">My ANGE</a>-->
            <a id="myange_home" class="gnb_chnnel chnnel4">My ANGE</a>

			<div class="gnb_right">
				<a href="/store/home" class="gnb_store ch_store">ANGE Store</a>

				<form class="search_formgroup">
					<div class="form-group search_form">
						<input type="text" class="form-control search_input" id="exampleInputPassword2" placeholder="검색" />
						</div>
					<a class="gnb_search ch_search" title="검색">Search</a>
				</form>
			</div>
		</div>
	</div>
	<!-- /GNB -->
