    <div class="mobile-header">
        <a href="/main"><img src="/imgs/ange/_blank_4by3.gif" class="mobilelogo" alt="I Love ANGE" title="I Love ANGE"/></a>
    </div>

	<!-- GNB -->
	<div class="gnb" ng-controller="ui-gnb">

		<div class="gnb_menu">
			<a href="/story/content/list" ng-class="channel_nm == 'story' ? 'abc' : 'abc nowmenu'" class="gnb_chnnel chnnel1">ANGE Story</a>
			<a href="/people/home" ng-class="channel_nm == 'people' ? 'abc' : 'abc nowmenu'" class="gnb_chnnel chnnel2">ANGE People</a>
			<a href="/moms/home" ng-class="channel_nm == 'moms' ? 'abc' : 'abc nowmenu'" class="gnb_chnnel chnnel3">ANGE Mom's</a>
            <a ng-click="click_myange();" ng-class="channel_nm == 'myange' ? 'abc' : 'abc nowmenu'" class="gnb_chnnel chnnel4">My ANGE</a>

			<div class="gnb_right">
				<a class="gnb_store ch_store">ANGE Store</a>
				<!--<a href="/store/home" class="gnb_store ch_store">ANGE Store</a>-->

				<form class="search_formgroup">
					<div class="form-group search_form">
						<input type="text" class="form-control search_input" id="exampleInputPassword2" placeholder="검색" />
						</div>
					<a class="gnb_search ch_search" title="검색">Search</a>
				</form>
			</div>
		</div>

        <div class="gnb_mobile_menu">
            <ul>
                <li class="menu"><a href="/story/content/list"><img src="/imgs/ange/_blank.gif" class="gnb_subtxt mobile story"></a></li>
                <li class="menu"><a href="/people/home"><img src="/imgs/ange/_blank.gif" class="gnb_subtxt mobile people"></a></li>
                <li class="menu"><a href="/moms/home"><img src="/imgs/ange/_blank.gif" class="gnb_subtxt mobile moms"></a></li>
                <li class="menu"><a href="/store/home"><img src="/imgs/ange/_blank.gif" class="gnb_subtxt mobile store"></a></li>
                <li class="menu"><a href="/myange/home"><img src="/imgs/ange/_blank.gif" class="gnb_subtxt mobile myange"></a></li>
            </ul>
        </div>
	</div>


    <div class="localmenu_mobile_wrap">
        <div class="localmenu_mobile_col">
            <span class="glyphicon glyphicon-home"></span>  <!-- 채널홈으로 이동 -->
        </div>
        <div class="localmenu_mobile_col smenu">
            <div class="btn-group" role="group" aria-label="Depth-1">
                <div class="btn-group" role="button">
                    <button type="button" class="btn btn-link dropdown-toggle no-margin" data-toggle="dropdown" aria-expanded="false" style="color:#fff; text-decoration: none;">
                        행복한 임신
                        <span class="caret" style="margin-left:5px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="top:33px;">
                        <li><a href="#">행복한 임신</a></li>
                        <li><a href="#">기분좋은 출산</a></li>
                        <li><a href="#">즐거운 육아</a></li>
                        <li><a href="#">현명한 부모</a></li>
                        <li><a href="#">앙쥬 스페셜</a></li>
                        <li><a href="#">앙쥬 매거진</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="localmenu_mobile_col smenu">

            <div class="btn-group" role="group" aria-label="Depth-2">
                <div class="btn-group" role="button">
                    <button type="button" class="btn btn-link dropdown-toggle no-margin" data-toggle="dropdown" aria-expanded="false" style="color:#fff; text-decoration: none;">
                        임신부 지침서
                        <span class="caret" style="margin-left:5px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="top:33px;">
                        <li><a href="#">임신부 지침서</a></li>
                        <li><a href="#">푸드 솔루션</a></li>
                        <li><a href="#">뷰티/헬스 솔루션</a></li>
                        <li><a href="#">임신부용품</a></li>
                        <li><a href="#">태교/태담</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
	<!-- /GNB -->
