<div class="copyright_foot">
    <br /><br />
    <nav class="navbar navbar-default navbar-bottom" style="background:none; color:#868686; font-size:0.86em; font-weight:400; border:none; margin:0; border-radius: 0;">

        <hr style="margin:0 15px;" />

            <div class="mobilefooter_logobox">
                <div class="mobilefooter_logobox_logos">
                    <div class="mobilefooter_logobox_logotype">무크하우스</div>
                    <div class="mobilefooter_logobox_links">
                        <a href="mailto:angeweb@ange.co.kr" class="footer_mailto" title="메일">메일 </a>
                        <a href="https://www.facebook.com/angemoms" class="footer_fbto" title="앙쥬 페이스북" target="_blank">페이스북 </a>
                        <a href="http://blog.naver.com/angemoms" class="footer_blogto" title="앙쥬 블로그" target="_blank">블로그</a>
                        <a href="https://story.kakao.com/ch/angemom" class="footer_kakaoto" title="카카오페이지" target="_blank">카카오페이지</a>
                    </div>
                </div>
                <div class="mobilefooter_menubox">
                    <div class="mobilefooter_menubox_menus">
                        <a href="/company/intro">회사소개</a>
                        &nbsp;|&nbsp;
                        <a href="/infodesk/home">고객센터</a>
                        &nbsp;|&nbsp;
                        <!--<a href="/company/affiliates">제휴입점문의</a>-->
                        <a href="/company/affiliates">광고문의</a>
                        &nbsp;|&nbsp;
                        <a href="">개인정보보호방침</a>
                    </div>

                    <div class="mobilefooter_infos">
                        <!--<span><strong>대표자 성명/</strong> 홍길동</span>-->
                        <span><strong>개인정보관리책임자/</strong> 온라인사업팀 이경주</span>
                        <br />
                        <span><strong>주소/</strong> 서울시 마포구 독막로 155 앙쥬B/D</span>
                        <span style="margin-left:24px;"><strong>대표번호/</strong> 02.333.4650</span>
                        <br />
                        <span><strong>사업자번호/</strong> 105-81-95738</span>
                        <!-- button>회사소개</button>
                        <button>제휴입점문의</button -->
                    </div>

                    <div class="mobilefooter_copyright">&#169; ange. All Rights Reserved.</div>
                </div>
            </div>

            <!-- img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" / -->

    </nav>
</div>