<div class="copyright_foot">
    <br /><br />
    <nav class="navbar navbar-default navbar-bottom" style="background:none; color:#868686; font-size:0.86em; font-weight:400; border:none; margin:0; border-radius: 0;">

        <hr style="margin:0 15px;" />

            <div style="margin-top:18px; width:100%; padding:0px 18px;">
                <div style="float:left; border-right:1px solid #eee; font-size:1.54em; font-weight:600; margin-top:10px; padding:12px 32px 26px 16px;">
                    <div style="text-align:center;">무크하우스</div>
                    <div style="text-align:center; margin-left:-25px;">
                        <a class="footer_mailto" title="메일">메일 </a>
                        <a class="footer_fbto" title="앙쥬 페이스북">페이스북 </a>
                        <a class="footer_blogto" title="앙쥬 블로그">블로그</a>
                    </div>
                </div>
                <div style="float:left; line-height:18px; margin-left: 18px; margin-top:8px;">
                    <div style="font-size:0.92em; margin-top:6px; margin-bottom:10px;">
                        <a href="">회사소개</a>
                        &nbsp;|&nbsp;
                        <a href="">제휴입점문의</a>
                        &nbsp;|&nbsp;
                        <a href="">개인정보보호방침</a>
                    </div>

                    <span><strong>대표자 성명/</strong> 홍길동</span>
                    <span style="margin-left:18px;"><strong>개인정보관리책임자/</strong> 이경주</span>
                    <br />
                    <span><strong>주소/</strong> 서울시 마포구 독막로 155 앙쥬B/D</span>
                    <span style="margin-left:18px;"><strong>대표번호/</strong> 02.333.4650</span>
                    <br />
                    <span><strong>사업자번호/</strong> 000-00-00000</span>
                    <!-- button>회사소개</button>
                    <button>제휴입점문의</button -->
                    <div style="margin-top:6px;">&#169; ange. All Rights Reserved.</div>
                </div>
            </div>

            <!-- img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" / -->

    </nav>
</div>