
<!-- Utility Panel -->
<div ng-controller="ui-utility">
	<div class="inven_1stClass">
		<a class="ADbanner_normal shadowed" title="배너타이틀" style="background-image:url('imgs/ange/temp/allbanner.png'); background-position:center;">1st Class Banner</a>
	</div>	

	<div class="comp_userlog">

		<!-- 로그인 전 -->
		<div ng-if="!uid" class="userlog_login">
				<img src="/imgs/ange/login.png" class="userlog_login_btn" ng-click="click_login()">

				<div class="userlog_login_func">
					<a href="#" class="forgotidpw">아이디/비번찾기</a>
					<a class="joinus" ng-click="click_joinMember()">회원가입</a>
				</div>
		</div>
		<!-- /로그인 전 -->

		<!-- 로그인 후 -->
		<div ng-if="uid" class="userlog_login_now">
				<a class="userconfig" title="개인정보설정" ng-click="click_settingAccount()"><span class="glyphicon glyphicon-cog"></span></a>
				<img ng-src="{{img}}" class="userlog_login_pic">

				<div class="userlog_login_info">
					<span class="usernickname">{{user_info.NICK_NM}}</span> 님, 안녕하세요.
				</div>

				<div class="userlog_user_func">
					<a class="babyinfo" ng-click="click_settingBaby()"><span class="glyphicon glyphicon-heart" style="color:#fb6362; margin-right:4px;"></span>아기정보보기</a>
					<a class="logout" ng-click="logoutMe()">로그아웃</a>
				</div>

				<div class="userlog_user_subinfo">
					<span class="user_grade"><span class="glyphicon glyphicon-star-empty"></span> 별초보맘</span>
					<span class="user_mileage"><small>Mileage</small> <span style="color:#fb6362; font-weight:bold">{{user_info.MILEAGE.REMAIN_POINT}}</span></span>
				</div>

		</div>
		<!-- /로그인 후 -->

		<div class="userlog_utility">
		<a class="util1" ng-click="click_myangeWriting()">내 게시물</a>
		<a class="util2" ng-click="click_myangeMessage()">메시지</a>
		<a class="util3" ng-click="click_infodesk()">고객센터</a>
		</div>

		<a href="/club/home"><img src="/imgs/ange/temp/club_banner_25.png" style="margin-top:8px;"/></a>
    </div>

	<div class="comp_calm">
		<img src="/imgs/ange/temp/keepcalm.png" />
	</div>

	<!--div class="comp_calm">
		<div class="comp_minialbum">
		User info
		</div>

		<div class="comp_calendar">
		Calendar
		</div>
	</div -->


	<div class="comp_subbanner">
		<div class="inven_catchup">
			<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('imgs/ange/temp/util_banner_01.jpg'); background-position:center;">Premium [Catch-Up] #1</a>
		</div>
		<div class="inven_catchup">
			<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('imgs/ange/temp/util_banner_02.jpg'); background-position:center;">Premium [Catch-Up] #2</a>
		</div>
	</div>

</div>
<!-- /Utility Panel -->

<script type="text/ng-template" id="login_modal.html">

    <!--<div class="login_modal_wrap" style="position:fixed; left:50%; top:50%; margin-left:-365px; margin-top:-170px; width:730px; height:340px; background-color: #fff;">-->


    <!--</div>-->

        <div class="modal-header" style="background-color:#000; height:40px; width:730px; padding:0px;">
            <div class="login_modal_title" style="color:#fff; line-height:40px; padding-left:12px;">
                <strong>로그인</strong>
                <span style="color:#CCC;"> <small>| LOGIN</small> </span>

                <a class="login_exit" ng-click="click_cancel()" title="닫기"> X </a>
            </div>
        </div>

        <div class="modal-body" style="clear:both; position:relative; width:730px; height:304px; border:1px solid transparent; background-color:#fff; border-radius: 0px; padding:0px;">
            <div style="float:left; width:408px;">
                <div ng-model="approval" lass="row" class="form-horizontal" style="position:relative; padding:38px 42px;">
                    <form>
                        <div class= "form-group" style="width:248px;">
                            <input type="text" class="form-control" ng-model="item.id" class="form-control" placeholder="아이디"/>
                        </div>
                        <div class= "form-group" style="width:248px;">
                            <input type="password" class="form-control" ng-model="item.password" class="form-control" placeholder="비밀번호"/>
                        </div>

                        <div class="checkbox">
                            <label style="font-size:0.92em; font-weight:600;">
                                <input type="checkbox" checked>  아이디 저장
                            </label>
                        </div>

                        <div class="login_side">

                            <div style="float:left; width:50%; text-align: center; padding-bottom:8px; border-right:1px solid #ddd;">
                                <span class="table_gray" style="font-size:0.78em;">아이디/비밀번호 잊으셨나요?</span>
                                <div class="login_side_link"><a href="#">아이디/비밀번호 찾기</a></div>
                            </div>

                            <div style="float:left; width:50%; text-align: center; padding-bottom:8px; ">
                                <span class="table_gray" style="font-size:0.78em;">아직 회원이 아니신가요?</span>
                                <div class="login_side_link"><a ng-click="click_joinMember()">회원가입</a></div>
                            </div>
                        </div>
                        <button type="submit" class="submit_login" ng-click="click_ok()">로그인</button>
                    </form>
                </div>
            </div>

            <div style="float:right; width:320px;">
                <a href="#"><img src="/imgs/ange/temp/login_ad_01.jpg" title="배너타이틀"/></a>
            </div>
        </div>
        <!--<div class="modal-footer" style="width:730px; border:1px solid transparent; background-color:#fff; borderradius: 0px;">-->
            <!--<button class="btn btn-primary" ng-click="click_ok()">로그인</button>-->
            <!--<button class="btn btn-warning" ng-click="click_cancel()">취소</button>-->
        <!--</div>-->

    <!--<div>-->
        <!--<img src="/imgs/ange/temp/login_ad_01.jpg" />-->
    <!--</div>-->

    <!--<div class="modal-header" style="border:1px solid red;">-->
        <!--<h3 class="modal-title">로그인</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<div ng-model="approval" lass="row" class="form-horizontal">-->
            <!--<div class= "form-group">-->
                <!--<input type="text" class="form-control" ng-model="item.id" class= "form-control" placeholder="아이디"/>-->
            <!--</div>-->
            <!--<div class= "form-group">-->
                <!--<input type="password" class="form-control" ng-model="item.password" class= "form-control" placeholder="비밀번호"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" ng-click="click_ok()">로그인</button>-->
        <!--<button class="btn btn-warning" ng-click="click_cancel()">취소</button>-->
    <!--</div>-->

    <!--<div>-->
        <!--<img src="/imgs/ange/temp/login_ad_01.jpg" />-->
    <!--</div>-->


</script>
