
<!-- Utility Panel -->
<div ng-controller="ui-utility" style="width:100%;">
    <div class="comp_userinfo">
        <div class="inven_1stClass">
            <!--<a class="ADbanner_normal shadowed" title="배너타이틀" style="background-image:url('imgs/ange/temp/allbanner.png'); background-position:center;">1st Class Banner</a>-->
            <a ng-model="topBanner" class="ADbanner_normal shadowed" title="{{topBanner.ada_title}}" ng-click="click_linkBanner(topBanner, true)" ng-style="{'background-image': 'url('+topBanner.img+')', 'background-position': 'center'}">1st Class Banner</a>
        </div>

        <div class="comp_userlog">

            <!-- 로그인 전 -->
            <div ng-if="!uid" class="userlog_login">
                <img src="/imgs/ange/login.png" class="userlog_login_btn" ng-click="click_login()">

                <div class="userlog_login_func">
                    <a class="forgotidpw" ng-click="click_forgotInfo()">아이디/비번찾기</a>
                    <a class="joinus" ng-click="click_joinMember()">회원가입</a>
                </div>
            </div>
            <!-- /로그인 전 -->

            <!-- 로그인 후 -->
            <div ng-if="uid" class="userlog_login_now">
                <a class="userconfig" title="프로필사진 관리" ng-click="click_settingAccount()"><span class="glyphicon glyphicon-cog"></span></a>
                <img ng-if="!profileImg" class="userlog_login_pic" ng-style="{'background-image' : 'url(/imgs/ange/profile_img_left.png)'}">
                <img ng-if="profileImg" class="userlog_login_pic" ng-style="{'background-image' : 'url('+profileImg+')'}">

                <div class="userlog_login_info">
                    <span class="usernickname">{{user_info.NICK_NM}}</span> 님, 안녕하세요.
                </div>

                <div class="userlog_user_func">
                    <a class="babyinfo" ng-click="click_settingAccount()"><span class="glyphicon glyphicon-heart" style="color:#fb6362; margin-right:4px;"></span>내정보관리</a>
                    <a class="logout" ng-click="logoutMe()">로그아웃</a>
                </div>

                <div class="userlog_user_subinfo">
                    <span class="user_cart"><span class="glyphicon glyphicon-shopping-cart"></span> 장바구니</span>
                    <span class="user_mileage" ng-click="click_myangeMileage()"><small>Mileage</small> <span style="color:#fb6362; font-weight:bold">{{ mileage | number }}</span></span>
                </div>

            </div>
            <!-- /로그인 후 -->

            <div class="userlog_utility">
            <a class="util1" ng-click="click_myangeWriting()">내 게시물</a>
                <span class="message_icon_new" ng-show="message > 0">{{message}}</span><a class="util2" ng-click="click_myangeMessage()">메시지</a>
            <a class="util3" ng-click="click_infodesk()">고객센터</a>
            </div>

            <div class="comp_calendar_wrap" style="position:relative;">

                <div class="comp_calendar_viewer">
                    <div class="comp_calendar_viewer_content">
                        <!-- item.type = normal / hidden / event -->
                        <ul class="cell_day" style="margin:0px;">
                            <li class="{{item.type}}" ng-click="click_showCalendar();" title="{{item.event}}" ng-repeat="item in data.calendar" style="cursor:pointer;">
                                <img src="/imgs/ange/_blank.gif" border="0" style="width:100%;" />
                                <span class="cell_day_num_comp {{item.type}}">{{item.day}}</span>
                            </li>
                        </ul>
                    </div>

                    <style>
                        .ngtickerMessage > ul li {
                            display:initial;
                            position:absolute;
                            top:-10px;
                        }

                        #ngtickerMessage ul {
                            position: relative;
                        }

                        #ngtickerMessage .list {
                            position: absolute;
                            -webkit-transition: all .8s;
                            transition: all .8s;
                        }
                    </style>
                    <div class="ange_bg_milk comp_calendar_issue myissue">
                        <!-- D-day count :
                        출산예정일 카운트,
                        출산 후 아기 백일 카운트,
                        돌잔치 90일 전부터 카운트,
                        본인 생일 30일 전부터 카운트,
                        아기 생일 30일 전부터 카운트,
                        사용자 정의,
                         -->
                        <div class="comp_calendar_label">기념일</div>
                        <div class= "comp_calendar_issuetxt">
                            <div id="ngtickerMessage"  class="ngtickerMessage">
                                <ul>
                                    <li class="list" ng-style="{opacity:setVisible($index)}" ng-repeat="item in scheduleList">
                                        <strong>{{item.name}}</strong>&nbsp;{{item.event}}&nbsp;<span class="ange_blue dday_count">D&nbsp;&minus;&nbsp;{{item.dday}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

						<div ng-show="!uid" class="login_msg_bg" style="position:absolute; top:0px; left:0px; width:100%; height:320px; background-color:#FFF; opacity:.8; border:1px solid transparent; z-index:990;"></div>
						<div ng-show="!uid" class="login_msg ange_bg_green">
								<a href="" ng-click="click_login()"><strong class="ange_blue" style="font-size:1.12em;">로그인</strong></a> <span style="font-size:0.92em;">하면 <br>
								앙쥬 캘린더와 <br>
								앨범 서비스 등의 <br>
								특별한 혜택을 모두 <br> 
								누릴 수 있습니다.</span>
						</div>
                    </div>
                </div>
            </div>

            <div class="newsTicker" data-xf-news-ticker="{{verbs}}" data-duration="{{duration}}" id="newsTicker"></div>

            <div class="comp_album_wrap" style="float:left; width:100%; margin-top:5px;">
                <div class="ange_bg_dark comp_album_label">
                    마이앨범
                    <a title="앨범꾸미기" href="" ng-click="click_myangeAlbum()"><span class="glyphicon glyphicon-plus-sign" style="position:absolute; top:8px; right:8px; font-size:1.48em; color:#fff;"></span></a>
                </div>
                <div class="ange_bg_milk comp_album_pics">
                    <img ng-repeat="item in albumList" class="comp_album_thumb" src="/imgs/ange/_blank.gif" ng-click="click_showViewMyAlbum(item)" ng-style="{ 'background-image': 'url( {{ item.ALBUM_FILE }} )' }">

                    <!--<img class="comp_album_thumb" src="/imgs/ange/_blank.gif" ng-click="click_showViewMyAlbum(item)" ng-style="{ 'background-image': 'url( http://ange.marveltree.com/storage/user/hong/thumbnail/5519ffbf25eaa )' }">-->
                    <!--<img class="comp_album_thumb" src="/imgs/ange/_blank.gif" ng-click="click_showViewMyAlbum(item)" ng-style="{ 'background-image': 'url( http://ange.marveltree.com/storage/user/hong/thumbnail/5519ffbf25eaa )' }">-->
                    <!--<img class="comp_album_thumb" src="/imgs/ange/_blank.gif" ng-click="click_showViewMyAlbum(item)" ng-style="{ 'background-image': 'url( http://ange.marveltree.com/storage/user/hong/thumbnail/5519ffbf25eaa )' }">-->

                    <div ng-show="albumList == '' || albumList == null" style="width:100%; height:50px; font-size:0.86em; text-align: center; !important;">
						<br/>
                        <a href="" ng-click="click_myangeAlbum()">앨범을 등록하세요.</a>
                    </div>
                </div>
            </div>

            <!--<div class="ange_bg_blue comp_calendar_issue angeissue">-->
                <!--&lt;!&ndash; D-day count :-->
                <!--출산예정일 카운트,-->
                <!--출산 후 아기 백일 카운트,-->
                <!--돌잔치 90일 전부터 카운트,-->
                <!--본인 생일 30일 전부터 카운트,-->
                <!--아기 생일 30일 전부터 카운트,-->
                 <!--&ndash;&gt;-->
                <!--<div class="comp_calendar_label">앙쥬소식</div>-->
                <!--<div class="comp_calendar_issuetxt">-->
                    <!--<a data-ng-click="#" href="#" title="LG하우시스 매트 체험단 모집마감 임박 D-2">LG하우시스 매트 체험단 모집마감 임박 D-2</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="ange_bg_blue comp_calendar_issue angeissue">-->
            <!--&lt;!&ndash; D-day count :-->

            <!--&ndash;&gt;-->
            <!--<div class="comp_calendar_label">업데이트</div>-->
            <!--<div class="comp_calendar_issuetxt">-->
            <!--[스토리]LG하우시스 매트 체험단 모집마감 임박 D-2-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>

    <div class="comp_userinfo_mobile">

        <!-- 로그인 전 -->
        <div ng-if="!uid">
            <img src="/imgs/ange/login.png" class="userlog_login_btn" ng-click="click_login()" style="width:50px; cursor:pointer;">
        </div>
        <!-- /로그인 전 -->

        <!-- 로그인 후 -->
        <div ng-if="uid">
            <img ng-if="!profileImg" class="userlog_login_pic" ng-style="{'background-image' : 'url(/imgs/ange/profile_img_left.png)'}" style="width:50px; height:50px; cursor:pointer;">
            <img ng-if="profileImg" class="userlog_login_pic" ng-style="{'background-image' : 'url('+profileImg+')'}" style="width:50px; height:50px; cursor:pointer;">
            <a class="userconfig_mobile" title="{{user_info.NICK_NM}}님의 정보 관리" ng-click="click_showSlide()"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
        <!-- /로그인 후 -->

        <!-- 모바일용 슬라이드 팝업 -->
        <div ng-if="uid && isProfile" style="text-align:center;">
            <div style="display:block; position:fixed; left:0; top:0; width:100%; height:100%; background-color:#000; opacity: .38;"></div>

            <div class="ange_bg_milk mobileslide_userinfo">
                <span class="glyphicon glyphicon-remove-circle ange_darkgray" style="position:absolute; top:5px; right:5px; font-size:1.12em; cursor:pointer;" ng-click="click_closeSlide()"></span>
                <img ng-if="!profileImg" class="userlog_login_pic" ng-style="{'background-image' : 'url(/imgs/ange/profile_img_left.png)'}" style="width:50px; height:50px;">
                <img ng-if="profileImg" class="userlog_login_pic" ng-style="{'background-image' : 'url('+profileImg+')'}" style="width:50px; height:50px;">
                <!--<a class="userconfig_mobile" title="{{user_info.NICK_NM}}님의 정보 관리" ng-click="click_settingAccount()"><span class="glyphicon glyphicon-cog"></span></a>-->
                <div class="ange_black" style="font-size:0.86em; margin-top:10px;">
                    <div class="text_ellipsis" style="text-align: center;">
                        {{user_info.NICK_NM}}
                    </div>

                    <div class="user_mileage_mobile" ng-click="click_myangeMileage()">
                        <span style="color:#fb6362; font-weight:bold">{{ mileage | number }}</span>
                        <small>Mileage</small>
                    </div>
                </div>

                <div class="mobile_divider"></div>

                <div style="font-size:0.78em; line-height:16px;">
                    <div ng-click="click_myangeWriting()" class="ange_darkgray mobileslide_quicklink border_right">
                        <span class="glyphicon glyphicon-th-list" style="font-size:1.4em;"></span>
                        <br />
                        내게시물
                    </div>
                    <div ng-click="click_myangeMessage()" class="ange_darkgray mobileslide_quicklink border_right">
                        <span class="glyphicon glyphicon-envelope" style="font-size:1.4em;"></span>
                        <br />
                        메시지
                        <div class="ange_bg_red message_icon_new_mobile" ng-show="message > 0">{{message}}</div>
                    </div>
                    <div ng-click="click_myangeScrap()" class="ange_darkgray mobileslide_quicklink">
                        <span class="glyphicon glyphicon-bookmark" style="font-size:1.4em;"></span>
                        <br />
                        스크랩
                    </div>
                </div>

                <div class="mobile_divider"></div>

                <dl class="comp_calendar_issuetxt_mobile">
                    <dd><strong>김첫째</strong> 아기 돌 <span class="ange_blue dday_count">D&nbsp;&minus;&nbsp;88</span></dd>
                    <dd><strong>김둘째</strong> 아기 돌 <span class="ange_blue dday_count">D&nbsp;&minus;&nbsp;88</span></dd>
                    <dd><strong>출산예정일</strong> <span class="ange_blue dday_count">D&nbsp;&minus;&nbsp;251</span></dd>
                </dl>

                <button ng-click="click_settingAccount()" class="mobile_slidebtn_basic ange_bg_cold ange_milk">내정보 변경하기</button>

                <div class="mobile_divider"></div>

                <div ng-click="click_infodesk()" style="font-size:0.78em; line-height:16px; width:33.3%; float:left;">
                    <button class="mobile_slidebtn_round ange_bg_gray ange_darkgray">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <br />
                    <span class="ange_gray" style="line-height: 28px;">고객센터</span>
                </div>
                <div ng-click="click_storeCart()" style="font-size:0.78em; line-height:16px; width:33.3%; float:left;">
                    <button class="mobile_slidebtn_round ange_bg_gray ange_darkgray">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>
                    <span class="ange_gray" style="line-height: 28px;">장바구니</span>
                </div>
                <div ng-click="logoutMe()" style="font-size:0.78em; line-height:16px; width:33.3%; float:left;">
                    <button class="mobile_slidebtn_round ange_bg_gray ange_darkgray">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                    <span class="ange_gray" style="line-height: 28px;">로그아웃</span>
                </div>
            </div>
        </div>
        <!-- /모바일용 슬라이드 팝업 -->

    </div>


	<!--<div class="comp_calm">-->
		<!--<img src="/imgs/ange/temp/keepcalm.png" />        -->
	<!--</div>-->

	<!--div class="comp_calm">
		<div class="comp_minialbum">
		User info
		</div>

		<div class="comp_calendar">
		Calendar
		</div>
	</div -->


	<div class="comp_subbanner">
        <a ng-click="click_goClub()" title="앙쥬클럽" style="cursor:pointer;">
            <img class="btn_angeclub" src="/imgs/ange/_blank.gif" style="width: 100%; margin-top:2px;"/>
        </a>
		<div class="inven_catchup">
            <a ng-model="bottomBanner1" class="ADbanner_normal" title="{{bottomBanner1.ada_title}}" ng-click="click_linkBanner(bottomBanner1, true)" ng-style="{'background-image': 'url('+bottomBanner1.img+')', 'background-position': 'center'}">Premium [Catch-Up] #1</a>
			<!--<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('imgs/ange/temp/util_banner_01.jpg'); background-position:center;">Premium [Catch-Up] #1</a>-->
		</div>
		<div class="inven_catchup">
            <a ng-model="bottomBanner2" class="ADbanner_normal" title="{{bottomBanner2.ada_title}}" ng-click="click_linkBanner(bottomBanner2, true)" ng-style="{'background-image': 'url('+bottomBanner2.img+')', 'background-position': 'center'}">Premium [Catch-Up] #2</a>
			<!--<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('imgs/ange/temp/util_banner_02.jpg'); background-position:center;">Premium [Catch-Up] #2</a>-->
		</div>
	</div>

</div>
<!-- /Utility Panel -->

<script type="text/ng-template" id="login_modal.html">
    <div class="modal-header loginmodal_title">
        <div class="login_modal_title" style="color:#fff; line-height:40px; padding-left:12px;">
            <strong>로그인</strong>
            <span style="color:#CCC;"> <small>| LOGIN</small> </span>

            <a class="login_exit" ng-click="click_cancel()" title="닫기"> X </a>
        </div>
    </div>

    <div class="modal-body loginmodal_body">
        <div class="loginmodal_inputwrap">
            <div ng-model="approval" class="row" class="form-horizontal" style="position:relative; padding:38px 42px;">
                <form>
                    <div class="form-group loginmodal_input">
                        <input id="id" type="text" class="form-control" ng-model="item.id" class="form-control" placeholder="아이디"/>
                    </div>
                    <div class="form-group loginmodal_input">
                        <input id="password" type="password" class="form-control" ng-model="item.password" class="form-control" placeholder="비밀번호"/>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:0.92em; font-weight:600;">
                            <input ng-model="save_id" type="checkbox" ng-click="check_saveId($event)">  아이디 저장
                        </label>
                    </div>

                    <button type="submit" class="submit_login" ng-click="click_ok()">로그인</button>

                    <div class="login_side">

                        <div class="login_side_idpw">
                            <span class="table_gray" style="font-size:0.78em;">아이디/비밀번호 잊으셨나요?</span>
                            <div class="login_side_link"><a ng-click="click_forgotInfo()">아이디/비밀번호 찾기</a></div>
                        </div>

                        <div class="login_side_join">
                            <span class="table_gray" style="font-size:0.78em;">아직 회원이 아니신가요?</span>
                            <div class="login_side_link"><a ng-click="click_joinMember()">회원가입</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="loginmodal_ad">
            <a ng-model="loginBanner" title="{{loginBanner.ada_title}}">
                <!--<img ng-src="{{ad.FILE}}"/>-->
                <img ng-src="{{loginBanner.img}}" ng-click="click_linkBanner(loginBanner)" style="width:100%; margin:0px auto; max-width:320px;"/>
            </a>
            <!--<a href="#"><img src="/imgs/ange/temp/login_ad_01.jpg" title="배너타이틀"/></a>-->
        </div>
    </div>
</script>
