
<!-- Utility Panel -->
<div class="panel_user" ng-controller="ui-utility">
	<div class="inven_1stClass">
		<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('/imgs/ange/temp/temp_maineventbanner.png'); background-position:center;">1st Class Banner</a>
	</div>	

	<div class="comp_userlog">
		<div class="userlog_login">
		User info
		</div>

		<div class="userlog_utility">
		<a href="/?page_channel=myange&page_controller=myangewriting&ui_type=sub" class="util1">내 게시물</a>
		<a href="/?page_channel=myange&page_controller=myangemessage&ui_type=sub" class="util2">메시지</a>
		<a href="/?page_channel=infodesk&page_controller=infodeskhome&ui_type=single" class="util3">고객센터</a>
		</div>
	</div>

	<div class="comp_calm">
		<div class="comp_minialbum">
		User info
		</div>

		<div class="comp_calendar">
		Calendar
		</div>
	</div>

	<div class="comp_subbanner">
		<div class="inven_catchup">
			<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('/imgs/ange/temp/temp_maineventbanner.png'); background-position:center;">Premium [Catch-Up] #1</a>
		</div>
		<div class="inven_catchup">
			<a class="ADbanner_normal" title="배너타이틀" style="background-image:url('/imgs/ange/temp/temp_maineventbanner.png'); background-position:center;">Premium [Catch-Up] #2</a>
		</div>
	</div>

</div>
<!-- /Utility Panel -->
