/* ++store common css  */

.webzine_store_list {
    width: 100%;
    margin: 25px auto;
    /*border: 1px solid #ddd;*/
}


.webzine_store_featureimgbox {
    width: 100%;
    margin:0px auto;
    /*border-right:1px solid #d7d7d7;*/
    border:1px solid #ddd;
    background-image: url('/imgs/ange/noimage.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.webzine_store_featureimg {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*
.webzine_list_wrap {
    position: relative;
    height: 158px;
    width: 100%;
    padding: 0 0 0 260px;
}

.review_list_wrap {
    position: relative;
    height: 196px;
    width: 100%;
    padding: 0 0 0 260px;
}

.webzine_moms_list:hover {
    border:1px solid #AAA;
    cursor: pointer;
}
*/

.store_col_info_wrap {
    width: 100%;
    margin:0px;
    padding: 2px 0 0 18px;
}

.store_col_info {
    clear:both;
    float:left;
    color:#464646;
    font-size:0.92em;
    line-height:18px;
    border-bottom:1px solid #ddd;
    padding: 15px 0;
    width:100%;
}

.store_col_info_title {
    width:100%;
    font-size:1.24em;
    line-height:22px;
    font-weight:600;
    word-break: keep-all;
}

.store_col_btn {
    float:left;
    width:100%;
    padding:10px;
    text-align: center;
}

.store_list_item {
    position: relative;
    width:100%;
    margin-top:10px;
    margin-bottom: 6px;
    line-height:22px;
}

.store_list_item.maininfo {
    border-left: 2px solid #DEDEDE;
    padding: 2px 8px;
}

.store_list_item_label {
    float:left;
    width:30%;
}
.store_list_item_txt {
    float:left;
    width:70%;
}

.store_optiontitle {
    float:left;
    width:58%;
}
.store_optionea {
    float:left;
    width:30%;
}

.store_optionea input {
    float:left;
    height:25px;
    padding-top:1px;
    width:38px;
}

.store_optionea span {
    float:left;
    font-size:0.86em;
    margin:0 5px;
}

.store_optionea button {
    float:left;
    margin:2px 2px;
}

.store_optionprice {
    float:left;
    font-size: 0.86em;
    width:12%;
    text-align:right;
}

.store_pricevalue {
    float:left;
    width:20%;
    font-size:0.86em;
    color:#686868;
}

.store_totalprice {
    float:left;
    font-size: 0.92em;
    width:22%;
    text-align:right;
}

.store_view_tab {
    font-size:0.86em;
    padding: 2px 10px 0px 10px;
    background-color:#EDEDED;
}

.store_view_tab ul li{
    cursor: pointer;
}

.store_view_tab ul li a{
    padding: 5px 8px;
}


.store_auctiontime {
    border:1px solid #EAEAEA;
    border-radius:26px;
    font-size:1.04em;
    text-align: center;
    line-height:42px;
    margin-bottom: 20px;
    background-color:#ededed;
}

.store_bg_auctionhowto {
    position:relative;
    width:100%;
    padding:40px 20px 40px 50px;
    background-image: url('/imgs/ange/store_bg_auctionhowto.png');
    background-repeat: no-repeat;
    background-position: right 25px top -75px;
}

.store_warning {
    font-size:0.92em;
    color:#464646;
    margin-left:15px;
}

@media screen and (max-width: 768px) {
    .webzine_store_list {
        background-color: #fAFAFA;
        border:1px solid #ddd;
        padding:15px;
    }

    .webzine_store_featureimgbox {
        max-width: 400px;
        /*border-right:1px solid #d7d7d7;*/
    }

    .store_col_info_wrap {
        padding:18px 0 0 0;
    }

    .store_col_info {
        float:none;
        padding: 5px;
    }

    .store_col_info_title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .store_list_item {
        float:none;
        width:100%;
    }

    .store_list_item_label, .store_list_item_txt {
        float:none;
        width:100%;
    }

    .store_optiontitle, .store_optionea, .store_optionprice{
        float:none;
        width:100%;
    }

    .store_pricevalue {
        text-align:right;
        width:55%;
    }
    .store_totalprice {
        float:right;
        width:42%;
    }


}




/* cart & order */

.cart_step_wrap{
    position: relative;
    width:100%;
    height: 104px;
    background-image: url('/imgs/ange/bg_store_topBG.png');
    background-position: right top;
    text-align: center;
}

.cart_step_no {
    font-family: arial, sans-serif;
    color: #adadad;
    vertical-align: baseline;
}
.cart_step_title {
    color: #adadad;
    vertical-align: baseline;
    font-size: 1.42em;
}

.cart_step_no.stepon {
    color: #333;
}
.cart_step_title.stepon {
    color: #0ba9d1;
    font-weight: 600;
}

.cart_thumb {
    width:100%;
    /*border:1px solid #ddd;*/
    margin-right:10px;
    background-position:center center;
    background-size: cover;
}

.cart_cacultop {
    width:100%;
    height:55px;
    background-color:#f8f8f8;
    border:1px solid #ddd;
    border-bottom:1px dashed #ddd;
}

.cart_cacultop_cell {
    float:left;
    line-height:55px;
    text-align:center;
    font-weight:600;
    color:#4d4d4d;
    height:100%;
    width:33.3%;
}

.cart_caculbody {
    width:100%;
    height:70px;
    background-color:#fff;
    border:1px solid #ddd;
    border-top: none;
    font-size:0.86em;
}

.cart_caculbody_cell {
    float:left;
    position:relative;
    line-height:70px;
    text-align:center;
    font-weight:600;
    color:#333;
    height:100%;
    width:33.3%;
}

.cart_cacultop_cell.bordered, .cart_caculbody_cell.bordered {
    border-right:1px dashed #ddd;
}

.notenoughmileage {
    position:absolute;
    left:50%;
    margin-left:-35px;
    top:10px;
    width:70px;
    height:14px;
    background-image:url('/imgs/ange/store_icon_notenoughmileage.png');
    font-size:0.78em;
}

.cart_btn {
    border: none;
    background-color: #fff;
    padding: 10px 18px;
    border:1px solid #ddd;
    border-radius: 4px;
    font-weight: 600;
    opacity: 0.8;
}

.cart_btn:hover {
    opacity: 1;
}

.cart_btn.line-black {
    border:1px solid #666;
}
.cart_btn.line-red {
    border:1px solid #f76363;
    color: #f76363;
}
.cart_btn.solid-red {
    border:1px solid #f76363;
    background-color: #f76363;
    color: #fff;
}

.cart_bodytxt {
    font-size: 0.92em;
    line-height:20px;
}

.cart_ordernum {
    padding: 12px 50px;
    margin-bottom:15px;
    background-color: #ddd;
    width:70%;
    border:1px solid transparent;
    font-size: 0.92em;
    border-radius: 5px;
    background-image: url('/imgs/ange/bg_cart_ordernum.jpg');
    background-repeat: no-repeat;
    background-position: right center;
}

.maintitlebox {
    font-size:1.94em;
    color:#666;
    padding-bottom:28px;
    background-image: url('/imgs/ange/bg_titlebox_underlineptn.jpg');
    background-repeat: repeat-x;
    background-position: left bottom;

}

.namingservice_box{
    position:relative;
    width: 100%;
    height: 125px;
    margin-bottom: 20px;
    background-image: url('/imgs/ange/bg_namingservice_box.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
    color: #464646;
    word-break: keep-all;
}

.namingservice_box:hover{
    background-position: right -125px;
    color: #fff;
}

.namingservice_box.realtime .naming_icon{
    position:absolute;
    left:5%;
    top:50%;
    margin-top:-21px;
}

.namingservice_box.self .naming_icon{
    position:absolute;
    left:5%;
    top:50%;
    margin-top:-25px;
}

.namingservice_box.special .naming_icon{
    position:absolute;
    left:5%;
    top:50%;
    margin-top:-20px;
}

.namingservice_box.premium .naming_icon{
    position:absolute;
    left:2.5%;
    top:50%;
    margin-top:-27px;
}