.peoplepoll_view_comment {
	padding:0; 
	font-size:0.86em;
}

.peoplepoll_view_contentbody {
	position:relative;
	padding:0 4%; 
	margin-bottom: 25px;
}

.peoplepoll_view_paging {
	position:absolute; 
	left: 0px; 
	bottom:8px; 
	width:100%;
	padding:0 4%; 
	height:25px;
	font-size: 0.86em;
	color:#868686;
}


.peoplepoll_view_contentwrap {
	margin-top: 15px; 
	background-color: #fffdf4;
	border:1px solid #ddd; 
	border-radius:12px;
}

.peoplepoll_view_contenttop {
	padding:0; 
	font-size:0.86em;
}

.peoplepoll_view_content{
	width:100%; 
	min-height:380px; 
	background-color: #fff;
	border:1px solid #c7b299;
	padding: 5px 30px 60px 30px; 
}

.peoplepoll_view_content dl {
	margin-top:30px;
}

.peoplepoll_view_content dd {
	font-size: 0.86em;
	margin-left: 12px;
}

.peoplepoll_view_bottom {
	padding:0 5%;
	margin-bottom: 10px; 
	text-align:right;
}

.poll_count {
	line-height: 38px;
	font-size: 0.86em;
	color: #464646;
}

.poll_count span {
	font-family: arial, san-serif;
	color: #fb6362;
	font-weight: bold;
}

.poll_submit {

}

.peoplepoll_view_btnwrap {
	margin:8px 0 12px 0;
	padding:15px 0px;
}

.peoplepoll_view_title {
	margin: 40px 0 15px 0; 
	padding: 0 10%; 
	line-height: 30px; 
	text-align:center;
}

.peoplepoll_view_title_qt {
	position:relative; 
	font-size: 1.24em; 
	padding:8px 5px; 
	border-bottom:1px dashed #AAA; 
}


.icon_qt_left {
	position: absolute;
	width: 15px;
	height: 14px;
	left: -18px;
	top: 5px;
	background-image: url('/imgs/ange/icon_qt.png');
	background-repeat: none;
	background-position: left top;
}

.icon_qt_right {
	position: absolute;
	width: 15px;
	height: 14px;
	right: -18px;
	bottom: 12px;
	background-image: url('/imgs/ange/icon_qt.png');
	background-repeat: none;
	background-position: right top;
}
