/* ++ange company common css  */

.company_tabs {
    float:left;
    padding:10px 0;
    width:24%;
    border:1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #646464;
    font-size: 0.92em;
    cursor: pointer;
    background-color: #ebebeb;
}

.company_tabs.center {
    display:inline-block;
    width:1%;
    background: none;
    border:none;
    margin-top:1px;
    border-bottom: 1px solid #ddd;
}

.company_tabs:hover {
    background-color:#efefef;
    color:#333;
}

.company_tabs.selected {
    border-bottom: none;
    background-color: #fff;
    cursor: default;
    z-index: 99;
}

@media screen and (max-width: 768px) {
    .company_tabs {
        float:none;
        width: 100%;
        border-radius: 5px;
    }
    .company_tabs.center {
        display: none;
    }
    .company_tabs.selected {
        border-bottom:1px solid #ddd;
    }
}

.company_intro_wrap {
    float:left;
    width:100%;
    margin:0px auto;
    margin-top:60px;
}

.company_introballoon {
    float:left;
    width:25%;
    text-align:center;
    padding:32px 0;
    border:1px solid transparent;
    border-radius:12px;
    background-image: url('/imgs/ange/bg_cart_ordernum.jpg');
    background-position: right -75px top 0px;
    background-size: cover;
}

.company_introballoon_no {
    font-family: arial, sans-serif;
    font-size:1.42em;
}

.company_introballoon_title {
    font-size:1.24em;
    font-weight:400;
    margin-top:10px;
}

.company_introtxt {
    float:right;
    width:74%;
    color:#666;
    word-break: keep-all;
    line-height:24px;
    text-align:justify;
    padding:4px 12px;
}


.company_mapballoon {
    float:left;
    width:12%;
    text-align:center;
    padding:24px 0;
    border:1px solid transparent;
    border-radius:12px;
    background-image: url('/imgs/ange/bg_cart_ordernum.jpg');
    background-position: left top;
    background-size: cover;
    font-size:2.4em;
    color:#fff;
}

.company_maptxt {
    float:right;
    width:86%;
    color:#666;
    word-break: keep-all;
    line-height:24px;
    text-align:justify;
    padding:4px 12px;
}

.company_sectiontitle_wrap {
    float:left;
    width:100%;
    line-height:46px;
    margin:60px 0 30px 0;
    padding-left:25px;
    background-image: url('/imgs/ange/bg_store_topBG.png');
    background-position: right center;
}

.company_sectiontitle_wrap .topbtn {
    font-size:1.12em;
    vertical-align: middle
}

.company_sectiontitle_wrap a {
    float:right;
    margin-right:15px;
    cursor:pointer;
}

.company_sectiontitle_wrap a:hover {
    text-decoration: none;
}

.company_partners_wrap {
    margin: 15px 0;
}

.company_partners_box {
    float:left;
    width:18%;
    margin:10px 1%;
    text-align: center;
    color:#868686;
    font-size:0.86em;
    cursor: pointer;
}

.company_partners_box img {
    width:100%;
    border:1px solid #ddd;
    border-radius: 4px;
}

.company_partners_box img:hover {
    border:1px solid #32d0f8;
}


.company_partners_box span {
    line-height:28px;
}

.company_affiliates {
    width:100%;
    border:1px solid #ddd;
    padding:36px;
    font-size:1.08em;
    color:#666;
    background-image: url('/imgs/ange/company_qustionbg.png');
    background-position: left -180px top -140px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.ange_markbox {
    padding:12px 8px;
    word-break: keep-all;
    font-weight:600;
    font-size:1.21em;
    text-align:center;
    background-color: #feffcf;
    width:100%;
}

.company_bodytxt {
    width:100%;
    text-align:justify;
    word-break:keep-all;
    padding:8px;
    font-size:0.86em;
    margin:4px auto;
}

.company_intro_section {
    margin-bottom:38px;
}

.company_mtitle {
    font-weight:600;
    font-size:1.12em;
    margin-bottom:10px;
    line-height: 1em;
}

/*p.sub{margin-top:5px; width:310px; font-size:1.2em; background-color:#feffcf; font-weight:600; color:#000;letter-spacing:-1px;}*/

/*.mok_introtxt {*/
    /*float:left;*/
    /*width:95%;*/
    /*height:280px;*/
    /*color:#666;*/
    /*word-break: keep-all;*/
    /*line-height:20px;*/
    /*text-align:justify;*/
    /*padding:4px 12px;*/
/*}*/

/*.company_introtxt {*/
    /*float:left;*/
    /*width:60%;*/
    /*height:350px;*/
    /*color:#666;*/
    /*word-break: keep-all;*/
    /*line-height:20px;*/
    /*text-align:justify;*/
    /*padding:4px 12px;*/
/*}*/

/*.company_introtxt2 {*/
    /*float:left;*/
    /*width:60%;*/
    /*height:380px;*/
    /*color:#666;*/
    /*word-break: keep-all;*/
    /*line-height:20px;*/
    /*text-align:justify;*/
    /*padding:4px 12px;*/
/*}*/

/*.company_introtxt3 {*/
    /*float:left;*/
    /*width:60%;*/
    /*height:440px;*/
    /*color:#666;*/
    /*word-break: keep-all;*/
    /*line-height:20px;*/
    /*text-align:justify;*/
    /*padding:4px 12px;*/
/*}*/

/*.company_intro {*/
    /*float:right;*/
    /*width:35%;*/
    /*height:250px;*/
    /*padding-top:70px;*/
    /*text-align:center*/
/*} *//*company_img*/

/*.company_intro2 {*/
    /*float:right;*/
    /*width:35%;*/
    /*height:300px;*/
    /*padding-top:120px;*/
    /*text-align:center*/
/*} *//*company_img*/

/*.company_intro3 {*/
    /*float:right;*/
    /*width:35%;*/
    /*height:330px;*/
    /*padding-top:140px;*/
    /*text-align:center*/
/*} *//*company_img*/

/*.company_introtxt_title {font-size:1.438em; color:#000; font-weight:600;}*/
/*.company_introtxt_title2 {font-size:1.7em; color:#000; font-weight:700;}*/
/*.company_introtxt_title span.num {position:relative;top:6px;}*/
/*.angeBtn {position:relative;width:100%; text-align:center;}*/
/*.angeBtn a {}*/