.album_image {
    width: 100%;
    margin-bottom: 10px;
}

.album_image img {
    max-width: 100%;
    /*max-width:600px;*/
    display: block;
    margin: 0px auto;
}

.thumb_wrapper {
    width: 100%;
    padding:5px;
    overflow: auto;
}

.thumb_list {
    white-space: nowrap;
    margin: 0px;
}

.thumb_imgbox {
    display: inline;
    position: relative;
    list-style-type: none;
    cursor: pointer;
    margin:0;
    padding:0;
}

.thumb_imgbox:hover {
    opacity: 0.8;
}

.album_slide_img {
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.album_slide_thumb {
    display: inline-block;
    width:20%;
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center center;
    border:1px solid transparent;
    border-radius: 50%;
}

.album_detail_subject {
    width:90%;
    float:none;
    margin:0px auto;
    font-size: 1.12em;
    font-weight: 600;
    color:#0081c2;
    padding:10px 0;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album_detail_date {
    width:85%;
    float:none;
    font-size: 0.86em;
    margin:0px auto;
    padding:0 0 15px 0;
    color:#686868;
}

.album_detail_memo {
    width:85%;
    float:none;
    margin:0px auto;
    padding:5px 0;
}

