/* Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess  */

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/NanumGothic-Bold.eot');
    src: url('/fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-Bold.woff2') format('woff2'),
    url('/fonts/NanumGothic-Bold.woff') format('woff'),
    url('/fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/NanumGothic-Regular.eot');
    src: url('/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-Regular.woff2') format('woff2'),
    url('/fonts/NanumGothic-Regular.woff') format('woff'),
    url('/fonts/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/NanumGothic-ExtraBold.eot');
    src: url('/fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('/fonts/NanumGothic-ExtraBold.woff') format('woff'),
    url('/fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

html {
    height: 100%;
    min-height: 100%;
    margin:0;
    padding:0;
    text-rendering: auto; /* auto | optimizeSpeed | optimizeLegibility | geometricPrecision | inherit; */
}

body {
    font-family: "나눔고딕", "Nanum Gothic", Helvetica, Arial, sans-serif;
    background: URL("/imgs/ange/body_bg_01.png");
    height: 100%;
    text-rendering: auto; /* auto | optimizeSpeed | optimizeLegibility | geometricPrecision | inherit; */
}

.wrap {
    position:relative;
    display:block;
    min-width: 1010px;
    max-width: 1920px;

    height:100%;
    width:100%;
    margin:0;
    padding:0 244px 0 165px;
}

/* Main Color Set [channel Theme] */
.ange_lightred  { color: #fce5e9; }
.ange_softred   { color: #f8bbc1; }
.ange_red       { color: #e56366; }       /*스토리*/
.ange_darkred   { color: #9b212f; }

.ange_lightgreen { color: #e8f7c6; }
.ange_softgreen  { color: #bfdb85; }
.ange_green      { color: #80c833; }     /*피플*/
.ange_darkgreen  { color: #43873f; }

.ane_lightpink  { color: #ffe3f1; }
.ane_softpink   { color: #f4afce; }
.ane_pink       { color: #f668b2; }       /*이벤트*/
.ane_darkpink   { color: #b5286f; }

.ange_lightchoco { color: #ffe2d7; }
.ange_softchoco  { color: #e9b69f; }
.ange_choco      { color: #b66e43; }     /*마이앙쥬*/
.ange_darkchoco  { color: #9b482b; }

.ange_lightblue { color: #def9ff; }
.ange_softblue  { color: #a6ddee; }
.ange_blue      { color: #47b6d6; }      /*스토어*/
.ange_darkblue  { color: #066f7a; }

.ange_lightorange{ color: #fff1dc; }
.ange_softorange { color: #ffdda5; }
.ange_orange     { color: #f1a81a; }      /*그룹*/
.ange_darkorange { color: #ac6d28; }

.ange_lightgray { color: #efefef; }
.ange_softgray  { color: #d6dade; }
.ange_gray      { color: #a7b0bc; }      /*노멀*/
.ange_darkgray  { color: #595e63; }

.ange_black { color: #2d2f30; }     /*먹*/


.ange_customBtn_0 {
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0.75;
    background-color: transparent;
}

.ange_customBtn_0:hover {
    opacity: 1;
}

.panel_ad {
    position:relative;
    float:left;
    margin:0;
    margin-left:-165px;
    width: 165px;
    padding: 24px 0 36px 18px;
    height:100%;
    min-height:860px;
    overflow:auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel_content {
    /*min-width: 762px;*/
    float: left;
    position:relative;
    width: 100%;
    background-color: #fff;
    border-left:1px solid #EFEFEF;
    border-right:1px solid #EFEFEF;
    margin:0px auto;
    /*height:100%;*/
    /*overflow-y: auto;*/
}

@media screen and (min-width: 1471px) {
    .panel_content {
        /*overflow: auto;*/
        /*overflow-x: hidden;*/
    }
}

@media screen and (min-width: 768px) {
    .panel_content {
        min-height:860px;
        height:100%;
    }
}

@media screen and (max-width: 767px) {
    .panel_content {
        min-width: 100%;
    }
}
/************************************************/
/*@media screen and (min-width:1471px) {*/
    /*.panel_content {*/
        /*height:100%;*/
    /*}*/
/*}*/

.panel_user {
    position:relative;
    float:right;
    height: 100%;
    margin:0;
    min-height:860px;
    margin-right:-220px;
    padding-top:10px;
    width: 210px;
}

.common_container {
    clear:both;
    margin:0px auto;
    width:95%;
    max-width:800px;
}

.content_wrap {
    position:relative;
    display:block;
    margin:0;
    /*margin-top:100px;*/
    /*height:calc(100% - 100px);*/
    padding-top: 102px;
    height: 100%;
}

.sub_content_wrap {
    position:relative;
    display:block;
    margin:0;
    height: 100%;
    padding-top: 102px;
    /*margin-top:74px;*/
    /*height: calc(100% - 74px);*/
    /*padding-top:180px;*/
    /*padding-top:218px;*/ /*서브메뉴 핸들러 38px추가 */
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

/*@media screen and (min-width: 1200px) {*/
    /*.sub_content_wrap {*/
        /*padding-top:0px;*/
        /*padding-top: 102px;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1680px) {*/
    /*.sub_content_wrap {*/
        /*padding-top: 102px;*/
    /*}*/
/*}*/

.lnb {
    /*display:none;*/
    position:absolute;
    top:102px;
    display:block;
    /*height:170px;*/
    width: 100%;
    /*border:1px solid #DEDEDE;*/
    border-bottom:none;
    margin-bottom:38px;
    background-color:#Fff;
    margin:0px;
    z-index:990;
}

.lnb_filter {
    display:none;
    padding:12px 5px;
}

.lnb_handle{
    display:block;
    float:left;
    width:100%;
    border:1px solid #DEDEDE;
    border-top:none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color:#F6F6F6;
    height: 38px;
    margin:0px;
    z-index:991;
}

.lnb_handle_wrap {
    float:left;
    width:100%;
    padding:8px 14px;
}

@media screen and (min-width: 1680px) {
    .lnb {
        clear:both;
        position:relative;
        float:left;
        border:none;
        border-right:1px solid #DEDEDE;
        border-radus:0px;
        display:block;
        top:0px;
        height:100%;
        width:18%;
        margin:0;
        /*border-bottom-left-radius: 0px;*/
        /*border-bottom-right-radius: 0px;*/
        background-color:#FFF;
        max-width:215px;
        overflow: auto;
        overflow-y: auto;
        z-index:990;
    }

    .lnb_handle{
        display: none;
    }

    .lnb_filter {
        display:block;
    }
}

.mini_ad_roll_group{
    margin-top: 40px;
    float:left;
    vertical-align: bottom;
}

.mini_ad_roll {
    float:left;
    position:relative;
    width:116px;
    height:76px;
    margin-top:20px;
    /*background-color: #fff;*/
    background: rgba(255,255,255,.55);
    border:1px solid transparent;
    border-radius: 5px;
    text-align:center;
    /*opacity: 0.5;*/
    border:1px solid #eee;


    -webkit-box-shadow: 0 0 6px rgba(15, 0, 15, .08);
    box-shadow: 0 0 6px rgba(15, 0, 15, .08);
}

.ads_indicators_wrap {
    width:100%;
    padding:0px;
    text-align: center;
}

.ads_indicators {
    display:inline-block;
    width:10px;
    height:4px;
    background-color: #afafaf;
    margin:0px 2px;
    cursor: pointer;
}

.ads_indicators.now {
    background-color: #000;
    cursor: default;
}

/*.mini_ad_roll_1 {background:url('/imgs/ange/left_banner_01_01.png') no-repeat;}*/
/*.mini_ad_roll_2 {background:url('/imgs/ange/left_banner_02_01.png') no-repeat;}*/
/*.mini_ad_roll_3 {background:url('/imgs/ange/left_banner_03_01.png') no-repeat;}*/
/*.mini_ad_roll_4 {background:url('/imgs/ange/left_banner_04_01.png') no-repeat;}*/


.copyright_left {
    position:absolute;
    bottom:15px;
    float:left;
    margin:0;
    background-position:left bottom;
}

.copyright_foot {
    display:none;
    float:left;
    margin:0px auto;
    margin-top:10px;
    width: 100%;
    padding-bottom: 32px;
    background-color: #fff;
}

.footer_btn {
    background-color:#fff;
    border:1px solid #888;
    border-radius: 4px;
    color:#333;
    opacity:0.75;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 1px 1px 1px rgba(3, 3, 3, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 1px 1px 1px rgba(3, 3, 3, .6);
}

.footer_btn:hover {
    opacity: 1;
}

.comp_userinfo_mobile {
    display:none;
    margin:0px;
    padding:0px;
}

@media screen and (max-width: 1200px) {
    .wrap {
        padding:0 244px 0 0;
    }

    .panel_ad {
        display :block;
        height:120px;
        min-height:100px;
        width:100%;
        margin:0 auto;
        overflow: hidden;
    }

    .mini_ad_roll_group{
        position:absolute;
        top: -38px;
        right: 4px;
        float:left;
    }

    .mini_ad_roll {
        margin-left:12px;
    }

    .panel_user {
        margin-top:-96px;
    }

    .comp_userinfo {
        display:block;
        margin:0px;
        padding:0px;
    }

    .copyright_left {
        display: none;
    }

    .copyright_foot {
        display: block;
    }
}


@media screen and (max-width: 767px) {
    body{
        min-width: 320px;
    }
    .wrap {
        padding:0px;
        width:100%;
        min-width: 100%;
    }
    .panel_user{
        clear:both;
        position:absolute;
        height: 50px;
        width: 100%;
        /*top: 9px;*/
        /*right: 20px !important;*/
        padding:10px 20px;
        margin:0px;
        min-height:50px;
        min-width:320px;
        text-align: right;
        z-index: 98;
    }
    .comp_userinfo, .comp_subbanner {   /*모바일화면에서 기본 로그인창 미표시*/
        display:none;
    }
    .comp_userinfo_mobile {
        display:block;
    }
}


/* Main Responsive Style Set */
.content_wrap {
    /*overflow: hidden;*/
}

.ng_mainwrap {
    float:left;
    height:100%;
    width:100%;

    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

@media screen and (max-width: 1470px) {
    .ng_mainwrap {
        overflow: auto;
        overflow-x: hidden;
    }
}

.index_mainbar {
    float: left;
    position:relative;
    padding-right: 5px;
    height: 100%;

    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

@media screen and (min-width: 1471px) {
    .index_mainbar {
        overflow: auto;
        overflow-x: hidden;
    }
}


/* Sub- page Responsive Style Set */
.ng_wrap {
    float:left;
    width:100%;
    z-index: 980;
    overflow-y: auto;
    overflow-x: hidden;
}

.mainbar {
    float: left;
    position:relative;
    padding-right: 5px;
    overflow : hidden;
    z-index: 981;
}

@media screen and (max-width: 767px) {
    .ng_wrap {
        height:50%;
        padding-top: 50px;
        background-color: #fff;
        /*padding-top: 210px; *//* 상단 탭 길이만큼 top padding 부여 */
    }

}

@media screen and (min-width: 768px) {
    .ng_wrap {
        height:100%;
        padding: 0;
        background-color: #fff;
        /*padding-top: 210px; *//* 상단 탭 길이만큼 top padding 부여 */
    }

    .ng_wrap.story { padding-top: 210px; }
    .ng_wrap.people { padding-top: 251px; }
    .ng_wrap.moms { padding-top: 211px; }
    .ng_wrap.myange { padding-top: 190px; }
    .ng_wrap.store { padding-top: 191px; }
}

@media screen and (min-width: 1200px) {
    .ng_wrap {
        overflow : hidden;
    }
    .mainbar {
        height:100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1680px) {
    .ng_wrap.story { margin:0px; padding-top: 102px; padding-left: 210px;}
    .ng_wrap.people { margin:0px; padding-top: 102px; padding-left: 210px;}
    .ng_wrap.moms { margin:0px; padding-top: 102px; padding-left: 210px;}
    .ng_wrap.myange { margin:0px; padding-top: 102px; padding-left: 210px;}
    .ng_wrap.store { margin:0px; padding-top: 102px; padding-left: 210px;}

    .ng_wrap {
        position:absolute;
        top: 0;
        width: 100%;
    }
}

.main_subar_wrap {
    float:left;
    width:42%;  /*내용Open 할경우 68%로 확장해야 함 */
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.main_subar_wrap_lg{
    float:left;
    width:68%;  /*내용Open 할경우 68%로 확장해야 함 */
    height:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.subar {
    float: left;
    position:relative;
    /*width: 33.3%;*/
    height:100%;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}

/*.subar:hover  {*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
/*}*/

/*.mainbar:hover, .subar:hover  {*/
/*overflow-x: hidden;*/
/*overflow-y: auto;*/
/*}*/

.slide0 {
    width:58%;
    min-width:720px;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}

.main_subar_wrap .subar.slide1, .main_subar_wrap .subar.slide2, .main_subar_wrap .subar.slide3 {
    width:33%;
    cursor: pointer;
}

.main_subar_wrap_lg .subar.slide1, .main_subar_wrap_lg .subar.slide2, .main_subar_wrap_lg .subar.slide3 {
    width:15%;
    cursor: pointer;
}

/*.subar.slide1:hover {*/
    /*-webkit-box-shadow: inset 0px 0px 12px rgba(242, 28, 89,.7);*/
    /*box-shadow: inset 0px 0px 12px rgba(242, 28, 89,.7);*/
/*}*/

/*.subar.slide2:hover {*/
    /*-webkit-box-shadow: inset 0px 0px 12px rgba(12, 234, 163,.7);*/
    /*box-shadow: inset 0px 0px 12px rgba(12, 234, 163,.7);*/
/*}*/

/*.subar.slide3:hover {*/
    /*-webkit-box-shadow: inset 0px 0px 12px rgba(15, 75, 246,.7);*/
    /*box-shadow: inset 0px 0px 12px rgba(15, 75, 246,.7);*/
/*}*/

/** 서브페이지를 열었을 경우 **/
.slide0_small {
    width:32%;
}

.slide1_pan, .slide2_pan, .slide3_pan {
    height:100%;
    width:70%;
    overflow: auto;
    cursor: default;
}

/** 서브페이지를 열었을 경우 **/

@media screen and (max-width: 1679px) {
    .slide0{
        width:70%;
    }

    .main_subar_wrap {
        width:30%;
    }

    .main_subar_wrap_lg {
        width:66%;
    }

    .slide1, .slide2, .slide3{
        /*width:10%;*/
    }

    .slide0_small {
        width:34%;
    }

    .slide1_pan, .slide2_pan, .slide3_pan {
        width:70%;
    }

}

@media screen and (max-width: 1470px) {
    .slide0{
        width:100%;
        float: none;
    }

    .slide0_small {
        width: 100%;
    }

    .slide1, .slide2, .slide3{
        display:none;
    }

    .slide1_pan, .slide2_pan, .slide3_pan {
        display: none;
    }

    .main_subar_wrap_lg {
        display:none;
        width:100%;
        float:left;
    }

    .main_subar_wrap {
        display:none;
        /*width:100%;*/
        /*border:1px solid red;*/
    }
}

/* - Main Responsive Contents Style Set */

/* Sub Page Responsive Style Set */
.sub-slide {
    width:100%;
}

.sub-slide0 {
    width:75%;
    min-width:560px;
}

.sub-slide1 {
    width:25%;
    min-width:100px;
}

@media (max-width: 1200px) {
    /* 모바일 사이즈일 경우 사이드 배너를 하단으로 이동 */
    .sub-slide0 {
        width:100%;
        min-width:100%;
    }

    .sub-slide1 {
        background-color:#fff;
        max-height:520px;
        width:100%;
    }
}


@media screen and (min-width: 1680px) {
    .sub-slide {
        width: 100%;
    }

    .sub-slide0 {
        width:70%;
    }

    .sub-slide1 {
        width:25%;
    }
}
/* - Sub Page Responsive Style Set - */

@media screen and (max-width: 767px) {
    .panel_ad {
        display: none;
    }

    .slide0{
        min-width:100%;
    }
}

.tablet_arrow {
    display: none;
    position: absolute;
    top:40%;
    width: 35px;
    height: 70px;
    cursor: pointer;
    text-indent: -9999px;
    background-repeat: no-repeat;
}

a.tablet_arrow:hover, a.tablet_arrow:focus {
    background-position: left -70px;
}


.tablet_arrow_left {
    left:0px;
    background-image: url('/imgs/ange/tablet_arrow_left.png');
    z-index:498;
}

.tablet_arrow_right {
    right:16px;
    background-image: url('/imgs/ange/tablet_arrow_right.png');
    z-index:499;
}

@media screen and (max-width: 1470px) {
    .tablet_arrow {
        display: block;
    }
}


/* 로그인 */
.comp_userlog{
    position:relative;
    margin-top:36px;
    height:218px;
    border-bottom:1px solid #b1b1b1;
}

.userlog_login {
    width:210px;
    height:185px;
    background:#fff;
    padding-top:25px;
    border:1px solid #e3e3e3;
    border-top:2px solid #8d8d8d;
    border-bottom:1px solid #b1b1b1;
    text-align:center;
}

/* 로그인 Modal */
.loginmodal_title {
    background-color:#000;
    height:40px;
    width:730px;
    padding:0px;
}

.loginmodal_body {
    clear:both;
    position:relative;
    width:730px;
    height:304px;
    border:1px solid transparent;
    background-color:#fff;
    border-radius: 0px;
    padding:0px;
}

.loginmodal_inputwrap {
    float:left;
    width:408px;
}

.loginmodal_input {
    width:248px;
}

.loginmodal_ad {
    float:right;
    width:320px;
}

.login_exit {
    float:right;
    color:#ccc !important;
    margin-right:10px;
    cursor: pointer;
}

.login_exit:hover {
    text-decoration: none;
    color:#fff !important;
}

.login_side {
    padding-top:24px;
    height:100px;
    width:100%;
    margin:25px 0;
    border-top:1px solid #ddd;
}

.login_side_link {
    margin-top:12px;
    font-weight: 600;
}

.login_side_link a {
    cursor:pointer;
}

.login_side_link a:hover {
    text-decoration:none;
    color: #2fbcfe;
}

.login_side_idpw {
    float:left;
    width:50%;
    text-align: center;
    padding-bottom:8px;
    border-right:1px solid #ddd;
}

.login_side_join {
    float:left;
    width:50%;
    text-align: center;
    padding-bottom:8px
}

.submit_login {
    position:absolute;
    right: 25px;
    top:38px;
    color:#fff;
    background-color:#4cace8;
    height: 84px;
    width: 84px;
    border:1px solid transparent;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .loginmodal_title {
        width:100%;
    }

    .loginmodal_body {
        width:100%;
        height:110%;
    }

    .loginmodal_inputwrap {
        float:none;
        width:100%;
    }

    .loginmodal_input {
        width:100%;
    }

    .submit_login {
        position:relative;
        right: 0px;
        top:0px;
        color:#fff;
        background-color:#4cace8;
        height: 50px;
        width: 100%;
        border:1px solid transparent;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .loginmodal_ad {
        float:none;
        width:100%;
        margin:0px auto;
        text-align: center;
    }
    .login_side {
        padding:0px;
        width:100%;
        margin:0px auto;
        border-top:1px solid transparent;
    }
    .login_side_idpw{
        width:100%;
        border:none;
        border-bottom:1px solid #ddd;
        padding:10px;
    }
    .login_side_join {
        width:100%;
        padding:10px;
        border-bottom:1px solid #ddd;
    }
}


/** 로그아웃 상태 구성 **/
.userlog_utility{
    margin:2px 0 2px 0;
}

.userlog_login_btn { 	opacity: 0.7; }

.userlog_login_btn:hover {	opacity: 1; }


.userlog_login_func{
    position:relative;
    width:100%;
    height:30px;
    margin-top:20px;
    text-align:center;
}

a.forgotidpw {
    float:left;
    width:109px;
    height:30px;
    margin-left:10px;
    background-image: url('/imgs/ange/btn_forgotidpw_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
}

a.joinus {
    float:left;
    width:70px;
    height:30px;
    margin-left:8px;
    background-image: url('/imgs/ange/btn_joinus_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
}

a.forgotidpw:hover, a.joinus:hover {
    background-position: left -30px;
}

/** 로그인 후 구성 **/

.userlog_login_now {
    width:210px;
    height:185px;
    background:#fff;
    padding-top:15px;
    border:1px solid #e3e3e3;
    border-top:2px solid #8d8d8d;
    border-bottom:1px solid #b1b1b1;
    text-align:center;
}

.userconfig{
    position: absolute;
    font-size:1.2em;
    top:10px;
    right:10px;
    color:#888;
    cursor: pointer;
}

.userconfig:hover {
    color:#111;
    text-decoration: none;
}

.userconfig_mobile{
    position: absolute;
    font-size:1.4em;
    width:50px;
    height:50px;
    top:10px;
    right:20px;
    color:#fff;
    text-align:center;
    cursor: pointer;
    opacity: 0.4;
    padding-top:15px;
}

.userconfig_mobile:hover {
    color:#111;
    text-decoration: none;
    opacity: 0.8;
}

.userlog_user_func {
    float:left;
    width:100%;
    height:22px;
    font-size: 0.86em;
    margin-top:2px;
    text-align:center;
    padding:0 12px;
}

img.userlog_login_pic {
    width:84px;
    height:84px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.userlog_login_info {
    position:relative;
    width:100%;
    height:22px;
    font-size: 0.86em;
    margin-top:4px;
    text-align:center;
    margin-bottom:2px;
    padding:0 12px;
}

.userlog_user_subinfo{
    float:left;
    width:100%;
    height:22px;
    font-size: 0.86em;
    margin-top:4px;
    text-align:center;
    margin-bottom:2px;
    padding:0 12px;
}


.usernickname {
    font-weight: bold;
}

.user_cart {
    float: left;
    cursor: pointer;
    color:#666;
}

.user_mileage {
    float: right;
    cursor: pointer;
}

.babyinfo {
    float: left;
    cursor: pointer;
    color:#666;
}

.babyinfo:hover, .user_cart:hover {
    color:#111;
    text-decoration: none;
}

a.logout {
    float:right;
    width:63px;
    height:18px;
    margin-left:8px;
    background-image: url('/imgs/ange/btn_logout_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
    cursor: pointer;
}

a.logout:hover {
    background-position: left -18px;
}










a.util1 {
    float: left;
    width:77px;
    height:28px;
    background-image:url('/imgs/ange/comp_login_btn_01_myboard.jpg');
    text-indent: -9999px;
}

a.util2 {
    float: left;
    width:65px;
    height:28px;
    background-image:url('/imgs/ange/comp_login_btn_02_message.jpg');
    text-indent: -9999px;
}
.message_icon_new {
    position:absolute;
    font-family: arial, san-serif;
    font-size: 0.64em;
    font-weight: bold;
    color: #fbffdc;
    padding: 0 2px;
    margin-left:5px;
    background-color: #ffa405;
    border:1px solid transparent;
    border-radius: 2px;
}

a.util3 {
    float: left;
    width:68px;
    height:28px;
    background-image:url('/imgs/ange/comp_login_btn_03_customer.jpg');
    text-indent: -9999px;
}

a.util1:hover, a.util2:hover, a.util3:hover {
    background-position:left -28px;
}

.btn_angeclub {
    float:left;
    width:100%;
    height:76px;
    margin-top:10px;
    background-image: url('/imgs/ange/angeclub_banner.png');
    background-repeat: no-repeat;
    background-position: left -76px;
    border:none;
}

.btn_angeclub:hover {
    background-position: left -76px;
}

.comp_calm {
    position:relative;
    margin-top: 74px;
    border:1px solid #d0d0d0;
    border-radius: 8px;
}

.comp_minialbum {
    height:130px;
    width:210px;
    border-bottom:1px solid #DEDEDE;
}

.comp_calendar {
    height:160px;
    width:210px;
}

.comp_subbanner {
    position: absolute;
    float:left;
    bottom: 0px;
}


/* -�α��� ��ƿ��Ƽ */


/* Footer */

a.footer_ask {
    margin: 0 0 12px 8px;
    float:left;
    height:20px;
    width:56px;
    background-image: url('/imgs/ange/footer_btn_01_ask.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

a.footer_ask:hover, a.footer_ask:focus {
    background-position: left -20px;
}

a.footer_mailto {
    float:left;
    height:14px;
    width:22px;
    background-image: url('/imgs/ange/footer_btn_02_mailto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 16px 0 15px 20px;
}

a.footer_fbto {
    float:left;
    height:20px;
    width:9px;
    background-image: url('/imgs/ange/footer_btn_03_fbto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 10px 0 15px 18px;
}

a.footer_blogto {
    float:left;
    height:16px;
    width:31px;
    background-image: url('/imgs/ange/footer_btn_04_blogto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 14px 0 15px 15px;
}

a.footer_kakaoto {
    float:left;
    height:20px;
    width:10px;
    background-image: url('/imgs/ange/footer_btn_04_kakaoto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 10px 0 15px 18px;
}

a.footer_mailto:hover, a.footer_mailto:focus {	background-position: left -14px; }
a.footer_fbto:hover, a.footer_fbto:focus, a.footer_kakaoto:hover, a.footer_kakaoto:focus { background-position: left -20px; }
a.footer_blogto:hover, a.footer_blogto:focus {	background-position: left -16px; }

/* /Footer */


/* Componants Class Style */

.comp_basic {
    float:left;
    position:relative;
    height:100%;
    width:100%;
    padding:0;
    line-height:18px;
    margin:10px auto;
}

.comp_cols {
    float:left;
    position:relative;
    height:100%;
    width:100%;
    padding:0;
    line-height:18px;
    margin:10px auto;
}

.comp_splite_left {
    float:left;
    width:97.8%;
}

.comp_splite_middle {
    float:left;
    margin-left:2px;
    width:98.2%;
}

.comp_splite_right {
    float:right;
    width:98.2%;
}

.col_mobile_left {
    padding:0;
}

.col_mobile_middle {
    padding:0;
}

.col_mobile_right {
    padding:0;
}


@media (max-width: 991px) {
    .comp_cols {
        width:48%;
    }
    .comp_basic.comp_splite_left, .comp_basic.comp_splite_middle, .comp_basic.comp_splite_right {
        width:100%;
        float:left;
        margin: 10px auto;
    }
    .comp_cols.comp_splite_left, .comp_cols.comp_splite_middle, .comp_cols.comp_splite_right {
        float:left;
        width:49%;
        margin: 10px .5% 0 .5%;
    }

    .col_mobile_left {
        padding-right:5px;
    }
    .col_mobile_right {
        padding-left:5px;
    }
}

@media screen and (max-width: 767px) {
    .col_mobile_left {
        padding-right:0;
    }
    .col_mobile_right {
        padding-left:0;
    }
}

.v-cell-1, .v-cell-2, .v-cell-3, .v-cell-4 {
    margin:0;
    padding:0;
    margin-bottom:4px;
}

/* ���� ��å				*/
/* ���� h-cell-half		*/
/* �Ϲ� h-cell-1			*/
/* ���� h-cell-1-half	*/
/* ���� h-cell-2			*/

.h-cell-dynamic, .h-cell-half, .h-cell-1, .h-cell-1-half, .h-cell-2 {
    line-height:8px;
    margin-bottom:12px;
}

.h-cell-dynamic{
    /*clear: both;*/
    /*min-height:300px;*/
}

.h-cell-half {
    height:98px;
}
.h-cell-quad3 {
    height: 128px;
}
.h-cell-1{
    height:158px;
}
.h-cell-1-half{
    height:278px;
}
.h-cell-2{
    height:338px;
}

/************ lnb 반응형 ***********/

.localmenu_wrap {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}

.localmenu_mobile_wrap {
    position:fixed;
    display: none;
    width: 100%;
    background-color: #666;
    color: #fff;
    top:135px;
    z-index: 998;
}

.localmenu_mobile_col {
    font-size: 0.92em;
    height:100%;
    padding: 14px 16px 14px 18px;
    cursor:pointer;
    float: left;
}

.localmenu_mobile_col.smenu {
    background-image: url('/imgs/ange/gnb_mobile_arw.png');
    background-repeat: no-repeat;
    background-position: left top;
}


@media screen and (max-width: 767px) {
    .localmenu_wrap {
        display: none;
    }

    .localmenu_mobile_wrap {
        display: block;
    }

    .content_wrap, .sub_content_wrap {
        border:1px solid transparent;
        position:relative;
        margin-top:38px;
    }
}

.localmenu_col_2, .localmenu_col_3, .localmenu_col_4, .localmenu_col_5, .localmenu_col_6 {
    float:left;
    padding:4px 1px 0px 1px;
}

.localmenu_col_2 {
    width:50%;
}

.localmenu_col_3 {
    width:33.3%;
}

.localmenu_col_4 {
    width:25%;
}

.localmenu_col_5 {
    width:20%;
}

.localmenu_col_6 {
    width:16.6%;
}

.localmenu_block {
    float:left;
    background:#FFF;
    width:100%;
    height:100%;
    padding-top:8px;
    padding-bottom: 8px;
    margin-bottom:4px;
}

@media screen and (min-width: 1680px) {
    .localmenu_col_2, .localmenu_col_3, .localmenu_col_4, .localmenu_col_5, .localmenu_col_6 {
        width:100%;
    }
    .localmenu_block {
        margin-left:1%;
        width:98%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1679px) {
    .localmenu_col_2, .localmenu_col_3, .localmenu_col_4, .localmenu_col_5, .localmenu_col_6 {
        height:100%;
    }
}

a.lnb_handle_close {
    display:none; /* 숨김 */
    float:right;
    font-size:1.24em;
    color:#333;
    cursor: pointer;

}

a.lnb_handle_close:hover {
    text-decoration: none;
    color: darkred;
}


.localmenu_link {
    float: left;
    width:100%;
    padding:2px 5px;
    cursor: pointer;
}

.localmenu_comment {
    float:left;
    padding-left:24px;
    width:100%;
    line-height:20px;
    font-size:0.78em;
    color:#8A8A8A;
    margin-bottom: 15px;
}

.localmenu_link.main {
    padding-left: 15px;
    font-weight: 700;
    line-height:25px;
}

.localmenu_link.orange {
    color: #e25d4c;
}

.localmenu_link.blue {
    color:#1895EF;
}

.localmenu_link.sub {
    padding-left: 18px;
    font-size: 0.78em;
    color:#646464;
    line-height:16px;
}

.localmenu_link.main.nowmenu {
    /*background-color:#ddd;*/
    border:1px solid transparent;
    border-radius: 10px;
    color:#fff;
}

.localmenu_link.orange.nowmenu {
    background-color: orange;
}
.localmenu_link.blue.nowmenu {
    background-color: skyblue;
}

.localmenu_link.sub.nowmenu {
    color:#fff;
    background-color:#A0A0A0;
    border:1px solid transparent;
    border-radius: 8px;
    cursor:default;
}

.localmenu_link.main.notlink {
    color:#333;
    cursor: default;
    text-decoration: none;
}

/*not(.etc)*/
.localmenu_link:hover {
    text-decoration: none;
}

.nowmenu:hover {
    color:#fff !important;
}

.localmenu_link.main.orange:not(.notlink):hover {
    color:darkred;
}

.localmenu_link.main.blue:not(.notlink):hover {
    color:darkblue;
}

.localmenu_link.sub:not(.notlink):hover {
    color:black;
}

/***** 배너 인벤토리 형식 *******/

.ADbanner_normal {
    float:left;
    width:100%;
    height:100%;
    text-indent:-9999px;
    cursor: pointer;
    border:1px solid #d7d7d7;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ADbanner_image {
    float:left;
    width:100%;
    cursor: pointer;
    padding:0px;
}

.ADbanner_image img {
    width:100%;
    margin:0px;
    padding:0px;
    border:1px solid #d7d7d7;
    border-radius: 12px;
}


.shadowed {
    -webkit-box-shadow: 0 2px 8px #AAA;
    -moz-box-shadow: 0 2px 8px #AAA;
    -ms-box-shadow: 0 2px 8px #AAA;
    box-shadow: 0 2px 8px #AAA;
}

.inven_Highlight {
    width:100%;
    height:100%;
    cursor: pointer;
}

.inven_Highlight img{
    width:100%;
    border-radius: 12px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}


.inven_subsideRoll {
    width:100%;
    height:100%;
    cursor: pointer;
}


.inven_subsideRoll img{
    width:100%;
    /*border-radius: 12px;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}


.inven_1stClass {
    width:210px;
    height:85px;
    margin-bottom: 20px;
}

.inven_catchup {
    float:left;
    width:210px;
    margin-bottom: 10px;
    height:55px;
}

.inven_themeup {
    float:left;
    width:100%;
    padding: 25px 0;
}


/****** 서브페이지 콘텐츠 공용 ************/

.no-margin {
    margin: 0px;
    padding: 0px;
}


.people_view_wrap, .people_edit_wrap {
    width:100%;
    margin:0;
    padding:0;
    line-height:18px;
}

.table_blue { color: #019bd4; font-weight:bold; }
.table_red { color: #e25d4c; font-weight:bold;}
.table_white { color: #ffffff; font-weight:bold;}
.table_gray { color: #646464; }
.table_green { color: #71b528; }

tr.ended { background-color:#FAFAFA; opacity: 0.75; }
tr.desabled { background-color:#EDEDED; opacity: 0.5; pointer-events:none; cursor: default;}
tr.primary { background-color:#fcfaec; }

.feed_count {
    float: left;
    padding-left: 15px;
    margin-top: 2px;
    margin-right:15px;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position : left 2px;
}

.feed_count.countlike {
    background-image: url('/imgs/ange/heart_icon.png');
}

.feed_count.countreply {
    background-image: url('/imgs/ange/comment_icon.png');
}

.feed_count.counthit_color {
    background-image: url('/imgs/ange/pagehit_coloricon.png');
}

.feed_count.countlike_color {
    background-image: url('/imgs/ange/heart_coloricon.png');
}

.feed_count.countreply_color {
    background-image: url('/imgs/ange/comment_coloricon.png');
}

#comp_board_table {
    border-bottom:2px solid #ddd;
}

tbody.on{
    cursor: pointer;
}

.sub_contents_wrap{
    position:relative;
    width:100%;
    line-height:22px;
}

.sub_contents_bullet {
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:6px;
    background-color: #000;
}

.sub_contents_title {
    position: relative;
    border:1px solid transparent;
    margin-bottom:40px;
}

.sub_contents_slogan {
    position: absolute;
    font-size: 0.54em;
    color: #fb6362;
    line-height:18px;
    margin-top:5px;
}

.sub_contents_title p {
    color: #868686;
    font-size: 0.86em;
}

.sub_contents_body {
    margin-top:20px;
    position:relative;
    width:100%;
    line-height:22px;
}

.board_thead{
    color:blue;
    background-image:url(/imgs/ange/comp_miniboard_hr.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.board_th {
    color: #019bd4;
    font-weight: 700;
}

td.table_no {
    font-family: arial, san-serif;
    font-weight: 700;
    font-size: 0.86em;
    text-align: center;
    padding-top: 12px !important;
}

td.table_date {
    font-family: arial, san-serif;
    word-break: keep-all;
    font-size: 0.86em;
}

td.table_author {
    word-break: keep-all;
    font-size: 0.86em;
    text-align: center;
}

td.table_hit {
    font-family: arial, san-serif;
    word-break: keep-all;
    font-size: 0.86em;
    text-align: center;
}


.sub_contents_ads {
    margin-top:20px;
    position:relative;
    width:100%;
    line-height:22px;
}


/* 게시판 공용 */

.reply_num {
    font-family: arial, san-serif;
    font-size: 0.78em;
    font-weight:normal;
    color: #666;
    margin-left:5px;
}

.table_icon_lock {
    font-size: 0.78em;
    vertical-align:baseline;
    line-height: 19px;
    color: #111;
    padding: 0;
    margin-left:1px;
}

.table_icon_new {
    font-family: arial, san-serif;
    font-size: 0.64em;
    font-weight: bold;
    color: #fbffdc;
    padding: 0 2px;
    margin-left:5px;
    background-color: #ffa405;
    border:1px solid transparent;
    border-radius: 2px;
}

.table_icon_pic {
    font-size: 0.94em;
    vertical-align:middle;
    line-height: 18px;
    color: #22ade1;
    padding: 0;
    margin-left:1px;
    border-bottom: 2px solid transparent;
}

.table_icon_clip {
    font-size: 0.78em;
    vertical-align:middle;
    line-height: 16px;
    color: #a027de;
    padding: 0;
    margin-left:1px;
}


a.people_boardmanager {
    margin: 0px 0 0 12px;
    padding: 4px 0 4px 22px;
    position: absolute;
    font-size: 0.56em;
    font-weight: 400;
    color: #868686;
    background-image: url('/imgs/ange/icon_peoplemanager.png');
    background-repeat: no-repeat;
    background-position: left 4px;
}

a.people_boardmanager .people_boardmanager_id {
    margin-left: 3px;
    color: #22ade1;
    font-weight: 700;
}

a.people_boardmanager:hover {
    text-decoration: none;
}

.people_view_btnwrap {
    margin:8px 0 0px 0;
    padding:15px 0px;
}

a.people_btn{
    width: 80px;
    height: 28px;
    /*opacity: 0.75;*/
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
    padding:0;
    margin: 0 4px;
}

a.people_btn:hover {
    background-position: left -28px;
}

/*a.people_btn.submit { float:left; background-image: url('/imgs/ange/people_btn_submit.png'); }*/
/*a.people_btn.list   { float:left; background-image: url('/imgs/ange/people_btn_list.png'); }*/
/*a.people_btn.modify { float:right; background-image: url('/imgs/ange/people_btn_modify.png'); }*/
/*a.people_btn.cancel { float:right; background-image: url('/imgs/ange/people_btn_cancel.png'); }*/
/*a.people_btn.vote   { float:right; background-image: url('/imgs/ange/people_btn_vote.png'); }*/
/*a.people_btn.confirm { float:right; background-image: url('/imgs/ange/people_btn_confirm.png'); }*/

a.people_btn.register { float:left; background-image: url('/imgs/ange/pp_btn_register.png'); }
a.people_btn.list   { float:left; background-image: url('/imgs/ange/pp_btn_list.png'); }
a.people_btn.comment { float:left; background-image: url('/imgs/ange/pp_btn_comment.png'); }
a.people_btn.modify { float:right; background-image: url('/imgs/ange/pp_btn_modify.png'); }
a.people_btn.submit { float:right; background-image: url('/imgs/ange/pp_btn_complete.png'); }
a.people_btn.cancel { float:right; background-image: url('/imgs/ange/pp_btn_cancle.png'); }
a.people_btn.vote   { float:right; background-image: url('/imgs/ange/pp_btn_poll.png'); }
a.people_btn.confirm { float:right; background-image: url('/imgs/ange/pp_btn_ok.png'); }
a.people_btn.delete { float:right; background-image: url('/imgs/ange/pp_btn_delete.png'); }


.dragzone {
    display: block;
    height:100%;
    font-size: 0.86em;
    padding: 5px 10px;
    border:1px solid #ddd;
    border-radius:4px;
    line-height:18px;
    overflow: auto;
    overflow-x: hidden;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.dragzone_wrap{
    padding:0;
    height:100%;
}

.dagbox_btn {
    float:left;
    background-color:#fff;
    font-size:0.78em;
    width:100%;
    border:1px solid transparent;
    border-radius:18px;
    text-align:center;
    height:25px;
    margin: 2px 0;
    color:#fff;
    opacity: 0.75;
}

.dagbox_btn.large {
    padding-top:4px;
    text-align:center;
    vertical-align: middle;
    margin:0px;
    height:100%;
}

.dagbox_btn.selectall{ background-color: #9ab251; }
.dagbox_btn.add{ background-color: #5888ad; }
.dagbox_btn.delete{ background-color: #f75d00; }

.dagbox_btn.fil2com{
    background-color: #83c783;
    border:1px solid #4cae4c;
    border-radius:6px;
    font-size:1.08em;
    width:100%;
    height:100%;
    /*
    background-image: url('/imgs/ange/file2com_icon.png');
    background-repeat: no-repeat;
    background-position: 18% 25px;
    */
}

.dagbox_btn:hover {
    opacity: 1;
}

.thumbnailzone{
    font-size:0.92em; margin-left:1%;
}

.thumbnails {
    float:left;
    position: relative;
    margin:0;
    padding:0;
    width:14%;
    text-align:center;
    margin-bottom:10px;
    margin-right:2.6%;
    cursor: pointer;
    overflow:hidden;
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.story_thumbnails {
    float:left;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
    margin-right:2.6%;
    margin-bottom:15px;
    cursor: pointer;
    overflow:hidden;
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.review_thumbnails {
    float:left;
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
    margin-bottom:10px;
    margin-right:2.6%;
    cursor: pointer;
    /*overflow:hidden;*/
    background-color: #eee;
    background-image: url('/imgs/ange/noimage.png');
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
}


.thumbnails_img {
    width:100%;
}

.thumbnails.selectedthumb {
    outline: 2px solid #333;
    -webkit-box-shadow: 0 4px 8px #888;
    -moz-box-shadow: 0 4px 8px #888;
    -ms-box-shadow: 0 4px 8px #888;
    box-shadow: 0 4px 8px #888;
}

.thumbnails_img_check {
    position: absolute;
    left:0;
    top:0;
    width:20px;
    height:20px;
    opacity:0.8;
}

.thumbnails_img_star {
    opacity:0.75;
    color:#fff;
    margin-top: 4px;
}

.thumbnails_img_check:hover, .thumbnails_img_star:hover {
    opacity:1;
}


.people_editor_wrap {
    margin:0px auto;
    margin-bottom:10px;
    height:600px;
}

.people_editor_mobilewrap {
    margin:0px auto;
    margin-bottom:10px;
    height:280px;
}

.people_editor {
    height:100%;
    padding:0;
    border-bottom:1px solid #ddd;
}

.people_mobile_editable{
    height: 250px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}


.peopleboard_options {
    float: left;
    font-size: 0.86em;
    margin: 2px 5px 0 4px;
}


/* 공용 버튼/아이콘*/

.h4_icon {
    margin-right:4px;
    vertical-align: top;
}

.common_btn {
    font-size: 0.86em;
    line-height: 1em;
    padding: 5px 12px;
    background-color: #fff;
    line-height: 18px;
    border:none;
    opacity: 0.75;
}

.common_btn:hover {
    opacity: 1;
}

.common_btn.blackbtn {
    border: 1px solid #888888;
    border-radius: 12px;
    color:#333;
}

.common_btn.redbtn {
    background-color: #fb6362;
    border: 1px solid #fb6362;
    border-radius: 12px;
    color:#fff;
}

.common_btn.bluebtn {
    background-color: #4cace8;
    border: 1px solid #4cace8;
    border-radius: 12px;
    color:#fff;
}

.inputfile_btn_lg {
    float:left;
    width:37%;
    padding:20px 2% 0 0;
}
.inputfile_btn_lg_img {
    float:right;
    width:34px;
    margin-bottom:10px;
}
.inputfile_btn_guidetxt {
    width:63%;
    float:right;
    margin-top:18px;
    text-align:left;
}

@media screen and (max-width: 767px) {
    .inputfile_btn_lg {
        width:100%;
        height:100%;
        background-image: url('/imgs/ange/file2com_icon.png');
        background-position: top 15px center;
        background-repeat: no-repeat;
    }
    .inputfile_btn_guidetxt {
        display: none;
    }
    .inputfile_btn_lg_img {
        display: none;
    }
}

/* 이벤트(맘스) 공용 버튼 */


/* 스토어 공용 버튼 */


/* 회원가입 공용 */
.txt_title {
    font-size: 1.24em;
    line-height: 32px;
}

.txt_title a {
    color: #c91a19;
}

.txt_title a:hover, .txt_title a span:hover {
    text-decoration: none;
    color: #c91a19;
}

.ange_colorbox_gray {
    float:left;
    background-color: #f6f6f6;
    padding:18px 5%;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e2e2e2;
    text-align:left;
}

.ange_messagebox {
    float:left;
    width: 100%;
    padding: 40px 8%;
    font-size: 0.94em;
    color: #646464;
    text-align:left;
}


/* ETC */
ul.contentguide {
    font-size:0.86em;
    line-height:20px;
    word-break:keep-all;
    padding:15px 18px;
}

.common_linkbox {
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #ddd;
    line-height: 20px;
    padding:28px 8%;
    font-size:0.92em;
}

.common_linkbox a {
    color:#868686 !important;
    font-size: 0.86em;
}

.common_linkbox a:hover {
    text-decoration: none;
    color: #0baad1 !important;
}

.common_linkbox.dreamread {
    background-image: url('/imgs/ange/bg_naming_01_dreamnaming.png');
    background-repeat: no-repeat;
    background-position: left -27px top 8px;
}

.common_linkbox.namingbook {
    background-image: url('/imgs/ange/bg_naming_02_anmingbook.png');
    background-repeat: no-repeat;
    background-position: left 10% center;
    background-size: 20%;
}


/* Sub side banner */

.subside_wrap {
    width:165px;
    height:100%;
}

.subside_banner_wrap {
    margin:10px 0 5px 10px;
    width:100%;
}

.subside_banner_wrap img {
    float:left;
    width: 100%;
}
.subside_inven_rolling {
    float:left;
    position:relative;
    border:1px solid #ddd;
    width:100%;
    margin-bottom:5px;
}

.subside_linebanner_wrap {
    float:left;
    width: 100%;
}

.subside_movie_wrap {
    float:left;
    width: 100%;
}

.subside_inven_basic {
    float:left;
    border:1px solid #ddd;
    width: 100%;
    cursor: pointer;
}

.subside_inven_basic.top {
    border-bottom: none;
}

.subside_inven_basic.mid {

}

.subside_inven_basic.btm {
    border-top: none;
    margin-bottom:5px;
}


/* Sub side rank */
.subside_rank {
    margin:20px 0 20px 10px;
    width:100%;
}

.subside_rank_wrap {
    border:1px solid #ddd;
    border-bottom:none;
}

.subside_rank_top {
    height:60px;
    font-weight: 600;
    line-height: 58px;
    padding-left: 18px;
    background-color:#f6f6f6;
    border-bottom:1px solid #ddd;
    color: #464646;
}

.subside_rank_body {
    font-size:0.86em;
}

.subside_rank_body dd {
    padding:10px;
    height:60px;
    border-bottom:1px solid #ddd;
}

.rank_txt {
    line-height: 28px;
}

.rank_txt.champion {
    font-weight: 600;
}

.ranking_link {
    float:left;
    margin-top:8px;
    margin-right:4px;
    background-image: url('/imgs/ange/subside_rank_no.jpg');
    background-repeat: no-repeat;
    height: 13px;
    width: 12px;
}

.rank_txt a {
    cursor: pointer;
}

.rank_txt a:hover {
    text-decoration: none !important;
    color: #00b0ea !important;
}

.rank_1st, .rank_2nd, .rank_3rd, .rank_4th, .rank_5th {
    display: block;
}

.ranking_link.first.red {
    display: block;
    background-position: left top;
}

.ranking_link.first.green {
    display: block;
    background-position: center top;
}

.ranking_link.first.blue {
    display: block;
    background-position: right top;
}

.ranking_link.second {
    display: block;
    background-position: left -13px;
}

.ranking_link.thirth {
    display: block;
    background-position: left -26px;
}

.ranking_link.fourth {
    display: block;
    background-position: left -39px;
}

.ranking_link.fifth  {
    display: block;
    background-position: left -52px;
}


@media screen and (max-width: 1200px) {
    /* 모바일 사이즈일 경우 사이드 배너를 하단으로 이동 */
    .ng_mainwrap {
        /*overflow: auto;*/
        /*overflow-x: hidden;*/
    }

    .subside_wrap {
        display:inline-block;
        margin-top:15px;
        padding: 5px 10%;
        width:100%;
        border-top: 1px solid #ddd;
    }

    .subside_banner_wrap {
        float: left;
        width:65%;
        margin-top:20px;
    }

    .subside_inven_rolling {
        width:61%;
    }

    .subside_linebanner_wrap {
        width:37%;
        margin-left: 2%;
    }

    /* 동영상 배너 삭제
    .subside_movie_wrap {
        width:35%;
        margin-left: 2%;
    }
    */

    .subside_rank {
        float: left;
        width:31%;
    }

    .rank_4th, .rank_5th {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    /* 모바일 사이즈일 경우 사이드 배너를 하단으로 이동 */
    .ng_mainwrap {
        /*overflow: inherit;*/
    }
}

/* 인벤토리(이미지로딩) 선영역 지정 */

img.blank_wrap {
    /*position:absolute;*/
    /*left: 0px;*/
    /*top: 0px;*/
    width: 100%;
    background-color: #EDEDED;
    background-image: url('/imgs/ange/noimage.png');
    background-position: center center;
    background-size: 20%;
    background-repeat: no-repeat;
}


/* Story 전용 공유 버튼 */

.people_share {
    display:block;
    float:right;
    line-height:20px;
    vertical-align:top;
    width:100%;
}

.people_share_mobile {
    display:none;
    float:right;
    line-height:20px;
    vertical-align:top;
}

@media screen and (max-width: 767px) {
    .people_share_mobile {
        display: block;
    }

    .people_share {
        display: none;
    }
}

.story_sharebtn {
    font-size: 0.78em;
    line-height: 16px;
    line-height: 16px;
    background-color:#fff;
    border-radius:20px;
    opacity: 0.75;
    float:right;
    margin-right:4px;
}

.story_sharebtn.redbtn {
    border:1px solid #e60000;
    color:#e60000;
}

.story_sharebtn.blackbtn {
    border:1px solid #111;
    color:#111;
}

.story_sharebtn.kakaobtn {
    border:1px solid #f6cd00;
    color:#111;
}
.story_sharebtn.twitterbtn {
    border:1px solid #00c0f3;
    color:#111;
}
.story_sharebtn.facebookbtn  {
    border:1px solid #587cbd;
    color:#111;
}


.story_sharebtn_icon {
    font-size:0.88em;
    margin-right:4px;
}

.story_sharebtn:hover {
    opacity: 1;
}

.story_btnicon {
    float:left;
    height:11px;
    width:11px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 2px;
    margin-right: 4px;
}


.story_btnicon.kakao {
    background-image: url('/imgs/ange/btnicon_kakao.png');
}
.story_btnicon.twitter {
    background-image: url('/imgs/ange/btnicon_twitter.png');
}
.story_btnicon.facebook {
    background-image: url('/imgs/ange/btnicon_facebook.png');
}


.story_sharebtn_mobile {
    float:left;
    height:25px;
    width:25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border:0;
    background-color: transparent;
    padding:0;
    margin-right:6px;
}

.story_sharebtn_mobile:hover {
    opacity: 0.7;
}

.story_sharebtn_mobile.kakao    { background-image: url('/imgs/ange/btn_sns_lg03_kakao.png'); }
.story_sharebtn_mobile.twitter  { background-image: url('/imgs/ange/btn_sns_lg01_twitter.png'); }
.story_sharebtn_mobile.facebook { background-image: url('/imgs/ange/btn_sns_lg02_facebook.png'); }
.story_sharebtn_mobile.priint   { background-image: url('/imgs/ange/btn_sns_lg04_print.png'); }
.story_sharebtn_mobile.scrap    { background-image: url('/imgs/ange/btn_sns_lg05_scrap.png'); }


td.normaltype {
    display: table-cell;
}

td.mobiletype {
    display: none;
}

.board_thead.normaltype {
    display: table-row;
}

.board_thead.mobiletype {
    display: none;
}

nav.normaltype {
    display: block;
}

nav.mobiletype, button.mobiletype {
    display: none;
}

label.normaltype {
    display: block;
}

label.mobiletype {
    display: none;
}

@media screen and (max-width: 767px) {
    td.normaltype, .board_thead.normaltype, nav.normaltype,label.normaltype {
        display: none;
    }

    td.mobiletype {
        display: table-cell;
    }

    .board_thead.mobiletype {
        display: table-row ;
    }

    nav.mobiletype, label.mobiletype, button.mobiletype {
        display: block;
    }
}


/* mobile footer */

.mobilefooter_logobox {
    margin-top:18px;
    width:100%;
    padding:0px 18px;
}

.mobilefooter_logobox_logos {
    float:left;
    border-right:1px solid #eee;
    font-size:1.54em;
    font-weight:600;
    margin-top:10px;
    padding:12px 32px 26px 16px;
}

.mobilefooter_logobox_logotype {
    text-align: center;
}

.mobilefooter_logobox_links {
    text-align: center;
    margin-left: -25px;
}

.mobilefooter_menubox {
    float:left;
    line-height:18px;
    margin-left: 18px;
    margin-top:8px;
}

.mobilefooter_menubox_menus {
    font-size:0.92em;
    margin-top:6px;
    margin-bottom:10px;
}

.mobilefooter_copyright {
    margin-top:6px
}

@media screen and (max-width: 767px) {
    .mobilefooter_logobox_logos {
        border:none;
        width:100%;
        text-align:center;
    }
    .mobilefooter_logobox_links {
        width:170px;
        margin:0px auto;
    }

    .mobilefooter_logobox_links {
        margin-top:10px;
        border-top:1px solid #ddd;
    }

    a.footer_mailto, a.footer_fbto, a.footer_blogto, a.footer_kakaoto {
        float: left;
    }

    .mobilefooter_menubox {
        float:none;
        text-align: center;
        margin:0px auto;
        padding:0px;
    }

    .mobilefooter_infos {
        display:none;
    }
}


/* /Story 전용 공유 버튼 */

.profile_pic {
    width:40px;
    height:40px;
    border:2px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}


/*** 레이아웃 작업 시 아래 하애 주석 해제 필요함 ***/


/*.comp_basic, .comp_cols {*/
	/*background:#FEFEFE;*/
	/*border:1px solid #DEDEDE;*/
/*}*/



/* 체험기간 임시 블라인드 */
.temp_blind {
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    z-index: 900;
    opacity:.0;
}

@media screen and (min-width: 1680px) {
    .temp_blind {
        margin-left:225px;
    }
}

.com_screen { display: block; }
.com_mobile { display: none; }

@media (max-width: 991px) {
    .com_screen {
        display: none;
    }

    .com_mobile {
        display: block;
    }
}
