/* Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess  */

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/NanumGothic-Bold.eot');
    src: url('/fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-Bold.woff2') format('woff2'),
    url('/fonts/NanumGothic-Bold.woff') format('woff'),
    url('/fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/NanumGothic-Regular.eot');
    src: url('/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-Regular.woff2') format('woff2'),
    url('/fonts/NanumGothic-Regular.woff') format('woff'),
    url('/fonts/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/NanumGothic-ExtraBold.eot');
    src: url('/fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('/fonts/NanumGothic-ExtraBold.woff') format('woff'),
    url('/fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

html {
    height: 100%;
    min-height: 100%;
    margin:0;
    padding:0;
}

body {
    font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
    background: URL("/imgs/ange/body_bg_01.png");
    height: 100%;
}

.wrap {
    display:block;
    min-width: 1010px;
    max-width: 1920px;

    height:100%;
    width:100%;
    margin:0;
    padding:0 244px 0 165px;
}

.panel_ad {
    position:relative;
    float:left;
    margin:0;
    margin-left:-165px;
    width: 165px;
    padding: 24px 0 36px 18px;
    height:100%;
    min-height:860px;
    overflow:auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel_content {
    min-width: 762px;
    float: left;
    width: 100%;
    background-color: #fff;
    height:100%;
    min-height:860px;

    margin:0px auto;
    border-left:1px solid #EFEFEF;
    border-right:1px solid #EFEFEF;
}

.panel_user {
    position:relative;
    float:right;
    height: 100%;
    margin:0;
    min-height:860px;
    margin-right:-220px;
    padding-top:10px;
    width: 210px;
}

.common_container {
    clear:both;
    margin:0px auto;
    width:95%;
    max-width:800px;
}

.content_wrap {
    position:relative;
    display:block;
    margin:0;
    margin-top:100px;
    height:calc(100% - 100px);
}

.sub_content_wrap {
    position:relative;
    display:block;
    margin:0;
    margin-top:74px;
    height: calc(100% - 74px);
    /*padding-top:180px;*/
    padding-top:218px; /*서브메뉴 핸들러 38px추가 */
}


.lnb {
    display:none;
    position:absolute;
    top:0px;
    display:block;
    height:170px;
    width: 100%;
    /*border:1px solid #DEDEDE;*/
    border-top:1px solid #EDEDED;
    border-bottom:none;
    /*border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;*/
    margin-bottom:38px;
    background-color:#F6F6F6;
    margin:0px;
    z-index:998;
}

.lnb_filter {
    display:none;
    padding:12px 5px;
}

.lnb_handle{
    display:block;
    float:left;
    width:100%;
    border-bottom:1px solid #DEDEDE;
    border-top:none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color:#F6F6F6;
    height: 38px;
    margin:0px;
    z-index:999;
}

.lnb_handle_wrap {
    float:left;
    width:100%;
    padding:8px 14px;
}

@media (min-width: 1680px) {
    .lnb {
        position:static;
        float: left;
        border:none;
        border-right:1px solid #DEDEDE;
        border-radus:0px;
        display:block;
        height:100%;
        width:18%;
        margin:0;
        /*border-bottom-left-radius: 0px;*/
        /*border-bottom-right-radius: 0px;*/
        background-color:#FFF;
        max-width:215px;
        overflow: auto;
        overflow-y: auto;
    }

    .sub_content_wrap {
        padding-top:0px;
    }

    .lnb_handle{
        display: none;
    }

    .lnb_filter {
        display:block;
    }
}

.mini_ad_roll_group{
    margin-top: 120px;
    float:left;
    vertical-align: bottom;
}

.mini_ad_roll {
    float:left;
    width:120px;
    height:76px;
    margin-top:20px;
    background-position:left bottom;
}

.copyright_left {
    position:absolute;
    bottom:15px;
    float:left;
    margin:0;
}

.mini_ad_roll_1 {background:url('/imgs/ange/left_banner_01_01.png') no-repeat;	background-position:left bottom;}
.mini_ad_roll_2 {background:url('/imgs/ange/left_banner_02_01.png') no-repeat;	background-position:left bottom;}
.mini_ad_roll_3 {background:url('/imgs/ange/left_banner_03_01.png') no-repeat;	background-position:left bottom;}
.mini_ad_roll_4 {background:url('/imgs/ange/left_banner_04_01.png') no-repeat;	background-position:left bottom;}

.copyright_foot {
    display:none;
    float:left;
    margin:0px; auto;
    margin-top:10px;
    width: 100%;
    padding-bottom: 32px;
}


@media (max-width: 1200px) {
    .wrap {
        padding:0 244px 0 0;
    }

    .panel_ad {
        display :block;
        height:120px;
        min-height:100px;
        width:100%;
        margin:0 auto;
        overflow: hidden;
    }

    .mini_ad_roll_group{
        position:absolute;
        top: -110px;
        right: 4px;
        float:left;
    }

    .mini_ad_roll {
        margin-left:12px;
    }

    .panel_user {
        margin-top:-96px;
    }

    .copyright_left {
        display: none;
    }

    .copyright_foot {
        display: block;
    }

}

/* Main Responsive Style Set */

.content_wrap {
    overflow: auto;
    overflow-x: hidden;
}

.sub_content_wrap {
    overflow: auto;
    overflow-x: hidden;
}

.mainbar {
    float: left;
    padding-right: 5px;
    height:100%;
    overflow: auto;
}

.subar {
    float: left;
    position:relative;
    border-left: 1px solid #eee;
    height:100%;
    overflow: auto;
}

.mainbar:hover, .subar:hover  {
    overflow-x: auto;
    overflow-y: auto;
}

.slide0 {
    width:58%;
    min-width:720px;
}

.slide1, .slide2, .slide3 {
    width:14%;
}

/** 서브페이지를 열었을 경우 **/
.slide0_small {
    width:32%;
}

.slide1_pan, .slide2_pan, .slide3_pan {
    width:40%;
}

/** 서브페이지를 열었을 경우 **/

@media (max-width: 1679px) {
    .slide0{
        width:70%;
    }

    .slide1, .slide2, .slide3{
        width:10%;
    }

    .slide0_small {
        width:34%;
    }

    .slide1_pan, .slide2_pan, .slide3_pan {
        width:46%;
    }

}

@media (max-width: 1470px) {
    .slide0{
        width:100%;
        float:none;
        margin:0px auto;
    }

    .slide0_small {
        width: 100%;
    }

    .slide1, .slide2, .slide3{
        display:none;
    }

    .slide1_pan, .slide2_pan, .slide3_pan {
        display: none;
    }
}

/* - Main Responsive Contents Style Set */

/* Sub Page Responsive Style Set */
.sub-slide {
    width:100%;
}

.sub-slide0 {
    width:75%;
    min-width:560px;
}

.sub-slide1 {
    width:25%;
    min-width:100px;
}


@media (min-width: 1680px) {

    .sub-slide {
        width: calc(100% - (215px));
    }

    .sub-slide0 {
        width:58%;
    }

    .sub-slide1 {
        width:24%;
    }
}
/* - Sub Page Responsive Style Set - */


.gnb{
    float:left;
    width:100%;
    background-color:#f4f4f4;
    margin:25px 0 0 0;
    border: none;
    padding:0;
}

.gnb_menu {
    float:left;
    padding:0;
    margin:0;
    width:100%;
    padding:0 0 0 10px;
    border-bottom: 1px solid #EFEFEF;
}

.chnnel1 { 	background:url('/imgs/ange/ui_gnbbtn_01_story.png'); }
.chnnel2 { 	background:url('/imgs/ange/ui_gnbbtn_02_people.png'); }
.chnnel3 { 	background:url('/imgs/ange/ui_gnbbtn_03_moms.png'); }
.chnnel4 { 	background:url('/imgs/ange/ui_gnbbtn_04_my.png'); }

.gnb_chnnel {
    float:left;
    width:120px;
    height:47px;
    margin:0 0 0 10px;
    text-indent: -9999px;
    cursor:pointer;
    background-repeat: none;
}

.gnb_right{
    float: right;
    width:195px;
    padding:0;
    margin:0;
}

. search_formgroup{
    float:right;
    display:inline-block;
    margin:0;
    padding:0;
}

.gnb_store {
    float:left;
    width:120px;
    height:47px;
    margin:0 18px 0 0;
    text-indent: -9999px;
    cursor:pointer;
    background-repeat: none;
}

.gnb_search {
    float:left;
    width:29px;
    height:29px;
    margin:10px 18px 0 5px;
    text-indent: -9999px;
    cursor:pointer;
    background-repeat: none;
}

.search_form{
    float:left;
    margin:8px 0 0 0;
    height:25px;
}

.ch_search { background:url('/imgs/ange/ui_gnbbtn_06_search.png'); }
.ch_store { background:url('/imgs/ange/ui_gnbbtn_05_store.png'); }

.gnb_chnnel:hover, .gnb_store:hover {
    background-position:left -47px;
}

.gnb_search:hover {
    background-position:left -29px;
}

.search_input {
    float:left;
    width:140px;
    display: none;
    margin:0:
}

@media (min-width: 1280px) {
    .gnb_right{
        width:335px;
    }
    .search_input {
        display: block;
    }

}

.tablet_arrow {
    display: none;
    position: absolute;
    top:40%;
    width: 35px;
    height: 70px;
    cursor: pointer;
    text-indent: -9999px;
    background-repeat: no-repeat;
}

a.tablet_arrow:hover, a.tablet_arrow:focus {
    background-position: left -70px;
}


.tablet_arrow_left {
    left:0px;
    background-image: url('/imgs/ange/tablet_arrow_left.png');
    z-index:498;
}

.tablet_arrow_right {
    right:16px;
    background-image: url('/imgs/ange/tablet_arrow_right.png');
    z-index:499;
}

@media (max-width: 1470px) {
    .tablet_arrow {
        display: block;
    }
}


/*로그인*/
.comp_userlog{
    position:relative;
    margin-top:36px;
    height:218px;
    border-bottom:1px solid #b1b1b1;
}

.userlog_login {
    width:210px;
    height:185px;
    background:#fff;
    padding-top:25px;
    border:1px solid #e3e3e3;
    border-top:2px solid #8d8d8d;
    border-bottom:1px solid #b1b1b1;
    text-align:center;
}

/** 로그아웃 상태 구성 **/
.userlog_utility{
    margin:2px 0 2px 0;
}

.userlog_login_btn { 	opacity: 0.7; }

.userlog_login_btn:hover {	opacity: 1; }


.userlog_login_func{
    position:relative;
    width:100%;
    height:30px;
    margin-top:20px;
    text-align:center;
}

a.forgotidpw {
    float:left;
    width:109px;
    height:30px;
    margin-left:10px;
    background-image: url('/imgs/ange/btn_forgotidpw_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
}

a.joinus {
    float:left;
    width:70px;
    height:30px;
    margin-left:8px;
    background-image: url('/imgs/ange/btn_joinus_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
}

a.forgotidpw:hover, a.joinus:hover {
    background-position: left -30px;
}

/** 로그인 후 구성 **/

.userlog_login_now {
    width:210px;
    height:185px;
    background:#fff;
    padding-top:15px;
    border:1px solid #e3e3e3;
    border-top:2px solid #8d8d8d;
    border-bottom:1px solid #b1b1b1;
    text-align:center;
}

.userconfig{
    position: absolute;
    font-size:1.2em;
    top:10px;
    right:10px;
    color:#888;
}

.userconfig:hover {
    color:#111;
}

.userlog_user_func {
    float:left;
    width:100%;
    height:22px;
    font-size: 0.86em;
    margin-top:2px;
    text-align:center;
    padding:0 12px;
}

img.userlog_login_pic {
    width:85px;
    height:85px;
    border:1px solid transparent;
    border-radius: 50%;
}

.userlog_login_info {
    position:relative;
    width:100%;
    height:22px;
    font-size: 0.86em;
    margin-top:4px;
    text-align:center;
    margin-bottom:2px;
    padding:0 12px;
}

.userlog_user_subinfo{
    float:left;
    width:100%;
    height:22px;
    font-size: 0.86em;
    margin-top:4px;
    text-align:center;
    margin-bottom:2px;
    padding:0 12px;
}


.usernickname {
    font-weight: bold;
}

.user_grade {
    float: left;
}

.user_mileage {
    float: right;
}

.babyinfo {
    float: left;
}

a.logout {
    float:right;
    width:63px;
    height:18px;
    margin-left:8px;
    background-image: url('/imgs/ange/btn_logout_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
}

a.logout:hover {
    background-position: left -18px;
}










a.util1 {
    float: left;
    width:77px;
    height:28px;
    background-image:url('/imgs/ange/comp_login_btn_01_myboard.jpg');
    text-indent: -9999px;
}

a.util2 {
    float: left;
    width:65px;
    height:28px;
    background-image:url('/imgs/ange/comp_login_btn_02_message.jpg');
    text-indent: -9999px;
}

a.util3 {
    float: left;
    width:68px;
    height:28px;
    background-image:url('/imgs/ange/comp_login_btn_03_customer.jpg');
    text-indent: -9999px;
}

a.util1:hover, a.util2:hover, a.util3:hover {
    background-position:left -28px;
}

.comp_calm {
    position:relative;
    margin-top: 45px;
    border:1px solid #d0d0d0;
    border-radius: 8px;
}

.comp_minialbum {
    height:130px;
    width:210px;
    border-bottom:1px solid #DEDEDE;
}

.comp_calendar {
    height:160px;
    width:210px;
}

.comp_subbanner {
    position: absolute;
    float:left;
    bottom: 0px;
}


/* -�α��� ��ƿ��Ƽ */


/* Footer */

a.footer_ask {
    margin: 0 0 12px 8px;
    float:left;
    height:20px;
    width:56px;
    background-image: url('/imgs/ange/footer_btn_01_ask.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

a.footer_ask:hover, a.footer_ask:focus {
    background-position: left -20px;
}

a.footer_mailto {
    float:left;
    height:14px;
    width:22px;
    background-image: url('/imgs/ange/footer_btn_02_mailto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 16px 0 15px 20px;
}

a.footer_fbto {
    float:left;
    height:20px;
    width:9px;
    background-image: url('/imgs/ange/footer_btn_03_fbto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 10px 0 15px 18px;
}

a.footer_blogto {
    float:left;
    height:16px;
    width:31px;
    background-image: url('/imgs/ange/footer_btn_04_blogto.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor:pointer;
    margin: 14px 0 15px 15px;
}

a.footer_mailto:hover, a.footer_mailto:focus {	background-position: left -14px; }
a.footer_fbto:hover, a.footer_fbto:focus { background-position: left -20px; }
a.footer_blogto:hover, a.footer_blogto:focus {	background-position: left -16px; }

/* /Footer */


/* Componants Class Style */

.comp_basic{
    float:left;
    position:relative;
    height:100%;
    width:100%;
    padding:0;
    line-height:18px;
    margin:10px auto;
}

.comp_splite_left {
    float:left;
    width:97.8%;
}

.comp_splite_middle {
    float:left;
    margin-left:2px;
    width:98.2%;
}

.comp_splite_right {
    float:right;
    width:98.2%;
}

.v-cell-1, .v-cell-2, .v-cell-3, .v-cell-4 {
    margin:0;
    padding:0;
    margin-bottom:4px;
}

/* ���� ��å				*/
/* ���� h-cell-half		*/
/* �Ϲ� h-cell-1			*/
/* ���� h-cell-1-half	*/
/* ���� h-cell-2			*/

.h-cell-dynamic, .h-cell-half, .h-cell-1, .h-cell-1-half, .h-cell-2 {
    line-height:8px;
    margin-bottom:12px;
}

.h-cell-dynamic{
    clear: both;
}

.h-cell-half {
    height:98px;
}
.h-cell-1{
    height:158px;
}
.h-cell-1-half{
    height:278px;
}
.h-cell-2{
    height:338px;
}

/************ lnb 반응형 ***********/

.localmenu_wrap {
    float:left;
    width:100%;
    height:100%;
}

.localmenu_col_2, .localmenu_col_3, .localmenu_col_4, .localmenu_col_5, .localmenu_col_6 {
    float:left;
    padding:4px 1px 0px 1px;
}

.localmenu_col_2 {
    width:50%;
}

.localmenu_col_3 {
    width:33.3%;
}

.localmenu_col_4 {
    width:25%;
}

.localmenu_col_5 {
    width:20%;
}

.localmenu_col_6 {
    width:16.6%;
}

.localmenu_block {
    float:left;
    background:#e9e9e9;
    width:100%;
    height:100%;
    padding-top:8px;
}

@media (min-width: 1680px) {
    .localmenu_col_2, .localmenu_col_3, .localmenu_col_4, .localmenu_col_5, .localmenu_col_6 {
        width:100%;
    }
    .localmenu_block {
        margin-left:1%;
        width:98%;
        padding-bottom: 20px;
    }
}

@media (max-width: 1679px) {
    .localmenu_col_2, .localmenu_col_3, .localmenu_col_4, .localmenu_col_5, .localmenu_col_6 {
        height:100%;
    }
}

a.lnb_handle_close {
    float:right;
    font-size:1.24em;
    color:#333;
    cursor: pointer;

}

a.lnb_handle_close:hover {
    text-decoration: none;
    color: darkred;
}


.localmenu_link {
    float: left;
    width:100%;
    padding:2px 5px;
    cursor: pointer;
}

.localmenu_comment {
    float:left;
    padding-left:24px;
    width:100%;
    line-height:20px;
    font-size:0.78em;
    color:#8A8A8A;
    margin-bottom: 15px;
}

.localmenu_link.main {
    padding-left: 15px;
    font-weight: 700;
    line-height:25px;
}

.localmenu_link.orange {
    color: #e25d4c;
}

.localmenu_link.blue {
    color:#1895EF;
}

.localmenu_link.sub {
    padding-left: 18px;
    font-size: 0.78em;
    color:#646464;
    line-height:16px;
}

.localmenu_link:hover {
    text-decoration: none;
}

.localmenu_link.orange:hover {
    color:darkred;
}

.localmenu_link.blue:hover {
    color:darkblue;
}

.localmenu_link.sub:hover {
    color:black;
}

/***** 배너 인벤토리 형식 *******/

.ADbanner_normal {
    float:left;
    width:100%;
    height:100%;
    text-indent:-9999px;
    cursor: pointer;
    border:1px solid #d7d7d7;
    border-radius: 12px;
    background-repeat: no-repeat;
}

.ADbanner_image {
    float:left;
    width:100%;
    cursor: pointer;
    padding:0px;
}

.ADbanner_image img {
    width:100%;
    margin:0px;
    padding:0px;
    border:1px solid #d7d7d7;
    border-radius: 12px;
}


.shadowed {
    -webkit-box-shadow: 0 2px 8px #AAA;
    -moz-box-shadow: 0 2px 8px #AAA;
    -ms-box-shadow: 0 2px 8px #AAA;
    box-shadow: 0 2px 8px #AAA;
}

.inven_Highlight {
    width:100%;
    height:100%;
}

.inven_1stClass {
    width:210px;
    height:85px;
    margin-bottom: 20px;
}

.inven_catchup {
    float:left;
    width:210px;
    margin-bottom: 10px;
    height:55px;
}

.inven_themeup {
    float:left;
    width:100%;
    padding: 25px 0;
}


/****** 서브페이지 콘텐츠 공용 ************/

.no-margin {
    margin: 0px;
    padding: 0px;
}


.people_view_wrap, .people_edit_wrap {
    width:100%;
    margin:0;
    padding:0;
    line-height:18px;
}

.table_blue { color: #019bd4; font-weight:bold; }
.table_red { color: #e25d4c; font-weight:bold;}
.table_white { color: #ffffff; font-weight:bold;}
.table_gray { color: #646464; }
.table_green { color: #71b528; }

tr.ended { background-color:#FAFAFA; opacity: 0.75; }
tr.desabled { background-color:#EDEDED; opacity: 0.5; pointer-events:none; cursor: default;}
tr.primary { background-color:#fcfaec; }

.feed_count {
    float: left;
    padding-left: 15px;
    margin-top: 2px;
    margin-right:5px;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position : left 2px;
}

.feed_count.countlike {
    background-image: url('/imgs/ange/heart_icon.png');
}

.feed_count.countreply {
    background-image: url('/imgs/ange/comment_icon.png');
}

.feed_count.countlike_color {
    background-image: url('/imgs/ange/heart_coloricon.png');
}

.feed_count.countreply_color {
    background-image: url('/imgs/ange/comment_coloricon.png');
}

#comp_board_table {
    border-bottom:2px solid #ddd;
}

tbody.on{
    cursor: pointer;
}

.sub_contents_wrap{
    position:relative;
    width:100%;
    line-height:22px;
}

.sub_contents_bullet {
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:6px;
    background-color: #000;
}

.sub_contents_title {
    position: relative;
    border:1px solid transparent;
    margin-bottom:40px;
}

.sub_contents_slogan {
    position: absolute;
    font-size: 0.54em;
    color: #fb6362;
    line-height:18px;
    margin-top:5px;
}

.sub_contents_title p {
    color: #868686;
    font-size: 0.86em;
}

.sub_contents_body {
    margin-top:20px;
    position:relative;
    width:100%;
    line-height:22px;
}

.board_thead{
    color:blue;
    background-image:url(/imgs/ange/comp_miniboard_hr.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.board_th {
    color: #019bd4;
    font-weight: 700;
}

td.table_no {
    font-family: arial, san-serif;
    font-weight: 700;
    font-size: 0.86em;
    text-align: center;
}

td.table_date {
    font-family: arial, san-serif;
    word-break: keep-all;
    font-size: 0.86em;
}

td.table_author {
    word-break: keep-all;
    font-size: 0.86em;
    text-align: center;
}

td.table_hit {
    font-family: arial, san-serif;
    word-break: keep-all;
    font-size: 0.86em;
    text-align: center;
}


.sub_contents_ads {
    margin-top:20px;
    position:relative;
    width:100%;
    line-height:22px;
}


/* 게시판 공용 */

.reply_num {
    font-family: arial, san-serif;
    font-size: 0.78em;
    font-weight:normal;
    color: #666;
    margin-left:5px;
}

.table_icon_lock {
    font-size: 0.78em;
    vertical-align:baseline;
    line-height: 19px;
    color: #111;
    padding: 0;
    margin-left:1px;
}

.table_icon_new {
    font-family: arial, san-serif;
    font-size: 0.64em;
    font-weight: bold;
    color: #fbffdc;
    padding: 0 2px;
    margin-left:5px;
    background-color: #ffa405;
    border:1px solid transparent;
    border-radius: 2px;
}

.table_icon_pic {
    font-size: 0.94em;
    vertical-align:middle;
    line-height: 18px;
    color: #22ade1;
    padding: 0;
    margin-left:1px;
    border-bottom: 2px solid transparent;
}

.table_icon_clip {
    font-size: 0.78em;
    vertical-align:middle;
    line-height: 16px;
    color: #a027de;
    padding: 0;
    margin-left:1px;
}


a.people_boardmanager {
    margin: 0px 0 0 12px;
    padding: 4px 0 4px 22px;
    position: absolute;
    font-size: 0.56em;
    font-weight: 400;
    color: #868686;
    background-image: url('/imgs/ange/icon_peoplemanager.png');
    background-repeat: no-repeat;
    background-position: left 4px;
}

a.people_boardmanager .people_boardmanager_id {
    margin-left: 3px;
    color: #22ade1;
    font-weight: 700;
}

a.people_boardmanager:hover {
    text-decoration: none;
}

.people_view_btnwrap {
    margin:8px 0 0px 0;
    padding:15px 0px;
}

a.people_btn{
    width: 63px;
    height: 25px;
    padding:0px;
    opacity: 0.75;
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 0 4px;
}

a.people_btn:hover {
    opacity: 1;
}

a.people_btn.submit {	 float:right; background-image: url('/imgs/ange/people_btn_submit.png'); }
a.people_btn.list { float:left; background-image: url('/imgs/ange/people_btn_list.png'); }
a.people_btn.modify { float:right; background-image: url('/imgs/ange/people_btn_modify.png'); }
a.people_btn.cancel {	float:right; background-image: url('/imgs/ange/people_btn_cancel.png'); }
a.people_btn.vote {	 float:right; background-image: url('/imgs/ange/people_btn_vote.png'); }
a.people_btn.confirm {	 float:right; background-image: url('/imgs/ange/people_btn_confirm.png'); }


.dragzone {
    display: block;
    height:100%;
    font-size: 0.86em;
    padding: 5px 10px;
    border:1px solid #ddd;
    border-radius:4px;
    line-height:18px;
    overflow:auto;
    overflow-x:none;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.dragzone_wrap{
    padding:0;
    height:100%;
}

.dagbox_btn {
    float:left;
    background-color:#fff;
    font-size:0.78em;
    width:100%;
    border:1px solid transparent;
    border-radius:18px;
    text-align:center;
    height:25px;
    margin: 2px 0;
    color:#fff;
    opacity: 0.75;
}

.dagbox_btn.large {
    padding-top:4px;
    text-align:center;
    vertical-align: middle;
    margin:0px;
    height:100%;
}

.dagbox_btn.selectall{ background-color: #9ab251; }
.dagbox_btn.add{ background-color: #5888ad; }
.dagbox_btn.delete{ background-color: #f75d00; }

.dagbox_btn.fil2com{
    background-color: #83c783;
    border:1px solid #4cae4c;
    border-radius:6px;
    font-size:1.08em;
    /*
    background-image: url('/imgs/ange/file2com_icon.png');
    background-repeat: no-repeat;
    background-position: 18% 25px;
    */
}

.dagbox_btn:hover {
    opacity: 1;
}

.thumbnailzone{
    font-size:0.92em; margin-left:1%;
}

.thumbnails {
    float:left;
    position: relative;
    margin:0;
    padding:0;
    width:14%;
    text-align:center;
    margin-bottom:10px;
    margin-right:2.6%;
    cursor: pointer;
    overflow:hidden;
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.story_thumbnails {
    float:left;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
    margin-right:2.6%;
    margin-bottom:15px;
    cursor: pointer;
    overflow:hidden;
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.review_thumbnails {
    float:left;
    position: relative;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
    margin-bottom:10px;
    margin-right:2.6%;
    cursor: pointer;
    overflow:hidden;
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
}


.thumbnails_img {
    width:100%;
}

.thumbnails.selectedthumb {
    outline: 2px solid #333;
    -webkit-box-shadow: 0 4px 8px #888;
    -moz-box-shadow: 0 4px 8px #888;
    -ms-box-shadow: 0 4px 8px #888;
    box-shadow: 0 4px 8px #888;
}

.thumbnails_img_check {
    position: absolute;
    left:0;
    top:0;
    width:20px;
    height:20px;
    opacity:0.8;
}

.thumbnails_img_star {
    opacity:0.75;
    color:#fff;
    margin-top: 4px;
}

.thumbnails_img_check:hover, .thumbnails_img_star:hover {
    opacity:1;
}


.people_editor_wrap {
    margin:0px auto;
    margin-bottom:10px;
    height:600px;
}

.people_editor {
    height:100%;
    padding:0;
    border-bottom:1px solid #ddd;
}

.peopleboard_options {
    float: left;
    font-size: 0.86em;
    margin: 2px 5px 0 4px;
}


/* 공용 버튼/아이콘*/

.h4_icon {
    margin-right:4px;
    vertical-align: top;
}

.common_btn {
    font-size: 0.86em;
    line-height: 1em;
    padding: 5px 12px;
    background-color: #fff;
    line-height: 18px;
    border:none;
    opacity: 0.75;
}

.common_btn:hover {
    opacity: 1;
}

.common_btn.blackbtn {
    border: 1px solid #888888;
    border-radius: 12px;
    color:#333;
}

.common_btn.redbtn {
    background-color: #fb6362;
    border: 1px solid #fb6362;
    border-radius: 12px;
    color:#fff;
}

.common_btn.bluebtn {
    background-color: #4cace8;
    border: 1px solid #4cace8;
    border-radius: 12px;
    color:#fff;
}


/* 이벤트(맘스) 공용 버튼 */


/* 스토어 공용 버튼 */


/* 회원가입 공용 */
.txt_title {
    font-size: 1.24em;
    line-height: 32px;
}

.txt_title a {
    color: #c91a19;
}

.txt_title a:hover, .txt_title a span:hover {
    text-decoration: none;
    color: #c91a19;
}

.ange_colorbox_gray {
    float:left;
    background-color: #f6f6f6;
    padding:18px 5%;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e2e2e2;
    text-align:left;
}

.ange_messagebox {
    float:left;
    width: 100%;
    padding: 40px 8%;
    font-size: 0.94em;
    color: #646464;
    text-align:left;
}


/* ETC */
ul.contentguide {
    font-size:0.86em;
    line-height:20px;
    word-break:keep-all;
    padding:15px 18px;
}

.common_linkbox {
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #ddd;
    line-height: 20px;
    padding:28px 8%;
    font-size:0.92em;
}

.common_linkbox a {
    color:#868686 !important;
    font-size: 0.86em;
}

.common_linkbox a:hover {
    text-decoration: none;
    color: #0baad1 !important;
}

.common_linkbox.dreamread {
    background-image: url('/imgs/ange/bg_naming_01_dreamnaming.png');
    background-repeat: no-repeat;
    background-position: left -27px top 8px;
}

.common_linkbox.namingbook {
    background-image: url('/imgs/ange/bg_naming_02_anmingbook.png');
    background-repeat: no-repeat;
    background-position: left 10% center;
    background-size: 20%;
}

.login_exit {
    float:right;
    color:#ccc !important;
    margin-right:10px;
    cursor: pointer;
}

.login_exit:hover {
    text-decoration: none;
    color:#fff !important;
}

.login_side {
    padding-top:24px;
    height:100px;
    width:100%;
    margin:25px 0;
    border-top:1px solid #ddd;
}

.login_side_link {
    margin-top:12px;
    font-weight: 600;
}

.login_side_link a {
    cursor:pointer;
}

.login_side_link a:hover {
    text-decoration:none;
    color: #2fbcfe;
}

.submit_login {
    position:absolute;
    right: 25px;
    top:38px;
    color:#fff;
    background-color:#4cace8;
    height: 84px;
    width: 84px;
    border:1px solid transparent;
    border-radius: 5px;
}




/* Sub side banner */

.subside_wrap {
    margin:10px 0 5px 10px;
    width:165px;
}

.subside_wrap img {
    width: 100%;
}
.subside_inven_rolling {
    position:relative;
    border:1px solid #ddd;
    width:100%;
    margin-bottom:5px;
}

.subside_inven_basic {
    border:1px solid #ddd;
    width: 100%;
}

.subside_inven_basic.top {
    border-bottom: none;
}

.subside_inven_basic.mid {

}

.subside_inven_basic.btm {
    border-top: none;
    margin-bottom:5px;
}


/* Sub side rank */
.subside_rank {
    margin:20px 0 20px 10px;
    width:165px;
}

.subside_rank_wrap {
    border:1px solid #ddd;
    border-bottom:none;
}

.subside_rank_top {
    height:60px;
    font-weight: 600;
    line-height: 58px;
    padding-left: 18px;
    background-color:#f6f6f6;
    border-bottom:1px solid #ddd;
    color: #464646;
}

.subside_rank_body {
    font-size:0.86em;
}

.subside_rank_body dd {
    padding:10px;
    height:60px;
    border-bottom:1px solid #ddd;
}

.rank_txt {
    line-height: 28px;
}

.rank_txt.champion {
    font-weight: 600;
}

.ranking_link {
    float:left;
    margin-top:8px;
    margin-right:4px;
    background-image: url('/imgs/ange/subside_rank_no.jpg');
    background-repeat: no-repeat;
    height: 13px;
    width: 12px;
}

.rank_txt a {
    cursor: pointer;
}

.rank_txt a:hover {
    text-decoration: none !important;
    color: #00b0ea !important;
}

.ranking_link.first.red {
    background-position: left top;
}

.ranking_link.first.green {
    background-position: center top;
}

.ranking_link.first.blue {
    background-position: right top;
}

.ranking_link.second {
    background-position: left -13px;
}

.ranking_link.thirth {
    background-position: left -26px;
}

.ranking_link.fourth {
    background-position: left -39px;
}

.ranking_link.fifth  {
    background-position: left -52px;
}



/*** 레이아웃 작업 시 아래 하애 주석 해제 필요함 ***/

/*
.comp_basic {
	background:#FEFEFE;
	border:1px solid #DEDEDE;
}
*/


