<div ng-controller="storehome" class="ng_wrap">
    <!-- Main Page Layout Set -->
    <div class="mainbar sub-slide0">

        <div class="container-fluid common_container">


            <div class="row">
                  <div class="col-xs-4 v-cell-1">
                        <div class="comp_basic comp_splite_left h-cell-dynamic">
                                <!-- mini_mileage -->
                                <div class="comp_mileage">
                                    <img class="comp_commerce_img" src="/imgs/ange/mileage_bg.png" />
                                    <div class="comp_mileage_text">내 마일리지는?</div>

                                    <div class="comp_mileage_circle">
                                        <p class="txt_mileage">{{ mileage | number }}</p>
                                        마일리지
                                    </div>

                                    <div class="comp_mileage_btn">
                                        <a href="/store/mileagemall/list" class="goton_mileagemall" style="">마일리지몰</a>
                                    </div>
                                </div>
                                <!-- /mini_mileage -->
                        </div>
                  </div>

                  <div class="col-xs-8 v-cell-3 no-margin">
                        <div class="comp_basic comp_splite_middle h-cell-dynamic">
                            <img class="blank_wrap" src="/imgs/ange/_blank_330by220.gif" style="margin-bottom:45px;"/>
                            <!-- mini_commerce -->
                            <ange-portlet-slide-banner ng-model="option_r1_c2"></ange-portlet-slide-banner>
<!--
                            <div class="comp_commerce">

                                <div style="position:absolute; width:100%; z-index:9; text-align:center;"><img src="/imgs/ange/togetherbuy.png" style="opacity:0.8"/></div>

                                <div class="comp_commerce_imgwrap">
                                    <img class="comp_commerce_img" src="/imgs/ange/temp/bookbuyimg.png" />
                                </div>

                                <div class="jumbotron_cover_controlbar">
                                    <div class="black_shade_nomargin"></div>

                                    <div class="jumbotron_cover_controlset">
                                        <ol class="carousel-indicators jumbotron_indicators_wrap" style="left:-25px;">
                                            <li data-target="#jumbotron_cover" data-slide-to="0" class="jumbotron_indicators_actived"></li>
                                            <li data-target="#jumbotron_cover" data-slide-to="1" class="jumbotron_indicators"></li>
                                            <li data-target="#jumbotron_cover" data-slide-to="2" class="jumbotron_indicators"></li>
                                        </ol>
                                    </div>

                                    <div class="jumbotron_cover_controlbar_title">꿈에 그린 에릭칼</div>
                                </div>

                            </div>
-->
                            <!-- /mini_commerce -->
                        </div>
                  </div>
            </div>

            <!--<div class="row">-->
                  <!--<div class="col-xs-12 v-cell-4">-->
                        <!--<div class="comp_basic h-cell-dynamic">-->
                            <!--&lt;!&ndash; mini_goods &ndash;&gt;-->
                            <!--<div class="comp_goods">-->
                                <!--<div class="mini_event_top">-->
                                    <!--<div class="mini_event_titlebar" style="width:100%;">-->
                                        <!--<span class="mini_community_title" style="color:#2eaed3;">브랜드관</span>-->
                                        <!--<a class="miniboard_tab_more" style="margin-left: 10px;">더보기</a>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row mini_event_contentlist" style="padding:0 28px;">-->

                                    <!--<a class="comp_slide_btn_w30 prev" title="이전">이전</a>-->
                                    <!--<a class="comp_slide_btn_w30 next" title="다음">다음</a>-->


                                    <!--<div class="col-xs-4 mini_event_contentcol" style="margin-bottom:12px;">-->
                                        <!--<div class="mini_event_content" style="border:none; text-align:center;">-->
                                            <!--<img class="mini_event_txt_img" src="imgs/ange/temp/brandmall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>-->
                                            <!--<div class="mini_event_txt_title" style="width:100%; margin-top:15px; text-align:center; color: #2eaed3;">실버크로스</div>-->
                                            <!--<div class="mini_event_txt_duration" style="width:100%; line-height:14px; text-align:center; color:#464646;">-->
                                                <!--웨이페러유모차-->
                                                <!--<br />-->
                                                <!--소시모 유모차-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-4 mini_event_contentcol" style="margin-bottom:12px; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">-->
                                        <!--<div class="mini_event_content" style="border:none; text-align:center;">-->
                                            <!--<img class="mini_event_txt_img" src="imgs/ange/temp/brandmall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>-->
                                            <!--<div class="mini_event_txt_title" style="width:100%; margin-top:15px; text-align:center; color: #2eaed3;">다이치</div>-->
                                            <!--<div class="mini_event_txt_duration" style="width:100%; line-height:14px; text-align:center; color:#464646;">-->
                                                <!--스포티주니어-->
                                                <!--<br />-->
                                                <!--오가닉 카시트 론칭-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-4 mini_event_contentcol" style="margin-bottom:12px;">-->
                                        <!--<div class="mini_event_content" style="border:none; text-align:center;">-->
                                            <!--<img class="mini_event_txt_img" src="imgs/ange/temp/brandmall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>-->
                                            <!--<div class="mini_event_txt_title" style="width:100%; margin-top:15px; text-align:center; color: #2eaed3;">퍼실</div>-->
                                            <!--<div class="mini_event_txt_duration" style="width:100%; line-height:14px; text-align:center; color:#464646;">-->
                                                <!--민감한 피부에-->
                                                <!--<br />-->
                                                <!--센서티브 "젤" 출시-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /mini_goods &ndash;&gt;-->
                        <!--</div>-->
                  <!--</div>-->
            <!--</div>-->


            <div class="row">
                  <div class="col-xs-12 v-cell-4">
                        <div class="comp_basic h-cell-1-dynamic">
                            <!-- mini_mileagemall -->
                            <ange-portlet-slide-store ng-model="option_r2_c1"></ange-portlet-slide-store>

                            <!--<div class="comp_goods">-->
                                <!--<div class="row mini_event_contentlist" style="margin:0px;">-->

                                    <!--<div class="col-xs-3" style="padding:0;">-->
                                        <!--<div class="mini_mileagemall_menuwrap">-->

                                            <!--<dl>-->
                                                <!--<dt><span class="glyphicon glyphicon-shopping-cart" style="float:left; font-size: 1.24em; margin-top:12px; margin-right:4px; vertical-align:middle; "></span> 앙쥬 마일리지몰</dt>-->
                                                <!--<dd class="selected">전체상품보기</dd>-->
                                                <!--<dd>~ 10,000</dd>-->
                                                <!--<dd>~ 30,000</dd>-->
                                                <!--<dd>~ 50,000</dd>-->
                                                <!--<dd>~ 100,000</dd>-->
                                                <!--<dd>100,000 ~</dd>-->
                                            <!--</dl>-->

                                        <!--</div>-->

                                    <!--</div>-->

                                    <!--<a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:25%;">이전</a>-->
                                    <!--<a class="comp_slide_btn_w30 next" title="다음">다음</a>-->


                                    <!--<div class="col-xs-3 mini_event_contentcol" style="margin:12px 0;">-->
                                        <!--<div class="mini_event_content" style="border:none; text-align:center;">-->
                                            <!--<img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>-->
                                            <!--<div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>-->
                                            <!--<div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>-->

                                            <!--<div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">-->
                                                <!--<span class="mini_mileagemall_price"> 5,000</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-3 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">-->
                                        <!--<div class="mini_event_content" style="border:none; text-align:center;">-->
                                            <!--<img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>-->
                                            <!--<div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>-->
                                            <!--<div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>-->

                                            <!--<div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">-->
                                                <!--<span class="mini_mileagemall_price"> 5,000</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-3 mini_event_contentcol" style="margin:12px 0;">-->
                                        <!--<div class="mini_event_content" style="border:none; text-align:center;">-->
                                            <!--<img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>-->
                                            <!--<div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>-->
                                            <!--<div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>-->

                                            <!--<div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">-->
                                                <!--<span class="mini_mileagemall_price"> 5,000</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                            <!-- /mini_mileagemall -->
                        </div>
                  </div>
            </div>


            <!--<div class="row">-->
                  <!--<div class="col-xs-12 v-cell-4">-->
                        <!--<div class="comp_basic h-cell-1-half">-->

                            <!--&lt;!&ndash; mini_photozone &ndash;&gt;-->
                            <!--<div class="container-fluid comp_photozone">-->
                                <!--<div class="row comp_photozone_row">-->
                                    <!--<div class="col-xs-4 comp_photozone">-->
                                        <!--<div class="photoznoe_box knowhow">-->

                                            <!--<img class="photozone_blackbar" src="/imgs/ange/photozone_titleimg.png" />-->
                                            <!--<br />-->
                                            <!--<img class="photozone_titleimg" src="/imgs/ange/photozone_title01.png" />-->
                                            <!--<div class="photoznoe_txt">-->
                                            <!--<p style="margin-top:24px;">내아이 첫 생일 내가 직접 꾸며주고 싶은데 어려워요.</p>-->
                                            <!--<p>엄마표 돌잔치 노하우</p>-->
                                            <!--</div>-->
                                            <!--<a class="goto_photozone" href="#">바로가기 <span class="glyphicon glyphicon-circle-arrow-right"></span></a>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-4 comp_photozone">-->
                                        <!--<div class="photoznoe_box editing">-->

                                            <!--<img class="photozone_blackbar" src="/imgs/ange/photozone_titleimg.png" />-->
                                            <!--<br />-->
                                            <!--<img class="photozone_titleimg" src="/imgs/ange/photozone_title02.png" />-->
                                            <!--<div class="photoznoe_txt">-->
                                            <!--<p>아이의 첫생일인데 워킹맘이라 시간이 없으신가요?</p>-->
                                            <!--<p>사진만 주면 알아서 해 줄 곳은 없나요!</p>-->
                                            <!--</div>-->
                                            <!--<a class="goto_photozone" href="#">바로가기 <span class="glyphicon glyphicon-circle-arrow-right"></span></a>-->

                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-4 comp_photozone">-->
                                        <!--<div class="photoznoe_box birthday">-->

                                            <!--<img class="photozone_blackbar" src="/imgs/ange/photozone_titleimg.png" />-->
                                            <!--<br />-->
                                            <!--<img class="photozone_titleimg" src="/imgs/ange/photozone_title03.png" />-->
                                            <!--<div class="photoznoe_txt">-->
                                            <!--<p style="margin-top:16px;">우리아기 1st Birthday 엄마가 꼭 챙겨주세요!</p>-->
                                            <!--<p style="font-weight:bold;">돌잔치 필수 아이템</p>-->
                                            <!--<p style="color: #2eaed3;">사진보드, 감사장, 초대장, 덕담북</p>-->
                                            <!--</div>-->
                                            <!--<a class="goto_photozone" href="#">바로가기 <span class="glyphicon glyphicon-circle-arrow-right"></span></a>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>&lt;!&ndash; /row &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /container &ndash;&gt;-->
                            <!--&lt;!&ndash; /mini_photozone &ndash;&gt;-->

                        <!--</div>-->
                  <!--</div>-->
          <!--</div>-->



          <div class="row">
                  <div class="col-xs-3 v-cell-1">
                        <div class="comp_basic comp_splite_left h-cell-dynamic">
                                <!-- mini_charedservice (Naming) -->
                                <div class="comp_iconbox">
                                    <a href="/store/namingintro"><img class="comp_iconbox_img" src="/imgs/ange/icon_naming.png" /><img class="comp_iconbox_txt" src="/imgs/ange/photozonebanner_01.png" /></a>
                                </div>
                                <!-- /mini_charedservice (Naming) -->
                        </div>
                </div>

                <div class="col-xs-3 v-cell-1">
                        <div class="comp_basic comp_splite_middle h-cell-dynamic">
                                <!-- mini_charedservice (Dream) -->
                                <div class="comp_iconbox">
                                    <a><img class="comp_iconbox_img" src="/imgs/ange/icon_dream.png" /><img class="comp_iconbox_txt" src="/imgs/ange/photozonebanner_02.png" /></a>
                                </div>
                                <!-- /mini_charedservice (Dream) -->
                        </div>
                </div>

                <div class="col-xs-3 v-cell-4">
                        <div class="comp_basic comp_splite_middle h-cell-dynamic">
                            <!-- mini_etclink -->
                                <div class="comp_iconbox">
                                    <a href="/store/auction/list"><img class="comp_iconbox_img" src="/imgs/ange/icon_mileage.png" /><img class="comp_iconbox_txt" src="/imgs/ange/photozonebanner_03.png" /></a>
                                </div>
                            <!-- /mini_etclink -->
                        </div>
                </div>

                <div class="col-xs-3 v-cell-4">
                        <div class="comp_basic comp_splite_right h-cell-dynamic">
                            <!-- mini_etclink -->
                                <div class="comp_iconbox">
                                    <a href="/company/affiliates"><img class="comp_iconbox_img" src="/imgs/ange/icon_naming.png" /><img class="comp_iconbox_txt" src="/imgs/ange/photozonebanner_04.png" /></a>
                                </div>
                            <!-- /mini_etclink -->
                        </div>
                </div>
            </div>



        </div>
    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>
    <!-- /Main Page Layout Set -->
</div>