<div ng-controller="storemall-list">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold; display: none;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                                <p style="display: none;">적립된 마일리지로 구매가 가능합니다</p>

                                <!-- /커머스 타이틀 -->
                                <h3 style="font-weight:bold; display: block;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                                <p style="display: block;">모이면 더욱 저렴해지는 공동구매</p>
                            </div>


                            <div class="container-fluid common_container" style="width:100%; margin:0px auto; padding:0px;">

                                <div class="row" style="margin:0px auto; display: none;">    <!-- 마일리지몰에서 표시 -->
                                    <div class="col-xs-12 v-cell-4" style="margin:0px;">

                                        <div class="comp_basic h-cell-dynamic" style="margin:0px; ">
                                            <!-- jumbotron_cover -->
                                            <div class="jumbotron_cover">

                                                <div class="jumbotron_cover_imgs">
                                                    <div id="jumbotron_cover" class="carousel slide" data-ride="carousel">

                                                        <ange-portlet-slide-image ng-model="option_r1_c1" sid="main" dots="true" autoplay="true" center-mode="true" slides-to-show="1" autoplaySpeed="3000" fade="true"></ange-portlet-slide-image>

                                                        <div class="carousel-inner" role="listbox">
                                                            <div class="item active"><img src="imgs/ange/temp/events_bg_001_pic.jpg" alt="First Label"></div>
                                                            <!-- div class="item active"><img src="storage/ad/thumbnail/2" alt="First Label"></div -->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="jumbotron_cover_controlbar">
                                                <div class="black_shade_nomargin"></div>

                                                <div class="jumbotron_cover_controlset">
                                                <a ng-show="toggle" class="jumbotron_cover_pause" ng-click="click_slickPause()">일시정지</a>
                                                <!-- a ng-show="!toggle" class="jumbotron_cover_play" ng-click="click_slickPlay()">동작</a -->

                                                <ol class="carousel-indicators jumbotron_indicators_wrap">
                                                <li data-target="#jumbotron_cover" data-slide-to="0" class="jumbotron_indicators_actived"></li>
                                                <li data-target="#jumbotron_cover" data-slide-to="1" class="jumbotron_indicators"></li>
                                                <li data-target="#jumbotron_cover" data-slide-to="2" class="jumbotron_indicators"></li>
                                                </ol>
                                                </div>

                                                <div class="jumbotron_cover_controlbar_title">코웨이에서 물쉼표 KIT를 드립니다.</div>

                                                </div>
                                            </div>
                                            <!-- /jumbotron_cover -->
                                        </div>  <!-- /.comp_basic -->

                                    </div>  <!-- /.col-xs-12 -->
                                </div>  <!-- /.row -->

                                <div class="row" style="margin:0px auto; display: blcok;">   <!-- 앙쥬커머스에서 표시 -->
                                    <div class="col-xs-12 v-cell-4">
                                        <div class="comp_basic h-cell-dynamic">
                                            <!-- mini_goods -->
                                            <div class="comp_goods">
                                                <div class="mini_event_top">
                                                    <div class="mini_event_titlebar" style="width:100%;">
                                                        <span class="mini_community_title" style="color:#2eaed3;">브랜드관</span>
                                                        <a class="miniboard_tab_more" style="margin-left: 10px;">더보기</a>
                                                    </div>
                                                </div>

                                                <div class="row mini_event_contentlist" style="padding:0 28px;">

                                                    <a class="comp_slide_btn_w30 prev" title="이전">이전</a>
                                                    <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                                    <div class="col-xs-4 mini_event_contentcol" style="margin-bottom:12px;">
                                                        <div class="mini_event_content" style="border:none; text-align:center;">
                                                            <img class="mini_event_txt_img" src="imgs/ange/temp/brandmall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                            <div class="mini_event_txt_title" style="width:100%; margin-top:15px; text-align:center; color: #2eaed3;">실버크로스</div>
                                                            <div class="mini_event_txt_duration" style="width:100%; line-height:14px; text-align:center; color:#464646;">
                                                                웨이페러유모차
                                                                <br />
                                                                소시모 유모차
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-4 mini_event_contentcol" style="margin-bottom:12px; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                                        <div class="mini_event_content" style="border:none; text-align:center;">
                                                            <img class="mini_event_txt_img" src="imgs/ange/temp/brandmall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                            <div class="mini_event_txt_title" style="width:100%; margin-top:15px; text-align:center; color: #2eaed3;">다이치</div>
                                                            <div class="mini_event_txt_duration" style="width:100%; line-height:14px; text-align:center; color:#464646;">
                                                                스포티주니어
                                                                <br />
                                                                오가닉 카시트 론칭
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-4 mini_event_contentcol" style="margin-bottom:12px;">
                                                        <div class="mini_event_content" style="border:none; text-align:center;">
                                                            <img class="mini_event_txt_img" src="imgs/ange/temp/brandmall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                            <div class="mini_event_txt_title" style="width:100%; margin-top:15px; text-align:center; color: #2eaed3;">퍼실</div>
                                                            <div class="mini_event_txt_duration" style="width:100%; line-height:14px; text-align:center; color:#464646;">
                                                                민감한 피부에
                                                                <br />
                                                                센서티브 "젤" 출시
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /mini_goods -->
                                        </div>
                                    </div>
                                </div>
                            </div>  <!-- /.common_container -->



                            <div class="container-fluid sub_contents_search" style="margin-top:25px;">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

                                        <div class="btn-group" style="float:left;">
                                            <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>

                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu" style="font-size:0.92em;">
                                                <li><a href="#">제목+내용</a></li>
                                                <li><a href="#">작성자</a></li>
                                            </ul>

                                            <!--<div class="btn-group" style="float:left;">-->
                                                <!--<select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>-->
                                            <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->

                                            <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                                <input type="text" ng-model="search.KEYWORD" class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                                <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                                <button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                            </div>
                                        </div>  <!-- /.btn-group -->


                                        <div class="btn-group" style="float:right; display: block;">    <!-- /커머스용 셀렉트몰 -->
                                            <button type="button" class="btn btn-default btn-sm" style="width:120px; text-align:left;">카테고리 전체</button>

                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu" style="font-size:0.92em;">
                                                <li><a href="#">전체보기</a></li>
                                                <li><a href="#">놀이용품</a></li>
                                                <li><a href="#">유모차</a></li>
                                                <li><a href="#">세제</a></li>
                                                <li><a href="#">임신부의류</a></li>
                                                <li><a href="#">임신부속옥</a></li>
                                                <li><a href="#">젖병</a></li>
                                                <li><a href="#">도서</a></li>
                                                <li><a href="#">화장품</a></li>
                                                <li><a href="#">가방</a></li>
                                            </ul>
                                        </div>

                                    </div>  <!-- /.col-xs-12-->

                                    <div class="col-xs-12 people_searchresult" style="display:block;">	<!-- 검색 시에만 표시됩니다. -->
                                        {{TOTAL_COUNT}}개의 게시물 중 <span class="table_red">{{SEARCH_TOTAL_COUNT == null ? 0 : SEARCH_TOTAL_COUNT}}</span> 개가 검색되었습니다.
                                    </div><!-- /.people_searchresult -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div class="sub_contents_body">
                                <!-- peoplephoto_list -->
                                <div class="peoplep_list_tab">
                                    <!-- ul class="nav nav-tabs">
                                        <li role="presentation" ng-repeat="tab in tabs" ng-class="selectIdx == $index ? 'active' : ''">
                                            <a ng-click="click_selectTab($index)">{{tab.TITLE}}</a>
                                        </li>
                                    </ul -->

                                    <ul class="nav nav-tabs nav-justified" style="display: none;">  <!-- 마일리지몰용 탭목록 -->
                                        <li role="presentation" class="active"><a class="tab_nopadding"><small>전체</small></a></li>
                                        <li role="presentation"><a class="tab_nopadding"><small>~10,000점</small></a></li>
                                        <li role="presentation"><a class="tab_nopadding"><small>~30,000점</small></a></li>
                                        <li role="presentation"><a class="tab_nopadding"><small>~50,000점</small></a></li>
                                        <li role="presentation"><a class="tab_nopadding"><small>~100,000점</small></a></li>
                                        <li role="presentation"><a class="tab_nopadding"><small>100,000점~</small></a></li>
                                    </ul>
                                </div>  <!-- /.peoplep_list_tab -->

                                <div class="container-fluid peoplephoto_list_wrap">
                                    <div class="row">
                                        <div class="col-xs-12 v-cell-4">
                                            <div class="comp_basic h-cell-dynamic">

                                                <!-- 마일리지몰 썸네일 타입 -->
                                                <div style="display: none;">
                                                    <div class="col-xs-4 people_photo_contentcol">
                                                        <div ng-click="click_showViewPeoplePhoto(item.NO)" class="people_photo_content">
                                                            <div class="people_photo_imgbox">
                                                                <img class="people_photo_img" src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/temp_recipe_02.jpg');"/>
                                                                <div class="people_photo_cate">
                                                                    <span>카테고리</span>
                                                                    <div style="position:absolute; display:inline; bottom:8px; right:0;">
                                                                        <span class="feed_count countlike table_white">9999</span><!-- 공감수 -->
                                                                        <span class="feed_count countreply table_white">9999</span>	<!-- 댓글수 -->
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="people_photo_txt">[아이앤와이] 베이비버디 다용도 홀더</div>
                                                            <div class="people_photo_info"><span class="table_blue">180,000</span> 점</div>
                                                        </div>  <!-- /.people_photo_content -->
                                                    </div>  <!-- /.people_photo_contentcol -->
                                                </div>  <!-- 1줄	 -->

                                                <!-- 커머스 리스트 타입 -->
                                                <div class="row webzine_moms_list" style="display: block;">
                                                    <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                                        <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">
                                                            <div class="item" style="position:absolute;"><img ng-src="{{item.MAIN_FILE}}" style="height: 155px;" class="webzine_moms_featureimg"></div>
                                                            <div class="webzine_list_title">
                                                                <!-- {{item.SUBJECT}} -->
                                                                [92차 2014년판] 공룡 유치원 시리즈 세트(전 12권)[양장본] 공룡유치원 DVD+캐릭터 만들기 클레이(총8색) 증정

                                                                <div class="webzine_list_bottomwrap">
                                                                    <div class="webzine_list_item"><strong>공구기간</strong><span class="table_gray" style="margin-left:8px;">{{item.PERIOD}}</span></div>
                                                                    <div class="webzine_list_item"><strong>공구가격</strong><span class="table_gray" style="margin-left:8px;"><del>25,000원</del> → 15,000원</span></div>
                                                                    <div class="webzine_list_item"><strong>구매수량</strong><span class="table_gray" style="margin-left:8px;">123개</span></div>
                                                                </div>

                                                                <div class="webzine_list_btnwrap">
                                                                    <button class="webzine_list_btn red" title="응모하기" ng-show="showForm == 'reviewForm'" ng-click="comp_momsevent(item.NO)">구매하기</button><br />
                                                                    <button class="webzine_list_btn default" title="상세보기" ng-click="view_momsevent(item.NO)">후기작성</button>
                                                                </div>
                                                            </div>
                                                        </div>  <!-- comp_basic -->
                                                    </div>  <!-- col-xs-8 -->
                                                </div>  <!-- /.row -->


                                                <!--<div ng-repeat='item in list'>-->
                                                    <!--<div class="col-xs-4 people_photo_contentcol" ng-show="selectPhoto = item.PHOTO_TYPE">-->
                                                        <!--<div ng-click="click_showViewPeoplePhoto(item.NO)" class="people_photo_content">-->
                                                            <!--<div class="people_photo_imgbox">-->
                                                                <!--<img class="people_photo_img" ng-src="{{item.MAIN_FILE}}"/>-->
                                                                <!--<div class="people_photo_cate">-->
                                                                    <!--<span>{{item.TITLE}}</span>-->
                                                                    <!--<div style="position:absolute; display:inline; bottom:8px; right:0;">-->
                                                                        <!--<span class="feed_count countlike table_white">{{item.LIKE_CNT}}</span>&lt;!&ndash; 공감수 &ndash;&gt;-->
                                                                        <!--<span class="feed_count countreply table_white">{{item.REPLY_COUNT}}</span>	&lt;!&ndash; 댓글수 &ndash;&gt;-->
                                                                    <!--</div>-->
                                                                <!--</div>-->
                                                            <!--</div>-->

                                                            <!--<div class="people_photo_txt">{{item.SUBJECT}}</div>-->
                                                            <!--<div class="people_photo_info"><span class="table_blue">{{item.NICK_NM}}</span> | {{item.REG_DT}}</div>-->
                                                        <!--</div>&lt;!&ndash; /.people_photo_content &ndash;&gt;-->
                                                    <!--</div>&lt;!&ndash; /.people_photo_contentcol &ndash;&gt;-->
                                                <!--</div>&lt;!&ndash; /.people_photo_contentlist &ndash;&gt;		&lt;!&ndash; 1줄	 &ndash;&gt;-->

                                                <!-- div ng-show="list == ''">
                                                    <p>조회 데이터가 없습니다.</p>
                                                </div -->

                                            </div><!-- /.comp_basic -->
                                        </div><!-- /.v-cell-4 -->
                                    </div><!-- /.row -->
                                </div><!-- /.peoplephoto_list_wrap -->




                            </div>  <!-- /.sub_contents_body -->





                        </div>  <!-- /.sub_contents_wrap -->
                    </div>  <!-- /.comp_basic -->
                </div>  <!-- /.col-xs-12 -->

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
        <div class="row">
            <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
                우측바
            </div>
        </div>
    </div>

    <!-- /Main Page Layout Set -->
</div>