<div ng-controller="storemall-view">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                                <p>적립된 마일리지로 구매가 가능합니다</p>
                            </div>

                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-4 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="border:1px solid #ddd;">
                                            <img ng-src="/imgs/ange/temp/brandmall_01.jpg" style="width:100%;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-8 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:2px; 0px; padding-left:25px; margin:0px;">

                                        <div class="">

                                            <p style="font-size:1.24em; line-height:22px; font-weight:600; word-break: keep-all;">[아이앤아이] 베이비 다용도 홀더베이비 다용도 홀더베이비 다용도 홀더</p>

                                            <div class="store_col_info">
                                                <div class="store_list_item maininfo"><strong>가 격</strong><span class="table_gray" style="position:absolute; left:120px;">5,000 P</span></div>
                                                <div class="store_list_item maininfo"><strong>배송비</strong><span class="table_gray" style="position:absolute; left:120px;">2,500 원(착불)</span></div>
                                                <div class="store_list_item maininfo"><strong>판매사</strong><span class="table_gray" style="position:absolute; left:120px;">아이앤와이</span></div>
                                                <div class="store_list_item maininfo"><strong>수량</strong><span class="table_gray" style="position:absolute; left:120px;"></span></div>
                                                <div class="store_list_item maininfo"><strong>홈페이지</strong><span class="table_gray" style="position:absolute; left:120px;"><a style="font-size:0.86em;" href="#">http://www.inyinternational.com</a></span></div>
                                                <div class="store_list_item maininfo"><strong>외부링크</strong>
                                                    <span class="table_gray" style="position:absolute; top:8px; left:120px; line-height:12px; word-break:break-all; width:65%;">
                                                        <a style="font-size:0.86em;" href="#">http://www.inyinternational.com/sub/sub2_3.asp</a>
                                                    </span>
                                                </div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_info">
                                                <div class="store_list_item" style="width:100%; height:30px; line-height:24px;">
                                                    <span class="" style="float:left; width:30%;">제품선택(필수)</span>
                                                    <span class="" style="float:left; width:70%;">
                                                        <select class="form-control input-sm">
                                                            <option>[아이앤와이]다용도 홀더(화이트)</option>
                                                            <option>[아이앤와이]다용도 홀더(블랙)</option>
                                                            <option>[아이앤와이]다용도 홀더(고추냉이)</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_info">
                                                <!-- 제품을 선택하면 리스트 추가됨 -->
                                                <div class="store_list_item">
                                                    <span class="store_optiontitle">[아이앤와이] 다용도 홀더(화이트)</span>
                                                    <span class="store_optionea">
                                                        <input type="text" class="form-control input-sm" value="99" placeholder="" />
                                                        <span> 개</span>
                                                        <button type="button" class="btn btn-xs btn-info" title="구매 수량을 변경할 수 있습니다">변경</button>
                                                    </span>
                                                    <span class="store_optionprice">10,000</span>
                                                </div>
                                                <!-- /제품을 선택하면 리스트 추가됨 -->
                                                <div class="store_list_item">
                                                    <span class="store_optiontitle">[아이앤와이] 다용도 홀더(화이트)</span>
                                                    <span class="store_optionea">
                                                        <input type="text" class="form-control input-sm" value="99" placeholder="" />
                                                        <span> 개</span>
                                                        <button type="button" class="btn btn-xs btn-info" title="구매 수량을 변경할 수 있습니다">변경</button>
                                                    </span>
                                                    <span class="store_optionprice">10,000</span>
                                                </div>
                                                <div class="store_list_item">
                                                    <span class="store_optiontitle">[아이앤와이] 다용도 홀더(화이트)</span>
                                                    <span class="store_optionea">
                                                        <input type="text" class="form-control input-sm" value="99" placeholder="" />
                                                        <span> 개</span>
                                                        <button type="button" class="btn btn-xs btn-info" title="구매 수량을 변경할 수 있습니다">변경</button>
                                                    </span>
                                                    <span class="store_optionprice">10,000</span>
                                                </div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_info" style="border-bottom:none">
                                                <div class="store_list_item">
                                                    <span class="store_optiontitle">&nbsp;</span>
                                                    <span class="store_pricevalue">
                                                        <span>
                                                            마일리지<br />현금<br />배송비
                                                        </span>
                                                    </span>
                                                    <span class="store_totalprice">
                                                        30,000 P
                                                        <br />
                                                        0 원
                                                        <br />
                                                        착불
                                                    </span>
                                                </div>

                                            </div>  <!-- /.store_col_info -->

                                        </div>
                                    </div>  <!-- comp_basic -->

                                </div>  <!-- col-xs-9 -->
                            </div>  <!-- /.row -->


                            <div class="sub_contents_body" style="border-top:2px solid #000; margin-top:0px;">

                                <!-- store_view -->
                                <div class="store_view_tab">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation" class="active"><a>상품안내</a></li>
                                        <li role="presentation"><a>상품후기</a></li>
                                        <li role="presentation"><a>관련상품</a></li>
                                        <li role="presentation"><a>주의사항</a></li>
                                    </ul>
                                </div>  <!-- /.store_view_tab -->

                                <div class="container-fluid peopleboard_view_contentwrap">
                                    <div class="row">
                                        <div class="col-xs-12 peopleboard_view_contentbody">

                                            <!-- Editor CSS 적용 img max-width: 720px -->
                                            <img src="/imgs/temp/temp_productimg.jpg" style="width:100%;"/>
                                            <!-- img ng-src="{{item.MAIN_FILE}}" style="width:100%;"/ -->

                                        </div><!-- /.col-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->


                                <!-- 후기 -->
                                <div class="store_view_tab">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation"><a>상품안내</a></li>
                                        <li role="presentation" class="active"><a>상품후기</a></li>
                                        <li role="presentation"><a>관련상품</a></li>
                                        <li role="presentation"><a>주의사항</a></li>
                                    </ul>
                                </div>  <!-- /.store_view_tab -->

                                <div class="container-fluid peopleboard_view_contentwrap">
                                    <div class="row">
                                        <div class="col-xs-12 peopleboard_view_contentbody">

                                            <div class="row" style="width:100%; margin:0px auto;">

                                                <div class="peoplep_list_tab">
                                                    <span class="board_th" style="font-size:1.2em;">
                                                        상품구매자의 경우 후기작성이 가능하며<br />
                                                        <ins style="font-size:1.34em;">후기작성 시 마일리지가 지급</ins> 됩니다.
                                                    </span>
                                                    <div style="margin-bottom:8px;">
                                                        <small class="table_gray">신고글의 경우 관리자에 의해 임의 삭제될 수 있습니다.</small>
                                                    </div>

                                                    <div style="position:absolute; top:42px; right:25px;">
                                                        <button type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> 상품후기 작성하기</button>
                                                    </div>

                                                </div><!-- /.peoplep_list_tab -->


                                                <div class="col-xs-12 v-cell-4">
                                                    <div class="comp_basic h-cell-1-dynamic">
                                                        <!-- mini_mileagemall -->
                                                        <div class="comp_goods" ng-model="store" style="border:none; border-bottom: 1px solid #dedede;">
                                                            <div class="row mini_event_contentlist">

                                                                <a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:0%;">이전</a>
                                                                <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!-- /mini_mileagemall -->
                                                    </div>  <!-- /.comp_basic -->
                                                </div>  <!-- /.col-xs-12 -->
                                            </div>  <!-- /.row -->

                                        </div><!-- /.col-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                                <!-- /후기 -->

                                <!-- 관련상품 -->
                                <div class="store_view_tab">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation"><a>상품안내</a></li>
                                        <li role="presentation"><a>상품후기</a></li>
                                        <li role="presentation" class="active"><a>관련상품</a></li>
                                        <li role="presentation"><a>주의사항</a></li>
                                    </ul>
                                </div>  <!-- /.store_view_tab -->

                                <div class="container-fluid peopleboard_view_contentwrap">
                                    <div class="row">
                                        <div class="col-xs-12 peopleboard_view_contentbody">

                                            <div class="row" style="width:100%; margin:0px auto;">

                                                <div class="peoplep_list_tab">
                                                    <span class="board_th" style="font-size:1.44em;">판매사의 다른 상품</span>
                                                    <small class="table_gray">이 상품이 속한 판매사의 다른 상품</small>
                                                </div><!-- /.peoplep_list_tab -->


                                                <div class="col-xs-12 v-cell-4">
                                                    <div class="comp_basic h-cell-1-dynamic">
                                                        <!-- mini_mileagemall -->
                                                        <div class="comp_goods" ng-model="store" style="border:none; border-bottom: 1px solid #dedede;">
                                                            <div class="row mini_event_contentlist">

                                                                <a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:0%;">이전</a>
                                                                <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!-- /mini_mileagemall -->
                                                    </div>  <!-- /.comp_basic -->
                                                </div>  <!-- /.col-xs-12 -->
                                            </div>  <!-- /.row -->


                                            <div class="row" style="width:100%; margin:0px auto; margin-top:32px;">

                                                <div class="peoplep_list_tab">
                                                    <span class="board_th" style="font-size:1.44em;">같은 카테고리 상품</span>
                                                    <small class="table_gray">이 상품과 같은 카테고리에 속한 다른 상품</small>
                                                </div><!-- /.peoplep_list_tab -->


                                                <div class="col-xs-12 v-cell-4">
                                                    <div class="comp_basic h-cell-1-dynamic">
                                                        <!-- mini_mileagemall -->
                                                        <div class="comp_goods" ng-model="store" style="border:none; border-bottom: 1px solid #dedede;">
                                                            <div class="row mini_event_contentlist">

                                                                <a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:0%;">이전</a>
                                                                <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>
                                                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>

                                                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                            <span class="mini_mileagemall_price"> 5,000</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!-- /mini_mileagemall -->
                                                    </div>  <!-- /.comp_basic -->
                                                </div>  <!-- /.col-xs-12 -->
                                            </div>  <!-- /.row -->


                                        </div><!-- /.col-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                                <!-- /관련상품 -->


                                <!-- 주의사항 -->
                                <div class="store_view_tab">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation"><a>상품안내</a></li>
                                        <li role="presentation"><a>상품후기</a></li>
                                        <li role="presentation"><a>관련상품</a></li>
                                        <li role="presentation" class="active"><a>주의사항</a></li>
                                    </ul>
                                </div>  <!-- /.store_view_tab -->

                                <div class="container-fluid peopleboard_view_contentwrap">
                                    <div class="row">
                                        <div class="col-xs-12 peopleboard_view_contentbody">

                                            <ul class="store_warning" style="font-size:0.92em; color:#464646;">

                                                <li>부정적인 방법으로 마일리지 취득 시 공지없이 취득한 마일리지는 차감됩니다.</li>
                                                <li>마일리지 상품은 모두 착불로 발송됩니다</li>

                                                <ul class="list-unstyled">
                                                    <li style="margin-left:15px;">- 도서/산간지역 추가요금 발생하며 배송료 선불입금하셔야 합니다(문자로 계좌안내)</li>
                                                    <li style="margin-left:15px;">- 상품의 크기, 무게, 형태에 따라 차이가 있을 수 있습니다.</li>
                                                </ul>

                                                <li>마일리지는 마일리지몰에서만 사용가능합니다.</li>
                                                <li>마일리지 적립방법은 업체 사정상 변경될 수 있습니다</li>
                                                <li>마일리지는 소멸기간이 없으며 회원을 탈퇴할 경우 소멸됩니다.
                                            (단, 2년간 로그인 기록이 없는 경우 마일리지 소멸)</li>
                                                <li>나눔방/경매소/이벤트 당첨 등 배송건이 있을 시 꼭, 배송요청란에 사유와 함께 '합포장'이라고 명시해주세요.</li>
                                                <li>마일리지몰 상품은 제품의 하자가 아닌경우를 제외하고 교환 및 반품이 불가능합니다.</li>
                                                <li>배송은 주문일로부터 2~3일내 발송을 원칙으로 하며 토,일,공휴일은 배송기간에 포함되지 않습니다.</li>
                                                <li>상품은 업체 사정상 변경이나 사진과 상이할 수 있습니다.</li>

                                            </ul>

                                        </div><!-- /.col-12-->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->

                                <!-- /주의사항 -->


                            </div>  <!-- /.sub_contents_body -->


                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
        <div class="row">
            <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
                우측바
            </div>
        </div>
    </div>

    <!-- /Main Page Layout Set -->
</div>