<div ng-controller="storenaming-request">

    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">
            <div class="row">
                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>

                            <div class="row webzine_moms_list">
                                <div class="col-xs-4 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="border:1px solid #ddd;">
                                            <img ng-src="/imgs/ange/temp/thumb_naming.jpg" style="width:100%;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-8 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:2px; 0px; padding-left:25px; margin:0px;">

                                        <div class="">

                                            <p style="font-size:1.24em; line-height:22px; font-weight:600; word-break: keep-all;">앙쥬 네이밍(작명) 서비스</p>

                                            <div class="store_col_info">
                                                <div class="store_list_item maininfo"><strong>가 격</strong><span class="table_gray" style="position:absolute; left:120px;">50,000 ~ 500,000 원</span></div>
                                                <div class="store_list_item maininfo"><strong>결 제</strong><span class="table_gray" style="position:absolute; left:120px;">신용카드, 실시간계좌이체, 가상계좌</span></div>
                                                <div class="store_list_item maininfo"><strong>이용방법</strong><span class="table_gray" style="position:absolute; left:120px;">결제 후 바로진행</span></div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_info">
                                                <div class="store_list_item" style="width:100%; height:30px; line-height:24px;">
                                                    <span class="" style="float:left; width:30%;">제품선택(필수)</span>
                                                    <span class="" style="float:left; width:70%;">
                                                        <select ng-options="v.PRODUCT_NM for v in namingnolist" ng-model="item.PRODUCT" class="form-control input-sm" ng-change="addProductList(item.PRODUCT)">
                                                            <option value="" selected>선택</option>
                                                        </select>
                                                        <ul class="table_gray" style="margin-left:15px; word-break:keep-all; margin-top:10px;">
                                                            <li>한 종류만 선택가능합니다.</li>
                                                            <li><span class="table_blue">마이앙쥬 > 내활동조회 > 주문확인</span> 에서 상품을 확인하세요.</li>
                                                        </ul>
                                                    </span>

                                                </div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_info" data-ng-repeat="item in productsList">
                                                <!-- 제품을 선택하면 리스트 추가됨 -->
                                                <div class="store_list_item">
                                                    <span class="store_optiontitle">{{item.PRODUCT_NM}}({{item.PRICE}}원)</span>
                                                    <span class="store_optionea">
                                                        <input type="text" class="form-control input-sm" value="1" placeholder="" disabled/>
                                                        <span> 개</span>
                                                        <!--<button type="button" class="btn btn-xs btn-info" title="구매 수량을 변경할 수 있습니다">변경</button>-->
                                                    </span>
                                                    <span class="store_optionprice">{{item.PRICE}}</span>
                                                </div>
                                                <!-- /제품을 선택하면 리스트 추가됨 -->
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_info" style="border-bottom:none">
                                                <div class="store_list_item">
                                                    <span class="store_optiontitle">&nbsp;</span>
                                                    <span class="store_pricevalue">
                                                        <span>
                                                            마일리지<br />현금<br />배송비
                                                        </span>
                                                    </span>
                                                    <span class="store_totalprice">
                                                        0 P
                                                        <br />
                                                        {{TOTAL_PRICE}} 원
                                                        <br />
                                                        무료
                                                    </span>
                                                </div>

                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_btn">
                                                <button ng-click="click_selectTab('2');" class="btn btn-info">신청서작성</button>
                                                <!--<button ng-click="click_selectTab('2');" class="btn btn-info">구 매</button>-->
                                                <button ng-click="click_intro();" class="btn btn-default">취 소</button>
                                            </div>  <!-- /.store_col_info -->

                                        </div>
                                    </div>  <!-- comp_basic -->

                                </div>  <!-- col-xs-9 -->
                            </div>  <!-- /.row -->



                            <div class="store_view_tab">
                                <ul class="nav nav-tabs" id="tab">
                                    <li role="presentation" ng-class="selectIdx == '1' ? 'active' : ''"><a ng-click="click_selectTab('1');">상품안내</a></li>
                                    <li role="presentation" ng-class="selectIdx == '2' ? 'active' : ''"><a ng-click="click_selectTab('2');">서비스신청</a></li>
                                    <li role="presentation" ng-class="selectIdx == '3' ? 'active' : ''"><a ng-click="click_selectTab('3');">상품후기</a></li>
                                    <li role="presentation" ng-class="selectIdx == '4' ? 'active' : ''"><a ng-click="click_selectTab('4');">관련상품</a></li>
                                    <li role="presentation" ng-class="selectIdx == '5' ? 'active' : ''"><a ng-click="click_selectTab('5');">주의사항</a></li>
                                </ul>
                            </div>  <!-- /.store_view_tab -->

                            <div id="tabs-1" data-ng-show="selectIdx == '1'" class="container-fluid peopleboard_view_contentwrap">
                                <div class="row">
                                    <div class="col-xs-12 peopleboard_view_contentbody">

                                        <!-- Editor CSS 적용 img max-width: 720px -->
                                        <img src="/imgs/ange/temp/naming_guide_01.jpg" style="width:100%;"/>
                                        <br /><br />
                                        <img src="/imgs/ange/temp/naming_guide_02.jpg" style="width:100%;"/>
                                        <br /><br />
                                        <img src="/imgs/ange/temp/naming_guide_03.jpg" style="width:100%;"/>
                                        <br /><br />
                                        <img src="/imgs/ange/temp/naming_guide_04.jpg" style="width:100%;"/>
                                        <br /><br />
                                        <img src="/imgs/ange/temp/naming_guide_05.jpg" style="width:100%;"/>
                                        <br /><br />
                                        <img src="/imgs/ange/temp/naming_guide_06.jpg" style="width:100%;"/>
                                        <br /><br />
                                        작명가 소개
                                        <!-- img ng-src="{{item.MAIN_FILE}}" style="width:100%;"/ -->

                                    </div>  <!-- /.col-12-->
                                </div>  <!-- /.row -->
                            </div>  <!-- /.container -->


                            <!-- 신청 폼 -->
                            <div id="tabs-2" data-ng-show="selectIdx == '2'" class="samplepack_formwrap" ng-model="item" style="display:block;">
                            <div class="samplepack_form_title" style="background:#333; height:46px; padding:10px;">
                                <span class="table_blue" style="font-size:1.18em; float:left;">| 작명 신청양식</span>
                                <div style="float:right;">
                                    <small><span class="table_blue">정보가 다르신가요?</span></small>
                                    <button ng-click="click_update_user_info()" class="btn btn-xs btn-primary" style="margin:0 5px;">정보수정</button>
                                </div>
                            </div>
                            <div class="row form_rows" style="background: #ffffff;">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>작명신청</strong>
                                        <span class="table_blue">*</span>
                                    </span>
                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <select ng-options="v.PRODUCT_NM for v in namingnolist" ng-model="item.PRODUCT" class="form-control input-sm">
                                                <option value="" selected>선택</option>
                                            </select>
                                        </div>
                                    </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>아이디</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <!-- <input type="text" ng-model="item.USER_ID" class="form-control input-sm" style="margin:0px;"placeholder="" disabled>-->
                                                {{USER_ID}}
                                            </div>
                                        </span>

                                        <span class="col-xs-2 basicinfo title">
                                            <strong>닉네임</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <!--<input type="text" ng-model="item.NICK_NM" class="form-control input-sm" style="margin:0px;"placeholder="" disabled>-->
                                                {{NICK_NM}}
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>신청자명</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <!--<input type="text" ng-model="item.USER_NM" class="form-control input-sm" style="margin:0px;"  placeholder="" disabled>-->
                                                {{USER_NM}}
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>가입일자</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <!--<input type="text" ng-model="item.REG_DT" class="form-control input-sm" style="margin:0px;"  placeholder="" disabled>-->
                                                {{user_info.REG_DT}}
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                             <strong>연락처</strong>
                                             <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-2 basicinfo input">
                                            <div class="form-group" style="margin:0 5px; text-align:right;">
                                                <small class="table_gray">전화번호</small>
                                            </div>
                                        </span>
                                        <span class="col-xs-3 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <!--<input type="text" ng-model="item.PHONE_1" class="form-control input-sm" style="margin:0px;" placeholder="" disabled>-->
                                                {{PHONE_1}}
                                            </div>
                                        </span>
                                        <span class="col-xs-1 basicinfo input">
                                            <div class="form-group" style="margin:0 5px; text-align:right;">
                                                <small class="table_gray">휴대폰</small>
                                            </div>
                                        </span>
                                        <span class="col-xs-3 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <!--<input type="text" ng-model="item.PHONE_2" class="form-control input-sm" style="margin:0px;" placeholder="" disabled>-->
                                                {{PHONE_2}}
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>주소</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-10 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <p><!--<input type="text" class="form-control input-sm" style="margin:0px;" value="(123-456)" placeholder="" disabled>-->(123-456)<!--{{user_info.ZIP_CODE}}--></p>
                                                <p><!--<input type="text" class="form-control input-sm" style="margin:0px;" ng-model="item.ADDR" placeholder="" disabled>-->{{ADDR}}</p>
                                                <!--<input type="text" class="form-control input-sm" style="margin:0px;" ng-model="item.ADDR_DETAIL" placeholder="" disabled>-->{{ADDR_DETAIL}}
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="samplepack_form_title" style="background:#333; height:46px;">
                                <span class="table_blue" style="font-size:1.18em; float:left;">| 작명 당사자(아기) 정보</span>
                            </div>
                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>신청인과의 관계</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="text" ng-model="item.REQUEST_RELATION" class="form-control input-sm" style="margin:0px;" placeholder="본인, 아들, 손녀 등등">
                                            </div>
                                        </span>

                                        <span class="col-xs-2 basicinfo title">
                                            <strong>성별</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="radio" ng-model="item.BABY_SEX_GB" value="M" >남자
                                                <input type="radio" ng-model="item.BABY_SEX_GB" value="F" >여자
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>생년월일</strong>
                                        </span>

                                        <span class="col-xs-11 basicinfo input"  style="margin-left:155px;">
                                            <div class="form-inline">

                                                <select ng-model="item.BABY_LUNAR_FL" class="form-control" style="width:130px; padding: 3px 3px">
                                                    <option value="" selected>양력/음력 선택</option>
                                                    <option value="0" selected>양력</option>
                                                    <option value="1">음력</option>
                                                </select>

                                                <select id="birth" ng-model="item.BABY_YEAR" ng-options="v for v in babyYear" class= "form-control" style="width:110px;">
                                                    <option value="" selected>년</option>
                                                </select>

                                                <select ng-model="item.BABY_MONTH" ng-options="v for v in month" class= "form-control" style="width:75px;">
                                                    <option value="" selected>월</option>
                                                </select>

                                                <select ng-model="item.BABY_DAY" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                    <option value="" selected>일</option>
                                                </select>

                                                <br/>
                                                태어난시&nbsp;
                                                <select ng-model="item.BABY_BIRTH_HOUR" ng-options="v for v in hour" class= "form-control" style="width:75px;">
                                                    <option value="" selected>시</option>
                                                </select>

                                                <select ng-model="item.BABY_BIRTH_MIN" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                    <option value="" selected>분</option>
                                                </select>

                                                <select ng-model="item.BABY_LEAP_FL" class="form-control" style="width:145px;">
                                                    <option value="" selected>윤달/평달 선택</option>
                                                    <option value="0">윤달</option>
                                                    <option value="1">평달</option>
                                                </select>

                                                <br/>
                                                <span class="table_red">* 생년월일 정보는 등록후 수정할수 없습니다. 정확히 선택해주세요.</span>
                                            </div>
                                        </span>


                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>성(姓) 씨</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="text" ng-model="item.BABY_LAST_NM" class="form-control input-sm"/>
                                                <button ng-click="click_update_user_info()" class="btn btn-xs btn-primary" style="margin:0 5px;">한자변환</button>
                                            </div>
                                        </span>
                                </div>
                            </div>

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title" style="vertical-align: middle">
                                            <strong >부모정보</strong>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->

                                <!--<div class="row form_rows" >-->
                                <div class="form_basicinfo" style="margin-left: 155px; margin-bottom: 50px;">

                                            <span class="col-xs-1 basicinfo title">
                                                <strong style="vertical-align: middle">아버지</strong>
                                            </span>

                                            <span class="col-xs-11 basicinfo input">
                                                <div class="form-inline">

                                                    이름<input type="text" ng-model="item.DAD_NM" class="form-control" style="width: 140px; margin-left: 35px;"/>
                                                    <br/>

                                                    생년월일&nbsp;
                                                    <select ng-model="item.DAD_LUNAR_FL" class="form-control" style="width:130px; padding: 3px 3px">
                                                        <option value="" selected>양력/음력 선택</option>
                                                        <option value="0" >양력</option>
                                                        <option value="1">음력</option>
                                                    </select>

                                                    <select id="birth2" ng-model="item.DAD_YEAR" ng-options="v for v in year" class= "form-control" style="width:110px;">
                                                        <option value="" selected>년</option>
                                                    </select>

                                                    <select ng-model="item.DAD_MONTH" ng-options="v for v in month" class= "form-control" style="width:75px;">
                                                        <option value="" selected>월</option>
                                                    </select>

                                                    <select ng-model="item.DAD_DAY" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                        <option value="" selected>일</option>
                                                    </select>

                                                    <br/>
                                                    태어난시&nbsp;
                                                    <select ng-model="item.DAD_BIRTH_HOUR" ng-options="v for v in hour" class= "form-control" style="width:75px;">
                                                        <option value="" selected>시</option>
                                                    </select>

                                                    <select ng-model="item.DAD_BIRTH_MIN" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                        <option value="" selected>분</option>
                                                    </select>

                                                    <select ng-model="item.DAD_LEAP_FL" class="form-control" style="width:145px;">
                                                        <option value="" selected>윤달/평달 선택</option>
                                                        <option value="0">윤달</option>
                                                        <option value="1">평달</option>
                                                    </select>
                                                </div>
                                             </span>

                                    <!--</div>-->  <!-- /.form_rows -->

                                    <!--<div class="row form_rows">-->
                                    <div class="form_basicinfo">
                                                <span class="col-xs-1 basicinfo title">
                                                   <strong style="vertical-align: middle">어머니</strong>
                                                </span>
                                            <span class="col-xs-11 basicinfo input">
                                            <div class="form-inline">

                                                이름&nbsp;<input type="text" ng-model="item.MOM_NM" class="form-control" style="width: 150px; margin-left: 33px;"/>
                                                <br/>

                                                생년월일&nbsp;
                                                <select ng-model="item.MOM_LUNAR_FL" class="form-control" style="width:130px; padding: 3px 3px">
                                                    <option value="" selected>양력/음력 선택</option>
                                                    <option value="0">양력</option>
                                                    <option value="1">음력</option>
                                                </select>

                                                <select id="birth3" ng-model="item.MOM_YEAR" ng-options="v for v in year" class= "form-control" style="width:110px;">
                                                    <option value="" selected>년</option>
                                                </select>

                                                <select ng-model="item.MOM_MONTH" ng-options="v for v in month" class= "form-control" style="width:75px;">
                                                    <option value="" selected>월</option>
                                                </select>

                                                <select ng-model="item.MOM_DAY" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                    <option value="" selected>일</option>
                                                </select>

                                                <br/>
                                                태어난시&nbsp;
                                                <select ng-model="item.MOM_BIRTH_HOUR" ng-options="v for v in hour" class= "form-control" style="width:75px;">
                                                    <option value="" selected>시</option>
                                                </select>

                                                <select ng-model="item.MOM_BIRTH_MIN" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                    <option value="" selected>분</option>
                                                </select>

                                                <select ng-model="item.MOM_LEAP_FL" class="form-control" style="width:145px;">
                                                    <option value="" selected>윤달/평달 선택</option>
                                                    <option value="0">윤달</option>
                                                    <option value="1">평달</option>
                                                </select>
                                            </div>
                                        </span>

                                    </div>  <!-- /.form_basicinfo -->

                                            <span class="table_red">
                                                * 작명이나 개명시 부모의 사주를 꼭 참고하오니 태어난 시간까지 정확히 기재해 주십시오.<!--<br/>-->
                                                <!--(기혼자의 개명시는 배우자 사주를 참고하오니 생년월일시를 아래 여백란에 기재하여 주십시오)-->
                                            </span>
                                    <!--</div>-->  <!-- /.form_basicinfo -->
                                </div>  <!-- /.form_rows -->
                            </div>  <!-- /.form_rows -->

                            <!-- 아빠 엄마 정보 -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>출생지</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="text" ng-model="item.BABY_BIRTH_AREA" class="form-control input-sm" style="margin:0px;" placeholder="서울,대전,부산..">
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>형제서열</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="text" ng-model="item.BABY_BRO_RANK" class="form-control input-sm" style="margin:0px;" placeholder="2남2녀중 차남(신생아의 형제서열)">
                                            </div>
                                        </span>
                                </div>
                            </div>

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>돌림자</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="radio" ng-model="item.BABY_COMM_GB" value="">사용안함
                                                <input type="radio" ng-model="item.BABY_COMM_GB" value="middle">중간자
                                                <input type="radio" ng-model="item.BABY_COMM_GB" value="last">끝자
                                                &nbsp;
                                                <input type="text" ng-model="item.BABY_COMM_NM" class="form-control input-sm" style="margin:0px;">
                                                <button ng-click="click_update_user_info()" class="btn btn-xs btn-primary" style="margin:0 5px;">한자변환</button>
                                                <!--앙쥬 홈페이지 한자변환 팝업 : https://www.ange.co.kr/naming/findhanja2.asp?val=sfname&inname=%C3%D6-->
                                            </div>
                                        </span>
                                </div>
                            </div>

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>형제명</strong>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input type="text" ng-model="item.BABY_BRO_NAME" class="form-control input-sm" style="margin:0px;" placeholder="">
                                            </div>
                                        </span>
                                </div>
                            </div>


                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>하고싶은말</strong>
                                        </span>

                                        <span class="col-xs-10 basicinfo input">
                                            <span class="table_blue">
                                                * 생각하신이름, 선호하는 이름의 느낌, 중복되면 안되는 친척이름, 기타 작명시 부탁하실 내용등을 간단히 적어주세요.
                                                <br/>
                                                <span class="table_red">가급적 친척, 조카 이름등을 모두 적어주시면 중복되거나 비슷한 이름을 제외하여 작명하는데 도움이 됩니다.</span>
                                            </span>
                                            <div class="form-group" style="margin:0 5px">
                                                <p>
                                                    <textarea ng-model="item.REQUEST_NOTE" class="form-control input-sm" rows="10" style="width:100%; min-width:100%; max-width:100%;"></textarea>
                                                </p>
                                            </div>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div style="float:left; position:relative; width:100%;">
                                <div style="clear:both; text-align: center; width:225px; margin:0px auto; padding-top:10px 0 40px 0;">
                                    <a class="samplepack_submit cancelbtn" href="/store/naming/intros"></a>
                                    <a class="samplepack_submit submitbtn" ng-click="click_saveNamingComp();"></a>
                                </div>
                            </div>

                            </div>
                            <!-- /신청폼 -->

                            <div id="tabs-3"  data-ng-show="selectIdx == '3'" class="container-fluid peopleboard_view_contentwrap">
                                <div class="row">
                                    <div class="col-xs-12 peopleboard_view_contentbody">

                                        <div class="row" style="width:100%; margin:0px auto;">

                                            <div class="peoplep_list_tab">
                                                    <span class="board_th" style="font-size:1.2em;">
                                                        상품구매자의 경우 후기작성이 가능하며<br />
                                                        <ins style="font-size:1.34em;">후기작성 시 마일리지가 지급</ins> 됩니다.
                                                    </span>
                                                <div style="margin-bottom:8px;">
                                                    <small class="table_gray">신고글의 경우 관리자에 의해 임의 삭제될 수 있습니다.</small>
                                                </div>

                                                <div style="position:absolute; top:42px; right:25px;">
                                                    <button type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> 상품후기 작성하기</button>
                                                </div>

                                            </div><!-- /.peoplep_list_tab -->

                                            <table id="comp_board_table" class="table table-hover">

                                                <tbody class="on" ng-repeat="item in list">

                                                <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                                    <td width="9%" class="table_no">
                                                        <span ng-class="item.NOTICE_FL == 'Y' ? 'table_blue' : ''">{{item.NOTICE_FL == 'Y' ? '공지' : item.BOARD_NO}}</span>
                                                    </td>
                                                    <td>
                                                        <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                                                        {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                                                        <span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>
                                                        <span ng-show="item.REG_DT == todayDate" class="table_icon_new">N</span>
                                                        <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                                        <span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>
                                                    </td>
                                                    <td width="92" class="table_author">{{item.NICK_NM}}</td>
                                                    <td width="80" class="table_date">{{item.REG_DT}}</td>
                                                </tr>

                                                </tbody>

                                                <tbody class="on" data-ng-show="list == '' || list == null">

                                                <tr>
                                                    <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                                                </tr>

                                                </tbody>
                                            </table><!-- /.List-->

                                            <nav class="text-center">
                                                <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                            </nav><!-- /.Paging-->
                                            <!-- /peoplepoll_list -->

                                        </div>  <!-- /.row -->

                                    </div><!-- /.col-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                            <!-- /후기 -->



                            <div id="tabs-4"  data-ng-show="selectIdx == '4'" class="container-fluid peopleboard_view_contentwrap">
                                <div class="row">
                                    <div class="col-xs-12 peopleboard_view_contentbody">

                                        <div class="row" style="width:100%; margin:0px auto; margin-top:32px;">

                                            <div class="peoplep_list_tab">
                                                <span class="board_th" style="font-size:1.44em;">같은 카테고리 상품</span>
                                                <small class="table_gray">이 상품과 같은 카테고리에 속한 다른 상품</small>
                                            </div><!-- /.peoplep_list_tab -->


                                            <div class="col-xs-12 v-cell-4">
                                                <div class="comp_basic h-cell-1-dynamic">
                                                    <!-- mini_mileagemall -->
                                                    <div class="comp_goods" ng-model="store" style="border:none; border-bottom: 1px solid #dedede;">
                                                        <div class="row mini_event_contentlist">

                                                            <a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:0%;">이전</a>
                                                            <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                                            <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                <div class="mini_event_content" style="border:none; text-align:center;">
                                                                    <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                    <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>
                                                                    <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>

                                                                    <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                        <span class="mini_mileagemall_price"> 5,000</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                                                <div class="mini_event_content" style="border:none; text-align:center;">
                                                                    <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                    <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>
                                                                    <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>

                                                                    <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                        <span class="mini_mileagemall_price"> 5,000</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                                                <div class="mini_event_content" style="border:none; text-align:center;">
                                                                    <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                                                    <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>
                                                                    <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>

                                                                    <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                                                        <span class="mini_mileagemall_price"> 5,000</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- /mini_mileagemall -->
                                                </div>  <!-- /.comp_basic -->
                                            </div>  <!-- /.col-xs-12 -->
                                        </div>  <!-- /.row -->


                                    </div><!-- /.col-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                            <!-- /관련상품 -->


                            <div id="tabs-5" data-ng-show="selectIdx == '5'" class="container-fluid peopleboard_view_contentwrap">
                                <div class="row">
                                    <div class="col-xs-12 peopleboard_view_contentbody">

                                        <span class="table_blue">[실시간/셀프작명서비스 안내]</span>
                                        <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                                            <li>결제 후 주문구매현황 > 네이밍신청현황 에서 [진행하기] 통해 바로 작명서비스를 이용하실 수 있습니다.</li>
                                            <li>서비스는 30일동안 이용가능하며 서비스를 이용하신 후에는 환불이 불가합니다.</li>
                                            <li>추천이름은 입력하신 데이터에 따라 다르며(3~20개 사이) 추천 이름 데이터가 전혀 없는 경우는 관리자에게 연락  주시기 바랍니다.(네이밍 고객센터 : 02-333-4650 / 내선 1번)</li>
                                        </ul>

                                        <span class="table_blue">[스페셜/프리미엄작명서비스 안내]</span>
                                        <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                                            <li>신청 및 결제 후에 3~4일내 등록된 휴대폰 문자로 완료 메시지가 전송됩니다.</li>
                                            <li>주문구매현황 > 네이밍신청현황 에서 [추천이름선택] 통해 추천이름을 제공받게 되며, 추천 이름은 사주풀이 및 이름풀이는 제공되지 않습니다.</li>
                                        </ul>

                                        <span class="table_blue">[전환서비스 안내]</span>
                                        <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                                            <li>실시간 및 셀프작명서비스 신청 후 7일이내에 스페셜 및 프리미엄 작명서비스로 전환신청이 가능합니다.</li>
                                            <li>서비스 전환시 선택 서비스에 따라 추가 차액이 발생합니다.</li>
                                            <li>스페셜 및 프리미엄작명서비스로 전환 후에는 신청하셨던 실시간/셀프작명서비스는 이용하실 수 없습니다.</li>
                                            <li>스페셜작명서비스에서 프리미엄작명서비스로 전환되지 않습니다.</li>
                                        </ul>

                                        <span class="table_blue">[취소 안내]</span>
                                        <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                                            <li>상품취소는 서비스를 제공받으시기 전에만 가능합니다.</li>
                                            <li>가상계좌 신청 후 7일이내 미 입금시 자동취소됩니다.</li>
                                        </ul>

                                        <span class="table_blue">[환불 안내]</span>
                                        <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                                            <li>서비스를 이용하신 후에는 서비스대금 환불이 불가능합니다.</li>
                                        </ul>

                                    </div>  <!-- /.col-12-->
                                </div>  <!-- /.row -->
                            </div>  <!-- /.container -->
                            <!-- /주의사항 -->

                        </div>  <!-- /.sub_contents_wrap -->
                    </div>  <!-- /.comp_basic h-cell-dynamic -->
                </div>  <!-- /.col-xs-12 v-cell-3 -->
            </div>  <!-- rows -->
        </div>  <!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                <hr style="margin:0 15px 0 15px;" />

                <center>
                    <img src="/imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div><!-- /.mainbar -->


    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>
    </div>

    <!-- /Main Page Layout Set -->
</div>  <!-- /.ng-controller -->

<script type="text/ng-template" id="user_info_modal.html">
    <div class="modal-header">
        <h3 class="modal-title">정보수정</h3>
    </div>
    <div class="modal-body">
        <div ng-model="approval" lass="row" class="form-horizontal">
            <div class= "form-group">
                아이디 <input type="text" class="form-control" ng-model="item.USER_ID" class= "form-control" placeholder="주소"/>
            </div>
            <div class= "form-group">
                이름 <input type="text" class="form-control" ng-model="item.USER_NM" class= "form-control" placeholder="이름"/>
            </div>
            <div class= "form-group">
                닉네임 <input type="text" class="form-control" ng-model="item.NICK_NM" class= "form-control" placeholder="닉네임"/>
            </div>
            <div class= "form-group">
                주소 <input type="text" class="form-control" ng-model="item.ADDR" class= "form-control" placeholder="주소"/>
            </div>
            <div class= "form-group">
                세부주소 <input type="text" class="form-control" ng-model="item.ADDR_DETAIL" class= "form-control" placeholder="세부주소"/>
            </div>
            <div class= "form-group">
                전화번호 <input type="text" class="form-control" ng-model="item.PHONE_1" class= "form-control" placeholder="전화번호"/>
            </div>
            <div class= "form-group">
                휴대폰번호 <input type="text" class="form-control" ng-model="item.PHONE_2" class= "form-control" placeholder="휴대폰번호"/>
            </div>
            <div class= "form-group">
                임신여부 <input type="radio"  value="Y" id="preg_Y" name="preg" ng-model="item.PREGNENT_FL" placeholder="출산여부"/>Y
                &nbsp;
                <input type="radio" id="preg_N"  name="preg" value="N"  ng-model="item.PREGNENT_FL" placeholder="출산여부"/>N
                <div ng-show="checked == 'Y'" id="birth_dt">출산예정일 <input type="text" class="form-control" ng-model="item.BABY_BIRTH_DT" class= "form-control" placeholder="ex) 20150112"/></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="click_ok()">수정</button>
        <button class="btn btn-warning" ng-click="click_cancel()">취소</button>
    </div>
</script>
