<div ng-controller="storeauction-list">
<!-- mainbar -->
<div class="mainbar sub-slide0">
<div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">

<div class="row">

<div class="col-xs-12 v-cell-3">
<div class="comp_basic h-cell-dynamic">

<div class="sub_contents_wrap">

    <div class="sub_contents_title">
        <span class="sub_contents_bullet"></span>
        <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
        <p>가격은 반으로 즐거움은 두배로 마일리지 경매소가 운영됩니다.</p>
    </div>

    <!-- 경매품목 -->
    <div class="row webzine_moms_list">
        <div class="col-xs-12 v-cell-4" style="margin:0px;">
            <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                <div class="store_auctiontime">
                    <strong>마일리지 경매소 운영시간</strong> :
                    <span class="table_red">AM 10:00 ~ PM 3:00</span> <span class="table_gray">/ 상품 당일 발송</span>
                </div>
            </div>
        </div>

        <div class="col-xs-4 v-cell-4" style="margin:0px;">
            <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                <div class="item" style="border:1px solid #ddd;">
                    <img ng-src="/imgs/ange/temp/brandmall_01.jpg" style="width:100%;" />
                </div>
            </div>
        </div>

        <div class="col-xs-8 v-cell-4" style="margin:0px;">
            <div class="comp_basic h-cell-dynamic" style="width:100%; padding:2px; 0px; padding-left:25px; margin:0px;">

                <div class="">
                    <div class="table_gray" style="height:24px;">
                        <small>
                            <div class="table_blue" style="float:left;">2015-01-12 경매</div>
                            <div style="float:right;">[상품번호 M20141023]</div>
                        </small>
                    </div>

                    <p style="font-size:1.24em; line-height:22px; font-weight:600; word-break: keep-all;">
                        프로그넌시 마사지 로션
                    </p>

                    <div class="store_col_info">
                        <div class="store_list_item maininfo"><strong>소비자금액</strong><span class="table_gray" style="position:absolute; left:120px;">55,000 원</span></div>
                        <div class="store_list_item maininfo"><strong>바로구매가</strong><span class="table_gray" style="position:absolute; left:120px;">22,500 원</span></div>
                        <div class="store_list_item maininfo"><strong>판매사</strong><span class="table_gray" style="position:absolute; left:120px;">아이앤와이</span></div>
                        <div class="store_list_item maininfo"><strong>홈페이지</strong><span class="table_gray" style="position:absolute; left:120px;"><a style="font-size:0.86em;" href="#">http://www.inyinternational.com</a></span></div>
                        <div class="store_list_item maininfo"><strong>외부링크</strong>
                                                    <span class="table_gray" style="position:absolute; top:8px; left:120px; line-height:12px; word-break:break-all; width:65%;">
                                                        <a style="font-size:0.86em;" href="#">http://www.inyinternational.com/sub/sub2_3.asp</a>
                                                    </span>
                        </div>
                    </div>  <!-- /.store_col_info -->

                    <div class="store_col_progress" style="position:relative; float:left; background-color:#ededed; padding:20px 10px; width:100%;">
                        <div style="float:left;">
                            <strong>경매현황</strong>
                                                    <span class="table_gray" style="position:absolute; left:120px;">
                                                        현재 <strong>1,500</strong> 원
                                                        <a href="#" style="margin-left:18px;"><small>입찰 : 40건</small></a>
                                                    </span>
                        </div>
                    </div>  <!-- /.store_col_info -->

                    <div class="store_col_btn">
                        <button class="btn btn-info">경매참여</button>
                        <button class="btn btn-warning">바로구매</button>
                    </div>  <!-- /.store_col_info -->

                </div>
            </div>  <!-- comp_basic -->

        </div>  <!-- col-xs-9 -->
    </div>  <!-- /.row -->

</div>  <!-- /.sub_contents_wrap -->

<div class="sub_contents_body" style="border-top:2px solid #000; margin-top:0px;">

<div class="store_view_tab">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a>상품안내</a></li>
        <li role="presentation"><a>상품후기</a></li>
        <li role="presentation"><a>관련상품</a></li>
        <li role="presentation"><a>이용안내</a></li>
        <li role="presentation"><a>주의사항</a></li>
    </ul>
</div>  <!-- /.store_view_tab -->

<div class="container-fluid peopleboard_view_contentwrap">
    <div class="row">
        <div class="col-xs-12 peopleboard_view_contentbody">

            <!-- Editor CSS 적용 img max-width: 720px -->
            <img src="/imgs/temp/temp_productimg.jpg" style="width:100%;"/>
            <!-- img ng-src="{{item.MAIN_FILE}}" style="width:100%;"/ -->

        </div>  <!-- /.col-12-->
    </div>  <!-- /.row -->
</div>  <!-- /.container -->

<div class="store_view_tab">
    <ul class="nav nav-tabs">
        <li role="presentation"><a>상품안내</a></li>
        <li role="presentation" class="active"><a>상품후기</a></li>
        <li role="presentation"><a>관련상품</a></li>
        <li role="presentation"><a>이용안내</a></li>
        <li role="presentation"><a>주의사항</a></li>
    </ul>
</div>  <!-- /.store_view_tab -->

<div class="container-fluid peopleboard_view_contentwrap">
    <div class="row">
        <div class="col-xs-12 peopleboard_view_contentbody">

            <div class="row" style="width:100%; margin:0px auto;">

                <div class="peoplep_list_tab">
                                                    <span class="board_th" style="font-size:1.2em;">
                                                        상품구매자의 경우 후기작성이 가능하며<br />
                                                        <ins style="font-size:1.34em;">후기작성 시 마일리지가 지급</ins> 됩니다.
                                                    </span>
                    <div style="margin-bottom:8px;">
                        <small class="table_gray">신고글의 경우 관리자에 의해 임의 삭제될 수 있습니다.</small>
                    </div>

                    <div style="position:absolute; top:42px; right:25px;">
                        <button type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> 상품후기 작성하기</button>
                    </div>

                </div><!-- /.peoplep_list_tab -->

                <table id="comp_board_table" class="table table-hover">

                    <tbody class="on" ng-repeat="item in list">

                    <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                        <td width="9%" class="table_no">
                            <span ng-class="item.NOTICE_FL == 'Y' ? 'table_blue' : ''">{{item.NOTICE_FL == 'Y' ? '공지' : item.BOARD_NO}}</span>
                        </td>
                        <td>
                            <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                            {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                            <span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>
                            <span ng-show="item.REG_DT == todayDate" class="table_icon_new">N</span>
                            <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                            <span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>
                        </td>
                        <td width="92" class="table_author">{{item.NICK_NM}}</td>
                        <td width="80" class="table_date">{{item.REG_DT}}</td>
                    </tr>

                    </tbody>

                    <tbody class="on" data-ng-show="list == '' || list == null">

                    <tr>
                        <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                    </tr>

                    </tbody>
                </table><!-- /.List-->

                <nav class="text-center">
                    <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </nav><!-- /.Paging-->
                <!-- /peoplepoll_list -->

            </div>  <!-- /.row -->

        </div><!-- /.col-12-->
    </div><!-- /.row -->
</div><!-- /.container -->
<!-- /후기 -->

<div class="store_view_tab">
    <ul class="nav nav-tabs">
        <li role="presentation"><a>상품안내</a></li>
        <li role="presentation"><a>상품후기</a></li>
        <li role="presentation" class="active"><a>관련상품</a></li>
        <li role="presentation"><a>이용안내</a></li>
        <li role="presentation"><a>주의사항</a></li>
    </ul>
</div>  <!-- /.store_view_tab -->

<div class="container-fluid peopleboard_view_contentwrap">
    <div class="row">
        <div class="col-xs-12 peopleboard_view_contentbody">

            <div class="row" style="width:100%; margin:0px auto;">

                <div class="peoplep_list_tab">
                    <span class="board_th" style="font-size:1.44em;">지난 경매소 물품</span>
                    <small class="table_gray">이전 경매소 물품을 확인할 수 있습니다.</small>

                    <a class="miniboard_tab_more">더보기</a>
                </div><!-- /.peoplep_list_tab -->


                <div class="col-xs-12 v-cell-4">
                    <div class="comp_basic h-cell-1-dynamic">
                        <!-- mini_mileagemall -->
                        <div class="comp_goods" ng-model="store" style="border:none; border-bottom: 1px solid #dedede;">
                            <div class="row mini_event_contentlist">

                                <a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:0%;">이전</a>
                                <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>
                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>

                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                            <span class="mini_mileagemall_price"> 5,000</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>
                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>

                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                            <span class="mini_mileagemall_price"> 5,000</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>
                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>

                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                            <span class="mini_mileagemall_price"> 5,000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /mini_mileagemall -->
                    </div>  <!-- /.comp_basic -->
                </div>  <!-- /.col-xs-12 -->
            </div>  <!-- /.row -->


            <div class="row" style="width:100%; margin:0px auto; margin-top:32px;">

                <div class="peoplep_list_tab">
                    <span class="board_th" style="font-size:1.44em;">같은 카테고리 상품</span>
                    <small class="table_gray">이 상품과 같은 카테고리에 속한 다른 상품</small>
                </div><!-- /.peoplep_list_tab -->


                <div class="col-xs-12 v-cell-4">
                    <div class="comp_basic h-cell-1-dynamic">
                        <!-- mini_mileagemall -->
                        <div class="comp_goods" ng-model="store" style="border:none; border-bottom: 1px solid #dedede;">
                            <div class="row mini_event_contentlist">

                                <a class="comp_slide_btn_w30 prev" title="이전" style="margin-left:0%;">이전</a>
                                <a class="comp_slide_btn_w30 next" title="다음">다음</a>


                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_01.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">(주)대웅제약</div>
                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">이지덤플러스 밴드 5매</div>

                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                            <span class="mini_mileagemall_price"> 5,000</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE;">
                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_02.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">쁘띠마리에</div>
                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em;  text-align:center; color: #2eaed3;">블루코어 일회용 수유패드 26매</div>

                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                            <span class="mini_mileagemall_price"> 5,000</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4 mini_event_contentcol" style="margin:12px 0;">
                                    <div class="mini_event_content" style="border:none; text-align:center;">
                                        <img class="mini_event_txt_img" src="imgs/ange/temp/mileagemall_03.jpg"  style="float:none; width:85%; max-width:100px;"/>
                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:18px; line-height:14px; text-align:center; color:#464646;">누비</div>
                                        <div class="mini_event_txt_title" style="width:100%; margin-top:8px; font-weight:600; font-size:1em; text-align:center; color: #2eaed3;">몬스터 스텐 커틀러리 세트</div>

                                        <div class="mini_event_txt_duration" style="width:100%; margin-top:8px; line-height:12px; font-size:1em; font-family: arial, san-serif; text-align:center; color:#464646;">
                                            <span class="mini_mileagemall_price"> 5,000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /mini_mileagemall -->
                    </div>  <!-- /.comp_basic -->
                </div>  <!-- /.col-xs-12 -->
            </div>  <!-- /.row -->


        </div><!-- /.col-12-->
    </div><!-- /.row -->
</div><!-- /.container -->
<!-- /관련상품 -->

<div class="store_view_tab">
    <ul class="nav nav-tabs">
        <li role="presentation"><a>상품안내</a></li>
        <li role="presentation"><a>상품후기</a></li>
        <li role="presentation"><a>관련상품</a></li>
        <li role="presentation" class="active"><a>이용안내</a></li>
        <li role="presentation"><a>주의사항</a></li>
    </ul>
</div>  <!-- /.store_view_tab -->

<div class="container-fluid peopleboard_view_contentwrap">
    <div class="row">
        <div class="col-xs-12 peopleboard_view_contentbody" style="padding:0px;">

            <div class="store_bg_auctionhowto">

                <div style="margin-top:20px; margin-bottom:40px;">
                    <div style="font-size:1.82em;">마일리지 경매소</div>
                    <div style="font-size:2em; margin-top: 10px; font-weight: 700;">진행방법</div>
                </div>

                <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                    <li>마일리지 경매소는 <span class="table_red">오전 10시부터 오후 3시까지 운영</span>되며 낙찰된 상품은 당일 발송을 원칙으로 합니다.</li>
                    <li><span class="table_red">[경매참여하기]</span>를 누르면 자동적으로 입찰가가 100원씩 올라가며(마일리지 차감안됨) 종료시간까지 마지막으로 입찰한 회원에게 낙찰됩니다.</li>
                    <li>
                        낙찰된 가격만큼 마일리지가 차감되며 제품은 회원정보의 주소로 착불 (2,500원) 발송됩니다.
                        <br />
                        ※ 알림 : 도서ㆍ산간지역은 추가요금이 발생하며, 택배사 배송정책으로 제주도 및 도서지역은 배송비를 선불로 입금해주셔야 합니다.(문자로 계좌안내)
                    </li>
                    <li><span class="table_red">[바로구매]</span>는 남은 시간에 상관없이 입찰하지 않고 바로구매가로 상품을 구매할 수 있습니다. (단, 1개월 1회만 가능)</li>
                    <li><span class="table_red">[경매참여하기]</span>는 중복으로 가능합니다. <br />(입찰금액을 높이기 위해 정당하지 않은 행위 적발 시 회원활동에 제약이 있을 수 있습니다.)</li>
                </ul>
            </div>

        </div>  <!-- /.col-12-->
    </div>  <!-- /.row -->
</div>  <!-- /.container -->
<!-- /이용안내 -->


<div class="store_view_tab">
    <ul class="nav nav-tabs">
        <li role="presentation"><a>상품안내</a></li>
        <li role="presentation"><a>상품후기</a></li>
        <li role="presentation"><a>관련상품</a></li>
        <li role="presentation"><a>이용안내</a></li>
        <li role="presentation" class="active"><a>주의사항</a></li>
    </ul>
</div>  <!-- /.store_view_tab -->

<div class="container-fluid peopleboard_view_contentwrap">
    <div class="row">
        <div class="col-xs-12 peopleboard_view_contentbody">

            <ul class="store_warning" style="font-size:0.92em; color:#464646;">

                <li>마일리지 경매소 물품으니 [월간 앙쥬] 내지 촬영으로 입고된 제품으로 촬영을 위해 개봉된 제품으로 일부 포장상태가 좋지 않을 수 있습니다.</li>
                <li>상품을 낙찰받으면 취소는 불가능하며, 받으신 제품은 교환, 마일리지 환불처리는 되지 않습니다.</li>
                <li>마일리지 경매소 경매방식 및 운영원칙은 차후 변경 될 수 있습니다.</li>

            </ul>

        </div>  <!-- /.col-12-->
    </div>  <!-- /.row -->
</div>  <!-- /.container -->
<!-- /주의사항 -->

</div>  <!-- /.sub_contents_body -->
</div>
</div>

</div> <!-- rows -->
</div><!-- container-fluid -->

<!-- 1200px 이하일 경우 표시되는 footer -->
<div class="copyright_foot">
    <br /><br />
    <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

        <hr style="margin:0 15px 0 15px;" />

        <center>
            <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
        </center>
    </nav>
</div>
<!-- /1200px 이하일 경우 표시되는 footer -->

</div>

<div class="subar sub-slide1">
    <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>
</div>

<!-- /Main Page Layout Set -->
</div>