<div ng-controller="storeauction-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                                <p>가격은 반으로 즐거움은 두배로 마일리지 경매소가 운영됩니다.</p>
                            </div>

                            <!-- 경매품목 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                                        <div class="store_auctiontime">
                                            <strong>마일리지 경매소 운영시간</strong> :
                                            <span class="table_red">AM 10:00 ~ PM 3:00</span> <span class="table_gray">/ 상품 당일 발송</span>
                                        </div>
                                    </div>
                                </div>  <!-- /.col-xs-12 -->

                                <div class="col-xs-4 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="border:1px solid #ddd;">
                                            <!--<img ng-src="/imgs/ange/temp/brandmall_01.jpg" style="width:100%;" />-->
                                            <img ng-src="item.MAIN_FILE" style="width:100%;" />
                                        </div>
                                    </div>
                                </div>  <!-- /.col-xs-4 -->

                                <div class="col-xs-8 v-cell-4" style="margin:0px;" data-ng-repeat="item in list">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:2px; 0px; padding-left:25px; margin:0px;">

                                        <div class="">
                                            <div class="table_gray" style="height:24px;">
                                                <small>
                                                    <div class="table_blue" style="float:left;">{{item.PERIOD}} 경매</div>
                                                    <!--<div style="float:right;">[상품번호 M20141023]</div>-->
                                                </small>
                                            </div>

                                            <p style="font-size:1.24em; line-height:22px; font-weight:600; word-break: keep-all;">
                                                {{item.PRODUCT_NM}}
                                            </p>

                                            <div class="store_col_info">
                                                <div class="store_list_item maininfo"><strong>소비자금액</strong><span class="table_gray" style="position:absolute; left:120px;">{{item.PRICE}} 원</span></div>
                                                <div class="store_list_item maininfo"><strong>바로구매가</strong><span class="table_gray" style="position:absolute; left:120px;">{{item.DIRECT_PRICE}} 원</span></div>
                                                <div class="store_list_item maininfo"><strong>판매사</strong><span class="table_gray" style="position:absolute; left:120px;">아이앤와이</span></div>
                                                <div class="store_list_item maininfo"><strong>홈페이지</strong><span class="table_gray" style="position:absolute; left:120px;"><a style="font-size:0.86em;" href="#">http://www.inyinternational.com</a></span></div>
                                                <div class="store_list_item maininfo"><strong>외부링크</strong>
                                                    <span class="table_gray" style="position:absolute; top:8px; left:120px; line-height:12px; word-break:break-all; width:65%;">
                                                        <a style="font-size:0.86em;" href="#">http://www.inyinternational.com/sub/sub2_3.asp</a>
                                                    </span>
                                                </div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_progress" style="position:relative; float:left; background-color:#ededed; padding:20px 10px; width:100%;">
                                                <div style="float:left;">
                                                    <strong>경매현황</strong>
                                                    <span class="table_gray" style="position:absolute; left:120px;">
                                                        현재 <strong>{{item.AUCTION_AMOUNT > 0 ? item.AUCTION_AMOUNT : '0'}}</strong> 원
                                                        <a href="#" style="margin-left:18px;"><small>입찰 : {{item.AUCTION_COUNT > 0 ? item.AUCTION_COUNT : '0'}}건</small></a>
                                                    </span>
                                                </div>
                                            </div>  <!-- /.store_col_info -->

                                            <div class="store_col_btn">
                                                <button ng-click="click_showViewPeoplePhoto(item.NO)" class="btn btn-default">상세정보</button>
                                                <button ng-click="click_auction(item.NO)" class="btn btn-info">경매참여</button>
                                                <button ng-click="click_addcart(list)" class="btn btn-warning">바로구매</button>
                                            </div>  <!-- /.store_col_info -->

                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.webzine_moms_list -->

                        </div><!-- /.sub_contents_wrap -->

                        <div class="row" style="width:100%; margin:0px auto; line-height:32px; ">

                            <div class="peoplep_list_tab">
                                <span class="board_th" style="font-size:1.44em;">경매소 이용 안내</span>
                            </div><!-- /.peoplep_list_tab -->
                        </div>

                        <div class="container-fluid peopleboard_view_contentwrap" style="margin-bottom:40px;">
                            <div class="row">
                                <div class="col-xs-12 peopleboard_view_contentbody" style="padding:0px;">

                                    <div class="store_bg_auctionhowto">

                                        <div style="margin-top:20px; margin-bottom:40px;">
                                            <div style="font-size:1.82em;">마일리지 경매소</div>
                                            <div style="font-size:2em; margin-top: 10px; font-weight: 700;">진행방법</div>
                                        </div>

                                        <ul class="store_warning" style="font-size:0.92em; color:#464646;">
                                            <li>마일리지 경매소는 <span class="table_red">오전 10시부터 오후 3시까지 운영</span>되며 낙찰된 상품은 당일 발송을 원칙으로 합니다.</li>
                                            <li><span class="table_red">[경매참여]</span>를 누르면 자동적으로 입찰가가 100원씩 올라가며(마일리지 차감안됨) 종료시간까지 마지막으로 입찰한 회원에게 낙찰됩니다.</li>
                                            <li>
                                                낙찰된 가격만큼 마일리지가 차감되며 제품은 회원정보의 주소로 착불 (2,500원) 발송됩니다.
                                                <br />
                                                ※ 알림 : 도서ㆍ산간지역은 추가요금이 발생하며, 택배사 배송정책으로 제주도 및 도서지역은 배송비를 선불로 입금해주셔야 합니다.(문자로 계좌안내)
                                            </li>
                                            <li><span class="table_red">[바로구매]</span>는 남은 시간에 상관없이 입찰하지 않고 바로구매가로 상품을 구매할 수 있습니다. (단, 1개월 1회만 가능)</li>
                                            <li><span class="table_red">[경매참여]</span>는 중복으로 가능합니다. <br />(입찰금액을 높이기 위해 정당하지 않은 행위 적발 시 회원활동에 제약이 있을 수 있습니다.)</li>
                                        </ul>
                                    </div>

                                </div>  <!-- /.col-12-->
                            </div>  <!-- /.row -->
                        </div>  <!-- /.container -->


                        <div class="row" style="width:100%; margin:0px auto; line-height:32px; ">

                            <div class="peoplep_list_tab">
                                <span class="board_th" style="font-size:1.44em;">지난 경매소 물품</span>
                                <small class="table_gray">이전 경매소 물품을 확인할 수 있습니다.</small>
                            </div><!-- /.peoplep_list_tab -->
                        </div>

                        <div class="container-fluid sub_contents_search" style="margin-top:25px;">
                            <div class="row">
                                <div class="col-xs-12" style="padding:0">

                                    <div class="btn-group" style="float:left;">
                                        <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>
                                    </div>

                                        <!--<div class="btn-group" style="float:left;">-->
                                        <!--<select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>-->
                                        <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->

                                    <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                        <input type="text" ng-model="search.KEYWORD" class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                                        <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                        <button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>

                                    </div>
                                </div>  <!-- /.btn-group -->

                                </div>  <!-- /.col-xs-12-->

                                <div class="col-xs-12 people_searchresult" style="display:block;">	<!-- 검색 시에만 표시됩니다. -->
                                    {{TOTAL_COUNT}}개의 게시물 중 <span class="table_red">{{SEARCH_TOTAL_COUNT == null ? 0 : SEARCH_TOTAL_COUNT}}</span> 개가 검색되었습니다.
                                </div><!-- /.people_searchresult -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->

                        <div class="sub_contents_body">
                            <!-- peoplephoto_list -->
                            <div class="container-fluid peoplephoto_list_wrap">
                                <div class="row">
                                    <div class="col-xs-12 v-cell-4">
                                        <div class="comp_basic h-cell-dynamic">

                                            <!-- 경매소 리스트 타입 -->
                                            <div class="row webzine_moms_list" style="display: block; margin-top:0px;" ng-repeat='item in prevlist'>
                                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">
                                                        <div class="item" style="position:absolute;">
                                                            <!-- img ng-src="{{item.MAIN_FILE}}" style="height: 155px;" class="webzine_moms_featureimg" -->
                                                            <img ng-src="{{item.MAIN_FILE}}" class="webzine_moms_featureimg" style="height: 155px; background-image: url(/imgs/ange/temp/temp_recipe_02.jpg);">
                                                        </div>
                                                        <div class="webzine_list_wrap">
                                                            <div class="webzine_list_title">
                                                                <!-- {{item.SUBJECT}} -->
                                                                {{item.PRODUCT_NM}}

                                                                <div class="webzine_list_bottomwrap">
                                                                    <div class="webzine_list_item"><strong>경매일자</strong><span class="table_gray" style="margin-left:8px;">2015-11-15</span></div>
                                                                    <div class="webzine_list_item"><strong>낙찰유형</strong><span class="table_gray" style="margin-left:8px;">마일리지</span></div> <!-- /마일리지/바로구매 -->
                                                                    <div class="webzine_list_item"><strong>낙차가격</strong><span class="table_gray" style="margin-left:8px;">{{item.PRICE}} P</span></div>
                                                                </div>

                                                                <div class="webzine_list_btnwrap">
                                                                    <button class="webzine_list_btn default" title="상세보기" ng-click="click_showViewPeoplePhoto(item.NO)">상세보기</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>  <!-- comp_basic -->
                                                </div>  <!-- col-xs-8 -->
                                            </div>  <!-- /.row -->

                                            <div class="row webzine_moms_list" style="display: block; margin-top:0px;" ng-show="prevlist == '' || prevlist == null">
                                                  <p style="text-align: center;">조회 데이터가 없습니다</p>
                                            </div>

                                        </div>  <!-- /.comp_basic -->
                                    </div>  <!-- /.v-cell-4 -->
                                </div>  <!-- /.row -->
                            </div>  <!-- /.peoplephoto_list_wrap -->




                        </div>  <!-- /.sub_contents_body -->





                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
    <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>
    </div>

    <!-- /Main Page Layout Set -->
</div>