<!--<div id="veil" ng-show="isLoading"></div>-->
<div id="feedLoading" ng-show="isLoading">Loading...</div>

<!-- Contents Include -->
<!-- 목록 -->
<table class="table table-striped table-condensed" >
    <thead>
    <tr>
        <th>순번</th>
        <th>프로젝트 주제</th>
        <th>주제</th>
        <th>등록자</th>
        <th>마감일</th>
        <th>진행 상태</th>
        <th>버튼</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="content in contents">
        <td>{{ content.NO }}</td>
        <td>{{ content.PROJECT_NM }}</a></td>
        <td><a ng-click="viewListContent(content.NO)">{{ content.SUBJECT }}</a></td>
        <td>{{ content.REG_NM }}</td>
        <td>{{ content.CLOSE_DT }}</td>
        <td>{{ content.PHASE == '0' ? '태스크등록' : content.PHASE == '10' ? '원고작성' : content.PHASE == '11' ? '원고승인대기' : content.PHASE == '12' ? '원고승인' : content.PHASE == '13' ? '원고반려' : '편집승인' }}</td>
        <td><a ng-click="editListContent($index)">등록</a>&nbsp;&nbsp;<a ng-click="commitListContent($index)">완료</a></td>
    </tr>
    </tbody>
</table>

<!-- 페이징 -->
<pagination item-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true"></pagination>

<accordion close-others="oneAtATime">
    <accordion-group is-open="status.open" ng-repeat="task in tasks">
        <accordion-heading>
            {{ task.PROJECT_NM }} &nbsp; {{ task.SUBJECT }} &nbsp; {{ task.EDITOR }} &nbsp; {{ task.CLOSE_YMD }} 마감 &nbsp; {{ task.REG_DT }} 등록
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="col-md-12">
            <div lass="row" class="form-horizontal">
                <div class= "form-group">
                    <label class= "col-md-2">담당자</label>
                    <div class="col-md-4">
                        {{ task.REG_NM }}
                    </div>
                </div>
                <div class= "form-group">
                    <label class= "col-md-2">생성일</label>
                    <div class="col-md-4">
                        {{ task.REG_DT }}
                    </div>
                </div>
                <div class= "form-group">
                    <label class= "col-md-2">카테고리</label>
                    <!--<pre>{{task.CATEGORY|json}}</pre>-->
                    <div class="col-md-2 btn-group" ng-repeat="category in task.CATEGORY">
                        <button type="button" ng-click="removeCategory($index)" class="btn btn-default">{{category.CATEGORY_NM}}</button>
                    </div>
                </div>
                <div class= "form-group">
                    <label class= "col-md-2">태그</label>
                    <div class="col-md-4">
                        {{ task.TAG }}
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary start" ng-click="listGetHistory(task.NO);">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>History</span>
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary start" ng-click="listEditContent($index);">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>원고 편집</span>
                    </button>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>

<!-- ////Contents Include -->
