<!--<div id="veil" ng-show="isLoading"></div>-->
<div id="feedLoading" ng-show="isLoading">Loading...</div>

<!-- Contents Include -->
<div class="col-md-12">

    <div ng-model="content" lass="row">
        <form role="form" name="editForm" class="form-horizontal">
            <div class= "form-group" ng-class="{error: editForm.subject.$invalid}">
                <label class= "col-md-2">프로젝트 주제</label>
                <div class="col-md-4">
                    <input name="project_nm" ng-model="content.PROJECT_NM" type= "text" class= "form-control" placeholder="프로젝트 주제" ng-readonly="true" required/>
                </div>
            </div>
            <div class= "form-group" ng-class="{error: editForm.subject.$invalid}">
                <label class= "col-md-2">태스크 주제</label>
                <div class="col-md-4">
                    <input name="subject" ng-model="content.SUBJECT" type= "text" class= "form-control" placeholder="태스크 주제" ng-readonly="true" required/>
                    <span ng-show="editForm.subject.$dirty && editForm.subject.$invalid" class="help-inline">Subject Required</span>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">등록자 ID</label>
                <div class="col-md-4">
                    <input ng-model="content.REG_UID" type= "text" class= "form-control" placeholder= "등록자 ID"/>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">등록자명</label>
                <div class="col-md-4">
                    <input ng-model="content.REG_NM" type= "text" class= "form-control" placeholder= "등록자 명"/>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">마감일</label>
                <div class="col-md-4">
                    <input ng-model="content.CLOSE_DT" type="text" class="form-control" placeholder= "마감일" ng-readonly="true" />
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">본문</label>
                <div class= "col-md-12">
                    <textarea ng-model="content.BODY" ckeditor="editorOptions" ></textarea>
                </div>
            </div>
        </form>

        <div class= "form-group">
            <label class= "col-md-2">첨부파일 </label>
            <div ng-include=" 'partials/cms/file.html' "></div>
        </div>

        <!-- 하단 버튼 -->
        <div class= "form-group">
            <div class="col-md-4">
                <button class="btn btn-success fileinput-button" ng-click="getContents();" >
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>목록</span>
                </button>
                <button type="button" class="btn btn-primary start" ng-click="saveContent();" ng-disabled="editForm.$invalid">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>저장</span>
                </button>
                <button type="button" class="btn btn-primary start" ng-click="test();">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>테스트</span>
                </button>
            </div>
        </div>

    </div>

</div>
<!-- ////Contents Include -->

