<!-- Template Top : 상단 공통 영역입니다. -->

<div class="body_wrap">

    <div ng-include=" '/partials/cms/gnb.html' "></div>

    <div class="left_wrap">

        <!-- // Local Nav -->
        <div ng-include=" '/partials/cms/lnb.html' "></div>
        <!--<div ui-view="lnbView"></div>-->
        <!-- // Local Nav -->

    </div>

    <div class="container-fluid" style="margin:0 40px 0 25px; padding:0; min-width:960px; max-width: 1600px;">

        <div class="container-fluid col-xs-10 col-xs-offset-2" style="margin:0; margin-left:160px; padding:0; min-width:760px; border-right:1px solid #ddd; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); box-shadow: 0 6px 12px rgba(0, 0, 0, .175);">

            <div class="container-fluid" style="margin-top:0px; min-width: 760px; display:block;">

                <!-- // Locator -->
                <div ng-include=" '/partials/cms/locater.html' "></div>
                <!--<div ui-view="locaterView"></div>-->
                <!-- // Locator -->


                <div class="panel panel-master contentpannel">

                    <div class="contentpannel-heading">
                        <h4 class="list-group-item-heading">{{ pageTitle }}&nbsp;&nbsp; |&nbsp;&nbsp; <span style="font-size:0.64em; color:#333;">{{ pageDescription }}</span></h4>
                    </div>

                    <div class="contentpannel-body">

                        <!-- //// Template Top : 상단 공통 영역입니다. -->
                        <!-- 콘텐츠 영역입니다. -->
                        <!--<div ng-include=" '/partials/cms/project_list.html' " ng-controller="project_list"></div>-->
                        <cms-layout menu="{{layoutMenu}}" type="{{layoutType}}"></cms-layout>
                        <!--<cms-body menu="task" type="list"></cms-body>-->
                        <!--<div ui-view="contentView"></div>-->
                        <!-- //// 콘텐츠 영역입니다. -->

                        <div class="panel panel-default" style="display:inline-block; width:100%;">
                            <div class="panel-body" style="font-size:0.84em; color:#999999;">
                                Description
                            </div>
                            <div class="panel-body" style="font-size:0.84em;">
                                <!-- 페이지 설명 및 툴팁을 입력하세요. -->
                                <span ng-bind-html="tailDescription"></span>

                                <!--To edit settings, press <kbd><kbd>ctrl</kbd> {{'+' + '!'}} <kbd>s</kbd></kbd>-->
                                <!-- ///페이지 설명 및 툴팁을 입력하세요. -->
                            </div>
                        </div>

                        <!-- Template Bottom : 하단 공통 영역입니다. -->

                    </div>

                </div>

                <div ng-include=" '/partials/cms/footer.html' "></div>
            </div>

        </div>

    </div>

</div>
<!-- // Template Bottom -->