<div class="row" style="margin:0;">
    <cms-main></cms-main>
</div>

<div class="row" style="margin:0; margin-top:10px;">

    <div class="list-group" style="margin-bottom: 0;">

        <li class="list-group-item list-group-item-labeling-gray">
            태스크 목록
            <span class="btn custom-btn-more"> <span ng-click="click_showTaskList();" class="glyphicon glyphicon-plus"></span> </span>
        </li>
    </div>
    <div ng-show="isLoading" style="position: absolute; margin-top: 10px; left: 48%; z-index: 1000" class="ai-circled ai-indicator ai-grey-spin"></div>
    <div ng-show="tasks == ''" class="list-group" style="height: 50px; margin-top: 20px; text-align: center; font-weight: bold;">
        조회 데이터가 없습니다.
    </div>

    <!-- Task list -->
    <accordion close-others="oneAtATime" style="margin: 0;">
        <accordion-group is-open="status.open" style="border-radius:10px;" ng-repeat="item in list">

            <!-- Task Head -->
            <!-- accordion-heading style="clear:both; padding:0;" -->
            <accordion-heading style="border-radius:4px;">
                <div class="row" style="height:100%;">
                    <div class="col-md-12" style="position:relative; padding:5px; margin:0;  cursor:pointer;">
                        <a data-toggle="collapse" style="color:#333">
                            <div class="panel-title" style="height:100%; font-size:0.68em; line-height:18px;">
                                <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 task-col-series" style="height:100%; text-align:center; ">
                                    <span style="font-size:1.16em;">월간앙쥬</span><br />
                                    <span>[{{ item.PROJECT_NM }}]</span>
                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-6 col-lg-5 task-col-title" style="height:100%; display:inline; word-break: break-all; word-wrap: break-word; padding:8px 0;font-size:1.4em;">
                                    {{ item.SUBJECT }}
                                </div>
                                <div class="col-lg-1 task-col-manager" style="height:100%; margin-top:8px; text-align:left;">
                                    {{ item.REG_NM }}
                                </div>
                                <div class="col-md-2 col-sm-3 col-lg-2 task-col-date" style="height:100%; text-align:center; vertical-align:middle;">
                                    <span style="color:#868686;">{{item.REG_DT}} 등록</span><br />
                                    <span style="color:#DE4612; font-weight:bold;">{{item.CLOSE_YMD}} 마감</span>
                                </div>
                                <div class="col-md-2 col-lg-2 task-col-step" style="height:100%;  word-break: break-all; word-wrap: break-word; padding:8px 0; text-align:center;">
                                    <span class="badge">
                                        {{ item.PHASE == '0' ? '태스크등록' : item.PHASE == '10' ? '원고작성' : item.PHASE == '11' ? '원고승인대기' : item.PHASE == '12' ? '원고반려' : item.PHASE == '13' ? '원고승인완료' : item.PHASE == '20' ? '편집작성' : item.PHASE == '21' ? '편집승인대기' : item.PHASE == '22' ? '편집반려' : item.PHASE == '23' ? '편집승인완료' : item.PHASE == '30' ? '출판대기' : '완료' }}
                                    </span>
                                </div>
                            </div>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}" style="position:absolute; top: 15px; right:10px;"></i>
                        </a>
                    </div>
                </div>
            </accordion-heading>
            <!-- //Task Head -->

            <div class="col-md-12" style="position:relative;">
                <div class="row" class="form-horizontal" style="float:left; margin:0px auto; width:100%;">

                    <div class="col-xs-6 form-group form_basic">
                        <label class="form_label">담당자</label>
                        <div class="form_valueText">{{ item.REG_NM }}</div>
                    </div>
                    <div class="col-xs-6 form-group form_basic">
                        <label class="form_label">생성일</label>
                        <div class="form_valueText">{{ item.REG_DT }}</div>
                    </div>

                    <div class="col-xs-6 form-group form_basic">
                        <label class="form_label">카테고리</label>
                        <!--<pre>{{item.CATEGORY|json}}</pre>-->
                        <div class="balls_group">
                            <div class="bnt_ball_group" ng-repeat="category in item.CATEGORY">
                                <button type="button" class="btn btn-default cate_ball_normal">
                                    {{ category.CATEGORY_NM }}
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 form-group form_basic">
                        <label class="form_label">태그</label>
                        <div class="balls_group">
                            <div class="btn-group bnt_ball_group" ng-repeat="tag in item.TAG | split:','">
                                <button type="button" class="btn btn-default tag_ball_normal">
                                    {{ tag }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group form_basic">
                        <label class="form_label">설명</label>
                        <div class="form_valueText">{{ item.NOTE }}</div>
                    </div>

                    <div class="raw" style="float:left; width:100%; padding-top:10px; border-top:1px solid #DEDEDE;">
                        <div class="col-xs-6 form-group form_basic">
                            <button type="button" class="btn btn-info btn-xs start" ng-click="click_showGetHistory(item.NO);">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>History</span>
                            </button>
                        </div>
                        <div class="col-xs-6 form-group form_basic" style="text-align:right;">
                            <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showTaskView(item.NO);" ng-show="item.PHASE == '0'">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <span>태스크 정보</span>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showViewContent(item.NO);" ng-show="item.PHASE != '0'">
                                <i class="glyphicon glyphicon-book"></i>
                                <span>원고 조회</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </accordion-group>
    </accordion>
    <!-- //Task list -->
</div>
<!-- //// 콘텐츠 영역입니다. -->
