<!--<div class="container">-->
<div class="col-md-12">
    <form id="fileupload" action="/app/serverscript/upload/" method="POST" enctype="multipart/form-data" ng-controller="file" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
        <input type="hidden" name="newDir" value="{{newDir}}">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="col-xs-12 row fileupload-buttonbar" style="margin:0px auto;">
            <div class="files" style="text-align:center;">

                <!-- div class="raw" style="float:left; width:100%; padding-top:10px; border-top:1px solid #DEDEDE;">
                    <div class="col-xs-6 form-group form_basic">
                        <button type="button" class="btn btn-info btn-xs start" ng-click="click_showGetHistory(item.NO);">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span>History</span>
                        </button>
                    </div>

                    <div class="col-xs-6 form-group form_basic" style="text-align:right;">
                        <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showViewTask(item.NO);" ng-show="isTask">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            <span>태스크 정보</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showEditTask(item);" ng-show="isTask && isEdit">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>태스크 편집</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showViewContent(item.NO);" ng-show="!isTask">
                            <i class="glyphicon glyphicon-book"></i>
                            <span>원고 조회</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showEditContent(item);" ng-show="!isTask && isEdit">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span>원고 편집</span>
                        </button>
                    </div>
                </div -->


                <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success btn-lg fileinput-button" ng-class="{disabled: disabled}">
                        <i class="glyphicon glyphicon-picture"></i>
                        <span>탐색기에서 파일열기</span>
                        <input type="file" name="files[]" multiple ng-disabled="disabled">
                    </span>
                <button type="button" class="btn btn-primary btn-xs start" data-ng-click="submit()" ng-show="false">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>전체 등록</span>
                </button>
                <button type="button" class="btn btn-warning btn-xs cancel" data-ng-click="cancel()" ng-show="false">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>전체 취소</span>
                </button>

                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-xs-12 fade" data-ng-class="{in: active()}" style="margin-top:0px;">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                <td data-ng-switch data-on="!!file.thumbnailUrl">
                    <div class="preview" data-ng-switch-when="true">
                        <!--<a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>-->
                        <img src="{{file.thumbnailUrl}}" alt="">
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
                            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                            </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </td>
                <td>
                    <p class="size">{{file.size | formatFileSize}}</p>
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                <td align="right" width="60">
                    <button type="button" class="btn btn-primary btn-xs start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>등록</span>
                    </button>
                    <button type="button" class="btn btn-warning btn-xs cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>취소</span>
                    </button>
                    <button data-ng-controller="file_destroy" type="button" class="btn btn-danger btn-xs destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>삭제</span>
                    </button>
                    <button data-ng-controller="file_editor" type="button" class="btn btn-primary btn-xs start" data-ng-click="file.$editor()" data-ng-hide="!file.$destroy">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>에디터 추가</span>
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <br>
</div>

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>