<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container" style="font-size:0.84em; color:#AAAAAA;">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<p class="navbar-text" >Copyright &copy; MOOK HOUSE Co., Ltd.</p>
		</div>


		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</span></a></li>
				<li><a href="#">Link</span></a></li>
				<li><a href="#">Link</span></a></li>
			</ul>
		</div>

	</div>
</nav>