<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container" style="font-size:0.84em; color:#AAAAAA;">

		<div class="navbar-header" style="height: 40px;">
			<p class="navbar-text">Copyright &copy; MOOK HOUSE Co., Ltd.</p>
		</div>


		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">ANGE Home</span></a></li>
				<li><a href="#">Magazine ANGE</span></a></li>
				<li><a href="#">ANGE Admin</span></a></li>
			</ul>
		</div>


	</div>
</nav>