<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: #EDEDED; height:30px;">
	<div class="container" style="font-size:0.84em;">

		<div class="navbar-header" style="margin:20px 0;">
			<p class="navbar-text copyright" style="color: #AAA;">Copyright &copy; MOOK HOUSE Co., Ltd.</p>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="famlylink" href="#" style="padding-top:5px; font-size:0.86em;">ANGE Home</span></a></li>
				<li><a class="famlylink" href="#" style="padding-top:5px; font-size:0.86em;">Magazine ANGE</span></a></li>
				<li><a class="famlylink" href="#" style="padding-top:5px; font-size:0.86em;">ANGE Admin</span></a></li>
			</ul>
		</div>

	</div>
</nav>