<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="gnb">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand navbar-brand-logo" href="#" style="margin-left:5px; margin-right:20px;">
                <!-- img alt="ANGE CMS" title="ANGE CMS" src="./imgs/gnb_brand_01_brandlogo.png" / -->
            </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul ng-repeat="item in list" ng-class="item.POSITION  == 'LEFT' ? 'nav navbar-nav' : 'nav navbar-nav navbar-right'">
                <!-- li class="active" -->
                <li class="item.DROP_FL == 'Y' : dropdown">
                    <a ng-if="item.DROP_FL == 'N'" ng-href="#{{item.CHANNEL_URL}}" style="padding-top:20px;">
                        <span class="smalltag">{{item.TAG}}</span>
                        <span ng-if="item.TAG == 'dashboard'" class="glyphicon glyphicon-home"></span> {{item.CHANNEL_NM}}
                    </a>

                    <a ng-if="item.DROP_FL == 'Y' && item.TAG != 'setting'" href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:20px;">
                        <span class="smalltag">{{item.TAG}}</span>
                        {{item.CHANNEL_NM}} <span class="caret"></span>
                    </a>

                    <a ng-if="item.DROP_FL == 'Y' && item.TAG == 'setting'" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog" style="margin-right:20px;"></span>
                    </a>

                    <ul ng-if="item.DROP_FL == 'Y'" class="dropdown-menu" role="menu">
                        <div ng-repeat="sub_item in item.MENU_INFO">
                            <li ng-if="sub_item.MENU_URL != '/logout'"><a ng-href="#{{sub_item.MENU_URL}}">{{sub_item.MENU_NM}}</a></li>
                            <li ng-if="sub_item.MENU_URL == '/logout'"><a ng-click="logout()">{{sub_item.MENU_NM}}</a></li>
                            <li ng-if="sub_item.DIVIDER_FL == 'Y'" class="divider"></li>
                        </div>
                    </ul>
                </li>

				<!--<li>-->
                    <!--<a href="#/dashboard" style="padding-top:20px;">-->
                        <!--<span class="smalltag">dashboard</span>-->
                        <!--<span class="glyphicon glyphicon-home"></span> 대시보드-->
                    <!--</a>-->
                <!--</li>-->

				<!--<li class="dropdown">-->
					<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:20px;">-->
                        <!--<span class="smalltag">contents</span>-->
                        <!--콘텐츠 관리<span class="caret"></span>-->
                    <!--</a>-->

					<!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/project/list">프로젝트 관리</a></li>-->
                        <!--<li><a href="#/task/list">태스크 관리</a></li>-->
						<!--<li class="divider"></li>-->
						<!--<li><a href="#/content/article/list">원고 관리</a></li>-->
						<!--<li><a href="#/content/article_confirm/list">원고 승인</a></li>-->
						<!--<li class="divider"></li>-->
						<!--<li><a href="#/content/edit/list">기사 편집</a></li>-->
						<!--<li><a href="#/content/edit_confirm/list">편집 승인</a></li>-->
						<!--<li class="divider"></li>-->
						<!--<li><a href="#/publish/list">출판관리</a></li>-->
					<!--</ul>-->
				<!--</li>-->

				<!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:20px;">-->
                        <!--<span class="smalltag">media</span>-->
                        <!--미디어 관리<span class="caret"></span>-->
                    <!--</a>-->

                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#/pics/list?_method=GET">사진</a></li>-->
                        <!--<li><a href="#/movies/list?_method=GET">동영상</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

				<!--<li>-->
                    <!--<a href="#/webboard/list" style="padding-top:20px;">-->
                        <!--<span class="smalltag">board</span>-->
                        <!--게시판-->
                    <!--</a>-->
                <!--</li>-->
			</ul>

			<!-- form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form -->
			
			<!--<ul class="nav navbar-nav navbar-right">-->

				<!--<li class="dropdown">-->
					<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:20px;">-->
                        <!--<span class="smalltag">admin</span>-->
                        <!--관리자<span class="caret"></span>-->
                    <!--</a>-->

					<!--<ul class="dropdown-menu" role="menu">						-->
						<!--<li><a href="#/user">사용자 관리</a></li>-->
						<!--<li><a href="#/permission">권한 관리</a></li>-->
						<!--<li class="divider"></li>-->
						<!--<li><a href="#/category">카테고리</a></li>-->
                        <!--<li><a href="#/series">시리즈</a></li>-->
                        <!--<li><a href="#/section">섹션</a></li>-->
                        <!--<li><a href="#/tags">태그</a></li>-->
						<!--<li class="divider"></li>-->
						<!--<li><a href="#/system">시스템 관리</a></li>-->
					<!--</ul>-->
				<!--</li>-->

				<!--<li class="dropdown">-->
					<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="glyphicon glyphicon-cog" style="margin-right:20px;"></span>-->
                    <!--</a>-->
					<!--<ul class="dropdown-menu" role="menu">-->
					<!--&lt;!&ndash;<li><a href="#/account">내계정관리</a></li>&ndash;&gt;-->
					<!--<li><a href="#/contact">주소록</a></li>-->
					<!--<li><a href="#/download">매뉴얼</a></li>-->
					<!--<li class="divider"></li>-->
					<!--<li><a ng-click="logout()">로그아웃</a></li>-->
					<!--</ul>-->
				<!--</li>-->
			<!--</ul>-->

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
