<div class="btn-group-vertical col-xs-12 col-sm-12 col-md-2" style="margin-bottom:10px;">

    <!-- 좌측 메뉴를 생성한다. -->
    <div class="btn-group" ng-repeat="menuInfo in menuInfos">
        <button type="button" ng-click="selectMenu(menuInfo)" class="btn btn-default">{{menuInfo.name}}</button>
    </div>

    <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
        <!--Menu #5-->
        <!--<span class="caret"></span>-->
        <!--</button>-->

        <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li><a href="#">Sub #1</a></li>-->
        <!--<li><a href="#">Sub #2</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>

