	<div class="btn-group-vertical col-xs-12 col-sm-12 col-md-2" style="margin-bottom:10px;">

		<button ng-repeat="menuInfo in menuInfos" type="button" ng-src="{{menuInfo.url}}" class="btn btn-default">{{menuInfo.localmenu}}</button>



		<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Menu #5
		<span class="caret"></span>
		</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Menu #5
            <span class="caret"></span>
        </button>
		<ul class="dropdown-menu" role="menu">
		<li><a href="#">Sub #1</a></li>
		<li><a href="#">Sub #2</a></li>
		</ul>
		</div>
	</div>

