<!-- Contents Include -->
<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th style="min-width: 20px;">No</th>
        <th style="min-width: 150px;">Subject</th>
        <th style="width:80px;">User ID</th>
        <th style="width:150px;">Reg Date</th>
        <th style="width:80px;">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="board in boards">
        <td>{{ board.NO }}</td>
        <td><a ng-click="viewBoard(board.NO)">{{ board.SUBJECT }}</a></td>
        <td>{{ board.REG_UID }}</td>
        <td>{{ board.REG_DT }}</td>
        <td><a ng-click="deleteBoard($index)">Delete</a></td>
    </tr>
    </tbody>
</table>
