<div>
    <div class="col-xs-6" style="padding:0px 2px;">
        <div class="list-group" style="border: none;">

            <div ng-show="isLoading" style="position: absolute;top: 55px;left: 45%; z-index: 1000" class="ai-circled ai-indicator ai-grey-spin"></div>

            <li class="{{portletCss}}" style="background: #333; border-color: #333">
                {{ portletTitle }}
                <span class="btn custom-btn-more" ng-click="click_showList();" title="더보기"> <span  class="glyphicon glyphicon-plus"></span> MORE </span>
            </li>

            <a ng-click="click_showView(item.NO)" class="list-group-item list-group-item-green" ng-repeat="item in list" style="cursor:pointer; margin:0; border: none; border-bottom:1px dotted #888; ">
                {{ item.SUBJECT | string_limit:30}}
                <span class="list-group-item-right" ng-show="url != 'project'">{{ item.REG_DT }}</span>
                <span class="list-group-item-right" ng-show="url == 'project'">{{ item.PROJECT_ST == '0' ? '준비' : item.PROJECT_ST == '1' ? '진행' : item.PROJECT_ST == '2' ? '출판대기' : '완료' }}</span>
            </a>
            <div ng-show="list == ''" style="border:none;text-align: center; border-bottom:1px dotted #888; height:190px; padding-top:80px;">조회 데이터가 없습니다.<span class="list-group-item-right"></span></div>
        </div>
    </div>
</div>