<div ng-include=" 'partials/cms/gnb.html' "></div>

<div class="container">

    <!-- // Local Nav -->
    <div ui-view="lnbView"></div>
    <!-- // Local Nav -->

	<div class="btn-group-vertical col-xs-12 col-sm-12 col-md-10">
		<!-- // Locator -->
        <div ui-view="locaterView"></div>
		<!-- // Locator -->

		<div class="panel panel-primary">

			<div class="panel-heading">
				<h4 class="list-group-item-heading">{{pageTitle}}</h4>
				<span style="color:#EDEDED; font-size:0.84em;">{{pageDescription}}</span>
			</div>

			<div class="panel-body">
			<br />

                <project-list ng-show="method == 'GET' && !isId"></project-list>
                <project-edit ng-show="method != 'GET'"></project-edit>
                <project-view ng-show="method == 'GET' && isId"></project-view>

                <!--<div ng-bind-html="renderHtml(test)"></div>-->
                <!--<div project-list="test"></div>-->
			<br /><br />
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body" style="font-size:0.84em; color:#999999;">
			Description
			</div>
			<div class="panel-body" style="font-size:0.84em;">
                <div ng-bind-html-unsafe="tailDescription"></div>
			</div>
		</div>

	</div>

</div>

<div ng-include=" 'partials/cms/footer.html' "></div>
