<div class="panel panel-primary">
    <div class="panel-body" ng-model="search" lass="row">

        <form role="form" name="list_form" class="form-horizontal">
            <div class="col-md-9">
                <div class= "form-group">
                    <label class= "col-md-2"> 연도 </label>
                    <div class="col-md-3">
                        <select ng-model="search.YEAR" ng-options="v for v in years" class= "form-control" placeholder="등록년">
                            <option name="" value=""> - 연도</option>
                        </select>
                    </div>
                </div>
                <div class= "form-group">
                    <label class= "col-md-2">검색</label>
                    <div class= "col-md-3">
                        <select ng-model="search.ORDER" ng-options="order.name for order in order" class= "form-control" placeholder="검색선택"></select>
                    </div>
                    <div class="col-md-6">
                        <input ng-model="search.KEYWORD" type= "text" class= "form-control" placeholder= "검색어"/>
                    </div>
                </div>
            </div>
            <div class="col-md-pull-2">
                <div class= "navbar-header" >
                    <button class="btn btn-primary start" ng-click="click_searchProject();" ng-disabled="list_form.$invalid">
                        <i class="glyphicon glyphicon-search"></i>
                        <span>검색</span>
                    </button>
                    <button class="btn btn-success fileinput-button" data-ng-click="click_createNewProject()">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>등록</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<!--
<div>
    <div ng-activity-indicator="CircledWhite"></div>
    <div ng-show="!AILoading" class="name">CircledWhite</div>
</div>
-->

<!--<div id="veil" ng-show="isLoading"></div>-->
<div id="feedLoading" ng-show="isLoading">Loading...</div>

<!-- Contents Include -->
<!-- 목록 -->
<table class="table table-striped table-condensed" >
    <thead>
    <tr>
        <th>순번</th>
        <th>프로젝트명</th>
        <th>개설일</th>
        <th>상태</th>
        <th>기능</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list">
        <td>{{ item.NO }}</td>
        <td>{{ item.SERIES_NM + '[' + item.SUBJECT + ']' }}</td>
        <!--<td><a ng-click="viewListProject(project.NO)">{{ project.SUBJECT }}</a></td>-->
        <td>{{ item.REG_DT }}</td>
        <td>{{ item.PROJECT_ST == '0' ? '준비' : item.PROJECT_ST == '1' ? '진행' : item.PROJECT_ST == '2' ? '출판대기' : '완료' }}</td>
        <td>
            <a ng-click="click_showViewProject(item.NO)">조회</a>
            <a ng-click="click_showEditProject(item)">수정</a>
            <a ng-click="click_deleteProject(item)">삭제</a>
        </td>
    </tr>
    </tbody>
</table>

<!-- 페이징 -->
<pagination item-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true"></pagination>
<!-- ////Contents Include -->
