<div class="panel panel-primary">
    <div class="panel-body" ng-model="search" lass="row">

        <form role="form" name="list_form" class="form-horizontal">
            <div class="col-md-9">
                <div class= "form-group">
                    <label class= "col-md-2"> 연도 </label>
                    <div class="col-md-3">
                        <select ng-model="search.YEAR" ng-options="v for v in years" class= "form-control" placeholder="등록년">
                            <option name="" value=""> - 연도</option>
                        </select>
                    </div>
                </div>
                <div class= "form-group">
                    <label class= "col-md-2">검색</label>
                    <div class= "col-md-3">
                        <select ng-model="search.ORDER" ng-options="order.name for order in order" class= "form-control" placeholder="검색선택">
                            <option name="" value=""> - 조건</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input ng-model="search.KEYWORD" type= "text" class= "form-control" placeholder= "검색어"/>
                    </div>
                </div>
            </div>
            <div class="col-md-pull-2">
                <div class= "navbar-header" >
                    <button class="btn btn-primary start" ng-click="click_searchProject();" ng-disabled="list_form.$invalid">
                        <i class="glyphicon glyphicon-search"></i>
                        <span>검색</span>
                    </button>
                    <button class="btn btn-success fileinput-button" data-ng-click="click_createNewProject()">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>등록</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<!--<div id="feedLoading" ng-show="isLoading">Loading...</div>-->
<div ng-show="isLoading" style="position: absolute; margin-top: 40px; left: 48%; z-index: 1000" class="ai-circled ai-indicator ai-grey-spin"></div>

<!-- Contents Include -->
<div>
    <!-- 목록 -->
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="item in $data">
            <td data-title="'순번'">
                {{item.NO}}
            </td>
            <td data-title="'프로젝트명'" sortable="'SUBJECT'">
                {{ item.SERIES_NM + '[' + item.SUBJECT + ']' }}
            </td>
            <td data-title="'개설일'" sortable="'REG_DT'">
                {{ item.REG_DT }}
            </td>
            <td data-title="'상태'" sortable="'PROJECT_ST'">
                {{ item.PROJECT_ST == '0' ? '준비' : item.PROJECT_ST == '1' ? '진행' : item.PROJECT_ST == '2' ? '출판대기' : '완료' }}
            </td>
            <td data-title="'기능'">
                <a ng-click="click_showViewProject(item.NO)">조회</a>
                <a ng-click="click_showEditProject(item)">수정</a>
                <a ng-click="click_deleteProject(item)">삭제</a>
            </td>
        </tr>
        <tr ng-show="$data == ''">
            <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
        </tr>
    </table>

</div>
<!-- ////Contents Include -->
