<div ng-controller="series_main">
    <div class="panel panel-primary">
        <div class="panel-body" ng-model="search" class="row" style="border-radius: 0px; border-left:8px solid #DEDEDE; border-right:2px solid #DEDEDE;">

            <form role="form" name="search_form" class="form-horizontal form_basic_100">
                <div class="col-md-9" style="padding-left:15px;">
                    <div class= "form_basic_wrap">
                        <div class="row form-group form_basic_group">
                            <div class="col-xs-7">
                                <label class= "form_basic_label" >검색</label>
                                <div class="form_basic_input" style="margin-left:60px; width:100%;">
                                    <input ng-model="search.KEYWORD" type= "text" class= "form-control" placeholder= "검색어"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3" style="border-left:1px solid #DEDEDE; display:block;">
                    <div class= "navbar-header" style="float:left; width:100%; margin:0px auto; line-height:40px; padding:10px; text-align:center;">
                        <button class="btn btn-lg btn-primary start" ng-click="click_searchSeries();" ng-disabled="list_from.$invalid">
                            <i class="glyphicon glyphicon-search"></i>
                            <span>검색</span>
                        </button>
                        <button class="btn btn-lg btn-success fileinput-button" data-ng-click="click_focus()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>등록</span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="list-group-item-labeling-gray">
        <strong>Series List</strong>

        <div class="list-group" style="float:right; margin-bottom: 0;">
            <div style="text-align:left; font-size:0.8em; font-family: Arial, sans-serif; padding-top:2px;">
                Total &nbsp; <span style="color:#fff; font-size:1.1em; ">{{TOTAL_COUNT}}</span> &nbsp; series(s)
            </div>
        </div>
    </div>

    <div ng-show="isLoading" style="position: absolute; margin-top: 40px; left: 48%; z-index: 1000" class="ai-circled ai-indicator ai-grey-spin"></div>

    <!-- Contents Include -->
    <!-- 목록 -->
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" class="table" style="border-bottom: 1px solid #868686;">
            <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
                <td style="font-size:0.94em; line-height:38px;" colspan="{{$columns.length}}">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value == '1' ? '정기' : '비정기' }}</strong>
                    </a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="item in group.data">
                <td style="width:100px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'유형'" sortable="'SERIES_GB'">
                    {{ item.SERIES_GB == '1' ? '정기' : '비정기' }}
                </td>
                <td style="font-size:0.94em; line-height:38px;" data-title="'제목'" sortable="'SERIES_NM'">
                    <a style="cursor:pointer;" ng-click="click_getSeries(item.NO)" title="{{ item.SERIES_NM + ' 수정하기' }}">{{item.SERIES_NM}}</a>
                </td>
                <td style="width:150px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'등록일'" sortable="'REG_DT'">
                    {{item.REG_DT}}
                </td>
                <td style="width:200px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'기능'">
                    <button class="btn btn-default btn-xs" style="font-size:0.86em; font-family: arial, sans-serif; color:black;" title="내용편집" ng-click="click_getSeries(item.NO)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    <button class="btn btn-default btn-xs" style="font-size:0.86em; font-family: arial, sans-serif; color:black;" title="상태변경" ng-click="click_updateStatus(item)">{{item.SERIES_ST == '0' ? '이용가능' : '이용정지'}}</button>
                    <button class="btn btn-default btn-xs" style="font-size:0.86em; font-family: arial, sans-serif; color:darkgray;" title="삭제" ng-click="click_deleteSeries($parent.$index, $index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="$groups == ''">
            <tr>
                <td colspan="4" style="text-align: center; font-size:0.86em; line-height:38px;">조회 데이터가 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- ////Contents Include -->

    <!-- Contents Include -->
    <div class="list-group-item-labeling-gray" style="margin-bottom: 20px;">
        <strong>Series Detail</strong>
    </div>

    <div class="col-md-12">

        <form role="form" name="edit_form" class="form-horizontal form_basic_100">
            <div id="item" ng-model="item" lass="row form_basic_wrap">
                <div class= "form-group form_basic_group" ng-class="{error: edit_form.user_id.$invalid}">
                    <label class= "form_basic_label">유형 <span style="color:#b94a48">*</span></label>
                    <div class="col-xs-3 form_basic_input">
                        <select id="item_gb" ng-model="item.SERIES_GB" ng-init="item.SERIES_GB = 1" class= "form-control" >
                            <option name="" value="1">정기 출판</option>
                            <option name="" value="2">비정기 출판(상시)</option>
                        </select>
                    </div>
                </div>
                <div class= "form-group form_basic_group" ng-class="{error: edit_form.user_name.$invalid}">
                    <label class= "form_basic_label">제목 <span style="color:#b94a48">*</span></label>
                    <div class="col-xs-6 form_basic_input">
                        <input name="series_name" ng-model="item.SERIES_NM" type= "text" class= "form-control" placeholder="시리즈 제목" required/>
                        <span ng-show="edit_form.series_name.$dirty && edit_form.series_name.$invalid" class="help-inline">시리즈 제목이 누락되었습니다.</span>
                    </div>
                </div>
                <div class= "form-group form_basic_group">
                    <label class= "form_basic_label">메모</label>
                    <div class= "col-xs-6 form_basic_input">
                        <textarea ng-model="item.NOTE" class= "form-control" placeholder= "간략한 설명.."/>
                    </div>
                </div>

                <!-- 하단 버튼 -->
                <div class="raw" style="float:left; width:100%; margin-top:50px; padding-top:10px; border-top:1px solid #DEDEDE;">
                    <div class="col-xs-12 form-group form_basic" style="text-align:center;">
                        <button type="button" class="btn btn-primary btn-xs start" ng-click="click_saveSeries();" ng-disabled="edit_form.$invalid">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>저장</span>
                        </button>
                        <button type="button" class="btn btn-warning btn-xs cancel" ng-click="click_cancel();">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>취소</span>
                        </button>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <!-- ////Contents Include -->
</div>
