<!-- Contents Include -->
<div class="col-md-12">

    <div ng-model="item" lass="row form_basic_wrap">
        <form role="form" name="edit_form" class="form-horizontal form_basic_100">
            <div class= "form-group form_basic_group" ng-class="{error: edit_form.subject.$invalid}">
                <label class= "form_basic_label">프로젝트</label>
                <div class="form_basic_input">
                    <span ng-bind="item.PROJECT_NM" />
                </div>
            </div>
            <!-- 2014.11.21(금) 섹션 시즌명과 섹션명 추가 -->
            <div class= "form-group form_basic_group" ng-class="{error: edit_form.subject.$invalid}">
                <label class= "form_basic_label">섹션</label>
                <div class="form_basic_input">
                    <span ng-bind="item.SECTION_NM" />
                </div>
            </div>
            <div class= "form-group form_basic_group" ng-class="{error: edit_form.subject.$invalid}">
                <label class= "form_basic_label">제목</label>
                <div class="form_basic_input">
                    <span ng-bind="item.SUBJECT" />
                </div>
            </div>
            <div class= "form-group form_basic_group">
                <label class= "form_basic_label">카테고리</label>
                <div class="form_basic_input">
                    <div class="bnt_ball_group" ng-repeat="category in item.CATEGORY">
                        <button type="button" class="btn btn-default cate_ball_normal">{{category.CATEGORY_NM}}</button>
                    </div>
                </div>
            </div>
            <div class= "form-group form_basic_group">
                <label class= "form_basic_label">마감일</label>
                <div class="form_basic_input">
                    <span ng-bind="item.CLOSE_YMD" />
                </div>
            </div>
            <div class= "form-group form_basic_group">
                <label class= "form_basic_label">담당기자</label>
                <div class="form_basic_input">
                    <span ng-bind="item.EDITOR_NM" />
                </div>
            </div>
            <div class= "form-group form_basic_group">
                <label class= "form_basic_label">태그</label>
                <div class="form_basic_input">
                    <span ng-bind="item.TAG" />
                </div>
            </div>
            <div class= "form-group form_basic_group">
                <label class= "form_basic_label">설명</label>
                <div class= "form_basic_input">
                    <span ng-bind="item.NOTE" />
                </div>
            </div>
        </form>

        <!-- 하단 버튼 -->
        <div class="col-xs-12 row" style="float:left; margin:0px auto; margin-bottom:60px; ">
            <div class= "col-xs-6 form-group form_basic" style="text-align:left;">
                <button class="btn btn-success btn-xs fileinput-button" ng-click="click_showTaskList();" >
                    <i class="glyphicon glyphicon-list"></i>
                    <span>목록</span>
                </button>
            </div>
            <div class= "col-xs-6 form-group form_basic" style="text-align:right;">
                <button type="button" class="btn btn-primary btn-xs start" ng-click="click_showTaskEdit(item.NO);" ng-disabled="!(role == 'CMS_ADMIN' || role == 'MANAGER') && uid != item.REG_UID">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>수정</span>
                </button>
            </div>
        </div>

    </div>

</div>
<!-- ////Contents Include -->

