<!--<div id="veil" ng-show="isLoading"></div>-->
<div id="feedLoading" ng-show="isLoading">Loading...</div>

<!-- Contents Include -->
<div class="col-md-12">

    <form role="form" name="edit_form" class="form-horizontal">
        <div ng-model="item" lass="row">
            <div class= "form-group" ng-class="{error: edit_form.subject.$invalid}">
                <label class= "col-md-2">프로젝트</label>
                <div class="col-md-4">
                    <select ng-model="item.PROJECT" ng-options="project.SUBJECT for project in projects" class= "form-control" ></select>
                </div>
            </div>
            <div class= "form-group" ng-class="{error: edit_form.subject.$invalid}">
                <label class= "col-md-2">제목</label>
                <div class="col-md-9">
                    <input name="subject" ng-model="item.SUBJECT" type= "text" class= "form-control" placeholder="태스크 제목" required/>
                    <span ng-show="edit_form.subject.$dirty && edit_form.subject.$invalid" class="help-inline">Subject Required</span>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">카테고리</label>
                <div class="col-md-2">
                    <div ng-dropdown-multiselect="" options="category_a" selected-model="CATEGORY" translation-texts="{buttonDefaultText: '- 주기선택'}" extra-settings="select_settings" checkboxes="true"></div>
                </div>
                <div class="col-md-3">
                    <select ng-model="CATEGORY_M" ng-options="category.CATEGORY_NM for category in category_b" class= "form-control" placeholder="주제 대분류">
                        <option name="category_b" value="">- 주제 대분류</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div ng-dropdown-multiselect="" options="category_s" selected-model="CATEGORY" translation-texts="{buttonDefaultText: '- 주제 소분류'}" extra-settings="select_settings" checkboxes="true"></div>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2"></label>
                <!--<pre>{{CATEGORY|json}}</pre>-->
                <div class="col-md-2 btn-group" ng-model="item.CATEGORY" ng-repeat="category in CATEGORY">
                    <button type="button" ng-click="click_removeCategory($index)" class="btn btn-default">{{category.CATEGORY_NM}}</button>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">마감일</label>
                <div class="col-md-4">
                    <p class="input-group">
                    <input ng-model="item.CLOSE_YMD" type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">태그</label>
                <div class="col-md-9">
                    <input ng-model="item.TAG" type= "text" class= "form-control" placeholder= "태그"/>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2">설명</label>
                <div class= "col-md-9">
                    <textarea ng-model="item.NOTE" class= "form-control" placeholder= "간략한 설명.."/>
                </div>
            </div>

            <!-- 하단 버튼 -->
            <div class= "form-group">
                <div class="col-md-4">
                    <button class="btn btn-success fileinput-button" ng-click="click_showTaskList();" >
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>목록</span>
                    </button>
                    <button type="button" class="btn btn-primary start" ng-click="click_saveTask();" ng-disabled="edit_form.$invalid">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>저장</span>
                    </button>
                </div>
            </div>

        </div>
    </form>

</div>
<!-- ////Contents Include -->

