<div class= "navbar-header" >
    <button class="btn btn-success fileinput-button" data-ng-click="createNewTask()">
        <i class="glyphicon glyphicon-plus"></i>
        <span>등록</span>
    </button>
</div>

<!--<div id="veil" ng-show="isLoading"></div>-->
<div id="feedLoading" ng-show="isLoading">Loading...</div>

<!-- Contents Include -->
<!-- 목록 -->
<table class="table table-striped table-condensed" >
    <thead>
    <tr>
        <th>순번</th>
        <th>프로젝트 주제</th>
        <th>주제</th>
        <th>등록자</th>
        <th>마감일</th>
        <th>진행 상태</th>
        <th>버튼</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks">
        <td>{{ task.NO }}</td>
        <td>{{ task.PROJECT_NM }}</a></td>
        <td><a ng-click="viewListTask(task.NO)">{{ task.SUBJECT }}</a></td>
        <td>{{ task.REG_NM }}</td>
        <td>{{ task.CLOSE_YMD }}</td>
        <td>{{ task.PHASE == '0' ? '태스크등록' : task.PHASE == '10' ? '원고작성' : task.PHASE == '11' ? '원고승인대기' : task.PHASE == '12' ? '원고승인' : task.PHASE == '13' ? '원고반려' : '편집승인' }}</td>
        <td><a ng-click="deleteListTask($index)">삭제</a></td>
    </tr>
    </tbody>
</table>

<!-- 페이징 -->
<pagination item-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true"></pagination>
<!-- ////Contents Include -->
