<div ng-controller="webboard_list">
    <!-- Search Include -->
    <div class="panel panel-default">
        <div class="panel-body" ng-model="search" class="row" style="border-radius: 0px; border-left:8px solid #DEDEDE; border-right:2px solid #DEDEDE;">

            <form role="form" name="list_form" class="form-horizontal form_basic_100">
                <div class="col-xs-9" style="padding-left:15px;">
                    <div class="form_basic_wrap">
                        <div class="row form-group form_basic_group">
                            <div class="col-xs-5" style="max-width:200px;">
                                <label class= "form_basic_label">검색</label>
                                <div class= "form_basic_input" style="margin-left:60px; width:135px;">
                                    <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="form_basic_input" style="margin-left:0; width:100%;">
                                    <input ng-model="search.KEYWORD" type= "text" class= "form-control" placeholder= "검색어" style="width:100%;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3" style="border-left:1px solid #DEDEDE; display:block;">
                    <div class= "navbar-header" style="float:left; width:100%; margin:0px auto; line-height:40px; padding:10px; text-align:center;">
                        <button class="btn btn-lg btn-primary start" ng-click="click_searchCmsBoard();" ng-disabled="list_from.$invalid">
                            <i class="glyphicon glyphicon-search"></i>
                            <span>검색</span>
                        </button>
                        <button class="btn btn-lg btn-success fileinput-button" data-ng-click="click_showCreateNewCmsBoard()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>등록</span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- ////Search Include -->
    <div class="list-group-item-labeling-gray">
        <strong>Board List</strong>

        <div class="list-group" style="float:right; margin-bottom: 0;">
            <div style="text-align:left; font-size:0.8em; font-family: Arial, sans-serif; padding-top:2px;">
                Total &nbsp; <span style="color:#fff; font-size:1.1em; ">{{TOTAL_COUNT}}</span> &nbsp; board(s)
            </div>
        </div>
    </div>

    <div ng-show="isLoading" style="position: absolute; margin-top: 40px; left: 48%; z-index: 1000" class="ai-circled ai-indicator ai-grey-spin"></div>
    <!-- Contents Include -->
    <div>
        <!--<div id="feedLoading" ng-show="isLoading">Loading...</div>-->
        <!--<div ng-show="isLoading" style="position: absolute;top: 55px;left: 45%; z-index: 1000" class="ai-circled ai-indicator ai-grey-spin"></div>-->

        <!-- List -->
        <table ng-table="tableParams" class="table" style="border-bottom: 1px solid #868686;">
            <tr ng-repeat="item in $data">
                <td style="width:100px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'머리말'">
                    {{ item.SORT_GB == '0' ? '공지사항' : '' }}
                </td>
                <td style="font-size:0.94em; line-height:38px;" data-title="'제목'" sortable="'SUBJECT'">
                    <a style="cursor:pointer;" ng-click="click_showViewCmsBoard(item.NO)" title="{{ item.SUBJECT + ' 내용보기' }}">{{ item.SUBJECT }}</a>
                </td>
                <td style="width:120px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'등록자'" sortable="'REG_NM'">
                    {{item.REG_NM}}
                </td>
                <td style="width:150px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'등록일'" sortable="'REG_DT'">
                    {{item.REG_DT}}
                </td>
                <td style="width:120px; font-size:0.94em; line-height:38px;" class="text-center" data-title="'기능'">
                    <button class="btn btn-default btn-xs" style="font-size:0.86em; font-family: arial, sans-serif; color:black;" title="상세보기" ng-click="click_showViewCmsBoard(item.NO)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    <button class="btn btn-default btn-xs" style="font-size:0.86em; font-family: arial, sans-serif; color:black;" title="내용편집" ng-click="click_showEditCmsBoard(item)" ng-disabled="!(role == 'CMS_ADMIN' || role == 'MANAGER') && uid != item.REG_UID"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    <button class="btn btn-default btn-xs" style="font-size:0.86em; font-family: arial, sans-serif; color:darkgray;" title="삭제" ng-click="click_deleteCmsBoard(item)" ng-disabled="!(role == 'CMS_ADMIN' || role == 'MANAGER') && uid != item.REG_UID"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
            </tr>
            <tr ng-show="$data == ''">
                <td colspan="5" style="text-align: center; font-size:0.86em; line-height:38px;">조회 데이터가 없습니다.</td>
            </tr>
        </table>
        <!-- ////List -->

    </div>
    <!-- ////Contents Include -->
</div>