<div ng-controller="momsboard-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">
                                        <div class="btn-group" style="float:left;">
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>
                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" class="form-control" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0" placeholder="검색할 단어를 두자 이상 입력">

												<span class="input-group-btn" ng-click="click_searchPeopleBoard();">
												<button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>
												</span>

                                        </div>

                                        <!-- div style="float:right; width:120px; margin:0px; padding:0px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" />
                                                </span>
                                                <input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />
                                            </div>
                                        </div -->

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->

                        <div class="sub_contents_body">

                            <table id="comp_board_table" class="table table-hover">

                                <thead>
                                <tr class="board_thead normaltype" height="48">
                                    <td width="9%" align="center"><span class="board_th">번호</span></td>
                                    <td align="center"><span class="board_th">제목</span></td>
                                    <td width="80" align="center"><span class="board_th">작성일</span></td>
                                    <td width="60" align="center"><span class="board_th">조회</span></td>
                                </tr>
                                </thead>

                                <tbody class="on" ng-repeat="item in list">

                                <!--<tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">-->
                                    <!--<td class="table_no">-->
                                        <!--<span>{{item.RNUM}}</span>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--&lt;!&ndash;<span class="glyphicon glyphicon-lock table_icon_lock"></span>&ndash;&gt;-->
                                        <!--{{item.EVENT_GB == 'EVENT' ? '이벤트' : '체험단'}}{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}} 발표-->
                                    <!--</td>-->
                                    <!--<td class="table_date">{{item.WINNER_DT}}</td>-->
                                <!--</tr>-->
                                    <!--<tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">-->
                                        <!--<td class="table_no">-->
                                            <!--<span ng-class="item.NOTICE_FL == '1' ? 'table_blue' : ''">{{item.NOTICE_FL == '1' ? '공지' : item.BOARD_NO}}</span>-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<div style="float:left;">-->
                                                <!--&lt;!&ndash;<span class="glyphicon glyphicon-lock table_icon_lock"></span>&ndash;&gt;-->
                                                <!--<span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>-->
                                                <!--<span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>-->
                                                <!--<span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>-->
                                                <!--&lt;!&ndash;<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>&ndash;&gt;-->

                                                <!--<span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>-->
                                                <!--&lt;!&ndash;<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>&ndash;&gt;-->
                                                <!--<span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>-->

                                                <!--<span class="reply_num feed_count countreply_color table_gray" style="line-height:16px; margin-left:0px;">{{item.REPLY_COUNT}}</span>-->

                                            <!--</div>-->

                                        <!--</td>-->
                                        <!--<td class="table_date">{{item.REG_DT}}</td>-->
                                        <!--<td class="table_hit">{{item.HIT_CNT}}</td></tr>-->
                                    <!--</tr>-->
                                    <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                        <td class="table_no normaltype">
                                            <span ng-class="item.NOTICE_FL == '1' ? 'table_blue' : ''">{{item.BOARD_NO}}</span>
                                        </td>
                                        <td class="normaltype">
                                            <div style="float:left;">
                                                <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                                                <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                                                <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                                                <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                                                <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>-->

                                                <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                                                <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                                <span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>
                                            </div>

                                            <div style="display:inline-block; float:left;margin-left: 10px;">
                                                <!--<span class="reply_num feed_count countlike_color table_gray" style="line-height:16px; margin-right:5px;">{{item.LIKE_CNT}}</span>-->
                                                <span class="reply_num feed_count countreply_color table_gray" style="line-height:16px; margin-left:0px;">{{item.REPLY_COUNT}}</span>
                                            </div>
                                        </td>
                                        <td class="table_date normaltype">{{item.REG_DT}}</td>
                                        <td class="table_hit normaltype">{{item.HIT_CNT}}</td></tr>
                                    </tr>

                                    <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                        <!---- 모바일 TD ------>
                                        <td class="table_no mobiletype" style="width: 10% !important;">
                                            <span ng-class="">{{item.BOARD_NO}}</span>
                                        </td>

                                        <td class="mobiletype" colspan="1" style="width: 90% !important;">
                                            <div>
                                                <div style="width:100%; white-space: inherit; overflow: hidden; text-overflow: ellipsis; font-size:1.12em;" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">
                                                    {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                                                    <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                                                    <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                                                    <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>-->
                                                </div>


                                                <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                                                <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                                <span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>
                                            </div>

                                            <div style="display:inline-block;">
                                                <!--<span class="reply_num feed_count countlike_color table_gray" style="line-height:16px; margin-right:5px;">{{item.LIKE_CNT}}</span>-->
                                                <span class="reply_num feed_count countreply_color table_gray" style="line-height:16px; margin-left:0px;">{{item.REPLY_COUNT}}</span>
                                            </div>

                                            <div ng-if="menu.COMM_NO != 8 || role == 'ANGE_ADMIN'" class="table_blue" ng-bind-html="item.NICK_NM" style="font-size:0.78em; color:#868686; margin-top:10px;"></div>
                                            <div class="table_date" style="font-size:0.78em; color:#868686;">{{item.REG_DT+'  /  조회수 '+item.HIT_CNT}}</div>
                                        </td>

                                    </tr>

                                </tbody>

                                <tbody class="on" data-ng-show="list == '' || list == null">

                                <tr>
                                    <td colspan="3" style="text-align: center">조회 데이터가 없습니다.</td>
                                </tr>

                                </tbody>
                            </table><!-- /.List-->

                            <div class="container-fluid people_view_btnwrap">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <!--<a class="btn people_btn list" title="목록으로" style="display:none;">리스트</a>-->
                                        <!--<a class="btn people_btn submit" title="등록하기" ng-show="role == 'ANGE_ADMIN'" ng-click="click_showCreatePeopleBoard();">등록</a>-->
                                        <a class="people_btn list" title="목록으로" style="display:none;">리스트</a>
                                        <a class="people_btn register" title="등록하기" style="display:block;" ng-show="role == 'ANGE_ADMIN'" ng-click="click_showCreatePeopleBoard();">등록</a>
                                        <a class="people_btn comment" title="의견쓰기" style="display:none;">의견쓰기</a>
                                    </div>

                                    <div class="col-xs-8">
                                        <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                        <a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>
                                        <a class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                        <a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <nav class="text-center normaltype">
                                <pagination boundary-links="true" total-items="TOTAL_COUNT" ng-model="PAGE_NO" class="pagination-sm" max-size="10" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

                                <!--<ul class="pagination pagination-sm table_paging">-->
                                <!--<li class="disabled">-->
                                <!--<a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>-->
                                <!--</li>-->
                                <!--<li class="disabled">-->
                                <!--<a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>-->
                                <!--</li>-->
                                <!--<li class="active"><a href="#">1</a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li><a href="#">3</a></li>-->
                                <!--<li><a href="#">4</a></li>-->
                                <!--<li><a href="#">5</a></li>-->
                                <!--<li>-->
                                <!--<a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>-->
                                <!--</li>-->
                                <!--<li>-->
                                <!--<a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>-->
                                <!--</li>-->
                                <!--</ul>-->
                            </nav><!-- /.Paging-->

                            <nav class="text-center mobiletype" style="position:relative;">
                                <pager total-items="TOTAL_COUNT" ng-change="pageChanged()" items-per-page="25" ng-model="PAGE_NO"></pager>
                                <div style="font-family:Arial, sans-serif; font-size: 0.92em; position:absolute; top:6px; left:50%; margin-left:-18px; color:#888;">
                                    <span class="table_blue">{{PAGE_NO}}</span> / {{TOTAL_COUNT}}
                                </div>
                            </nav>
                            <!-- /peoplepoll_list -->

                        </div><!-- /.sub_contents_body -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>