<div ng-controller="momsevent-view">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">
                                    {{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>-->
                                    <div class="sub_contents_slogan">2015년형 새로워진 팸퍼스 베이비드라이를 미리 만나볼 수 있는 기회!</div>
                                </h3>
                            </div>

                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-1" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="position:absolute;"><img src="imgs/ange/temp/moms_jb_01.jpg" class="webzine_moms_featureimg"></div>
                                        <div class="webzine_list_title">
                                            모던 빈티지와 클래식을 재해석한 스타일리시하고 실용적인 캐나다 키즈백 SOYOUNG

                                            <div class="webzine_list_bottomwrap">
                                                <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;03~2014&dash;11&dash;16</span></div>
                                                <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">10명</span></div>
                                                <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;19</span></div>
                                            </div>

                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-12 -->
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="width:100%; padding:0; margin:0px;">
                                        <div class="webzine_list_infowrap">
                                            <dl>
                                                <dt class="table_red">추가정보</dt>
                                                <dd><strong>후기작성기간</strong><span class="table_gray" style="margin-left:8px;">2014-11-19~2014-11-30</span></dd>
                                                <dd><strong>배송비</strong><span class="table_gray" style="margin-left:8px;">무료</span></dd>
                                                <dd><strong>우수후기선정</strong><span class="table_gray" style="margin-left:8px;">스마트카메라/기저귀</span></dd>
                                                <dd><strong>홈페이지</strong><span class="table_gray" style="margin-left:8px;">Pampers 홈페이지</span></dd>
                                                <dd><strong>현재응모자수</strong><span class="table_gray" style="margin-left:8px;"><span class="table_red">185</span>명(1232 조회)</span></dd>
                                            </dl>
                                        </div>
                                        <div style="position:absolute; right:10px; bottom:25px;">
                                            <button class="" title="응모하기">바로응모</button>
                                            <button class="" title="상세보기">공유</button>
                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-12 -->
                            </div>  <!-- /.row -->


                            <!-- 체험단&이벤트 목록 -->

                            <div class="row webzine_moms_list">

                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">

                                        <div class="webzine_list_title">
                                            f0f0f0
                                        </div>

                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-12 -->
                            </div>  <!-- /.row -->

                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="position:absolute;"><img src="imgs/ange/temp/moms_jb_01.jpg" class="webzine_moms_featureimg"></div>
                                        <div class="webzine_list_title">
                                            모던 빈티지와 클래식을 재해석한 스타일리시하고 실용적인 캐나다 키즈백 SOYOUNG

                                            <div class="webzine_list_bottomwrap">
                                                <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;03~2014&dash;11&dash;16</span></div>
                                                <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">10명</span></div>
                                                <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;19</span></div>
                                            </div>

                                            <div class="webzine_list_btnwrap">
                                                <button class="webzine_list_btn red" title="응모하기">응모하기</button><br />
                                                <button class="webzine_list_btn default" title="상세보기">상세보기</button>
                                            </div>
                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.row -->
                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="position:absolute;"><img src="imgs/ange/temp/moms_jb_01.jpg" class="webzine_moms_featureimg"></div>
                                        <div class="webzine_list_title">
                                            모던 빈티지와 클래식을 재해석한 스타일리시하고 실용적인 캐나다 키즈백 SOYOUNG

                                            <div class="webzine_list_bottomwrap">
                                                <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;03~2014&dash;11&dash;16</span></div>
                                                <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">10명</span></div>
                                                <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;19</span></div>
                                            </div>

                                            <div class="webzine_list_btnwrap">
                                                <button class="webzine_list_btn red" title="응모하기">응모하기</button><br />
                                                <button class="webzine_list_btn default" title="상세보기">상세보기</button>
                                            </div>
                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.row -->
                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="position:absolute;"><img src="imgs/ange/temp/moms_jb_01.jpg" class="webzine_moms_featureimg"></div>
                                        <div class="webzine_list_title">
                                            모던 빈티지와 클래식을 재해석한 스타일리시하고 실용적인 캐나다 키즈백 SOYOUNG

                                            <div class="webzine_list_bottomwrap">
                                                <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;03~2014&dash;11&dash;16</span></div>
                                                <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">10명</span></div>
                                                <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;19</span></div>
                                            </div>

                                            <div class="webzine_list_btnwrap">
                                                <button class="webzine_list_btn red" title="응모하기">응모하기</button><br />
                                                <button class="webzine_list_btn default" title="상세보기">상세보기</button>
                                            </div>
                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.row -->
                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">
                                        <div class="item" style="position:absolute;"><img src="imgs/ange/temp/moms_jb_01.jpg" class="webzine_moms_featureimg"></div>
                                        <div class="webzine_list_title">
                                            모던 빈티지와 클래식을 재해석한 스타일리시하고 실용적인 캐나다 키즈백 SOYOUNG

                                            <div class="webzine_list_bottomwrap">
                                                <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;03~2014&dash;11&dash;16</span></div>
                                                <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">10명</span></div>
                                                <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">2014&dash;11&dash;19</span></div>
                                            </div>

                                            <div class="webzine_list_btnwrap">
                                                <button class="webzine_list_btn red" title="응모하기">응모하기</button><br />
                                                <button class="webzine_list_btn default" title="상세보기">상세보기</button>
                                            </div>
                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.row -->

                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
        <div class="row">
            <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
                우측바
            </div>
        </div>
    </div>

    <!-- /Main Page Layout Set -->
</div>