<div ng-controller="momshome" class="ng_wrap">
    <!--<img src="/imgs/ange/white_opacity75.png" class="temp_blind">-->
    <!-- Main Page Layout Set -->
    <div class="mainbar sub-slide0">

        <div class="container-fluid common_container">
            <div class="row">

                <div class="col-xs-12 col-md-6 no-margin">
                    <div class="comp_basic comp_splite_left h-cell-dynamic">
                        <img class="blank_wrap" src="/imgs/ange/_blank_330by220.gif" style="margin-bottom:45px;"/>
                        <!-- jumbotron_cover -->
                        <ange-portlet-slide-banner ng-model="option_r1_c1"></ange-portlet-slide-banner>
                        <!-- /jumbotron_cover -->
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 no-margin">
                    <div class="comp_basic comp_splite_right h-cell-dynamic">
                        <img class="blank_wrap" src="/imgs/ange/_blank_330by220.gif" style="margin-bottom:45px;"/>
                        <!-- jumbotron_cover -->
                        <ange-portlet-slide-banner ng-model="option_r1_c2"></ange-portlet-slide-banner>
                        <!-- /jumbotron_cover -->
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-md-8 no-margin">
                    <div class="comp_basic comp_splite_left h-cell-1-half">
                        <!-- /mini_review -->
                        <ange-portlet-channel-list ng-model="option_r2_c1"></ange-portlet-channel-list>
                        <!-- /mini_review -->
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 no-margin">
                    <div class="comp_cols comp_splite_right">
                        <div class="comp_ranking">
                            <a href="/moms/postcard/edit"><img src="/imgs/ange/_blank_262by139.gif" style="width:100%; background-image:url('/imgs/ange/moms_banner_post.png'); background-size: cover; background-repeat: no-repeat; background-position: right center;" /></a>
                        </div>
                    </div>

                    <div class="comp_cols comp_splite_right">
                        <div class="comp_ranking">
                            <!--<a href="/moms/eventwinner/list"><img src="/imgs/ange/_blank_262by139.gif" style="width:100%; background-image:url('/imgs/ange/moms_banner_prize.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;" /></a>-->
                            <a ng-click="clickyet()" href=""><img src="/imgs/ange/_blank_262by139.gif" style="width:100%; background-image:url('/imgs/ange/moms_banner_prize.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;" /></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-6 col-md-4 no-margin" style="padding:0px;">
                <div class="comp_basic comp_splite_left">
                    <div class="comp_joinlink">
                        <a href="/moms/experienceprocess/list"><img src="/imgs/ange/moms_fbn_01.png" style="width:100%;"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 no-margin" style="padding:0px;">
                <div class="comp_basic comp_splite_middle" style="padding:0px;">
                    <div class="comp_joinlink">
                        <a href="/moms/samplepack/intro"><img src="/imgs/ange/moms_fbn_02.png" style="width:100%;"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 no-margin" style="padding:0px; padding-top:10px;">
                <div class="comp_cols comp_splite_right no-margin">
                    <div class="comp_joinlink">
                        <a href="/moms/angereview/list"><img src="/imgs/ange/moms_fbn_03.png" style="width:100%;"></a>
                    </div>
                </div>
                <div class="comp_cols comp_splite_right no-margin">
                    <div class="comp_joinlink">
                        <a href="/company/affiliates"><img src="/imgs/ange/moms_fbn_04.png" style="width:100%;"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>
    <!-- /Main Page Layout Set -->
</div>
