<div ng-controller="momsevent-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>

                            <div class="row" style="width:100%; margin:0px auto; margin-bottom:35px;">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="padding:0; margin:0px;">

                                        <img class="blank_wrap" src="/imgs/ange/_blank_80by31.gif" />

                                        <!-- jumbotron_cover -->
                                        <ange-portlet-slide-banner ng-model="option"></ange-portlet-slide-banner>
                                        <!-- /jumbotron_cover -->
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-12 -->
                            </div>  <!-- /.row -->

                            <div><span style="font-size:0.92em; color:#868686; margin-left:4px;">진행중인 이벤트 <strong class="table_red">{{TOTAL_COUNT == null? 0 : TOTAL_COUNT}}</strong>건</span></div>

                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list" ng-repeat="item in list" ng-click="comp_momsevent(item)">
                                <div class="col-xs-12 no-margin">
                                    <div class="comp_basic h-cell-dynamic no-margin">

                                        <div class="webzine_list_imgbox">
                                            <img src="/imgs/ange/_blank_262by158.gif" style="background-image:url('{{item.ada_preview_img}}');" class="webzine_moms_featureimg">
                                            <!--<img src="/imgs/ange/_blank_262by158.gif" style="background-image:url('/imgs/ange/temp/moms_jb_01.jpg');" class="webzine_moms_featureimg">-->
                                        </div>

                                        <div class="webzine_list_wrap">
                                            <div class="webzine_list_title">
                                                <div class="webzine_list_titletxt">{{item.ada_title}}</div>
                                                <div class="webzine_list_bottomwrap">
                                                    <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">{{item.ada_date_open}}~{{item.ada_date_close}}</span></div>
                                                    <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">{{item.ada_option_quantity}}</span></div>
                                                    <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">{{item.ada_date_notice}}</span></div>
                                                </div>

                                                <!--<div class="webzine_list_btnwrap">-->
                                                    <!--<button class="webzine_list_btn red" title="응모하기" ng-show="showForm == 'reviewForm'" ng-click="comp_momsevent(item.NO)">응모하기</button><br />-->
                                                    <!--<button class="webzine_list_btn default" title="상세보기" ng-click="view_momsevent(item.NO)">상세보기</button>-->
                                                <!--</div>-->
                                            </div>
                                        </div>

                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.row -->

                            <div ng-show="busy && !end"><center><span> - 리스트가 로딩 중입니다. - </span></center></div>
                            <div ng-show="end"><center><span> - 더 이상 읽을 리스트가 없습니다. - </span></center></div>


                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>