<div ng-controller="samplepack-edit" class="ng_wrap">

<!-- mainbar -->
<div class="mainbar sub-slide0">

<div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">

<div class="row">

<div class="col-xs-12 v-cell-3">
<div class="comp_basic h-cell-dynamic">

<div class="sub_contents_wrap">

<div class="sub_contents_title">
    <span class="sub_contents_bullet"></span>
    <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
</div>

<!-- 시즌 1 -->
<div ng-show="season_gb == 'SAMPLE1'" class="samplepack_types subs" style="display:block;">
    <div class="samplepack_tagwrap">
        <div class="samplepack_tags orange">
            앙쥬 신규 가입회원 샘플팩 &nbsp;<span style="font-size:1.32em; font-weight:bold;">50 차</span>
        </div>
    </div>

    <div  class="samplepack_smalltitle">
        <h2><strong>임신/육아용품 샘플팩 증정</strong></h2>
        <br />
        <h4><strong>신규 임신부 회원</strong></h4>
        <p class="table_blue samplepack_subguide">임신하셨어요? 앙쥬맘이 되어주세요.</p>
    </div>


    <dl class="dl-horizontal samplepack_new_howto">
        <dt><span class="table_red">신청기간</span></dt><dd><strong>{{year}}-{{month}}-01 ~ {{Day}}</strong></dd>
        <dt><span class="table_red">당첨발표</span></dt><dd><strong>{{next_year}}-{{next_month}}-05</strong> (이벤트 당첨자 발표 게시판)</dd>
        <dt><span class="table_red">증정인원</span></dt><dd><strong>{{month}}</strong> 월에 앙쥬에 신규가입한 임산부</dd>
        <dt><span class="table_red">선물발송</span></dt><dd>{{next_year}}-{{next_month}}-09 전후 예정 (무료배송)</dd>
        <dt><span class="table_red">신청방법</span></dt><dd><strong>{{month}}</strong> 월에 신규가입한 후 <strong><mark>산모이름과 예정일이 적힌</mark></strong> 산모수첩 또는 초음파 이미지 등록(1장만 가능)</dd>
    </dl>

    <div  class="samplepack_warning">
        <blockquote class="table_red" style="font-size:0.92em;">
            신청 후에는 사진 교체할 수 없습니다.<br />
            남자 및 출산모, 이미 샘플팩을 신청했거나 받은 경우 신청이 불가능합니다.
        </blockquote>
    </div>
</div>
<!-- /시즌 1 -->

<!-- 시즌 2 -->
<div ng-show="season_gb == 'SAMPLE2'" class="samplepack_types subs" style="display:block;">
    <div class="samplepack_tagwrap">
        <div class="samplepack_tags blue">
            앙쥬 기존회원 샘플팩 &nbsp;<span style="font-size:1.32em; font-weight:bold;">시즌 2</span>
        </div>
    </div>

    <div  class="samplepack_smalltitle">
        <h2><strong>임신/육아용품 샘플팩 증정</strong></h2>
        <br />
        <h4><strong>기존 앙쥬(임신부) 회원</strong></h4>
        <p class="table_blue samplepack_subguide">우리아이 첫태동을 잊을수가 없어요</p>
    </div>


    <dl class="dl-horizontal samplepack_new_howto">
        <dt><span class="table_red">신청기간</span></dt><dd><strong>{{year}}-{{month}}-25 ~ {{Day}}</strong></dd>
        <dt><span class="table_red">당첨발표</span></dt><dd><strong>{{next_year}}-{{next_month}}-05</strong> (이벤트 당첨자 발표 게시판)</dd>
        <dt><span class="table_red">증정인원</span></dt><dd>신규 임신부 샘플팩을 받지 못한 임신부인 앙쥬맘</dd>
        <dt><span class="table_red">선물발송</span></dt><dd>{{next_year}}-{{next_month}}-09 전후 예정 (착불 2500원)</dd>
        <dt><span class="table_red">신청방법</span></dt><dd><strong><mark>산모이름과 예정일이 적힌</mark></strong> 산모수첩 또는 초음파 이미지 등록(1장만 가능)</dd>
    </dl>

    <div  class="samplepack_warning">
        <blockquote class="table_red" style="font-size:0.92em;">
            신청 후에는 사진 교체할 수 없습니다.<br />
            남자 및 출산모, 이미 샘플팩을 신청했거나 받은 경우 신청이 불가능합니다.
        </blockquote>
    </div>
</div>
<!-- /시즌 2 -->

<!-- 시즌 1 -->
<div ng-show="season_gb == 'SAMPLE1'" class="samplepack_btnbox" style="display:block;">
    <button ng-click="click_joinon();" class="samplepack_gotojoin"></button>
    <button ng-click="showSamplepackDetails = ! showSamplepackDetails" class="samplepack_newrequest"></button>
</div>
<!-- /시즌 1 -->

<!-- 시즌 2 -->
<div ng-show="season_gb == 'SAMPLE2'" class="samplepack_btnbox" style="display:block;">
    <button ng-click="click_samplepackCheck();" ng-show="checked == 'N'" class="samplepack_cofirmfirst"></button>  <!-- 신정차격 확인 후 신청 가능하도록 구성 신청자격 확인되면 none  -->
    <button class="samplepack_cofirmfirst_now" ng-show="checked == 'Y'" disabled></button> <!--신청자격이 활성화되면 inline -->
    <button ng-click="showSamplepackDetails = ! showSamplepackDetails" class="samplepack_oldrequest"></button>
</div>
<!-- /시즌 2 -->


<!-- 신청 폼 -->
<div class="samplepack_formwrap" ng-model="item" style="display:block;" ng-class="{ 'hidden': ! showSamplepackDetails }">
            <div class="samplepack_form_title" style="background:#333; height:46px; padding:10px;">
                <span class="table_blue" style="font-size:1.18em; float:left;">| 샘플팩 신청양식</span>
                <div style="float:right;">
                    <small><span class="table_blue">정보가 다르신가요?</span></small>
                    <button ng-click="click_update_user_info()" class="btn btn-xs btn-primary" style="margin:0 5px;">정보수정</button>
                </div>
            </div>

            <div class="row form_rows">
                <div class="form_basicinfo">
                        <span class="col-xs-2 basicinfo title">
                            <strong>아이디</strong>
                            <span class="table_blue">*</span>
                        </span>

                        <span class="col-xs-4 basicinfo input">
                            <div class="form-group" style="margin:0 5px">
                                <input type="text" ng-model="item.USER_ID" class="form-control input-sm" style="margin:0px;"placeholder="" disabled>
                            </div>
                        </span>
                </div>  <!-- /.form_basicinfo -->
            </div>  <!-- /.form_rows -->

            <div class="row form_rows">
                <div class="form_basicinfo">
                        <span class="col-xs-2 basicinfo title">
                            <strong>신청자명</strong>
                            <span class="table_blue">*</span>
                        </span>

                        <span class="col-xs-4 basicinfo input">
                            <div class="form-group" style="margin:0 5px">
                                <input type="text" ng-model="item.NICK_NM" class="form-control input-sm" style="margin:0px;"  placeholder="" disabled>
                            </div>
                        </span>
                </div>  <!-- /.form_basicinfo -->
            </div>  <!-- /.form_rows -->

            <div class="row form_rows">
                <div class="form_basicinfo">
                        <span class="col-xs-2 basicinfo title">
                            <strong>가입일자</strong>
                            <span class="table_blue">*</span>
                        </span>

                        <span class="col-xs-4 basicinfo input">
                            <div class="form-group" style="margin:0 5px">
                                <input type="text" ng-model="item.REG_DT" class="form-control input-sm" style="margin:0px;"  placeholder="" disabled>
                            </div>
                        </span>
                </div>  <!-- /.form_basicinfo -->
            </div>  <!-- /.form_rows -->

        <div class="row form_rows">
            <div class="form_basicinfo">
                        <span class="col-xs-2 basicinfo title">
                            <strong>연락처</strong>
                            <span class="table_blue">*</span>
                        </span>

                        <span class="col-xs-2 basicinfo input">
                            <div class="form-group" style="margin:0 5px; text-align:right;">
                                <small class="table_gray">전화번호</small>
                            </div>
                        </span>
                        <span class="col-xs-3 basicinfo input">
                            <div class="form-group" style="margin:0 5px">
                                <input type="text" ng-model="item.PHONE_1" class="form-control input-sm" style="margin:0px;" placeholder="" disabled>
                            </div>
                        </span>
                        <span class="col-xs-1 basicinfo input">
                            <div class="form-group" style="margin:0 5px; text-align:right;">
                                <small class="table_gray">휴대폰</small>
                            </div>
                        </span>
                        <span class="col-xs-3 basicinfo input">
                            <div class="form-group" style="margin:0 5px">
                                <input type="text" ng-model="item.PHONE_2" class="form-control input-sm" style="margin:0px;" placeholder="" disabled>
                            </div>
                        </span>
            </div>  <!-- /.form_basicinfo -->
        </div>  <!-- /.form_rows -->

        <div class="row form_rows">
            <div class="form_basicinfo">
                        <span class="col-xs-2 basicinfo title">
                            <strong>받으실 곳</strong>
                            <span class="table_blue">*</span>
                        </span>

                        <span class="col-xs-10 basicinfo input">
                            <div class="form-group" style="margin:0 5px">
                                <p><input type="text" class="form-control input-sm" style="margin:0px;" value="(123-456)" placeholder="" disabled></p>
                                <p><input type="text" class="form-control input-sm" style="margin:0px;" ng-model="item.ADDR" placeholder="" disabled></p>
                                <input type="text" class="form-control input-sm" style="margin:0px;" ng-model="item.ADDR_DETAIL" placeholder="" disabled>
                            </div>
                        </span>
            </div>  <!-- /.form_basicinfo -->
        </div>  <!-- /.form_rows -->

        <!-- form id="fileupload" method="POST" enctype="multipart/form-data" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}" -->
        <form id="fileupload" method="POST" enctype="multipart/form-data" data-file-upload="options">
            <input type="hidden" id="version" name="version" value="6">

            <!-- file drag-in Box -->
            <div class="row form_rows">


                        <div class="row form_rows">
                            <div class="form_basicinfo">
                                                <span class="col-xs-2 basicinfo title">
                                                    <strong>출산예정일</strong>
                                                    <span class="table_blue">*</span>
                                                </span>

                                                <span class="col-xs-10 basicinfo input">
                                                    <div class="form-inline" style="margin:0 5px">

                                                        <select class="form-control" ng-model="item.YEAR" style="width:110px;">
                                                            <option>년</option>
                                                            <option value="2015">2015</option>
                                                            <option value="2016">2016</option>
                                                            <option value="2017">2017</option>
                                                        </select>

                                                        <select class="form-control" ng-model="item.MONTH" style="width:75px;">
                                                            <option>월</option>
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>
                                                            <option>04</option>
                                                            <option>05</option>
                                                            <option>06</option>
                                                            <option>07</option>
                                                            <option>08</option>
                                                            <option>09</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                        </select>

                                                        <select class="form-control" ng-model="item.DAY" style="width:75px;" disabled>
                                                            <option>일</option>
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>
                                                            <option>04</option>
                                                            <option>05</option>
                                                            <option>06</option>
                                                            <option>07</option>
                                                            <option>08</option>
                                                            <option>09</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                            <option>15</option>
                                                            <option>16</option>
                                                            <option>17</option>
                                                            <option>18</option>
                                                            <option>19</option>
                                                            <option>20</option>
                                                            <option>21</option>
                                                            <option>22</option>
                                                            <option>23</option>
                                                            <option>24</option>
                                                            <option>25</option>
                                                            <option>26</option>
                                                            <option>27</option>
                                                            <option>28</option>
                                                            <option>29</option>
                                                            <option>30</option>
                                                        </select>
                                                    </div>
                                                </span>

                            </div>  <!-- /.form_basicinfo -->
                        </div>  <!-- /.form_rows -->

            </div><!-- /.row -->
            <!-- /file drag-in Box -->

            <span class="col-xs-2 basicinfo title">
                <strong>증빙자료</strong>
                <span class="table_blue">*</span>
            </span>

            <div class="col-xs-3" style="padding:10px; height:100%;">

                <div class="thumbnails" style="width:100%; background-image: url('/imgs/ange/temp/temp_recipe_03.jpg');">
                    <img class="thumbnails_img" src="/imgs/ange/_blank_4by3.gif" />
                </div>
            </div><!-- /.col-xs-3 -->

            <div class="col-xs-7 dragzone_wrap" style="padding:10px; height:100%;">
                <div id="dropzone" name="dropzone" class="dragzone" style="height:86px; margin-bottom:10px;">

                    <div data-ng-repeat="file in queue">
                        <div class="files_row">
                            <input type="checkbox" checklist-model="checkFile" checklist-value="file" style="vertical-align: top;" aria-label="...">
                            <span class="fileicon"><span class="glyphicon glyphicon-picture table_icon_pic"></span></span>
                            <span class="filename">{{file.name}}</span>
                            <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;">{{file.size | formatFileSize}}</div>
                            <div class="filesize table_gray" style="float:right; font-famly: arial, san-serif;" data-ng-show="file.error">{{file.error}}</div>
                        </div>
                    </div>

                </div>  <!-- /.dropzone -->

                <button class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-picture"></span> 파일찾기</button>

                <dl style="font-weight:400; margin:10px 0; padding:0; font-size:0.86em;">
                    <dd class="table_gray">※ 산모이름과 예정일이 함께 나와야 함</dd>
                    <dd class="table_gray">※ 사진은 1MB이하로 등록</dd>
                    <dd class="table_gray">※ 사진은 1장만 등록 가능</dd>
                </dl>
            </div>  <!-- /.dragzone_wrap -->

        </form><!-- /.row -->
        <!-- /file drag-in Box -->




        <div class="row form_rows">
            <div class="form_basicinfo">
                    <span class="col-xs-2 basicinfo title">
                        <strong>신청내용</strong>
                        <span class="table_blue">*</span>
                    </span>

                    <span class="col-xs-10 basicinfo input">
                        <div class="form-group" style="margin:0 5px">
                            <p>
                                <textarea ng-model="item.REASON" class="form-control input-sm" rows="10" style="width:100%; min-width:100%; max-width:100%;"></textarea>
                            </p>
                        </div>
                    </span>
            </div>  <!-- /.form_basicinfo -->
        </div>  <!-- /.form_rows -->


        <div class="samplepack_guidebox" style="float:left; width:100%; border-bottom: 1px solid #333;">
            <center>
                <div style="width:80px; height:80px; border:1px solid #4cace8; background-color:#4cace8; border-radius: 50%; line-height:80px; color:#fff; text-align: center;">
                    주의사항
                </div>
            </center>

            <ol class="samplepack_howto">
                <li class="table_red">한번 등록한 내용은 변경하실 수 없습니다.</li>
                <li>반드시 <span class="table_blue"><u>임신부만 응모</u></span>하세요 <strong>(남자회원 신청불가)</strong></li>
                <li>임신부 증거자료는 1장만 등록 가능하며 <span class="table_blue"><u>사진이 미흡할 경우 당첨이 취소</u></span>됩니다.<br />(관련없는 사진, 예정일이 없는 사진을 올려줄 경우)</li>
                <li>임신부 증거자료가 본인의 것이 아니거나 중복해서 등록할 경우 선정에서 제외됩니다.</li>
                <li>당첨자 발표 후 별도 주소확인은 하지 않으며 주소가 불분명할 경우 선물은 발송되지 않습니다. (번지수가 없거나 아파트 동, 호수 없는 경우)</li>
                <li>회원 탈퇴 후 재가입하여 신청하더라도 신청기록은 남기 때문에 샘플팩 선정에서 제외됩니다.</li>
                <li>샘플팩의 종류와 수량은 사진과 다를 수 있으며, 구성은 업체 사정으로 공지없이 변경될 수 있습니다.</li>
            </ol>
        </div>

        <div style="float:left; position:relative; width:100%;">
            <div style="clear:both; text-align: center; width:225px; margin:0px auto; padding-top:10px 0 40px 0;">
                <a class="samplepack_submit cancelbtn" href="/moms/samplepack/intro"></a>
                <a class="samplepack_submit submitbtn" ng-click="click_saveSamplepackComp();"></a>
            </div>
        </div>

        <div class="col-xs-12">
            <div ng-model="ad" class="inven_themeup">
                <a class="ADbanner_image" title="배너타이틀">
                    <!--<img ng-src="{{ad.FILE}}"/>-->
                    <img img src="/imgs/ange/temp/story_banner.jpg"/>
                </a>
            </div>
        </div>


    </div>
    <!-- /신청폼 -->


    <div class="samplepack_tabbox"  ng-class="{ 'hidden': showSamplepackDetails }" style="display:block;">

        <ul class="nav nav-tabs nav-justified" id="tab" style="font-size:0.92em; font-weight:700;">
            <li role="presentation" ng-class="selectIdx == '1' ? 'active' : ''"><a ng-click="click_selectTab('1');">주의사항</a></li>
            <li role="presentation" ng-class="selectIdx == '2' ? 'active' : ''"><a ng-click="click_selectTab('2');">샘플팩 구성</a></li>

            <!-- 시즌1 주의사항 -->
            <div id="tabs-1" class="tabox_body" ng-if="selectIdx == '1'" ng-show="season_gb == 'SAMPLE1'" style="display:block;">
                <span class="tabox_title">신청방법</span>
                <ol>
                    <li>앙쥬 홈페이지 (www.ange.co.kr)에 회원가입합니다.</li>
                    <li>[신규회원 샘플팩 신청] 버튼을 눌러서 해당 내용을 입력합니다.</li>
                    <li>반드시 임신부증거사진(산모이름과 예정일이 함게 나와있는 사진 1장)을 포함해야 합니다.</li>
                    <li>응모자 중 500명을 추첨해서 발송해드립니다. 당첨자 발표일에 공지사항 게시판을 확인하세요.</li>
                </ol>

                <span class="table_red tabox_title" style="border-bottom:2px solid #e25d4c;">회원 탈퇴 후 재가입하여 신청시</span>
                <ul>
                    <li class="table_red">샘플팩 신청 및 당첨자 기록은 본사에 보유되어 있기 때문에 당첨자에서 제외됩니다.</li>
                </ul>

                <span class="tabox_title">주의사항</span>
                <ul>
                    <li>반드시 임신부만 응모하세요.(남성/출산맘 응모불가)</li>
                    <li>임신부 증거자료가 본인의 것이 아니거나 중복해서 등록할 경우 당첨이 취소됩니다.</li>
                    <li>주소가 불분명할 경우 추첨대상에서 제외됩니다.(아파트 동/호수 없는 경우, 번지수 없는 경우)</li>
                    <li>샘플팩은 재발송되지 않습니다.</li>
                    <li>신청IP, 반으시는 주소가 같을 경우 중복 발송하지 않습니다.</li>
                    <li>신청기간 내 회원가입한 임신부만을 대상으로 합니다.</li>
                    <li>샘플팩 구성은 업체사정으로 공지없이 변경될 수 있습니다.</li>
                    <li>신청한 내용(사진)은 변경할 수 없으므로 신중히 작성해주시기 바랍니다.</li>
                    <li>탈퇴 후 재가입하셔도 응모기록은 보유되기 때문에 당첨에서 제외됩니다.</li>
                </ul>
            </div>  <!-- /#samplepack_new_warning -->
            <!-- /시즌1 주의사항 -->

            <!-- 시즌2 주의사항 -->
            <div id="tabs-1" class="tabox_body"  ng-if="selectIdx == '1'" ng-show="season_gb == 'SAMPLE2'" style="display:block;">
                <span class="tabox_title">신청방법</span>
                <ol>
                    <li>상단 <mark><span class="table_red">신청자격확인</span></mark> 을 통해 신청자격을 먼저 확인하세요.</li>
                    <li><mark><span class="table_red">기존회원 샘플팩 신청</span></mark> 버튼을 눌러서 해당 내용을 입력합니다.</li>
                    <li>반드시 임신부증거사진(산모이름과 예정일이 함게 나와있는 사진 1장)을 포함해야 합니다.</li>
                    <li>우리아이 첫 태동의 느낌을 작성해 주세요.</li>
                    <li class="table_red">신청 시 마일리지 2,000p 차감(부족 시 신청 불가능)</li>
                </ol>

                <span class="tabox_title">주의사항</span>
                <ul>
                    <li>등록된 임신부 인증 사진이 미흡할 경우 당첨이 취소됩니다.<br />(관렵없는 사진, 예정일이 없는 사진을 올릴 경우)</li>
                    <li><span class="table_red">선착순으로 증정</span>되며 마일리지가 부족하면 신청이 되지 않습니다.</li>
                    <li>별도의 주소 확인은 하지 않으며 발송시점 주소가 불분명할 경우 당첨이 취소됩니다.<br />(아파트 동/호수 없는 경우, 번지수 없는 경우)</li>
                    <li>신청한 내용(사진)은 변경할 수 없으므로 신중히 작성해주시기 바랍니다.</li>
                    <li>임신부 증거자료가 본인의 것이 아니거나 중복해서 등록할 경우 당첨이 취소됩니다.</li>
                    <li>샘플팩 구성은 업체사정으로 공지없이 변경될 수 있습니다.</li>
                    <li>첫 태동의 느낌을 작성하지 않으면 신청되지 않습니다.</li>
                    <li>선착순으로 제공됨으로 별도의 당첨 공지를 하지 않습니다.</li>
                    <li>신청IP, 받으시는 주소가 같을 경우 중복 발생하지 않습니다.</li>
                    <li><span class="table_red">착불 2,500원</span>으로 발송됩니다.(제주지역 추가운임 발생)</li>
                </ul>
            </div>  <!-- /#samplepack_new_warning -->
            <!-- /시즌2 주의사항 -->

            <!-- 시즌 1 샘플팩 구성 -->
            <div id="tabs-2" class="tabox_body" ng-show="season_gb == 'SAMPLE2'" ng-if="selectIdx == '2'" style="display:block;">
                <span class="tabox_title">기존회원 샘플팩 구성</span>
                <br />
                <p style="margin-top:10px;"><small class="table_gray">※샘플팩의 종류와 수량은 사진과 다를 수 있으며, 구성은 업체사정으로 공지없이 변경될 수 있습니다.</small></p>



                <!-- 샘플팩 구성 소개 : samplepack_goodsbox_td(한 줄)에 2개씩 표시하여 반복 -->
                <div class="samplepack_goodsbox_td">

                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_01.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>

                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_02.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용,신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>  <!-- /.samplepack_goodsbox_td -->

                </div>
                <!-- /샘플팩 구성 소개 : samplepack_goodsbox_td(한 줄)에 2개씩 표시하여 반복 -->


                <div class="samplepack_goodsbox_td">
                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_03.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용,신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>
                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_01.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>  <!-- /.samplepack_goodsbox_td -->
                </div>

            </div>  <!-- /#samplepack_new_goods -->
            <!-- /시즌 1 샘플팩 구성 -->

            <!-- 시즌 2 샘플팩 구성 -->
            <div id="tabs-2" class="tabox_body" ng-show="season_gb == 'SAMPLE1' && selectIdx == '2'"style="display:block;">
                <span class="tabox_title">신규회원 샘플팩 구성</span>
                <br />
                <p style="margin-top:10px;"><small class="table_gray">※샘플팩의 종류와 수량은 사진과 다를 수 있으며, 구성은 업체사정으로 공지없이 변경될 수 있습니다.</small></p>



                <!-- 샘플팩 구성 소개 : samplepack_goodsbox_td(한 줄)에 2개씩 표시하여 반복 -->
                <div class="samplepack_goodsbox_td">

                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_01.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>

                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_02.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용,신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>  <!-- /.samplepack_goodsbox_td -->

                </div>
                <!-- /샘플팩 구성 소개 : samplepack_goodsbox_td(한 줄)에 2개씩 표시하여 반복 -->


                <div class="samplepack_goodsbox_td">
                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_03.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용,신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>
                    <div class="samplepack_goodsbox">
                        <img src="/imgs/ange/_blank.gif" style="background-image: url('/imgs/ange/temp/mileagemall_01.jpg')"/>
                        <div class="samplepack_goodsboxtxt">
                            <p class="table_green">보솜이 프리미엄 천연코튼 보솜이 프리미엄 보솜이 프리미엄</p>
                            <div class="table_gray" style="clear:both; font-size:0.86em; line-height:15px;">신소재 공법으로 개발된 저자극 듀얼 소프트 쿠션커버 사용, 초흡수 에어홀로 우리 아기 엉덩이를 더욱 상쾌하고 보송하게 지켜줍니다.</div>
                            <a class="samplepack_sponlink" style="float:left;margin-top:5px;font-family: arial, sans-serif; font-size:0.82em; color:#868686;" href="#" target="_blank">http://www.bosomi.co.kr</a>
                        </div>
                    </div>  <!-- /.samplepack_goodsbox_td -->
                </div>

            </div>  <!-- /#samplepack_new_goods -->
            <!-- /시즌 2 샘플팩 구성 -->

        </ul>   <!-- /.nav-tabs -->
    </div>

</div><!-- /.sub_contents_wrap -->
</div>
</div>

</div> <!-- rows -->


</div><!-- container-fluid -->
</div><!-- /.mainbar -->


<div class="subar sub-slide1">
    <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

    <!-- 1200px 이하일 경우 표시되는 footer -->
    <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
    <!-- /1200px 이하일 경우 표시되는 footer -->
</div>

<!-- /Main Page Layout Set -->
</div>

<script type="text/ng-template" id="user_info_modal.html">
    <div class="modal-header">
        <h3 class="modal-title">정보수정</h3>
    </div>
    <div class="modal-body">
        <div ng-model="approval" lass="row" class="form-horizontal">
            <div class= "form-group">
                아이디 <input type="text" class="form-control" ng-model="item.USER_ID" disabled class= "form-control" placeholder="주소"/>
            </div>
            <div class= "form-group">
                이름 <input type="text" class="form-control" ng-model="item.USER_NM" disabled class= "form-control" placeholder="이름"/>
            </div>
            <div class= "form-group">
                닉네임 <input type="text" class="form-control" ng-model="item.NICK_NM" disabled class= "form-control" placeholder="닉네임"/>
            </div>
            <div class= "form-group">
                주소 <input type="text" class="form-control" ng-model="item.ADDR"  class= "form-control" placeholder="주소"/>
            </div>
            <div class= "form-group">
                세부주소 <input type="text" class="form-control" ng-model="item.ADDR_DETAIL"  class= "form-control" placeholder="세부주소"/>
            </div>
            <div class= "form-group">
                전화번호 <input type="text" class="form-control" ng-model="item.PHONE_1"  class= "form-control" placeholder="전화번호"/>
            </div>
            <div class= "form-group">
                휴대폰번호 <input type="text" class="form-control" ng-model="item.PHONE_2" class= "form-control" placeholder="휴대폰번호"/>
            </div>
            <!--<div class= "form-group">-->
                <!--임신여부 <input type="radio"  value="Y" id="preg_Y" name="preg" ng-model="item.PREGNENT_FL" placeholder="출산여부"/>Y-->
                <!--&nbsp;-->
                <!--<input type="radio" id="preg_N"  name="preg" value="N"  ng-model="item.PREGNENT_FL" placeholder="출산여부"/>N-->
                <!--<div ng-show="checked == 'Y'" id="birth_dt">출산예정일 <input type="text" class="form-control" ng-model="item.BABY_BIRTH_DT" class= "form-control" placeholder="ex) 20150112"/></div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="click_ok()">수정</button>
        <button class="btn btn-warning" ng-click="click_cancel()">취소</button>
    </div>
</script>
