<div ng-controller="momsevent-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>

                            <div class="row" style="width:100%; margin:0px auto; margin-bottom:35px;">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic h-cell-dynamic" style="padding:0; margin:0px;">

                                        <img class="blank_wrap" src="/imgs/ange/_blank_80by31.gif" />

                                        <!-- jumbotron_cover -->
                                        <ange-portlet-slide-banner ng-model="option"></ange-portlet-slide-banner>
                                        <!-- /jumbotron_cover -->
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-12 -->
                            </div>  <!-- /.row -->


                            <!-- 체험단&이벤트 목록 -->
                            <div class="row webzine_moms_list" ng-repeat="item in list">
                                <div class="col-xs-12 v-cell-4" style="margin:0px;">
                                    <div class="comp_basic comp_splite_left h-cell-1" style="width:100%; padding:0; margin:0px;">

                                        <div class="item" style="position:absolute;" ng-click="comp_momsevent(item)"><img src="{{item.ada_preview_img}}" style="height: 155px;" class="webzine_moms_featureimg"></div>

                                        <div class="webzine_list_wrap">
                                            <div class="webzine_list_title" ng-click="comp_momsevent(item)" style="cursor: pointer;">
                                                {{item.ada_title}}
                                                <div class="webzine_list_bottomwrap">
                                                    <div class="webzine_list_item"><strong>모집기간</strong><span class="table_gray" style="margin-left:8px;">{{item.ada_date_open}}~{{item.ada_date_close}}</span></div>
                                                    <div class="webzine_list_item"><strong>당첨인원</strong><span class="table_gray" style="margin-left:8px;">{{item.ada_object}}</span></div>
                                                    <div class="webzine_list_item"><strong>당첨발표</strong><span class="table_gray" style="margin-left:8px;">{{item.ada_notice}}</span></div>
                                                </div>

                                                <!--<div class="webzine_list_btnwrap">-->
                                                    <!--<button class="webzine_list_btn red" title="응모하기" ng-show="showForm == 'reviewForm'" ng-click="comp_momsevent(item.NO)">응모하기</button><br />-->
                                                    <!--<button class="webzine_list_btn default" title="상세보기" ng-click="view_momsevent(item.NO)">상세보기</button>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>  <!-- comp_basic -->
                                </div>  <!-- col-xs-8 -->
                            </div>  <!-- /.row -->


                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>