<div ng-controller="samplepack-intro">

    <!-- mainbar -->
    <div class="mainbar sub-slide0">

        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">

            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} <!--<a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">비타민D</span></a>--></h3>
                            </div>



                            <div class="samplepack_introduction">
                                <p class="table_blue">행복한 임신,<br />앙쥬가 축하드립니다.</p>
                                <div class="samplepack_introduction_txt">
                                    <strong>앙쥬에서 회원님들의 행복을 축하</strong>드리며 임신부용품은 물론 아기용품, 생활용품까지 <strong>다양한 선물을 드립니다.</strong>
                                    신청조건을 확인하시고 신청하세요.
                                </div>
                            </div>

                            <div class="samplepack_types newpack">
                                <div  class="samplepack_smalltitle">
                                    <h4><strong>신규임신부 회원</strong></h4>
                                    <p class="table_blue samplepack_subguide">임신하셨어요? 앙쥬맘이 되어주세요.</p>
                                </div>


                                <dl class="samplepack_howto">
                                    <dd><span class="table_red">신청기간</span> : 매월 1일 ~ 말일</dd>
                                    <dd><span class="table_red">신청조건</span> : 해당월에 앙쥬에 신규가입한 임산부</dd>
                                    <dd><span class="table_red">증정인원</span> : 500명 추첨</dd>
                                    <dd><span class="table_red">신청방법</span> : 출산예정일과 임신부 증거자료 등록</dd>
                                    <dd><span class="table_red">증정선물</span> : 임신/육아용품 샘플팩</dd>
                                    <dd><span class="table_red">발송비용</span> : 무료배송</dd>
                                </dl>

                                <a ng-click="click_samplepackedit(item.SEASON1);" class="samplepack_showdetail"></a>
                            </div>

                            <div class="samplepack_types oldpack">
                                <div  class="samplepack_smalltitle">
                                    <h4><strong>기존 앙쥬(임신부) 회원</strong></h4>
                                    <p class="table_red samplepack_subguide">우리아이 첫태동을 잊을수가 없어요.</p>
                                </div>

                                <dl class="samplepack_howto">
                                    <dd><span class="table_blue">신청기간</span> : 매월 25일 ~ 말일</dd>
                                    <dd><span class="table_blue">신청조건</span> : 신규 임신부 샘플팩을 받지 못한 임신부인 앙쥬맘</dd>
                                    <dd><span class="table_blue">증정인원</span> : 200명 선착순</dd>
                                    <dd><span class="table_blue">신청방법</span> : 출산예정일과 임신부 증거자료 등록</dd>
                                    <dd><span class="table_blue">증정선물</span> : 임신/육아/생활용품팩 (정품+샘플)</dd>
                                    <dd><span class="table_blue">발송비용</span> : 착불 2,500원</dd>
                                    <dd><span class="table_blue">주의사항</span> : 앙쥬 마일리지 2,000점 차감</dd>
                                </dl>

                                <a ng-click="click_samplepackedit(item.SEASON2);"class="samplepack_showdetail"></a>
                            </div>

                            <div class="samplepack_guidebox">
                                <div  class="samplepack_smalltitle">
                                    <h4><strong>신청 전 반드시 확인하세요.</strong></h4>
                                </div>

                                <a href="#" class="samplepack_gotoreview"></a>

                                <ol class="samplepack_howto">
                                    <li>반드시 <span class="table_blue"><u>임신부만 응모</u></span>하세요 <strong>(남자회원 신청불가)</strong></li>
                                    <li>임신부 증거자료는 1장만 등록 가능하며 <span class="table_blue"><u>사진이 미흡할 경우 당첨이 취소</u></span>됩니다.<br />(관련없는 사진, 예정일이 없는 사진을 올려줄 경우)</li>
                                    <li>임신부 증거자료가 본인의 것이 아니거나 중복해서 등록할 경우 선정에서 제외됩니다.</li>
                                    <li>당첨자 발표 후 별도 주소확인은 하지 않으며 주소가 불분명할 경우 선물은 발송되지 않습니다. (번지수가 없거나 아파트 동, 호수 없는 경우)</li>
                                    <li>한번 등록한 내용은 변경하실 수 없습니다.</li>
                                    <li>회원 탈퇴 후 재가입하여 신청하더라도 신청기록은 남기 때문에 샘플팩 선정에서 제외됩니다.</li>
                                    <li>샘플팩의 종류와 수량은 사진과 다를 수 있으며, 구성은 업체 사정으로 공지없이 변경될 수 있습니다.</li>
                                    <li>각 샘플팩 응모방법 및 주의사항을 숙지하시기 바랍니다.</li>
                                    <li>사진과 함께 샘플팩 후기를 남겨주세요! <span class="table_red"><u>후기를 작성해주시는 분께 앙쥬 마일리지 200점을 적립</u></span>해드립니다.</li>
                                </ol>
                            </div>

                        </div><!-- /.sub_contents_wrap -->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                <hr style="margin:0 15px 0 15px;" />

                <center>
                    <img src="/imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div><!-- /.mainbar -->


    <div class="subar sub-slide1" style="padding: 10px 0 0 10px;">
        <div class="row">
            <div class="side_wrap" style="width:100%; border:1px solid black; width: 180px; margin-left:4%; ">
                우측바
            </div>
        </div>
    </div><!-- /.subar -->

    <!-- /Main Page Layout Set -->
</div>