<div ng-controller="momshome">
    <!-- Main Page Layout Set -->
    <div class="mainbar sub-slide0">

        <div class="container-fluid common_container">
            <div class="row">

                <div class="col-xs-6 v-cell-4">
                    <div class="comp_basic comp_splite_left h-cell-dynamic">

                        <!-- jumbotron_cover -->
                        <ange-portlet-slide-banner ng-model="option_r1_c1"></ange-portlet-slide-banner>
                        <!-- /jumbotron_cover -->

                        <!--&lt;!&ndash; jumbotron_cover &ndash;&gt;-->
                        <!---->
                        <!--<div class="jumbotron_cover">-->

                            <!--<div style="position:absolute; width:100%; z-index:9; text-align:center;"><img src="/imgs/ange/ribon_exper_now.jpg" style="opacity:0.8"/></div>-->

                            <!--<div class="jumbotron_cover_imgs" style="padding-bottom:45px;">-->
                                <!--<div id="jumbotron_cover" class="carousel slide" data-ride="carousel">-->
                                    <!--<div class="carousel-inner" role="listbox">-->
                                        <!--<div class="item active"><img src="imgs/ange/temp/moms_jb_01.jpg" alt="First Label"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="jumbotron_cover_controlbar">-->
                                <!--<div class="black_shade_nomargin"></div>-->

                                <!--<div class="jumbotron_cover_controlset">-->
                                    <!--<a class="jumbotron_cover_pause">일시정지</a>-->
                                    <!--&lt;!&ndash; a class="jumbotron_cover_play">재생</a &ndash;&gt; &lt;!&ndash; 일시정지 시에 표시 &ndash;&gt;-->

                                    <!--<ol class="carousel-indicators jumbotron_indicators_wrap">-->
                                        <!--<li data-target="#jumbotron_cover" data-slide-to="0" class="jumbotron_indicators_actived"></li>-->
                                        <!--<li data-target="#jumbotron_cover" data-slide-to="1" class="jumbotron_indicators"></li>-->
                                        <!--<li data-target="#jumbotron_cover" data-slide-to="2" class="jumbotron_indicators"></li>-->
                                    <!--</ol>-->
                                <!--</div>-->

                                <!--<div class="jumbotron_cover_controlbar_title">리틀램 놀이방 매트</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /jumbotron_cover &ndash;&gt;-->
                    </div>
                </div>

                <div class="col-xs-6 v-cell-4">
                    <div class="comp_basic comp_splite_right h-cell-dynamic">

                        <!-- jumbotron_cover -->
                        <ange-portlet-slide-banner ng-model="option_r1_c2"></ange-portlet-slide-banner>
                        <!-- /jumbotron_cover -->

                        <!--&lt;!&ndash; jumbotron_cover &ndash;&gt;-->
                        <!--<div class="jumbotron_cover">-->

                            <!--<div style="position:absolute; width:100%; z-index:9; text-align:center;"><img src="/imgs/ange/ribon_event_now.jpg" style="opacity:0.8"/></div>-->

                            <!--<div class="jumbotron_cover_imgs" style="padding-bottom:45px;">-->
                                <!--<div id="jumbotron_cover" class="carousel slide" data-ride="carousel">-->
                                    <!--<div class="carousel-inner" role="listbox">-->
                                        <!--<div class="item active"><img src="imgs/ange/temp/moms_jb_02.jpg" alt="First Label"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="jumbotron_cover_controlbar">-->
                                <!--<div class="black_shade_nomargin"></div>-->

                                <!--<div class="jumbotron_cover_controlset">-->
                                    <!--<a class="jumbotron_cover_pause">일시정지</a>-->
                                    <!--&lt;!&ndash; a class="jumbotron_cover_play">재생</a &ndash;&gt; &lt;!&ndash; 일시정지 시에 표시 &ndash;&gt;-->

                                    <!--<ol class="carousel-indicators jumbotron_indicators_wrap">-->
                                        <!--<li data-target="#jumbotron_cover" data-slide-to="0" class="jumbotron_indicators_actived"></li>-->
                                        <!--<li data-target="#jumbotron_cover" data-slide-to="1" class="jumbotron_indicators"></li>-->
                                        <!--<li data-target="#jumbotron_cover" data-slide-to="2" class="jumbotron_indicators"></li>-->
                                    <!--</ol>-->
                                <!--</div>-->

                                <!--<div class="jumbotron_cover_controlbar_title">닥터썸 교정기 이벤트</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /jumbotron_cover &ndash;&gt;-->
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-8 v-cell-1">
                    <div class="comp_basic comp_splite_left h-cell-1-half">

                        <!-- /mini_review -->
                        <ange-portlet-channel-list ng-model="option_r2_c1"></ange-portlet-channel-list>
                        <!-- /mini_review -->

                        <!--<div class="mini_story"  style="border:1px solid #e4e2e5; background-color:#f8f6f9; border-radius:12px;">-->
                            <!--<div class="miniboard_titlebar">-->
                                <!--<span class="miniboard_title">앙쥬후기</span>-->

                                <!--<a class="miniboard_tab_more">더보기</a>-->

                                <!--<div class="miniboard_tab">샘플팩</div>-->
                                <!--<div class="miniboard_tab_on">이벤트/체험단</span></div>-->
                                <!--<div class="miniboard_tab">상품</div>-->
                                <!--<div class="miniboard_tab">앙쥬</div>-->
                            <!--</div>-->


                            <!--<div class="miniboard_review_contents">-->

                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기<kbd class="kbd_new">N</kbd></span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">userNickname</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->

                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기<kbd class="kbd_new">N</kbd></span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">userNickname</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->


                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="mini_review_contents-noimg">-->
                                    <!--<div class="mini_board_contents_txt">-->

                                        <!--<span class="mini_story_txt_head">[이벤트/체험단]</span>-->
                                        <!--<span class="mini_story_txt_title">샘플팩 후기</span>-->

                                        <!--<ul class="mini_board_feeds">-->
                                            <!--<li class="mini_author">닉네임</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->

                        <!--</div>-->
                    <!-- /mini_review -->
                    </div>
                </div>

                <div class="col-xs-4 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-1-half">
                    <!-- /mini_ranking -->
                    <div class="comp_ranking">
                        <div class="comp_ranking_img">
                            <img class="comp_ranking_champion" src="/imgs/ange/temp/comp_rank_champion.jpg"/>
                            <div class="comp_ranking_champion_txt" style>지난달1위<span class="comp_ranking_champion_name" >서현맘쥬</span></div>
                        </div>

                        <div class="miniboard_community_contents" style="margin-top:0; border:1px solid #DFDFDF; border-top:none;">
                            <span class="mini_community_title" style="margin-bottom:10px; ">실시간 랭킹</span>


                            <!-- 1위만 span class에 topRank 가 붙습니다. -->
                            <div class="mini_community_contents">
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_ranking_txt_no topRank">1</span>서현맘쥬</span>
                                </div>
                            </div>

                            <div class="mini_community_contents">
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_ranking_txt_no">2</span>통통맘따봉</span>
                                </div>
                            </div>

                            <div class="mini_community_contents">
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_ranking_txt_no">3</span>로또맘</span>
                                </div>
                            </div>
                            <div class="mini_community_contents">
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_ranking_txt_no">4</span>노홍철</span>
                                </div>
                            </div>
                            <div class="mini_community_contents">
                                <div class="mini_board_contents_txt">
                                    <span class="mini_community_txt_title"><span class="mini_ranking_txt_no">5</span>든이든이맘</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /mini_ranking -->
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-xs-8 v-cell-3">
                    <div class="comp_basic comp_splite_left h-cell-1">
                        <!-- mini_joinlink -->
                        <div class="comp_joinlink" >

                            <div class="comp_joinlink_wrap left">
                                <!-- 서평단 모집 -->
                                <a class="comp_joinlink_booker">
                                    <img src="/imgs/ange/comp_joinlink_booker_img.png" />
                                    <div class="comp_joinlink_booker_txt">
                                        임신부터 육아까지, 꼭 필요한 정보만 한권에 쏙! [앙쥬] 가 만들어 믿고 보는 육아백과
                                    </div>
                                </a>
                                <!-- /서평단 모집 -->
                            </div>
                            <div  class="comp_joinlink_wrap right">
                                <!-- 샘플팩 신청 -->
                                <a class="comp_joinlink_samplepack">
                                    <div class="comp_joinlink_samplepack_txt">자세히보기</div>
                                </a>
                                <!-- /샘플팩 신청 -->
                            </div>

                        </div>
                        <!-- /mini_joinlink -->
                    </div>
                </div>

                <div class="col-xs-4 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-1">
                        <!-- mini_joinlink -->
                        <div class="comp_joinlink" >

                            <div class="comp_joinlink_wrap middle">
                                <!-- 체험단 모집 -->
                                <a class="comp_joinlink_exper">
                                    <img src="/imgs/ange/comp_joinlink_exper_img.png" />
                                </a>
                                <!-- /체험단 모집 -->

                                <!-- 체험단 업체모집 -->
                                <a class="comp_joinlink_partner">
                                    <img src="/imgs/ange/comp_joinlink_partner_img.png" />
                                </a>
                                <!-- /체험단 업체모집 -->
                            </div>

                        </div>
                        <!-- /mini_joinlink -->
                    </div>
                </div>
            </div>

        </div>


        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <div class="subar sub-slide1">
    우측바
    </div>
    <!-- /Main Page Layout Set -->
</div>