<div ng-controller="momsreview-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} </h3>
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

                                        <!--                                        <div class="btn-group" style="float:left;">
                                                                                    <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>

                                                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                                        <span class="caret"></span>
                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                    </button>

                                                                                    <ul class="dropdown-menu" role="menu">
                                                                                        <li><a href="#">제목+내용</a></li>
                                                                                        <li><a href="#">작성자</a></li>
                                                                                    </ul>-->
                                        <div class="btn-group" style="float:left;">
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control input-sm" placeholder="검색선택"></select>
                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0" class="form-control" placeholder="검색할 단어를 두자 이상 입력">

												<span class="input-group-btn" ng-click="click_searchPeopleBoard();">
												<button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>
												</span>

                                        </div>

                                        <!-- div style="float:right; width:120px; margin:0px; padding:0px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" />
                                                </span>
                                                <input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />
                                            </div>
                                        </div -->

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <!-- review_list -->
                            <table id="comp_board_table" class="table table-hover">

                                <thead>
                                <tr class="board_thead" height="48">
                                    <td width="9%" align="center"><span class="board_th">번호</span></td>
                                    <td colspan="2" align="left"><span class="board_th">내용</span></td>
                                    <td width="80" align="center"><span class="board_th">조회</span></td>
                                </tr>
                                </thead>

                                <tbody class="on" ng-repeat="item in list">
                                <tr ng-click="click_showViewReview(item.NO)" style="cursor:pointer;">
                                    <td class="table_no" style="vertical-align: middle;">
                                        <span>{{item.REVIEW_NO}}</span>
                                    </td>

                                    <td width="18%" style="min-width:150px;">
                                        <div class="review_thumbnails" >
                                            <!--<img class="thumbnails_img" style="width: 157px;height: 116px;" ng-src="{{item.MAIN_FILE}}" />-->
                                            <img src="/imgs/ange/_blank_4by3.gif" class="people_photo_img" style="background-image:url('{{item.FILE}}')" />
                                        </div>
                                        <!-- img src="" style="width:100%; border:1px solid #ddd;" -->
                                    </td>

                                    </td>

                                    <td style="padding-right:15px;">
                                        <div style="font-size:1.08em; font-weight:600; height:46px;">
                                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">{{ item.SUBJECT | limitTo: 30 }}{{item.SUBJECT > 30 ? '...' : ''}}</span>
                                            <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                                            <span ng-show="item.NEW_FL == 1" class="table_icon_new" style="vertical-align: middle;">N</span>
                                        </div>


                                        <div class="table_blue" style="font-size:0.86em;">{{item.NICK_NM}}</span> &nbsp;|&nbsp; <span class="table_gray">{{item.REG_DT}}</span></div>

                                        <!--<span class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                        <!--<div class="table_gray" style="text-align: justify; font-size:0.92em; word-break: keep-all;">{{item.BODY | string_limit : 50}}{{item.BODY > 50 ? '...' : ''}}</div>-->

                                        <div class="table_gray" style="width:100%; text-align: justify; font-size:0.92em; word-break: break-all; height:38px; overflow:hidden; text-overflow:ellipsis; ">
                                            {{item.BODY | string_limit : 200}}
                                        </div>
                                    </td>
                                    <td class="table_hit">
                                        <div class="table_date" style="font-size:0.86em;">
                                            <div style="float:right; margin-top:10px; display:inline; padding:8px 0 0 18px;">
                                                <div class="feed_count counthit_color table_gray" title="조회수" style="line-height:12px; height:26px;">{{item.HIT_CNT}}</div>   <!-- 히트수 -->
                                                <div class="feed_count countlike_color table_gray" title="공감수" style="line-height:12px; height:26px;">{{item.LIKE_CNT}}</div>   <!-- 공감수 -->
                                                <!--<div ng-if="item.REPLY_FL == 'Y'" class="feed_count countreply_color table_gray" style="line-height:12px; height:14px;">{{item.REPLY_CNT}}</div>	&lt;!&ndash; 댓글수 &ndash;&gt;-->
                                                <div class="feed_count countreply_color table_gray" title="댓글수" style="line-height:12px; height:26px;">{{item.REPLY_CNT}}</div>	<!-- 댓글수 -->
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>

                                <tbody class="on" data-ng-show="list == '' || list == null">

                                <tr>
                                    <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                                </tr>

                                </tbody>
                            </table><!-- /.List-->

                            <nav class="text-center">
                                <pagination boundary-links="true" total-items="TOTAL_COUNT" items-per-page="25" ng-model="PAGE_NO" class="pagination-sm" max-size="10" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                            </nav><!-- /.Paging-->

                        </div><!-- /.sub_contents_body -->

                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="people_btn list" title="목록으로" style="display:none;">리스트</a>
                                    <a class="people_btn register" title="등록하기" style="display:block;" ng-click="click_showCreateReview();">등록</a>
                                    <a class="people_btn comment" title="의견쓰기" style="display:none;">의견쓰기</a>
                                </div>

                                <div class="col-xs-6">
                                    <a class="people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                    <a class="people_btn submit" title="완료" style="display:none;">완료</a>
                                    <a class="people_btn confirm" title="확인" style="display:none;">확인</a>
                                    <a class="people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                    <a class="people_btn modify" title="수정" style="display:none;">수정</a>
                                    <a class="people_btn delete" title="삭제" style="display:none;">삭제</a>
                                </div>
                            </div><!-- /.row -->

                            <!--<a class="btn people_btn submit" title="등록하기" ng-click="click_showCreateReview();">등록</a>-->
                        </div><!-- /.container -->

                        <!--<div ng-show="uid != '' && uid != null" ng-click="test()">세션이 있을때만 보입니다.</div>
                        <div ng-show="uid == '' || uid == null" ng-click="test()">세션이 없을때 보입니다.</div>   -->

                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->


    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>