<div ng-controller="infodeskboard-list" class="ng_wrap">
    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">{{community}} </h3> <!-- <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a> -->
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0">

                                        <!--                                        <div class="btn-group" style="float:left;">
                                                                                    <button type="button" class="btn btn-default btn-sm" style="text-align:left;">제목 + 본문</button>

                                                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                                        <span class="caret"></span>
                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                    </button>

                                                                                    <ul class="dropdown-menu" role="menu">
                                                                                        <li><a href="#">제목+내용</a></li>
                                                                                        <li><a href="#">작성자</a></li>
                                                                                    </ul>-->
                                        <div class="btn-group" style="float:left;">
                                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class= "form-control" placeholder="검색선택"></select>
                                        </div><!-- /btn-group -->

                                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                                            <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0" class="form-control" placeholder="검색할 단어를 두자 이상 입력">

												<span class="input-group-btn" ng-click="click_searchPeopleBoard();">
												<button class="btn btn-default"  type="button"><span class="glyphicon glyphicon-search"></span></button>
												</span>

                                        </div>

                                        <!-- div style="float:right; width:120px; margin:0px; padding:0px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" />
                                                </span>
                                                <input type="text" class="form-control table_filtercheck" placeholder="진행중" style="background:#fff; padding-top: 2px; cursor:default; font-size: 0.86em;" disabled />
                                            </div>
                                        </div -->

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">
                            <!-- peoplephoto_list -->
                            <div class="peoplep_list_tab" ng-show="infomenu == 'faq'">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" ng-repeat="tab in tabs" ng-class="selectIdx == $index ? 'active' : ''">
                                        <a ng-click="click_selectTab($index, tab.NO)">{{tab.CATEGORY_NM}}</a>
                                    </li>
                                </ul>

                                <!--<ul class="nav nav-tabs">-->
                                <!--<li role="presentation" class="active"><a>전체</a></li>-->
                                <!--<li role="presentation"><a>이유식</a></li>-->
                                <!--<li role="presentation"><a>반찬</a></li>-->
                                <!--<li role="presentation"><a>한끼식사</a></li>-->
                                <!--<li role="presentation"><a>간식</a></li>-->
                                <!--<li role="presentation"><a>나들이</a></li>-->
                                <!--<li role="presentation"><a>스페셜</a></li>-->
                                <!--</ul>-->
                            </div><!-- /.peoplep_list_tab -->

                            <!-- peoplepoll_list -->
                            <table id="comp_board_table" class="table table-hover">

                                <thead>
                                <tr class="board_thead normaltype" height="48">
                                    <td ng-show="infomenu != 'faq'" width="9%" align="center"><span class="board_th">번호</span></td>
                                    <td align="center"><span class="board_th">제목</span></td>
                                    <td ng-show="infomenu == 'qna' || infomenu == 'myqna'" width="120" align="center"><span class="board_th">작성자</span></td>
                                    <td width="80" align="center"><span class="board_th">작성일</span></td>
                                    <!--<td width="60" ng-show="menu != 'qna' || menu != 'myqna'"  align="center"><span class="board_th">조회</span></td>-->
                                    <td width="100" ng-show="infomenu == 'qna' || infomenu == 'myqna'" align="center"><span class="board_th">답변여부</span></td>
                                </tr>
                                </thead>

                                <tbody class="on" ng-repeat="item in list">

                                <tr ng-click="infomenu == 'qna' ? click_showViewQnaPeopleBoard(item.PASSWORD_FL, item.NO, item.REG_UID) : click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                    <td class="table_no normaltype" ng-show="infomenu != 'faq'">
                                        <span ng-class="item.NOTICE_FL == 'Y' ? 'table_blue' : ''">{{item.NOTICE_FL == 'Y' ? '공지' : item.BOARD_NO}}</span>
                                    </td>
                                    <td class="normaltype">
                                        <span ng-class="item.PASSWORD_FL != 0 ? 'glyphicon glyphicon-lock table_icon_lock' : ''"></span>
                                        <span ng-show="infomenu == 'faq'">[{{item.CATEGORY_NM}}]</span>{{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                                        <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>-->
                                        <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                                        <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                        <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                    </td>
                                    <td  ng-show="infomenu == 'qna' || infomenu == 'myqna'"  class="table_author normaltype">{{item.NICK_NM}}</td>
                                    <td class="table_date normaltype">{{item.REG_DT}}</td>
                                    <!--<td ng-show="menu != 'qna' || menu != 'myqna'" align="center">{{item.HIT_CNT}}</td></tr>-->
                                    <td class="normaltype" ng-show="infomenu == 'qna' || infomenu == 'myqna'" align="center">
                                        <!--{{item.BOARD_REPLY_FL}}-->
                                        <img ng-show="item.BOARD_REPLY_FL ==  'Y'" src="/imgs/ange/endBtn_.jpg">
                                        <img ng-show="item.BOARD_REPLY_FL ==  'N'" src="/imgs/ange/waitBtn_.jpg">
                                    </td></tr>
                                </tr>

                                <tr ng-click="infomenu == 'qna' ? click_showViewQnaPeopleBoard(item.PASSWORD_FL, item.NO, item.REG_UID) : click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                                    <!---- 모바일 TD ------>
                                    <td class="table_no mobiletype" ng-show="infomenu != 'faq'"  style="width: 10% !important;">
                                        <span ng-class="item.NOTICE_FL == 'Y' ? 'table_blue' : ''">{{item.NOTICE_FL == 'Y' ? '공지' : item.BOARD_NO}}</span>
                                    </td>

                                    <td class="mobiletype" colspan="1" style="width: 90% !important;">
                                        <div>
                                            <div style="width:100%; white-space: inherit; overflow: hidden; text-overflow: ellipsis; font-size:1.12em;" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">
                                                <span ng-class="item.PASSWORD_FL != 0 ? 'glyphicon glyphicon-lock table_icon_lock' : ''"></span>
                                                {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}
                                                <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                                                <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                                                <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>-->
                                            </div>


                                            <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                                            <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                            <!--<span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                                        </div>

                                        <div  ng-show="infomenu == 'qna' || infomenu == 'myqna'" style="display:inline-block;">
                                            <img ng-show="item.BOARD_REPLY_COUNT > 0" src="/imgs/ange/endBtn_.jpg">
                                            <img ng-show="item.BOARD_REPLY_COUNT == 0" src="/imgs/ange/waitBtn_.jpg">
                                        </div>

                                        <div  ng-show="infomenu == 'qna' || infomenu == 'myqna'" class="table_blue" ng-bind-html="item.NICK_NM" style="font-size:0.78em; color:#868686; margin-top:10px;"></div>
                                        <div class="table_date" style="font-size:0.78em; color:#868686;">{{item.REG_DT+'  /  조회수 '+item.HIT_CNT}}</div>
                                    </td>

                                </tr>

                                </tbody>

                                <tbody class="on" data-ng-show="list == '' || list == null">

                                <tr>
                                    <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                                </tr>

                                </tbody>
                            </table><!-- /.List-->

                            <nav class="text-center">
                                <pagination boundary-links="true" total-items="TOTAL_COUNT" items-per-page="25" ng-model="PAGE_NO" max-size="10" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
<!--                                <ul class="pagination pagination-sm table_paging">
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>
                                    </li>
                                </ul>-->
                            </nav><!-- /.Paging-->

                            <nav class="text-center mobiletype" style="position:relative;">
                                <pager total-items="TOTAL_COUNT" ng-change="pageChanged()" items-per-page="25" ng-model="PAGE_NO"></pager>
                                <div style="font-family:Arial, sans-serif; font-size: 0.92em; position:absolute; top:6px; left:50%; margin-left:-18px; color:#888;">
                                    <span class="table_blue">{{PAGE_NO}}</span> / {{TOTAL_PAGES}}
                                </div>
                            </nav>
                            <!-- /peoplepoll_list -->

                        </div><!-- /.sub_contents_body -->

                        <!-- 등록 -->
                        <!--<a class="btn people_btn submit" title="등록하기" ng-show="infomenu == 'qna' || infomenu == 'myqna'" ng-click="click_showCreatePeopleBoard();">등록</a>-->


                        <div class="container-fluid people_view_btnwrap">
                            <div class="row">
                                <div class="col-xs-6">
                                    <!--<a class="btn people_btn list" title="목록으로" style="display:none;">리스트</a>-->
                                    <!--<a class="btn people_btn submit" title="등록하기" ng-show="role == 'ANGE_ADMIN'" ng-click="click_showCreatePeopleBoard();">등록</a>-->
                                    <a class="people_btn list" title="목록으로" style="display:none;">리스트</a>
                                    <a class="people_btn register" title="등록하기" ng-show="infomenu == 'qna' || infomenu == 'myqna'" ng-click="click_showCreatePeopleBoard();">등록</a>
                                    <a class="people_btn comment" title="의견쓰기" style="display:none;">의견쓰기</a>
                                </div>

                                <div class="col-xs-8">
                                    <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                    <a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>
                                    <a class="btn people_btn cancel" title="작성취소" style="display:none;">취소</a>
                                    <a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                </div>
                            </div><!-- /.row -->
                        </div>


                        <!--<div ng-show="uid != '' && uid != null" ng-click="test()">세션이 있을때만 보입니다.</div>
                        <div ng-show="uid == '' || uid == null" ng-click="test()">세션이 없을때 보입니다.</div>   -->

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    </div>

    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <!-- /Main Page Layout Set -->
</div>