<div ng-controller="infodeskboard-edit" class="ng_wrap">

    <!-- mainbar -->
    <div class="mainbar sub-slide0">
        <div class="container-fluid" style="clear:both; margin:0px auto; width:95%; max-width:800px;">


            <div ng-model="item" class="row">

                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <!--<h3 style="font-weight:bold;">{{community}} <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a></h3>-->
                                <h3 style="font-weight:bold;">{{community}} </h3> <!-- <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a> -->
                            </div>
                        </div><!-- /.sub_contents_wrap -->


                        <div ng-model="item" class="sub_contents_body">

                            <!-- peopleboard_edit -->
                            <div class="people_edit_wrap">

                                <div class="container-fluid peopleboard_edit_topwrap">

                                    <div class="row" style="margin:0px auto; margin-bottom:10px;">

                                        <label class="col-xs-1 control-label" style="padding:0; text-align:center; padding:3px 0;">제목</label>

                                        <div class="col-xs-3" style="padding:0;" ng-show="menu == 'faq'">
                                            <div class="input-group">

                                                <!--<input type="text" class="form-control input-sm" aria-label="..." value="카테고리" disabled style="background-color:#fff;">

                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>

                                                    <ul class="dropdown-menu" role="menu" >
                                                        <li><a href="#">앙쥬맘 수다방</a></li>
                                                        <li><a href="#">예비맘 출산맘</a></li>
                                                        <li><a href="#">육아방</a></li>
                                                        <li><a href="#">돌잔치 톡톡톡</a></li>
                                                        <li><a href="#">책수다</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">앙쥬모델 선발대회</a></li>
                                                        <li><a href="#">레시피 아케이드</a></li>
                                                        <li><a href="#">피플 맛집</a></li>
                                                    </ul>
                                                </div>&lt;!&ndash; /btn-group &ndash;&gt;-->

                                                <!--<select ng-model="item.TITLE" ng-options="tab.TITLE for tab in categorylist" class= "form-control" placeholder="선택"></select>-->
                                                <select ng-model="item.CATEGORY_NO" class= "form-control">
                                                    <option data-ng-repeat="category in categoryfaqlist" value="{{category.NO}}">{{category.NOTE}}</option>
                                                </select>

                                            </div><!-- /input-group -->
                                        </div><!-- /.col-xs-4 -->

                                        <div class="col-xs-8" style="padding-left:5px;">
                                            <input ng-model="item.SUBJECT" type="text" class="input-sm form-control" placeholder="제목을 입력하세요">
                                        </div><!-- /.col-xs-7 -->
                                    </div><!-- /.row -->

                                    <!-- 비밀번호 : 상담게시판에서만 보입니다. -->
                                    <div ng-show="menu == 'qna' || menu == 'myqna'" class="row" style="margin:0px auto; margin-bottom:10px;">

                                        <label class="col-xs-1 control-label" style="padding:0; text-align:center; padding:3px 0;">암호</label>

                                        <div class="col-xs-3" style="padding:0;">
                                            <input ng-model="item.PASSWORD" type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="비밀번호 4자리"><!-- /btn-group -->
                                        </div><!-- /.col-xs-4 -->

                                        <div class="col-xs-8" style="padding-left:5px; padding-top:6px;">
                                            <small class="table_gray">비밀번호를 입력하지 않으면 공개글로 설정됩니다.(비밀번호 4자리)</small>
                                        </div><!-- /.col-xs-7 -->
                                    </div><!-- /.row -->
                                    <!-- /비밀번호 : 상담게시판에서만 보입니다. -->
                                </div><!-- /.row -->

                            </div>

                            <!-- Ediotr Box -->
                            <div class="row people_editor_wrap">
                                <div class="col-xs-12 people_editor">
                                    <!--에디터 넣을자리 <br/>-->
                                    <!--- (글꼴, 글색, 글크기(12,14,16,18pt)/  <br/>-->
                                    <!--- 본문 정렬   <br/>-->
                                    <!--- 굵게,기울기,취소,밑줄  <br/>-->
                                    <!--- HTML-->
                                    <div style="border:1px solid #DEDEDE; width:100%; float:left;">
                                        <div>
                                            <textarea id="editor1" ng-model="item.BODY" ckeditor="editorOptions" disabled="{{scope.isDisabled}}"></textarea>
                                        </div>
                                    </div>
                                </div><!-- /.people_editor -->
                            </div><!-- /.row -->
                            <!-- /Ediotr  Box -->


                            <!-- Option-->
                            <div class="row">
                                <div class="col-xs-12">

<!--                                    <div class="peopleboard_options">
                                        <input type="checkbox" name="check" id="check_scrap" ng-model="item.SCRAP_FL" style="vertical-align: top;"/>
                                        <span class="filename">스크랩 허용</span>
                                    </div>-->


                                    <!--
                                    <div class="peopleboard_management" style="float:right;display:block;" >  관리기능 - 관리자 및 방장에게만 보임
                                        <div class="peopleboard_options">
                                            <input ng-model="item.NOTICE_FL" type="checkbox" style="vertical-align: top;" />
                                            <span class="filename">공지글</span>
                                        </div>

                                        <div class="peopleboard_options">
                                            <input type="checkbox" style="vertical-align: top;" />
                                            <span class="filename table_gray">블라인드 처리</span>
                                        </div>
                                    </div>
                                    -->

                                </div><!-- /.people_editor -->
                            </div><!-- /.row -->
                            <!-- /Option -->

                            <div class="container-fluid people_view_btnwrap">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a class="people_btn list" title="목록으로" style="display:block;" ng-click="click_showPeopleClinicList();">리스트</a>
                                        <a class="people_btn register" title="등록하기" style="display:none;">등록</a>
                                        <a class="people_btn comment" title="의견쓰기" style="display:none;">의견쓰기</a>
                                    </div>

                                    <div class="col-xs-6" >
                                        <a class="btn people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                                        <a class="btn people_btn confirm" title="확인" style="display:none;">확인</a>
                                        <!--<a class="btn people_btn submit" title="등록하기" style="display:block;" ng-click="click_savePeopleClinic();">등록</a>-->
                                        <a class="people_btn submit" title="완료" style="display:block;" ng-click="click_savePeopleClinic();">완료</a>
                                        <!--<a class="btn people_btn cancel" title="작성취소" style="display:block;" ng-click="click_showPeopleClinicList();">취소</a>-->
                                        <a class="btn people_btn modify" title="수정하기" style="display:none;">수정</a>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.people_view_btnwrap -->

                        </div>
                        <!-- /peopleboard_edit -->
                    </div><!-- /.sub_contents_body -->

                    <div class="sub_contents_ads" style="display:none;">
                        <div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- rows -->

    </div><!-- container-fluid -->


    <div class="subar sub-slide1">
        <div ng-include=" '/partials/ange/com/subside-ad.html' "></div>

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>
</div>