<div ng-controller="infodeskhome">
    <!-- Main Page Layout Set -->
    <div class="mainbar sub-slide0">

        <div class="container-fluid common_container">


                <div class="row">
                    <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                            <!-- mini_infodeskfaq -->
                            <div class="comp_infodeskfaq">

                                <div class="comp_infodeskfaq_titlewrap">

                                    <span class="comp_infodeskfaq_title">자주묻는 질문</span>

                                    <div class="input-group comp_infodeskfaq_search">
                                        <input type="text" class="form-control comp_infodeskfaq_input" placeholder="궁금한 키워드 또는 질문을 적어주세요">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default comp_infodeskfaq_btn" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div><!-- /input-group -->

                                </div>


                                <div class="comp_infodeskfaq_guidewrap">
                                    <div class="comp_infodeskfaq_guide">
                                        10월에 신청하신 신규회원 샘플팩은 11월 4일 당첨자 발표를 확인하세요. <br />
                                        단, 시즌2는 모두 증정이라 당첨자발표를 하지 않습니다. <br />
                                        - 게시판에 글/그림등록이 안된다면 [자주하는 질문] 13번, 20번을 참고하세요. <br />
                                        <a><span class="glyphicon glyphicon-star"></span> 샘플팩 신청관련하여 문의하시기 전에 읽어보세요!! >> CLICK !!</a>
                                    </div>
                                </div>


                                <div class="comp_infodeskfaq_contentwrap">

                                    <ul class="nav nav-tabs">
                                        <li role="presentation" class="active"><a href="#">BEST10</a></li>
                                        <li role="presentation"><a href="#">회원관련</a></li>
                                        <li role="presentation"><a href="#">마일리지</a></li>
                                        <li role="presentation"><a href="#">커뮤니티</a></li>
                                        <li role="presentation"><a href="#">이벤트/체험단</a></li>
                                        <li role="presentation"><a href="#">스토어</a></li>
                                    </ul>

                                    <br />

                                    <table id="comp_faq_table" class="table table-hover">

                                    <thead>
                                    <tr>
                                        <th width="10%"><span class="faq_th">번호</span></th>
                                        <th width="20%"><span class="faq_th">구분</span></th>
                                        <th><span class="faq_th">제목</span></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                    <th scope="row">1</th>
                                    <td><span class="faq_blue">회원관련</span></td>
                                    <td>앙쥬 메일이 안왔어요.</td>
                                    </tr>

                                    <tr><th scope="row">2</th><td><span class="faq_blue">커뮤니티</span></td><td>사진 등록은 어떻게 하나요</td></tr>
                                    <tr><th scope="row">3</th><td><span class="faq_blue">이벤트/체험단</span></td><td>이벤트 페이지 스크랩한 주소(URL)은 무엇을 말하나요?</td></tr>
                                    <tr><th scope="row">4</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>
                                    <tr><th scope="row">5</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>
                                    <tr><th scope="row">6</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>
                                    <tr><th scope="row">7</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>
                                    <tr><th scope="row">8</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>
                                    <tr><th scope="row">9</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>
                                    <tr><th scope="row">10</th><td><span class="faq_blue">회원관련</span></td><td>앙쥬 메일이 안왔어요.</td></tr>

                                    </tbody>
                                    </table>

                                </div>

                            </div>




                            <!-- /mini_infodeskfaq -->

                    </div>
                    </div>
                </div> <!-- row end -->


                <div class="row">
                    <div class="col-xs-6 v-cell-3">
                    <div class="comp_basic comp_splite_left h-cell-1-half">

                            <!-- mini_infodesknotice -->
                            <div class="comp_infodesknotice">

                                <div class="peopleboard_top">
                                    <div class="mini_community_titlebar" style=""border:1px solid red;">
                                        <span class="mini_community_title" style="color:#019bd4;">앙쥬소식</span>
                                        <a class="miniboard_tab_more">더보기</a>
                                    </div>
                                </div>

                                <div class="miniboard_community_contents">

                                    <div class="mini_community_contents">
                                        <!--<img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt" style="overflow:auto; text-align:left;">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[점검]&nbsp;</span>서버다운<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--<img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt" style="overflow:auto; text-align:left;">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[점검]&nbsp;</span>서버다운<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- /mini_infodesknotice -->

                    </div>
                    </div>

                    <div class="col-xs-6 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-1-half">

                            <!-- mini_infodeskqna -->
                            <div class="comp_infodeskqna">

                                <div class="peopleboard_top">
                                    <div class="mini_community_titlebar" style=""border:1px solid red;">
                                        <span class="mini_community_title" style="color:#699f00;">Q&A</span>
                                        <a class="miniboard_tab_more">더보기</a>
                                    </div>
                                </div>

                                <div class="miniboard_community_contents">

                                    <div class="mini_community_contents">
                                        <!--<img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt" style="overflow:auto; text-align:left;">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[점검]&nbsp;</span>서버다운<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--<img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt" style="overflow:auto; text-align:left;">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[점검]&nbsp;</span>서버다운<kbd class="kbd_new">N</kbd></span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>

                                    <div class="mini_community_contents">
                                        <!--  <img src="" class="mini_board_contents_img" />-->
                                        <div class="mini_board_contents_txt">
                                            <span class="mini_community_txt_title"><span class="mini_community_txt_head">[당첨]&nbsp;</span>로또 당첨자 발표</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /mini_infodeskqna -->

                    </div>
                    </div>
                </div> <!-- row end -->

                <div class="row">
                    <div class="col-xs-4 v-cell-3">
                    <div class="comp_basic comp_splite_left h-cell-dynamic">

                            <!-- mini_infodeskpds -->
                            <div class="comp_infodeskpds">

                                <div class="mini_infodeskpds_title">
                                    <div class="mini_infodeskpds_name">자료실</div>
                                    <a href="http://get.adobe.com/kr/reader/" target="_blank">Adobe PDF Viewer</a>
                                    <div>프로그램 설치가 필요합니다.</div>
                                </div>

                                <div class="mini_infodeskpds_link">
                                    <p><span style="color: #fb6362;">앙쥬</span>매체소개서</p>
                                    <a href="#">파일 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                </div>

                            </div>
                            <!-- /mini_infodeskpds -->

                    </div>
                    </div>

                    <div class="col-xs-4 v-cell-3">
                    <div class="comp_basic comp_splite_middle h-cell-dynamic">

                            <!-- mini_infodeskpds -->
                            <div class="comp_infodeskpds">

                                <div class="mini_infodeskpds_link">
                                    <p><span style="color: #fb6362;">앙쥬</span>미디어키트</p>
                                    <a href="#">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                </div>

                                <div class="mini_infodeskpds_link">
                                    <p><span style="color: #fb6362;">앙쥬그룹</span>사용자설명서</p>
                                    <a href="#">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                </div>

                            </div>
                            <!-- /mini_infodeskpds -->

                    </div>
                    </div>

                    <div class="col-xs-4 v-cell-3">
                    <div class="comp_basic comp_splite_right h-cell-dynamic">

                            <!-- mini_infodeskpds -->
                            <div class="comp_infodeskpds">

                                <div class="mini_infodeskpds_link">
                                    <p><span style="color: #fb6362;">육아백과</span>미디어키트</p>
                                    <a href="#">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                </div>

                                <div class="mini_infodeskpds_link">
                                    <p><span style="color: #fb6362;">앙쥬온라인</span>상품소개서</p>
                                    <a href="#">PDF 다운로드 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                                </div>

                            </div>
                            <!-- /mini_infodeskpds -->

                    </div>
                    </div>
                </div> <!-- row end -->



        </div> <!-- container end -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->
    </div>

    <div class="subar sub-slide1">
    우측바
    </div>
    <!-- /Main Page Layout Set -->
</div>