<div ng-controller="infodeskforgot-request" class="ng_wrap">
    <!--<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>-->
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid common_container">

            <div class="row">
                <div class="col-xs-12 v-cell-3">
                    <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">아이디/비번 찾기</h3>
                            </div>

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0; margin:40px auto;  text-align:center;">

                                        <span ng-click="click_changeStep('id')" ng-class="step == 'id' ? 'join_step now' : 'join_step'" style="cursor: hand;">아이디 찾기</span>
                                        <span ng-click="click_changeStep('pw')" ng-class="step == 'pw' ? 'join_step now' : 'join_step'" style="cursor: hand;">비밀번호 찾기</span>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->

                        <div ng-show="step == 'id'" class="sub_contents_body">
                            <div class="sub_pagetitle_hr">아이디 찾기</div>

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>이름</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="user_nm" ng-model="user.USER_NM" type="text" class="form-control" style="margin:0px;" placeholder="Name">
                                        </div>
                                    </span>

                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <!--
                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>닉네임</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="nick_nm" ng-model="user.NICK_NM" type="text" class="form-control" style="margin:0px;" placeholder="Nick name">
                                        </div>
                                    </span>

                                </div>  &lt;!&ndash; /.form_basicinfo &ndash;&gt;
                            </div>  &lt;!&ndash; /.form_rows &ndash;&gt;
                            -->

                            <!--
                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>생년월일</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <select ng-model="user.LUNAR_FL" class="form-control" style="width:90px;">
                                                <option value="0">양력</option>
                                                <option value="1">음력</option>
                                            </select>

                                            <select id="birth" ng-model="user.YEAR" ng-options="v for v in year" class= "form-control" style="width:110px;">
                                                <option value="">년</option>
                                            </select>

                                            <select ng-model="user.MONTH" ng-options="v for v in month" class= "form-control" style="width:75px;">
                                                <option value="">월</option>
                                            </select>

                                            <select ng-model="user.DAY" ng-options="v for v in day" class= "form-control" style="width:75px;">
                                                <option value="">일</option>
                                            </select>
                                        </div>
                                    </span>

                                </div>  &lt;!&ndash; /.form_basicinfo &ndash;&gt;
                            </div>  &lt;!&ndash; /.form_rows &ndash;&gt;
                            -->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>휴대폰</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <input id="phone_2" ng-model="user.PHONE_2_1" class="form-control" style="width:110px;" valid-number>
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="user.PHONE_2_2" class="form-control" style="width:110px;" valid-number>
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="user.PHONE_2_3" class="form-control" style="width:110px;" valid-number>
                                        </div>
                                    </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->
<!--
                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>이메일</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <input id="email" ng-model="user.EMAIL_ID" class="form-control" style="width:132px;">
                                            <span style="margin:0 4px;"> @ </span>
                                            <input ng-model="user.EMAIL_TYPE" class="form-control" style="cursor:default; width:180px; background-color: #fff;" ng-disabled="disabledEmail">

                                            <select ng-model="user.EMAIL_SELECT" class="form-control" style="width:110px; display:black;">
                                                <option value="">직접입력</option>
                                                <option value="naver.com">네이버</option>
                                                <option value="daum.net">다음</option>
                                                <option value="gmail.com">구글</option>
                                                &lt;!&ndash;<option value="etc">기타</option>&ndash;&gt;
                                            </select>
                                        </div>
                                    </span>

                                </div>  &lt;!&ndash; /.form_basicinfo &ndash;&gt;
                            </div>  &lt;!&ndash; /.form_rows &ndash;&gt;
-->

                            <div class="join_agree_totalcheck">
                                <!--<div class="join_agree_check">-->
                                <!--<input ng-model="user.CERT_GB" type="radio" value="EMAIL" style="float: left; margin:15px 0 0 15px;" ng-checked="true">-->
                                <!--<span style="float:left; margin:10px 5px;">이메일 인증</span>-->

                                <!--<input ng-model="user.CERT_GB" type="radio" value="PHONE" style="float: left; margin:15px 0 0 15px;">-->
                                <!--<span style="float:left; margin:10px 5px;">휴대폰 인증</span>-->
                                <!--</div>-->

                                <div ng-show="user.CERT_GB == 'PHONE'" class="ange_colorbox_gray">
                                    <div class="col-xs-1">
                                        <img src="/imgs/ange/icon_certification_phone.png" />
                                    </div>
                                    <div class="col-xs-9">
                                        <span style="font-weight:600; font-size:1.14em;">회원정보에 등록된 휴대전화 번호와 일치해야, 인증번호를 받을 수 있습니다.</span>
                                        <br />
                                        <small class="table_gray">[휴대폰 인증하기기]을 클릭하시면 본인 휴대폰으로 실명인증이 가능합니다.</small>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-default" style="margin-top:8px; font-size:0.86em;" ng-click="click_certUser('phone');">휴대폰 인증하기</button>
                                    </div>
                                    <div ng-show="isSMS" class="col-xs-12" style="margin: 30px 200px 0 200px">
                                        <div class="col-xs-3">
                                            <input ng-model="user.CERT_NO_CP" type="text" class="form-control">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-sm btn-info" ng-click="click_checkCertNo()"><span class="glyphicon glyphicon-plus"></span> 인증번호확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="checkCert" class="row form_rows">
                                <div class="col-xs-12" style="padding:0; margin:40px auto;  text-align:center;">
                                    <center>
                                        <h4 class="table_red" style="padding: 2px 0 4px 12px;">사용자 아이디 : {{forget.USER_ID}}</h4>
                                    </center>
                                </div>  <!-- /.form_col_lg -->
                            </div><!-- /.form_rows -->

                        </div><!-- /.sub_contents_body -->

                        <div ng-show="step == 'pw'" class="sub_contents_body">
                            <div class="sub_pagetitle_hr">비밀번호 찾기</div>

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>아이디</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="user_id" name="user_id" ng-model="user.USER_ID" type="text" class="form-control" style="margin:0px;" placeholder="ID">
                                        </div>
                                    </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

<!--
                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>이름</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="user_nm" ng-model="user.USER_NM" type="text" class="form-control" style="margin:0px;" placeholder="Name">
                                        </div>
                                    </span>

                                </div>  &lt;!&ndash; /.form_basicinfo &ndash;&gt;
                            </div>  &lt;!&ndash; /.form_rows &ndash;&gt;

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>닉네임</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-4 basicinfo input">
                                        <div class="form-group" style="margin:0 5px">
                                            <input id="nick_nm" ng-model="user.NICK_NM" type="text" class="form-control" style="margin:0px;" placeholder="Nick name">
                                        </div>
                                    </span>

                                </div>  &lt;!&ndash; /.form_basicinfo &ndash;&gt;
                            </div>  &lt;!&ndash; /.form_rows &ndash;&gt;
-->

                            <div class="row form_rows">
                                <div class="form_basicinfo">
                                    <span class="col-xs-2 basicinfo title">
                                        <strong>휴대폰</strong>
                                        <span class="table_blue">*</span>
                                    </span>

                                    <span class="col-xs-10 basicinfo input">
                                        <div class="form-inline" style="margin:0 5px">
                                            <!--<select ng-model="user.TELECOM" class="form-control" style="width:110px;">
                                                <option value="">통신사</option>
                                                <option value="1">SK</option>
                                                <option value="2">KT</option>
                                                <option value="3">LG</option>
                                                <option value="4">알뜰폰</option>
                                            </select>-->
                                            <input id="phone_2" ng-model="user.PHONE_2_1" class="form-control" style="width:110px;" valid-number>
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="user.PHONE_2_2" class="form-control" style="width:110px;" valid-number>
                                            <span style="margin:0 4px;"> &dash; </span>
                                            <input ng-model="user.PHONE_2_3" class="form-control" style="width:110px;" valid-number>
                                        </div>
                                    </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div class="join_agree_totalcheck">
                                <!--<div class="join_agree_check">-->
                                    <!--<input ng-model="user.CERT_GB" type="radio" value="EMAIL" style="float: left; margin:15px 0 0 15px;" ng-checked="true">-->
                                    <!--<span style="float:left; margin:10px 5px;">이메일 인증</span>-->

                                    <!--<input ng-model="user.CERT_GB" type="radio" value="PHONE" style="float: left; margin:15px 0 0 15px;">-->
                                    <!--<span style="float:left; margin:10px 5px;">휴대폰 인증</span>-->
                                <!--</div>-->

                                <div class="ange_colorbox_gray">
                                    <div class="col-xs-1">
                                        <img src="/imgs/ange/icon_certification_phone.png" />
                                    </div>
                                    <div class="col-xs-9">
                                        <span style="font-weight:600; font-size:1.14em;">회원정보에 등록된 휴대전화 번호와 일치해야, 인증번호를 받을 수 있습니다.</span>
                                        <br />
                                        <small class="table_gray">[휴대폰 인증하기기]을 클릭하시면 본인 휴대폰으로 실명인증이 가능합니다.</small>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-default" style="margin-top:8px; font-size:0.86em;" ng-click="click_certUser('phone');">휴대폰 인증하기</button>
                                    </div>
                                    <div ng-show="isSMS" class="col-xs-12" style="margin: 30px 200px 0 200px">
                                        <div class="col-xs-3">
                                            <input ng-model="user.CERT_NO_CP" type="text" class="form-control">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-sm btn-info" ng-click="click_checkCertNo()"><span class="glyphicon glyphicon-plus"></span> 인증번호확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="checkCert" class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>비밀번호</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input id="password" ng-model="user.PASSWORD" type="password" class="form-control" style="margin:0px;" placeholder="Password">
                                            </div>
                                        </span>

                                        <span class="col-xs-6 basicinfo desc">
                                            <span class="table_gray" ng-show="!checkPW">6~12자리 공백없이 영문,숫자 (특수문자 사용가능)</span>
                                            <span class="table_blue" ng-show="checkPW && availablePW">사용가능</span>
                                            <span class="table_red" ng-show="checkPW && !availablePW">사용불가</span>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                            <div ng-show="checkCert" class="row form_rows">
                                <div class="form_basicinfo">
                                        <span class="col-xs-2 basicinfo title">
                                            <strong>비밀번호확인</strong>
                                            <span class="table_blue">*</span>
                                        </span>

                                        <span class="col-xs-4 basicinfo input">
                                            <div class="form-group" style="margin:0 5px">
                                                <input ng-model="user.PASSWORD_CP" type="password" class="form-control" style="margin:0px;" placeholder="Password Confirm">
                                            </div>
                                        </span>

                                        <span class="col-xs-6 basicinfo desc">
                                            <!--<span class="table_gray" ng-show="!checkPW">다시한번 입력하세요</span>-->
                                            <span class="table_blue" ng-show="checkPW && comparePW">비밀번호가 동일합니다</span>
                                            <span class="table_red" ng-show="checkPW && !comparePW">비밀번호 틀립니다</span>
                                        </span>
                                </div>  <!-- /.form_basicinfo -->
                            </div>  <!-- /.form_rows -->

                        </div><!-- /.sub_contents_body -->

                        <div class="join_step_btn">

                            <!--<button class="join_stepbtn next" ng-click="click_forgotInfo()">다음 <span class="glyphicon glyphicon-chevron-right"></span></button>-->
                            <button class="join_stepbtn cancel" ng-click="click_moveHome()"><span class="glyphicon glyphicon-home"></span> 홈으로</button>
                            <button ng-show="checkCert && step == 'pw'" class="join_stepbtn next" ng-click="click_changePassword()"><span class="glyphicon glyphicon-off">변경</span></button>

                        </div>
                    <!--<button class="join_stepbtn cancel" ng-click="click_test()"><span class="glyphicon glyphicon-home"></span> 메일보내기</button>-->
                    </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

    <!-- 1200px 이하일 경우 표시되는 footer -->
    <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
    <!-- /1200px 이하일 경우 표시되는 footer -->

</div>



<!-- /Main Page Layout Set -->
</div>