<div ng-controller="joincertification">
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid common_container">

            <div class="row">
                <div class="col-xs-12 v-cell-3">
                <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">회원가입</h3>
                                <p>앙쥬를 방문해 주셔서 감사합니다. 회원가입을 하시면 다양한 서비스를 이용하실 수 있습니다.</p>
                            </div>


                            <div class="container-fluid sub_contents_customizewrap">
                                <div class="row">
                                    <div class="col-xs-12 sub_join_customize">

                                        <center>
                                        <img id="join_customize_bg" name="join_customize_bg"  class="join_customize_bg" src="/imgs/ange/temp/join_custom_bgimg.png" />
                                        </center>

                                        <img id="join_custom_title" name="join_custom_title"  class="join_customize_title" src="/imgs/ange/temp/join_custom_title.png" />

                                        <div class="join_customize_txt" style="color: #333;">
                                            앙쥬의 <span class="table_blue">회원가입은 무료! 실명제로 운영</span>됩니다. <br />
                                            한번의 회원가입으로 앙쥬의 모든 서비스 이용 가능~! <br />
                                            앙쥬 회원만을 위한 마일리지 적립도 가능합니다. <br />
                                            앙쥬에서는 개인정보의 안전한 관리를 위해 <br />
                                            주민번호를 수집하지 않습니다.
                                        </div>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0; margin:40px auto;  text-align:center;">

                                        <span class="join_step">01 약관동의</span>
                                        <span class="join_step">02 정보입력</span>
                                        <span class="join_step now">03 본인인증</span>
                                        <span class="join_step">04 가입완료</span>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <div class="sub_pagetitle_hr">본인인증</div>

                        </div><!-- /.sub_contents_body -->


                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <!-- /Main Page Layout Set -->
</div>