<div ng-controller="joinresult" class="ng_wrap {{channel.CHANNEL_ID}}">
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid common_container">

            <div class="row">
                <div class="col-xs-12 v-cell-3">
                <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">회원가입</h3>
                                <p>앙쥬를 방문해 주셔서 감사합니다. 회원가입을 하시면 다양한 서비스를 이용하실 수 있습니다.</p>
                            </div>


                            <div class="container-fluid sub_contents_customizewrap">
                                <div class="row">
                                    <div class="col-xs-12 sub_join_customize">

                                        <center>
                                        <img id="join_customize_bg" name="join_customize_bg"  class="join_customize_bg" src="/imgs/ange/temp/join_custom_bgimg.png" />
                                        </center>

                                        <img id="join_custom_title" name="join_custom_title"  class="join_customize_title" src="/imgs/ange/temp/join_custom_title.png" />

                                        <div class="join_customize_txt" style="color: #333;">
                                            앙쥬의 <span class="table_blue">회원가입은 무료! 실명제로 운영</span>됩니다. <br />
                                            한번의 회원가입으로 앙쥬의 모든 서비스 이용 가능~! <br />
                                            앙쥬 회원만을 위한 마일리지 적립도 가능합니다. <br />
                                            앙쥬에서는 개인정보의 안전한 관리를 위해 <br />
                                            주민번호를 수집하지 않습니다.
                                        </div>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0; margin:40px auto;  text-align:center;">

                                        <span class="join_step">01 약관동의</span>
                                        <span class="join_step">02 정보입력</span>
                                        <span class="join_step">03 본인인증</span>
                                        <span class="join_step now">04 가입완료</span>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <div class="sub_pagetitle_hr">가입완료</div>

                            <div class="row form_rows">
                                <div class="form_col_lg">
                                    <center>
                                        <p class="txt_title">
                                            <strong style="font-size:1.68em; font-weight:700;">가입이 완료되었습니다.</strong>
                                        </p>

                                        <div class="ange_colorbox_gray">
                                            <div class="col-xs-12" style="text-align:center;">
                                                <span style="font-weight:600; font-size:1.14em;">서현맘쥬</span>
                                                <span style="font-size:0.92em;">&nbsp; 님 앙쥬회원이 되신 것을 환영합니다.</span>
                                                <small class="table_gray">(2014-10-30 오후 10:40:00)</small>
                                            </div>

                                        </div>

                                        <div class="ange_messagebox">
                                            <h4 class="table_red" style="border-left:4px solid #111; padding: 2px 0 4px 12px;">가입 축하 마일리지 자동적립</h4>
                                            <div style="margin-left: 50px;">
                                                <span class="table_blue"><i>01.</i></span> 회원가입시(최초 1회) <strong style="color:#333; margin-left:10px;">1,000P</strong> <br />
                                                <span class="table_blue"><i>02.</i></span> 앙쥬클럽인 경우 회원정보변경 후(최초 1회) <strong style="color:#333; margin-left:10px;">1,000p</strong> <br />
                                                <span class="table_blue"><i>03.</i></span> 타회원 가입시 추천받음 <strong style="color:#333; margin-left:10px;">50p</strong>
                                                <p class="table_gray" style="margin: 18px 0;"><small>적립된 마일리지는 <a href="#">앙쥬스토어[마일리지몰] </a>에서 사용 가능합니다.</small></p>
                                            </div>

                                            <h4 class="table_red" style="margin-top:50px; border-left:4px solid #111; padding: 2px 0 4px 12px;">내 마일리지 확인</h4>
                                            <div style="margin-left: 50px;">
                                                <a href="#">마이앙쥬 > 회원정보 > 마일리지(포인트) 조회</a> 에서 확인할 수 있습니다.
                                            </div>

                                        </div>

                                    </center>
                                </div>  <!-- /.form_col_lg -->
                            </div><!-- /.form_rows -->
                        </div><!-- /.sub_contents_body -->

                        <div class="join_step_btn">

                            <button class="join_stepbtn cancel"><span class="glyphicon glyphicon-home"></span> 홈으로</button>
                            <button class="join_stepbtn next"><span class="glyphicon glyphicon-off"></span> 로그인</button>

                        </div>

                        <div class="sub_contents_ads" style="display:none;">
                            <div>
                            </div>
                        </div>

                </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div ng-include=" '/partials/ange/com/ui-mobilefooter.html' "></div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <!-- /Main Page Layout Set -->
</div>