<div ng-controller="jointerms">
    <!-- mainbar -->
    <div class="mainbar sub-slide">
        <div class="container-fluid common_container">

            <div class="row">
                <div class="col-xs-12 v-cell-3">
                <div class="comp_basic h-cell-dynamic">

                        <div class="sub_contents_wrap">

                            <div class="sub_contents_title">
                                <span class="sub_contents_bullet"></span>
                                <h3 style="font-weight:bold;">회원가입</h3>
                                <p>앙쥬를 방문해 주셔서 감사합니다. 회원가입을 하시면 다양한 서비스를 이용하실 수 있습니다.</p>
                            </div>


                            <div class="container-fluid sub_contents_customizewrap">
                                <div class="row">
                                    <div class="col-xs-12 sub_join_customize">

                                        <center>
                                        <img id="join_customize_bg" name="join_customize_bg"  class="join_customize_bg" src="/imgs/ange/temp/join_custom_bgimg.png" />
                                        </center>

                                        <img id="join_custom_title" name="join_custom_title"  class="join_customize_title" src="/imgs/ange/temp/join_custom_title.png" />

                                        <div class="join_customize_txt" style="color: #333;">
                                            앙쥬의 <span class="table_blue">회원가입은 무료! 실명제로 운영</span>됩니다. <br />
                                            한번의 회원가입으로 앙쥬의 모든 서비스 이용 가능~! <br />
                                            앙쥬 회원만을 위한 마일리지 적립도 가능합니다. <br />
                                            앙쥬에서는 개인정보의 안전한 관리를 위해 <br />
                                            주민번호를 수집하지 않습니다.
                                        </div>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                            <div class="container-fluid sub_contents_search">
                                <div class="row">
                                    <div class="col-xs-12" style="padding:0; margin:40px auto;  text-align:center;">

                                        <span class="join_step now">01 약관동의</span>
                                        <span class="join_step">02 정보입력</span>
                                        <span class="join_step">03 본인인증</span>
                                        <span class="join_step">04 가입완료</span>

                                    </div><!-- /.col-xs-12-->
                                </div><!-- /.row -->
                            </div><!-- /.container -->

                        </div><!-- /.sub_contents_wrap -->


                        <div class="sub_contents_body">

                            <div class="sub_pagetitle_hr">약관동의</div>

                            <div class="join_agree_wrap">
                                    <p class="join_agree_title">
                                        <strong>이용약관</strong>
                                        <span class="table_blue" style="margin-left:4px; font-size:0.78em;">(필수)</span>
                                    </p>

                                    <div class="join_agree_box">
                                        <pre class="ange_terms">
제 1 장 총 칙

제 1 조 [ 목 적 ]
이 약관은 (주)무크하우스(이하 "회사"라 합니다)와 이용고객(또는 회원)간에 회사에서 제공하는 인터넷 서비스(이하 "서비스"라 합니다)의 이용조건 및 절차, 회사와 회원간의 권리·의무 및 책임사항 기타 필요한 사항을 규정함을 목적으로 합니다.


제 2 조 [용어의 정의]
이 약관에서 사용되는 용어의 정의는 다음과 같습니다.

① "회원"이라 함은 서비스를 이용하기 위하여 회사와 이용계약을 체결하고 이용자 ID(아이디)와 비밀번호를 부여 받은 자를 말합니다.
② "이용고객"이라 함은 서비스를 이용하기 위하여 회사와 이용계약을 체결하려고 하는 자를 말합니다.
③ "이용계약"이라 함은 이용고객이 회사가 정한 약관에 동의하고 온라인 신청양식을 작성하여 서비스 이용을 신청하면 회사가 이용고객에게 이용자ID를 부여하여 서비스를 이용할 수 있도록 하는 것을 말합니다.
④ "이용자ID"라 함은 회원의 식별 및 서비스 이용을 위하여 이용고객이 선정하고 회사가 부여하는 문자 및 숫자의 조합을 말합니다.
⑤ "비밀번호(암호)"라 함은 회원이 사용하는 이용자 ID 및 회원의 권익보호를 위하여 회원이 선정한 문자 및 숫자의 조합을 말합니다.
⑥ "회원정보"라 함은 성명, 연락처 등 회사가 온라인 신청양식에 기재를 요청하는 회원의 개인정보를 말합니다.
⑦ "게시물"이라 함은 회사가 제공하는 서비스의 각종 게시판에 회원이 게재 또는 등록하는 질문, 답변, 자료(컴퓨터프로그램 포함), 사진, 도형, 영상 등을 의미합니다.
⑧ "앙쥬이몽드" "앙쥬샵"를 "e앙쥬"로 총칭함


제 3 조 [이용약관의 효력 및 변경]
① 이 약관은 (주)무크하우스 사이트(www.ange.co.kr , www.angeshop.co.kr)이하 사이트에  게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다.
                                        </pre>
                                    </div>

                                    <div class="join_agree_check">
                                        <div class="checkbox">
                                        <input type="checkbox" value="">동의합니다.
                                        </div>
                                    </div>
                            </div><!-- /.join_agree_wrap -->


                            <div class="join_agree_wrap">
                                    <p class="join_agree_title">
                                        <strong>개인정보 취급방침</strong>
                                        <span class="table_blue" style="margin-left:4px; font-size:0.78em;">(필수)</span>
                                    </p>

                                    <div class="join_agree_box">
                                        <pre class="ange_terms">
'(주)무크하우스'은 (이하 '회사'는)
고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.

회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.

회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.

ο 본 방침은  :  2008 년 10 월 15 일 부터 시행됩니다.

■ 수집하는 개인정보 항목

회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.


ο 수집항목 : 이름 , 생년월일 , 성별 , 로그인ID , 비밀번호 , 비밀번호 질문과 답변 , 자택 전화번호 , 자택 주소 , 휴대전화번호 , 이메일 , 결혼여부 , 기념일 , 주민등록번호 , 결제기록 , 자녀수 및 생년월일
ο 개인정보 수집방법 : 홈페이지(회원가입) , 서면양식
                                        </pre>
                                    </div>

                                    <div class="join_agree_check">
                                        <div class="checkbox">
                                        <input type="checkbox" value="">동의합니다.
                                        </div>
                                    </div>
                            </div><!-- /.join_agree_wrap -->

                            <div class="join_agree_wrap">
                                    <p class="join_agree_title">
                                        <strong>제 3자 정보제공동의</strong>
                                        <span class="table_red" style="margin-left:4px; font-size:0.78em;">(선택)</span>
                                    </p>

                                    <div class="join_agree_box">
                                        <pre class="ange_terms">
'(주)무크하우스'은 (이하 '회사'는)
고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.

회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.

회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.

ο 본 방침은  :  2008 년 10 월 15 일 부터 시행됩니다.

■ 수집하는 개인정보 항목

회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.


ο 수집항목 : 이름 , 생년월일 , 성별 , 로그인ID , 비밀번호 , 비밀번호 질문과 답변 , 자택 전화번호 , 자택 주소 , 휴대전화번호 , 이메일 , 결혼여부 , 기념일 , 주민등록번호 , 결제기록 , 자녀수 및 생년월일
ο 개인정보 수집방법 : 홈페이지(회원가입) , 서면양식
                                        </pre>
                                    </div>

                                    <div class="join_agree_check">
                                        <div class="checkbox">
                                        <input type="checkbox" value="">동의합니다.
                                        </div>
                                    </div>
                            </div><!-- /.join_agree_wrap -->

                            <div class="join_agree_totalcheck">
                                    <div class="join_agree_check">
                                        <div class="checkbox">
                                            <input type="checkbox" value=""><strong>[전체동의]</strong> 이용약관, 개인정보취급방침, 제 3자 정보제공 모두 동의합니다.
                                        </div>
                                    </div>
                            </div>



                        </div><!-- /.sub_contents_body -->

                        <div class="join_step_btn" style="float:left; width:100%; padding: 40px 0; text-align:center; display:block; margin-bottom:40px;">

                            <button class="join_stepbtn cancel"><span class="glyphicon glyphicon-remove-circle"></span> 취소</button>
                            <button class="join_stepbtn next">다음 <span class="glyphicon glyphicon-chevron-right"></span></button>

                        </div>

                </div>
                </div>

            </div> <!-- rows -->


        </div><!-- container-fluid -->

        <!-- 1200px 이하일 경우 표시되는 footer -->
        <div class="copyright_foot">
            <br /><br />
            <nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

                    <hr style="margin:0 15px 0 15px;" />

                    <center>
                        <img src="imgs/ange/footer_horicopy_01.jpg" style="margin:0px auto;" />
                    </center>
            </nav>
        </div>
        <!-- /1200px 이하일 경우 표시되는 footer -->

    </div>

    <!-- /Main Page Layout Set -->
</div>