<div class="col-xs-12 v-cell-3" ng-controller="clubboard-list">
    <div class="comp_basic h-cell-dynamic">

        <div class="sub_contents_wrap">

            <div class="sub_contents_title">
                <span class="sub_contents_bullet"></span>
                <h3 style="font-weight:bold;">앙쥬클럽 이야기방 <a href="#" class="people_boardmanager">관리자<span class="people_boardmanager_id">{{COMM_MG_NM}}</span></a></h3>
            </div>

            <div class="container-fluid sub_contents_customizewrap">
                <div class="row">
                    <div class="col-xs-12 sub_contents_customize" style="height:255px;">

                        <center>
                            <img class="people_customize_bg" ng-src="/imgs/ange/club_board_talk_img.png" />
                            <!--<img ng-if="tmpMenu == 'chlidoriental'" class="people_customize_bg" src="/imgs/temp/medical_consulting_child_03.png" />-->
                            <!--<img ng-if="tmpMenu == 'obstetrics'" class="people_customize_bg" src="/imgs/temp/medical_consulting_babymom_03.png" />-->
                            <!--<img ng-if="tmpMenu == 'momshealth'" class="people_customize_bg" src="/imgs/temp/medical_consulting_mom_03.png" />-->
                            <!--<img ng-if="tmpMenu == 'financial'" class="people_customize_bg" src="/imgs/temp/medical_consulting_money_03.png" />-->
                        </center>

                    </div><!-- /.col-xs-12-->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="container-fluid sub_contents_search">
                <div class="row">
                    <div class="col-xs-12" style="padding:0">

                        <div class="btn-group" style="float:left;">
                            <select ng-model="search.CONDITION" ng-options="condition.name for condition in conditions" class="form-control input-sm" placeholder="검색선택"></select>
                        </div><!-- /btn-group -->

                        <div class="input-group input-group-sm" style="width:240px; margin-left: 5px; float:left;">
                            <input type="text" ng-model="search.KEYWORD" ng-keyup="($event.which === 13) ? click_searchPeopleBoard() : 0"  class="form-control" placeholder="검색할 단어를 두자 이상 입력">

                            <span class="input-group-btn" ng-click="click_searchPeopleBoard();">
                                <button class="btn btn-default"  type="button" ><span class="glyphicon glyphicon-search"></span></button>
                            </span>

                        </div>

                    </div><!-- /.col-xs-12-->
                </div><!-- /.row -->
            </div><!-- /.container -->

        </div><!-- /.sub_contents_wrap -->


        <div class="sub_contents_body">

            <div class="peoplep_list_tab">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-repeat="tab in category_list" ng-class="selectIdx == $index ? 'active' : ''">
                        <a ng-click="click_selectTab($index, tab.NO)">{{tab.CATEGORY_NM}}<span ng-hide="$index == 0">({{tab.TOTAL_COUNT}})</span></a>
                    </li>
                </ul>
            </div>

            <table id="comp_board_table" class="table table-hover">

                <thead>
                <tr class="board_thead" height="48">
                    <td width="9%" align="center"><span class="board_th">번호</span></td>
                    <td align="center"><span class="board_th">제목</span></td>
                    <td ng-if="menu.COMM_NO != 8" width="120" align="center"><span class="board_th">작성자</span></td>
                    <td width="80" align="center"><span class="board_th">작성일</span></td>
                    <td width="60" align="center"><span class="board_th">조회</span></td>
                </tr>
                </thead>

                <tbody class="on" ng-repeat="item in list">

                <tr ng-click="click_showViewPeopleBoard(item.NO)" style="cursor:pointer;">
                    <td class="table_no">
                        <span ng-class="item.NOTICE_FL == '1' ? 'table_blue' : ''">{{item.NOTICE_FL == '1' ? '공지' : item.BOARD_NO}}</span>
                    </td>
                    <td>
                        <div style="float:left;">
                            <!--<span class="glyphicon glyphicon-lock table_icon_lock"></span>-->
                            <span style="font-size:0.86em;" ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'N'">[{{item.CATEGORY_NM}}] <span ng-show="item.HEAD != ''">[{{item.HEAD}}]</span> {{ item.SUBJECT | limitTo: 50 }}{{item.SUBJECT > 50 ? '...' : ''}}</span>
                            <span ng-show="item.BOARD_ST == 'D'">작성자가 삭제한 글 입니다.</span>
                            <span ng-show="item.BOARD_ST != 'D' && item.BLIND_FL == 'Y'">관리자에 의해 블라인드 처리 된 글입니다.</span>
                            <!--<span ng-class="item.REPLY_COUNT > 0 ? 'reply_num' : ''">{{item.REPLY_COUNT > 0 ? '['+item.REPLY_COUNT+']' : ''}}</span>-->

                            <span ng-show="item.REG_DT == item.REG_NEW_DT" class="table_icon_new">N</span>
                            <!--<span ng-show="item.IMAGE_FL == 'Y'" class="glyphicon glyphicon-picture table_icon_pic"></span>-->
                            <span ng-show="item.FILE_CNT != 0" class="glyphicon glyphicon-picture table_icon_pic"></span>
                        </div>

                        <div style="display:inline-block; float:left;">
                            <span class="reply_num feed_count countlike_color table_gray" style="line-height:16px; margin-right:5px;">{{item.LIKE_CNT}}</span>
                            <span class="reply_num feed_count countreply_color table_gray" style="line-height:16px; margin-left:0px;">{{item.CLUB_REPLY_COUNT}}</span>
                        </div>
                    </td>
                    <td ng-if="menu.COMM_NO != 8" class="table_author">
                        <div ng-show="item.NICK_NM != ''" ng-bind-html="item.NICK_NM"></div>
                        <!--<div ng-show="item.NICK_NM == null || item.NICK_NM != ''">{{item.REG_USER_NM}}</div>-->
                        <!--{{item.REG_USER_NM}}-->
                    </td> <!-- {{}} -->
                    <td class="table_date">{{item.REG_DT}}</td>
                    <td class="table_hit">{{item.HIT_CNT}}</td></tr>
                </tr>

                </tbody>

                <tbody class="on" data-ng-show="list == '' || list == null">

                <tr ng-show="!isLoding">
                    <td colspan="5" style="text-align: center">조회 데이터가 없습니다.</td>
                </tr>

                <tr ng-show="isLoding">
                    <td colspan="5" style="text-align: center">로딩 중 입니다.</td>
                </tr>

                </tbody>
            </table><!-- /.List-->

            <div class="container-fluid people_view_btnwrap">
                <div class="row">
                    <div class="col-xs-4">
                        <a class="btn people_btn list" title="목록으로" style="display:none;">리스트</a>
                        <a class="people_btn register" title="등록하기" style="display:block;" ng-click="click_showCreatePeopleBoard();">등록</a>
                        <!--<a class="btn people_btn submit" title="등록하기" ng-click="click_showCreatePeopleBoard();">등록</a>-->
                    </div>

                    <div class="col-xs-6">
                        <a class="people_btn vote" title="투표하기" style="display:none;" disabled>투표</a>		<!--  모든 항목을 선택하고 작성이 완료되면 disable 제거 -->
                        <a class="people_btn submit" title="완료" style="display:none;">완료</a>
                        <a class="people_btn confirm" title="확인" style="display:none;">확인</a>
                        <a class="people_btn cancel" title="작성취소" style="display:none;">취소</a>
                        <a class="people_btn modify" title="수정" style="display:none;">수정</a>
                        <a class="people_btn delete" title="삭제" style="display:none;">삭제</a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->

            <nav class="text-center">
                <pagination boundary-links="true" total-items="TOTAL_COUNT" items-per-page="25" ng-model="PAGE_NO" class="pagination-sm"  ng-change="pageChanged()"  max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

                <!--<ul class="pagination pagination-sm table_paging">-->
                <!--<li class="disabled">-->
                <!--<a href="#"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>-->
                <!--</li>-->
                <!--<li class="disabled">-->
                <!--<a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>-->
                <!--</li>-->
                <!--<li class="active"><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li>-->
                <!--<a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></span></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#"><span aria-hidden="true"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></span></a>-->
                <!--</li>-->
                <!--</ul>-->
            </nav><!-- /.Paging-->
            <!-- /peoplepoll_list -->

        </div><!-- /.sub_contents_body -->

    <!-- 등록 -->

        <div class="sub_contents_ads" style="display:none;">
            <div>
            </div>
        </div>

    </div>
</div>