<nav class="navbar navbar-default navbar-bottom" style="background-color: #fff; border:none; margin:0; border-radius: 0;">

    <hr style="margin:20px 15px 0 15px;" />
		<ul class="foot-content">
			<li style="float: left;"><p class="copyright" style="vertical-align:baseline; color:#AAA; padding:0; margin:0; ">
                Copyright &copy; MOOK HOUSE 'ANGE' Co., Ltd.<br />
                Individual Contents Management System for ANGE&trade; service platform
            </li>
            <p style="margin-top:35px;">
            <li style="float:left; margin-right:16px;"><a class="famlylink" href="http://www.ange.co.kr" target="_blank">ANGE Home</span></a></li>
            <li style="float:left; margin-right:16px;"><a class="famlylink" href="#" target="_blank">Magazine ANGE</span></a></li>
            <li style="float:left; margin-right:16px;"><a class="famlylink" href="#" target="_blank">ANGE Admin</span></a></li>
            </p>
		</ul>

</nav>